openapi: 3.2.0
info:
  version: 1.0.0
  title: Kantata OX API Documentation Client Invoice Defaults API
  description: Kantata OX's API provides access to the majority of Kantata OX's data model.
  termsOfService: https://www.kantata.com/terms-of-use
  contact:
    name: Kantata OX Support
    url: https://knowledge.kantata.com/hc/en-us
  license:
    name: COPYRIGHT © 2026 Kantata, Inc.
    url: https://www.kantata.com/terms-of-use
  x-logo:
    url: https://theme.zdassets.com/theme_assets/56104/04e93064d309f75d054b8cee885d1ea51e9be8f7.png
    backgroundColor: '#FFFFFF'
    altText: Kantata OX API Documentation
    href: https://developer.kantata.com
servers:
- url: https://api.mavenlink.com/api/v1
tags:
- name: Client Invoice Defaults
  description: Represents the default configuration for presenting invoices to clients.
paths:
  /client_invoice_defaults:
    get:
      summary: Fetching a list of Client Invoice Defaults
      description: 'This endpoint returns structured Client Invoice Defaults objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `client_invoice_defaults` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Client Invoice Defaults
      tags:
      - Client Invoice Defaults
      parameters:
      - in: query
        name: client_user_id
        description: The user ID of the client.
        schema:
          type: integer
          format: int32
      - in: query
        name: only
        description: 'Allows you to request one or more resources directly by ID. Multiple IDs can be supplied

          in a comma separated list, like `GET /api/v1/workspaces.json?only=5,6,7`.'
        schema:
          type: string
      - in: query
        name: page
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        schema:
          type: integer
          format: int32
          default: 20
          maximum: 200
      - in: query
        name: workspace_id
        description: The ID of the project for which you are creating the invoice.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: A list of Client Invoice Defaults have been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  client_invoice_defaults:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ClientInvoiceDefault'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    post:
      summary: Creating Client Invoice Defaults
      description: 'This endpoint returns structured Client Invoice Defaults objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `client_invoice_defaults` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Create Client Invoice Defaults
      tags:
      - Client Invoice Defaults
      responses:
        '200':
          description: Client Invoice Defaults has been created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  client_invoice_defaults:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ClientInvoiceDefault'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                client_invoice_default:
                  type: object
                  properties:
                    client_account_id:
                      type: integer
                      format: int32
                      description: The user ID of the client being invoiced.
                    time_rollup_type:
                      type: integer
                      format: int32
                      description: 'Options for how time is formatted on an invoice. These options include ''Detailed'', ''Grouped by task'',

                        and ''Grouped by person, then task''. They are represented by the numbers 0, 1, and 2, respectively.'
                    expense_rollup_type:
                      type: integer
                      format: int32
                      description: 'Options for how expenses are formatted on an invoice. These options include ''Detailed'' and ''Grouped''.

                        They are represented by the numbers 0 and 1, respectively.'
                    rich_text:
                      type: string
                      description: The default rich text shown as additional details on the invoice.
                    show_project_names:
                      type: integer
                      format: int32
                      description: Whether project names should be shown on the invoice.
                    show_task_names:
                      type: boolean
                      description: Whether task names should be shown for invoice items.
                    show_subtotals:
                      type: boolean
                      description: Whether subtotals should be shown for time entries on the invoice.
                    show_creators:
                      type: boolean
                      description: Whether the name of the person who created the entry should be shown.
                    show_dates:
                      type: boolean
                      description: Whether dates for items on the invoice should be shown.
                    show_notes:
                      type: boolean
                      description: Whether notes for items on the invoice should be shown.
                    show_hours:
                      type: boolean
                      description: Whether hours logged on a time entry on the invoice should be shown.
                    show_rates:
                      type: boolean
                      description: Whether the rate for the item should be shown.
                    show_tax:
                      type: boolean
                      description: Whether the item's taxable amount should be shown.
                    show_roles:
                      type: boolean
                      description: Whether the role of the person who created the item should be shown.
        required: true
  /client_invoice_defaults/{id}:
    get:
      summary: Fetching Client Invoice Defaults by ID
      description: 'This endpoint returns structured Client Invoice Defaults objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `client_invoice_defaults` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Client Invoice Defaults By Id
      tags:
      - Client Invoice Defaults
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      responses:
        '200':
          description: The Client Invoice Defaults has been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  client_invoice_defaults:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ClientInvoiceDefault'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    put:
      summary: Updating Client Invoice Defaults by ID
      description: 'This endpoint returns structured Client Invoice Defaults objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `client_invoice_defaults` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Update Client Invoice Defaults By Id
      tags:
      - Client Invoice Defaults
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      responses:
        '200':
          description: Client Invoice Defaults has been updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  client_invoice_defaults:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ClientInvoiceDefault'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                client_invoice_default:
                  type: object
                  properties:
                    time_rollup_type:
                      type: integer
                      format: int32
                      description: Options for how time is formatted on an invoice. These options include 'Detailed', 'Grouped by task', and 'Grouped by person, then task'. They are represented by the numbers 0, 1, and 2, respectively.
                    expense_rollup_type:
                      type: integer
                      format: int32
                      description: Options for how expenses are formatted on an invoice. These options include 'Detailed' and 'Grouped', and are represented by the numbers 0 and 1, respectively.
                    rich_text:
                      type: string
                      description: The default rich text shown as additional details on the invoice.
                    show_project_names:
                      type: integer
                      format: int32
                      description: Whether project names should be shown on the invoice.
                    show_task_names:
                      type: boolean
                      description: Whether task names should be shown for invoice items.
                    show_subtotals:
                      type: boolean
                      description: Whether subtotals should be shown for time entries on the invoice.
                    show_creators:
                      type: boolean
                      description: Whether the name of the person who created the entry should be shown.
                    show_dates:
                      type: boolean
                      description: Whether dates for items on the invoice should be shown.
                    show_notes:
                      type: boolean
                      description: Whether notes for items on the invoice should be shown.
                    show_hours:
                      type: boolean
                      description: Whether hours logged on a time entry on the invoice should be shown.
                    show_rates:
                      type: boolean
                      description: Whether the rate for the item should be shown.
                    show_tax:
                      type: boolean
                      description: Whether the item's taxable amount should be shown.
                    show_roles:
                      type: boolean
                      description: Whether the role of the person who created the item should be shown.
        required: true
    delete:
      summary: Deleting Client Invoice Defaults by ID
      description: 'The response will contain no content and an HTTP 204 status code if the request was

        successful, or a standard Kantata OX error message explaining why the object could not be deleted.'
      operationId: Delete Client Invoice Defaults By Id
      tags:
      - Client Invoice Defaults
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      responses:
        '204':
          description: Client Invoice Defaults has been deleted.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
components:
  schemas:
    ClientInvoiceDefault:
      title: Client Invoice Defaults
      description: Represents the default configuration for presenting invoices to clients.
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          description: The date and time that the invoice default was created.
        expense_rollup_type:
          type: integer
          format: int32
          description: Options for how expenses are formatted on an invoice. These options include 'Detailed' and 'Grouped'. They are represented by the numbers 0 and 1, respectively.
        rich_text:
          type: string
          description: Default rich text shown as additional details on the invoice.
        show_creators:
          type: boolean
          description: Whether the name of the person who created the entry should be shown.
        show_dates:
          type: boolean
          description: Whether dates for items on the invoice should be shown.
        show_hours:
          type: boolean
          description: Whether hours logged on a time entry on the invoice should be shown.
        show_notes:
          type: boolean
          description: Whether notes for items on the invoice should be shown.
        show_project_names:
          type: boolean
          description: Whether project names should be shown on the invoice.
        show_rates:
          type: boolean
          description: Whether the rate for the item should be shown.
        show_roles:
          type: boolean
          description: Whether the role of the person who created the item should be shown.
        show_subtotals:
          type: boolean
          description: Whether subtotals should be shown for time entries on the invoice.
        show_task_names:
          type: boolean
          description: Whether task names should be shown for invoice items.
        show_tax:
          type: boolean
          description: Whether the item's taxable amount should be shown.
        time_rollup_type:
          type: integer
          format: int32
          description: Options for how time is formatted on an invoice. These options include 'Detailed', 'Grouped by task', and 'Grouped by person, then task'. They are represented by the numbers 0, 1, and 2, respectively.
        updated_at:
          type: string
          format: date-time
          description: The date and time that the invoice default was last updated.
    Errors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    Error:
      type: object
      properties:
        type:
          type: string
        message:
          type: string
  securitySchemes:
    BearerToken:
      type: apiKey
      name: Bearer
      in: header
    OauthSecurity:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://app.mavenlink.com/oauth/authorize
          tokenUrl: https://app.mavenlink.com/oauth/token
x-tagGroups:
- name: '# Subscribed Events'
  tags:
  - Event Types
  - Events
- name: Account Locations
  tags:
  - Account Locations
- name: Account Settings & Members
  tags:
  - Access Group Memberships
  - Account Colors
  - Account Invitations
  - Account Memberships
  - Backup Approver Associations
  - Billable Utilizations
  - Cost Rates
  - Custom Branding
  - Organization Memberships
  - Organizations
  - Roles
  - Skill Categories
  - Skill Memberships
  - Skills
  - Task Status Sets
  - Task Statuses
  - User Group Memberships
  - Users
- name: Currencies
  tags:
  - Currencies
- name: Custom Fields
  tags:
  - Custom Field Choices
  - Custom Field Sets
  - Custom Field Values
  - Custom Fields
- name: Data Exporter
  tags:
  - Data Export Schema
  - Data Exports
- name: Estimates
  tags:
  - Estimate Scenario Resource Allocations
  - Estimate Scenario Resources
  - Estimate Scenarios
  - Estimates
- name: Expense Budgets
  tags:
  - Expense Budgets
- name: Expense Tracking
  tags:
  - Attachments
  - Expense Categories
  - Expense Report Submissions
  - Expenses
  - Vendors
- name: External References
  tags:
  - External References
- name: Financials
  tags:
  - Billing Milestones
  - Revenue Recognition Methods
- name: Foreign Exchange
  tags:
  - Exchange Tables
- name: Insights & Analytics
  tags:
  - Insights Access Group Memberships
  - Insights Dynamic Dashboards
  - Insights Report Exports
  - Insights Reports
- name: Invoices
  tags:
  - Client Invoice Defaults
  - External Payments
  - Invoices
  - Workspace Invoice Preferences
- name: Personal Settings
  tags:
  - Users
- name: Posts & Replies
  tags:
  - Attachments
  - Posts
  - User File Associations
- name: Project Snapshots
  tags:
  - Project Snapshots
- name: Project Templates
  tags:
  - Project Template Additional Tabs
  - Project Template Assignments
  - Project Template Expense Budgets
  - Project Templates
- name: Projects
  tags:
  - Participations
  - Project Accounting Records
  - Status Reports
  - Workspace Allocations
  - Workspace Baselines
  - Workspace Groups
  - Workspace Invoice Preferences
  - Workspace Resource Skills
  - Workspace Resources
  - Workspace Status Changes
  - Workspace Task Status Sets
  - Workspaces
- name: Rate Cards
  tags:
  - Activations
  - Rate Card Role (Rate for a Role)
  - Rate Card Set Version (Effective version by Date)
  - Rate Card Sets (Group of Rate Cards)
  - Rate Card Table Rows
  - Rate Card Versions
  - Rate Cards (Multiple Currencies)
- name: Recommendations
  tags:
  - Recommendations
- name: Resource Requests
  tags:
  - Resource Requests
- name: Scheduling
  tags:
  - Holiday Calendar Associations
  - Holiday Calendar Memberships
  - Holiday Calendars
  - Holidays
  - Time Off Entries
  - Workweek Memberships
  - Workweeks
- name: Surveys (Legacy)
  tags:
  - Survey Answers (Legacy)
  - Survey Questions (Legacy)
  - Survey Templates (Legacy)
  - Surveys Responses (Legacy)
- name: Tasks
  tags:
  - Assignments
  - Daily Scheduled Hours (Story Allocation Days)
  - Followers
  - Stories
  - Story Dependencies
  - Story State Changes
  - Story Tasks
- name: Time Tracking
  tags:
  - Line Item Locks
  - Time Entries
  - Timesheet Approvals
  - Timesheet Cancellations
  - Timesheet Rejections
  - Timesheet Submissions
