openapi: 3.2.0
info:
  version: 1.0.0
  title: Kantata OX API Documentation Estimate Scenario Resource…
  description: Kantata OX's API provides access to the majority of Kantata OX's data model.
  termsOfService: https://www.kantata.com/terms-of-use
  contact:
    name: Kantata OX Support
    url: https://knowledge.kantata.com/hc/en-us
  license:
    name: COPYRIGHT © 2026 Kantata, Inc.
    url: https://www.kantata.com/terms-of-use
  x-logo:
    url: https://theme.zdassets.com/theme_assets/56104/04e93064d309f75d054b8cee885d1ea51e9be8f7.png
    backgroundColor: '#FFFFFF'
    altText: Kantata OX API Documentation
    href: https://developer.kantata.com
servers:
- url: https://api.mavenlink.com/api/v1
tags:
- name: Estimate Scenario Resource Allocations
  description: 'Estimate Scenario Resource Allocations contain time-related data for scenario resources,

    used for calculating estimated cost and scheduled hours.'
paths:
  /estimate_scenario_resource_allocations/{id}:
    put:
      summary: Updating an existing Estimate Scenario Resource Allocation
      description: 'This endpoint returns structured Estimate Scenario Resource Allocation objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `estimate_scenario_resource_allocations` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Update Estimate Scenario Resource Allocation
      tags:
      - Estimate Scenario Resource Allocations
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `resource` (EstimateScenarioResource) - The scenario resource that owns the estimate scenario resource allocation.'
        schema:
          type: string
      responses:
        '200':
          description: Estimate Scenario Resource Allocation has been updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  estimate_scenario_resource_allocations:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/EstimateScenarioResourceAllocation'
                  estimate_scenario_resources:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/EstimateScenarioResource'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                estimate_scenario_resource_allocation:
                  type: object
                  properties:
                    duration_days:
                      type: integer
                      format: int32
                      description: The length of time for the allocation (in days).
                    percent_allocated:
                      type: number
                      format: float
                      description: The percentage allocated. This must be a decimal number between (and including) 0 and 1.
                    relative_start_day:
                      type: integer
                      format: int32
                      description: 'The number of business days, after the start date of the project, that the resource

                        will begin working on the project.'
        required: true
components:
  schemas:
    EstimateScenarioResourceAllocation:
      title: Estimate Scenario Resource Allocation
      description: 'Estimate Scenario Resource Allocations contain time-related data for scenario resources—used

        for calculating estimated cost and scheduled hours.'
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        duration_days:
          type: integer
          format: int32
          description: The total number of business days an scenario resource is expected to work on the project.
        percent_allocated:
          type: number
          format: float
          description: The percentage of available hours the scenario resource will work on the project.
        relative_start_day:
          type: integer
          format: int32
          description: 'The number of business days, after the estimate scenario''s start date, that an scenario resource

            will begin working on the project.'
        resource_id:
          type: string
          description: '`resource_id` will only be included in the response if `resource` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        updated_at:
          type: string
          format: date-time
    EstimateScenarioResource:
      title: Estimate Scenario Resource
      description: An Estimate Scenario Resource is an unnamed resource in an estimate scenario.
      type: object
      properties:
        allocation_id:
          type: string
          description: '`allocation_id` will only be included in the response if `allocation` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        bill_rate:
          type: integer
          format: int32
          description: 'The bill rate, in cents, of the estimate scenario resource.

            When the estimate is unlocked, this is the average bill rate of all active account members in the

            scenario resource''s geography, whose default role matches the role of the scenario resource.

            When the estimate is locked, this the cached value of the average bill rate when the estimate was locked.'
        cost_rate:
          type: integer
          format: int32
          description: 'The cost rate, in cents, of the estimate scenario resource.

            When the estimate is unlocked, this is the average cost rate of all active account members in the

            scenario resource''s geography, whose default role matches the role of the scenario resource.

            When the estimate is locked, this the cached value of the average cost rate when the estimate was locked.'
        created_at:
          type: string
          format: date-time
        display_label:
          type: string
          description: User facing Identifier for the Resource.
        estimate_scenario_id:
          type: integer
          format: int32
          description: Id of the Estimate Scenario that the Resource belongs to.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        geography_id:
          type: string
          description: '`geography_id` will only be included in the response if `geography` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        label:
          type: string
        organization_membership_id:
          type: string
          description: '`organization_membership_id` will only be included in the response if `organization_membership` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        role_id:
          type: string
          description: '`role_id` will only be included in the response if `role` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        role_name:
          type: string
          description: Name of the Resource's role if any.
        updated_at:
          type: string
          format: date-time
        user_id:
          type: string
          description: '`user_id` will only be included in the response if `user` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    Errors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    Error:
      type: object
      properties:
        type:
          type: string
        message:
          type: string
  securitySchemes:
    BearerToken:
      type: apiKey
      name: Bearer
      in: header
    OauthSecurity:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://app.mavenlink.com/oauth/authorize
          tokenUrl: https://app.mavenlink.com/oauth/token
x-tagGroups:
- name: '# Subscribed Events'
  tags:
  - Event Types
  - Events
- name: Account Locations
  tags:
  - Account Locations
- name: Account Settings & Members
  tags:
  - Access Group Memberships
  - Account Colors
  - Account Invitations
  - Account Memberships
  - Backup Approver Associations
  - Billable Utilizations
  - Cost Rates
  - Custom Branding
  - Organization Memberships
  - Organizations
  - Roles
  - Skill Categories
  - Skill Memberships
  - Skills
  - Task Status Sets
  - Task Statuses
  - User Group Memberships
  - Users
- name: Currencies
  tags:
  - Currencies
- name: Custom Fields
  tags:
  - Custom Field Choices
  - Custom Field Sets
  - Custom Field Values
  - Custom Fields
- name: Data Exporter
  tags:
  - Data Export Schema
  - Data Exports
- name: Estimates
  tags:
  - Estimate Scenario Resource Allocations
  - Estimate Scenario Resources
  - Estimate Scenarios
  - Estimates
- name: Expense Budgets
  tags:
  - Expense Budgets
- name: Expense Tracking
  tags:
  - Attachments
  - Expense Categories
  - Expense Report Submissions
  - Expenses
  - Vendors
- name: External References
  tags:
  - External References
- name: Financials
  tags:
  - Billing Milestones
  - Revenue Recognition Methods
- name: Foreign Exchange
  tags:
  - Exchange Tables
- name: Insights & Analytics
  tags:
  - Insights Access Group Memberships
  - Insights Dynamic Dashboards
  - Insights Report Exports
  - Insights Reports
- name: Invoices
  tags:
  - Client Invoice Defaults
  - External Payments
  - Invoices
  - Workspace Invoice Preferences
- name: Personal Settings
  tags:
  - Users
- name: Posts & Replies
  tags:
  - Attachments
  - Posts
  - User File Associations
- name: Project Snapshots
  tags:
  - Project Snapshots
- name: Project Templates
  tags:
  - Project Template Additional Tabs
  - Project Template Assignments
  - Project Template Expense Budgets
  - Project Templates
- name: Projects
  tags:
  - Participations
  - Project Accounting Records
  - Status Reports
  - Workspace Allocations
  - Workspace Baselines
  - Workspace Groups
  - Workspace Invoice Preferences
  - Workspace Resource Skills
  - Workspace Resources
  - Workspace Status Changes
  - Workspace Task Status Sets
  - Workspaces
- name: Rate Cards
  tags:
  - Activations
  - Rate Card Role (Rate for a Role)
  - Rate Card Set Version (Effective version by Date)
  - Rate Card Sets (Group of Rate Cards)
  - Rate Card Table Rows
  - Rate Card Versions
  - Rate Cards (Multiple Currencies)
- name: Recommendations
  tags:
  - Recommendations
- name: Resource Requests
  tags:
  - Resource Requests
- name: Scheduling
  tags:
  - Holiday Calendar Associations
  - Holiday Calendar Memberships
  - Holiday Calendars
  - Holidays
  - Time Off Entries
  - Workweek Memberships
  - Workweeks
- name: Surveys (Legacy)
  tags:
  - Survey Answers (Legacy)
  - Survey Questions (Legacy)
  - Survey Templates (Legacy)
  - Surveys Responses (Legacy)
- name: Tasks
  tags:
  - Assignments
  - Daily Scheduled Hours (Story Allocation Days)
  - Followers
  - Stories
  - Story Dependencies
  - Story State Changes
  - Story Tasks
- name: Time Tracking
  tags:
  - Line Item Locks
  - Time Entries
  - Timesheet Approvals
  - Timesheet Cancellations
  - Timesheet Rejections
  - Timesheet Submissions
