openapi: 3.2.0
info:
  version: 1.0.0
  title: Kantata OX API Documentation Time Entries API
  description: Kantata OX's API provides access to the majority of Kantata OX's data model.
  termsOfService: https://www.kantata.com/terms-of-use
  contact:
    name: Kantata OX Support
    url: https://knowledge.kantata.com/hc/en-us
  license:
    name: COPYRIGHT © 2026 Kantata, Inc.
    url: https://www.kantata.com/terms-of-use
  x-logo:
    url: https://theme.zdassets.com/theme_assets/56104/04e93064d309f75d054b8cee885d1ea51e9be8f7.png
    backgroundColor: '#FFFFFF'
    altText: Kantata OX API Documentation
    href: https://developer.kantata.com
servers:
- url: https://api.mavenlink.com/api/v1
tags:
- name: Time Entries
  description: 'This object allows you to manage Kantata OX time entries, depending on your permissions.

    Creating and updating time entries allows you to include time when invoicing clients.'
paths:
  /time_entries:
    get:
      summary: Fetching a list of Time Entries
      description: 'Returns all time entries visible to the requesting user, unless filter parameters

        have been applied.


        This endpoint returns structured Time Entry objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `time_entries` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Time Entries
      tags:
      - Time Entries
      parameters:
      - in: query
        name: approved
        description: Filter for time entries that are on approved timesheets or are in a project that does not require approvals. When included in your request, this filter is always processed as `true`; the actual value you provide is ignored.
        schema:
          type: boolean
      - in: query
        name: billable
        description: Return only billable (`true`) or only non-billable (`false`) time entries.
        schema:
          type: boolean
      - in: query
        name: created_after
        description: Filter for records created after a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: created_before
        description: Filter for records created before a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: created_by
        description: Filter for time entries created by the specified user.
        schema:
          type: integer
          format: int32
      - in: query
        name: date_performed_between
        description: "Filter for time entries with work performed between 2 dates in a colon-separated YYYY-MM-DD format.\n        For example, `2013-06-01:2013-08-01`."
        schema:
          type: string
      - in: query
        name: external_reference_external_message
        description: Filter the objects based on the external message of their associated external references. This is an exact match.
        schema:
          type: string
      - in: query
        name: external_reference_external_status
        description: Filter by the status of the external object in the external system.
        schema:
          type: string
      - in: query
        name: external_reference_service_model
        description: Filter by the type of the external object this external reference belongs to.
        schema:
          type: string
      - in: query
        name: external_reference_service_model_ref
        description: Filter by the id of the external object this external reference belongs to.
        schema:
          type: integer
          format: int32
      - in: query
        name: external_reference_service_model_refs
        description: Filter for objects that correlate to the specified external object IDs. Provide a comma-separated list of up to 200 external IDs.
        schema:
          type: string
      - in: query
        name: external_reference_service_name
        description: Filter by the name of the provider for integration.
        schema:
          type: string
      - in: query
        name: external_reference_status
        description: Filter by the status of the integration, this can be successful or fail.
        schema:
          type: string
      - in: query
        name: from_archived_workspaces
        description: If `true`, includes time entries from archived projects.
        schema:
          type: boolean
          default: false
      - in: query
        name: has_external_references
        description: Filter by whether or not the object has external references.
        schema:
          type: boolean
      - in: query
        name: in_active_invoice_id
        description: Limit results to time entries current in the specified active invoice.
        schema:
          type: integer
          format: int32
      - in: query
        name: in_active_submission
        description: "If true, filters for time entries that are part of active timesheet submissions (`active_submissions`).\n             If false, filters for time entries that are not part of an active submission."
        schema:
          type: boolean
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `active_submission` (TimesheetSubmission) - Retrieves the active timesheet (i.e. approved or pending) the time entry was submitted on, if any. The response will include `active_submission_id`, which references the data in the `timesheet_submissions` top-level key.

          - `external_references` (ExternalReference) - Includes references to external integrations for this object.

          - `invoice` (Invoice) - Retrieves the invoice the time entry was added to, if any. The response will include `invoice_id`, which references the data in the `invoices` top-level key.

          - `recent_submission` (TimesheetSubmission) - Retrieves the most recent timesheet the time entry was submitted on, if any, including any rejected or cancelled timesheets. The response will include `recent_submission_id`, which references the data in the `timesheet_submissions` top-level key.

          - `role` (Role) - Retrieves the project role of the user who performed the work for the time entry, if any. The response will include `role_id`, which references the data in the `roles` top-level key.

          - `story` (Story) - Retrieves the task the time entry is tracked to, if any. The response will include `story_id`, which references the data in the `stories` top-level key.

          - `user` (User) - Retrieves the user the time entry belongs to. The response will include `user_id`, which references the data in the `users` top-level key.

          - `workspace` (Workspace) - Retrieves the project the time entry is tracked to. The response will include `workspace_id`, which references the data in the `workspaces` top-level key.'
        schema:
          type: string
      - in: query
        name: invoiced
        description: Filter for time entries that have been invoiced. When included in your request, this filter is always processed as `true`; the actual value you provide is ignored. To get uninvoiced time entries instead, use the `uninvoiced` filter.
        schema:
          type: boolean
      - in: query
        name: on_my_account
        description: If `true`, only time entries that are in internal projects (i.e. projects that are on the same account as the authenticated user) are returned. If `false`, time entries that are in both internal and external projects are returned.
        schema:
          type: boolean
          default: true
      - in: query
        name: only
        description: 'Allows you to request one or more resources directly by ID. Multiple IDs can be supplied

          in a comma separated list, like `GET /api/v1/workspaces.json?only=5,6,7`.'
        schema:
          type: string
      - in: query
        name: optional_fields
        description: Allows you to request one or more optional fields as an array.
        schema:
          type: array
          items:
            type: string
            enum:
            - location_id
            - user_can_edit
      - in: query
        name: order
        description: 'Supply `order` with the name of a valid sort field for the endpoint and a direction.


          Valid values: `created_at:asc`, `created_at:desc`, `date_performed:asc`, `date_performed:desc`, `updated_at:asc`, and `updated_at:desc`.'
        schema:
          type: string
          default: date_performed:desc
      - in: query
        name: page
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        schema:
          type: integer
          format: int32
          default: 20
          maximum: 200
      - in: query
        name: uninvoiced
        description: Filter for time entries that have not been invoiced. When included in your request, this filter is always processed as `true`; the actual value you provide is ignored. To get invoiced time entries instead, use the `invoiced` filter.
        schema:
          type: boolean
      - in: query
        name: updated_after
        description: Filter for records updated after a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: updated_before
        description: Filter for records updated before a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: with_recent_timesheet_ids
        description: 'Filter for time entries from the specified [`TimesheetSubmission`](/tag/Timesheet-Submissions) IDs, including from canceled and rejected reports.

          Give multiple report IDs in a comma separated list.


          **Note**: Time entries are only associated with the most recent TimesheetSubmission (see `recent_submission`).

          If you re-submit time from a canceled or rejected timesheet, a new `TimesheetSubmission` object is created,

          and the time entries will only be returned in association with the new `TimesheetSubmission` from then on,

          instead of with the canceled or rejected `TimesheetSubmission`.


          Also note that there can only be 1 project per TimesheetSubmission. When a timesheet is submitted through the application frontend with

          time entries for multiple projects, separate TimesheetSubmission objects are created for each project in the backend.'
        schema:
          type: string
      - in: query
        name: with_timesheet_id
        description: "Filter for time entries from a specified [`TimesheetSubmission`](/tag/Timesheet-Submissions) ID.\n      If the timesheet was canceled or rejected, no result is returned."
        schema:
          type: integer
          format: int32
      - in: query
        name: with_user_ids
        description: "Filter for time entries associated with the specified user IDs.\n      Give multiple user IDs in a comma separated list. For example, '1,2,3'."
        schema:
          type: string
      - in: query
        name: without_external_reference_service_name
        description: Exclude by the existence of an external reference with the specified service name.
        schema:
          type: string
      - in: query
        name: workspace_id
        description: Filter for time entries from the specified project.
        schema:
          type: integer
          format: int32
      - in: query
        name: workspace_ids
        description: "Filter for time entries associated with the specified project IDs.\n             Give multiple project IDs in a comma separated list. For example, '1,2,3'."
        schema:
          type: string
      responses:
        '200':
          description: A list of Time Entries have been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  time_entries:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/TimeEntry'
                  external_references:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ExternalReference'
                  stories:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Story'
                  workspaces:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Workspace'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  timesheet_submissions:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/TimesheetSubmission'
                  invoices:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Invoice'
                  roles:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Role'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    post:
      summary: Creating a new Time Entry
      description: 'Creates time entries for a user.


        **Bulk Create**


        This endpoint supports bulk creating up to 100 objects. In the request body, set the top-level key to its plural form and place the objects in an array. Example:


        ```

        {

        "time_entries": [

        {

        "workspace_id": 123,

        "date_performed": "2025-01-23",

        "time_in_minutes": 60

        },

        {

        "workspace_id": 123,

        "date_performed": "2025-01-24",

        "time_in_minutes": 60

        }

        ]

        }

        ```


        This endpoint returns structured Time Entry objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `time_entries` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Create Time Entry
      tags:
      - Time Entries
      parameters:
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `active_submission` (TimesheetSubmission) - Retrieves the active timesheet (i.e. approved or pending) the time entry was submitted on, if any. The response will include `active_submission_id`, which references the data in the `timesheet_submissions` top-level key.

          - `external_references` (ExternalReference) - Includes references to external integrations for this object.

          - `invoice` (Invoice) - Retrieves the invoice the time entry was added to, if any. The response will include `invoice_id`, which references the data in the `invoices` top-level key.

          - `recent_submission` (TimesheetSubmission) - Retrieves the most recent timesheet the time entry was submitted on, if any, including any rejected or cancelled timesheets. The response will include `recent_submission_id`, which references the data in the `timesheet_submissions` top-level key.

          - `role` (Role) - Retrieves the project role of the user who performed the work for the time entry, if any. The response will include `role_id`, which references the data in the `roles` top-level key.

          - `story` (Story) - Retrieves the task the time entry is tracked to, if any. The response will include `story_id`, which references the data in the `stories` top-level key.

          - `user` (User) - Retrieves the user the time entry belongs to. The response will include `user_id`, which references the data in the `users` top-level key.

          - `workspace` (Workspace) - Retrieves the project the time entry is tracked to. The response will include `workspace_id`, which references the data in the `workspaces` top-level key.'
        schema:
          type: string
      - in: query
        name: optional_fields
        description: Allows you to request one or more optional fields as an array.
        schema:
          type: array
          items:
            type: string
            enum:
            - location_id
            - user_can_edit
      responses:
        '200':
          description: Time Entry has been created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  time_entries:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/TimeEntry'
                  external_references:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ExternalReference'
                  stories:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Story'
                  workspaces:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Workspace'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  timesheet_submissions:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/TimesheetSubmission'
                  invoices:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Invoice'
                  roles:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Role'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                time_entry:
                  type: object
                  properties:
                    workspace_id:
                      type: integer
                      format: int32
                      description: The ID of the project the time entry is logging work in.
                    date_performed:
                      type: string
                      format: date
                      description: 'The date the activity for which the time is being entered was performed, format: YYYY-MM-DD. The date must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.'
                    time_in_minutes:
                      type: integer
                      format: int32
                      description: The amount of time in minutes that the activity was worked on.
                    billable:
                      type: boolean
                      description: 'Whether this Time Entry is billable time. If you don''t provide this parameter, `billable` will be defaulted to the

                        value of the `billable` flag of its associated `Story` if any, otherwise to true.'
                    rate_in_cents:
                      type: integer
                      format: int32
                      description: The hourly rate for the time entry in cents.
                    notes:
                      type: string
                      description: Any notes added to the time entry. To add line breaks, use `\n`.
                    role_id:
                      type: integer
                      format: int32
                      description: The ID of the default Role or user assigned Role for the time entry.
                    story_id:
                      type: integer
                      format: int32
                      description: The ID of the task (story) this time entry is associated with.
                    user_id:
                      type: integer
                      format: int32
                      description: 'This is set to the current_user ID by default. This parameter is ignored unless the authorizing

                        user has financial access in the project and is on the consultants team (or if the authorizing

                        user is an account administrator and has proxy permissions via an account member with

                        those permissions).'
                    external_reference:
                      type: object
                      description: 'Typically populated programmatically by a third party system via an integration, this is an optional

                        object that holds data from an external system. It connects objects in an external system with objects in

                        Kantata OX (for example, to connect a Jira issue to a Kantata OX Project).'
                      properties:
                        service_name:
                          type: string
                          description: The provider name of the integration. If you are adding multiple external references to the same object, the `service_name` must be unique.
                        service_model:
                          type: string
                          description: The object type of the external object this external reference belongs to.
                        service_model_ref:
                          type: string
                          description: The object ID of the external object this external reference belongs to.
                        status:
                          type: string
                          description: The status of the integration. Options are `successful`, `pending`,  or `failed`.
                        external_message:
                          type: string
                          description: The message on the external object.
                        external_link:
                          type: string
                          description: The link to the external object.
                        external_status:
                          type: string
                          description: The status of the external object in the external system.
                        locked:
                          type: boolean
                          description: Whether the subject is locked.
                      required:
                      - service_name
                      - service_model
                      - service_model_ref
                    location:
                      type: string
                      description: The location of the time entry. Must match the name of an existing account location.
                  required:
                  - workspace_id
                  - date_performed
                  - time_in_minutes
        required: true
    delete:
      summary: Delete multiple time entries
      description: 'The IDs of the time entries to delete can be provided in the `ids` query parameter or via the request body.


        Request body example:

        ```{

        "ids": "1,2,3"

        }```


        If any specified time entries cannot be deleted, the entire request will fail and an error message

        will be returned that specifies which ones could not be deleted and why.


        This endpoint returns structured Time Entry objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `time_entries` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Delete Time Entries
      tags:
      - Time Entries
      parameters:
      - in: query
        name: ids
        required: false
        description: 'A comma-separated list of IDs of time entries. You can provide up to 100 IDs. The IDs can be

          provided in this query parameter or via the request body.'
        schema:
          type: string
      responses:
        '204':
          description: Time Entry has been deleted.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /time_entries/{id}:
    get:
      summary: Fetching a single Time Entry
      description: 'This endpoint returns structured Time Entry objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `time_entries` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Time Entry
      tags:
      - Time Entries
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `active_submission` (TimesheetSubmission) - Retrieves the active timesheet (i.e. approved or pending) the time entry was submitted on, if any. The response will include `active_submission_id`, which references the data in the `timesheet_submissions` top-level key.

          - `external_references` (ExternalReference) - Includes references to external integrations for this object.

          - `invoice` (Invoice) - Retrieves the invoice the time entry was added to, if any. The response will include `invoice_id`, which references the data in the `invoices` top-level key.

          - `recent_submission` (TimesheetSubmission) - Retrieves the most recent timesheet the time entry was submitted on, if any, including any rejected or cancelled timesheets. The response will include `recent_submission_id`, which references the data in the `timesheet_submissions` top-level key.

          - `role` (Role) - Retrieves the project role of the user who performed the work for the time entry, if any. The response will include `role_id`, which references the data in the `roles` top-level key.

          - `story` (Story) - Retrieves the task the time entry is tracked to, if any. The response will include `story_id`, which references the data in the `stories` top-level key.

          - `user` (User) - Retrieves the user the time entry belongs to. The response will include `user_id`, which references the data in the `users` top-level key.

          - `workspace` (Workspace) - Retrieves the project the time entry is tracked to. The response will include `workspace_id`, which references the data in the `workspaces` top-level key.'
        schema:
          type: string
      - in: query
        name: optional_fields
        description: Allows you to request one or more optional fields as an array.
        schema:
          type: array
          items:
            type: string
            enum:
            - location_id
            - user_can_edit
      responses:
        '200':
          description: The Time Entry has been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  time_entries:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/TimeEntry'
                  external_references:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ExternalReference'
                  stories:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Story'
                  workspaces:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Workspace'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  timesheet_submissions:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/TimesheetSubmission'
                  invoices:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Invoice'
                  roles:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Role'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    put:
      summary: Updating an existing Time Entry
      description: 'This endpoint returns structured Time Entry objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `time_entries` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Update Time Entry
      tags:
      - Time Entries
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `active_submission` (TimesheetSubmission) - Retrieves the active timesheet (i.e. approved or pending) the time entry was submitted on, if any. The response will include `active_submission_id`, which references the data in the `timesheet_submissions` top-level key.

          - `external_references` (ExternalReference) - Includes references to external integrations for this object.

          - `invoice` (Invoice) - Retrieves the invoice the time entry was added to, if any. The response will include `invoice_id`, which references the data in the `invoices` top-level key.

          - `recent_submission` (TimesheetSubmission) - Retrieves the most recent timesheet the time entry was submitted on, if any, including any rejected or cancelled timesheets. The response will include `recent_submission_id`, which references the data in the `timesheet_submissions` top-level key.

          - `role` (Role) - Retrieves the project role of the user who performed the work for the time entry, if any. The response will include `role_id`, which references the data in the `roles` top-level key.

          - `story` (Story) - Retrieves the task the time entry is tracked to, if any. The response will include `story_id`, which references the data in the `stories` top-level key.

          - `user` (User) - Retrieves the user the time entry belongs to. The response will include `user_id`, which references the data in the `users` top-level key.

          - `workspace` (Workspace) - Retrieves the project the time entry is tracked to. The response will include `workspace_id`, which references the data in the `workspaces` top-level key.'
        schema:
          type: string
      - in: query
        name: optional_fields
        description: Allows you to request one or more optional fields as an array.
        schema:
          type: array
          items:
            type: string
            enum:
            - location_id
            - user_can_edit
      responses:
        '200':
          description: Time Entry has been updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  time_entries:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/TimeEntry'
                  external_references:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ExternalReference'
                  stories:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Story'
                  workspaces:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Workspace'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  timesheet_submissions:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/TimesheetSubmission'
                  invoices:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Invoice'
                  roles:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Role'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                time_entry:
                  type: object
                  properties:
                    workspace_id:
                      type: integer
                      format: int32
                      description: 'The ID of the project (workspace) the time entry is logging work in.

                        This can be updated by administrators on the account or users who can edit the time entry

                        in the current project and the new project.'
                    date_performed:
                      type: string
                      format: date
                      description: 'The date the activity for which the time is being entered was performed, format: YYYY-MM-DD. The date must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.'
                    time_in_minutes:
                      type: integer
                      format: int32
                      description: The amount of time in minutes that the activity was worked on.
                    billable:
                      type: boolean
                      description: 'Whether this Time Entry is billable time. If you don''t provide this parameter, `billable` will be defaulted to the

                        value of the `billable` flag of its associated `Story` if any, otherwise to true.'
                    rate_in_cents:
                      type: integer
                      format: int32
                      description: The hourly rate for the time entry in cents.
                    notes:
                      type: string
                      description: Any notes added to the time entry. To add line breaks, use `\n`.
                    role_id:
                      type: integer
                      format: int32
                      description: The ID of the default Role or user assigned Role for the time entry.
                    story_id:
                      type: integer
                      format: int32
                      description: The ID of the task (story) this time entry is associated with.
                    user_id:
                      type: integer
                      format: int32
                      description: 'This sets the entry user for a specified ID. This parameter is ignored unless the authorizing

                        user has financial access in the project and is on the provider team (or if the authorizing

                        user is an account administrator and has proxy permissions via an account member with

                        those permissions).'
                    external_reference:
                      type: object
                      description: 'Typically populated programmatically by a third party system via an integration, this is an optional

                        object that holds data from an external system. It connects objects in an external system with objects in

                        Kantata OX (for example, to connect a Jira issue to a Kantata OX Project).'
                      properties:
                        service_name:
                          type: string
                          description: The provider name of the integration. If you are adding multiple external references to the same object, the `service_name` must be unique.
                        service_model:
                          type: string
                          description: The object type of the external object this external reference belongs to.
                        service_model_ref:
                          type: string
                          description: The object ID of the external object this external reference belongs to.
                        status:
                          type: string
                          description: The status of the integration. Options are `successful`, `pending`,  or `failed`.
                        external_message:
                          type: string
                          description: The message on the external object.
                        external_link:
                          type: string
                          description: The link to the external object.
                        external_status:
                          type: string
                          description: The status of the external object in the external system.
                        locked:
                          type: boolean
                          description: Whether the subject is locked.
                      required:
                      - service_name
                      - service_model
                      - service_model_ref
                    location:
                      type: string
                      description: The location of the time entry. Must match the name of an existing account location.
        required: true
    delete:
      summary: Deleting an existing Time Entry
      description: 'Deletes the time entry if it is deletable. A time entry cannot be destroyed if:

        - the time is locked before a certain date,

        - the time has been invoiced, or

        - a time adjustment is linked with it.


        The response will contain no content and an HTTP 204 status code if the request was

        successful, or a standard Kantata OX error message explaining why the object could not be deleted.'
      operationId: Delete Time Entry
      tags:
      - Time Entries
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      responses:
        '204':
          description: Time Entry has been deleted.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
components:
  schemas:
    ExternalReference:
      title: External Reference
      description: 'External References allows users see which objects (one of `Assignment`, `BillingMilestone`, `CustomField`, `CustomFieldChoice`, `CustomFieldSet`, `CustomFieldValue`, `Estimate`, `EstimateScenario`, `EstimateScenarioResource`, `Expense`, `ExpenseBudget`, `Invoice`, `Participation`, `Post`, `RateCard`, `Role`, `Skill`, `StatusReport`, `Story`, `StoryAllocationDay`, `Submission`, `SurveyAnswer`, `SurveyQuestion`, `SurveyResponse`, `SurveyTemplate`, `TimeEntry`, `TimeOffEntry`, `User`, `Vendor`, `Workspace`, `WorkspaceAllocation`, `WorkspaceGroup`, or `WorkspaceResource`

        are synced with third party systems. This allows you to view the sync status of items in addition to the integration

        specifics for a synced object.


        Objects that are synced with a third party system have external integration

        attributes that include the corresponding ID of the third party object with

        which it is synced, a link that allows you to view the object in the third

        party system, the status of the external object in the external system,

        the status of the sync, and a link to exceptions.'
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          description: The date and time the reference was created.
        external_link:
          type: string
          description: A URL that links to either the external object or event.
        external_message:
          type: string
          description: An optional message about the external object.
        external_status:
          type: string
          description: The status of the external object in the external system.
        last_synced_at:
          type: string
          format: date-time
        locked:
          type: boolean
          description: 'An optional field, indicating whether the subject should be locked. To prevent changes to the

            object in Kantata OX, set this to true. This currently only applies to expense report rejections.'
        service_model:
          type: string
          description: The type of the external object to which this reference belongs.
        service_model_ref:
          type: string
          description: The ID of the external object to which this reference belongs.
        service_name:
          type: string
          description: The provider name of the integration.
        status:
          type: string
          description: The status of the integration. Options are 'pending', 'successful', or 'failed'.
        subject_id:
          type: integer
          format: int32
          description: The ID of the Kantata OX object to which this external reference belongs.
        subject_ref:
          type: object
          description: '`subject_ref` will only be included in the response if `subject` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
          properties:
            key:
              type: string
            id:
              type: string
        subject_type:
          type: string
          description: 'The type of Kantata OX object to which this external reference belongs.

            One of `Assignment`, `BillingMilestone`, `CustomField`, `CustomFieldChoice`, `CustomFieldSet`, `CustomFieldValue`, `Estimate`, `EstimateScenario`, `EstimateScenarioResource`, `Expense`, `ExpenseBudget`, `Invoice`, `Participation`, `Post`, `RateCard`, `Role`, `Skill`, `StatusReport`, `Story`, `StoryAllocationDay`, `Submission`, `SurveyAnswer`, `SurveyQuestion`, `SurveyResponse`, `SurveyTemplate`, `TimeEntry`, `TimeOffEntry`, `User`, `Vendor`, `Workspace`, `WorkspaceAllocation`, `WorkspaceGroup`, or `WorkspaceResource`.'
        updated_at:
          type: string
          format: date-time
          description: The date and time the reference was last updated.
    Story:
      title: Story
      description: 'Stories (known as [tasks](https://knowledge.kantata.com/hc/en-us/articles/202806550-Tasks-Overview) in the UI)

        are the tasks, deliverables, issues, and milestones required to complete a project.

        Stories belong to [Workspaces](/tag/Workspaces), appear in the

        [Local Task Tracker](https://knowledge.kantata.com/hc/en-us/articles/202490134-Project-Task-Tracker) and the

        [Global Tasks Tracker](https://knowledge.kantata.com/hc/en-us/articles/216424897-Global-Tasks-Tracker),

        can be linked to [Posts](/tag/Posts), can have substories (subtasks) and

        [Story Tasks](https://developer.kantata.com/tag/Story-Tasks) (checklists), and have many attributes for

        planning, organization, and financials.'
      type: object
      properties:
        ancestor_ids:
          type: array
          items:
            type: string
          description: The IDs of all the ancestor (i.e. parent) tasks of the task. This is empty for a top-level task.
        ancestry_depth:
          type: integer
          format: int32
          description: The number of levels a subtask is nested below the top-level task. Possible values are between `0` (i.e. a top-level task) and `4`.
        archived:
          type: boolean
          description: Whether the task is archived.
        archived_editable:
          type: boolean
          description: 'For archived tasks, whether the authenticated user can edit the task.

            Only returned when requested through the optional_fields param.'
        assigned_role_id:
          type: string
          description: '`assigned_role_id` will only be included in the response if `assigned_role` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        assignee_ids:
          type: array
          items:
            type: string
          description: '`assignee_ids` will only be included in the response if `assignees` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        assignment_timestamped_at:
          type: string
          format: date-time
        attachment_ids:
          type: array
          items:
            type: string
          description: '`attachment_ids` will only be included in the response if `attachments` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        billable:
          type: boolean
          description: Whether the task is billable.
        budget_estimate_in_cents:
          type: integer
          format: int32
          description: 'The task budget, in the subunits of the currency (e.g. cents for USD).

            Visible when the API user can view story budgets in the story''s workspace.'
        budget_used_in_cents:
          type: integer
          format: int32
          description: 'How much of the task budget has been used, in the subunits of the currency (e.g. cents for USD).

            Visible when the API user can view story budgets in the story''s workspace.'
        can_align_time:
          type: boolean
          description: 'Whether [Daily Scheduled Hours](/tag/Daily-Scheduled-Hours-(Story-Allocation-Days)) (i.e. Story Allocation Days) that are out of sync with the task start or due date can be realigned to the task start date.

            Only returned when requested through the optional_fields param.'
        can_edit:
          type: boolean
          description: 'Whether the authenticated user can edit the task. For archived tasks, refer to `archived_editable` instead.

            Only returned when requested through the optional_fields param.'
        can_post:
          type: boolean
          description: 'Whether the authenticated user can create posts in the project the task is in.

            Only returned when requested through the optional_fields param.'
        created_at:
          type: string
          format: date-time
        creator_id:
          type: string
          description: '`creator_id` will only be included in the response if `creator` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        current_assignment_ids:
          type: array
          items:
            type: string
          description: '`current_assignment_ids` will only be included in the response if `current_assignments` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        custom_field_value_ids:
          type: array
          items:
            type: string
          description: '`custom_field_value_ids` will only be included in the response if `custom_field_values` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        custom_task_status_id:
          type: integer
          format: int32
          description: 'The ID of the task''s custom status. If the workspace is not using a custom task status set, this is `null`.

            Only returned when requested through the optional_fields param.'
        deleted_at:
          type: string
          format: date-time
        descendant_ids:
          type: array
          items:
            type: string
          description: '`descendant_ids` will only be included in the response if `descendants` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        description:
          type: string
          description: The task description. Markdown syntax is included.
        due_date:
          type: string
          format: date
          description: When the task is due.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        fixed_fee:
          type: boolean
          description: Whether the task is fixed fee (`true`) or time and materials (`false`).
        follower_ids:
          type: array
          items:
            type: string
          description: '`follower_ids` will only be included in the response if `followers` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        formatted_description:
          type: string
          description: 'The task description with special formatting, like emoji and @-mentions.

            Only returned when requested through the optional_fields param.'
        google_document_ids:
          type: array
          items:
            type: string
          description: '`google_document_ids` will only be included in the response if `google_documents` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        has_out_of_bounds_sads:
          type: boolean
          description: 'Whether the task has any [Daily Scheduled Hours](/tag/Daily-Scheduled-Hours-(Story-Allocation-Days)) (i.e. Story Allocation Days) before its start date or after its due date.

            Only returned when requested through the optional_fields param.'
        invoiced_balance_in_cents:
          type: integer
          format: int32
          description: 'How much has been invoiced for the task, in the subunits of the currency (e.g. cents for USD).

            Visible when the API user can view story budgets in the story''s workspace.'
        is_time_trackable_type:
          type: boolean
          description: 'Whether the task can have time and expenses tracked against it, as set in account settings.

            Only returned when requested through the optional_fields param.'
        logged_billable_time_in_minutes:
          type: integer
          format: int32
          description: 'How much billable time has been tracked against the task, in minutes.

            Visible when the API user can view story time estimates in the story''s workspace.'
        logged_nonbillable_time_in_minutes:
          type: integer
          format: int32
          description: 'How much non-billable time has been tracked against the task, in minutes.

            Visible when the API user can view story time estimates in the story''s workspace.'
        parent_id:
          type: string
          description: '`parent_id` will only be included in the response if `parent` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        parsed_description:
          type: string
          description: 'The task description. Markdown syntax is not included.

            Only returned when requested through the optional_fields param.'
        percentage_complete:
          type: integer
          format: int32
          description: The percentage of work done on the task.
        position:
          type: integer
          format: int32
          description: Represents the task's position in the Task Tracker. This is not the same as the WBS (Work Breakdown Structure) number shown in the UI.
        potential_workspace_resource_ids:
          type: array
          items:
            type: string
          description: '`potential_workspace_resource_ids` will only be included in the response if `potential_workspace_resources` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        potential_workspace_resources_with_unnamed_ids:
          type: array
          items:
            type: string
          description: '`potential_workspace_resources_with_unnamed_ids` will only be included in the response if `potential_workspace_resources_with_unnamed` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        priority:
          type: integer
          format: int32
          description: The priority of the task. Possible values are `critical`, `high`, `normal`, `low`.
        project_plan:
          type: boolean
          description: Whether the story is a project task (`true`) or is a To Do (`false`).
        read_only:
          type: boolean
          description: 'Whether the authenticated user can only view the task and cannot edit it.

            Only returned when requested through the optional_fields param.'
        render_description_markdown:
          type: boolean
          description: 'Whether the account the task is in is set to render Markdown in task descriptions as formatted and styled text.

            Only returned when requested through the optional_fields param.'
        reply_ids:
          type: array
          items:
            type: string
          description: '`reply_ids` will only be included in the response if `replies` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        root_id:
          type: string
          description: '`root_id` will only be included in the response if `root` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        source_dependency_ids:
          type: array
          items:
            type: string
          description: '`source_dependency_ids` will only be included in the response if `source_dependencies` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        start_date:
          type: string
          format: date
          description: When the task starts.
        state:
          type: string
          description: 'The status type of the story. Possible values are `not started`, `started`, `needs info`, or `completed`. If task status sets are not activated on the account, the following values are also possible: `new`, `reopened`, `in progress`, `blocked`, `fixed`, `duplicate`, `can''t reproduce`, `resolved`, or `won''t fix`. The actual task status is returned in the `status` field.'
        status:
          type: string
          description: The status of the story.
        story_state_change_ids:
          type: array
          items:
            type: string
          description: '`story_state_change_ids` will only be included in the response if `story_state_changes` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        story_task_ids:
          type: array
          items:
            type: string
          description: '`story_task_ids` will only be included in the response if `story_tasks` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        story_type:
          type: string
          description: The task's type. Possible values are `task`, `deliverable `, `milestone`, and `issue`.
        sub_stories_billable_time_in_minutes:
          type: integer
          format: int32
          description: 'How much billable time has been tracked against the task''s descendants, in minutes.

            Visible when the API user can view story time estimates in the story''s workspace.'
        sub_stories_budget_estimate_in_cents:
          type: integer
          format: int32
          description: 'The budget of the task''s descendants, in the subunits of the currency (e.g. cents for USD).

            Visible when the API user can view story budgets in the story''s workspace.'
        sub_stories_budget_used_in_cents:
          type: integer
          format: int32
          description: 'How much of the budgets of the task''s descendants has been used, in the subunits of the currency (e.g. cents for USD).

            Visible when the API user can view story budgets in the story''s workspace.'
        sub_stories_time_estimate_in_minutes:
          type: integer
          format: int32
          description: 'The estimated time of the task''s descendants, in minutes.

            Visible when the API user can view story time estimates in the story''s workspace.'
        sub_story_count:
          type: integer
          format: int32
          description: How many descendant tasks the task has.
        sub_story_ids:
          type: array
          items:
            type: string
          description: '`sub_story_ids` will only be included in the response if `sub_stories` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        subtree_depth:
          type: integer
          format: int32
          description: How many ancestor tasks the task has.
        tag_ids:
          type: array
          items:
            type: string
          description: '`tag_ids` will only be included in the response if `tags` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        target_dependency_ids:
          type: array
          items:
            type: string
          description: '`target_dependency_ids` will only be included in the response if `target_dependencies` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        time_estimate_in_minutes:
          type: integer
          format: int32
          description: 'The estimated time for the task, in minutes.

            Visible when the API user can view story time estimates in the story''s workspace.'
        time_trackable:
          type: boolean
          description: Whether time can be tracked against the task.
        title:
          type: string
          description: The title of the task.
        uninvoiced_balance_in_cents:
          type: integer
          format: int32
          description: 'How much has not yet been invoiced for the task, in the subunits of the currency (e.g. cents for USD).

            Visible when the API user can view story budgets in the story''s workspace.'
        updated_at:
          type: string
          format: date-time
        weight:
          type: integer
          format: int32
          description: 'If the `story_type` is `milestone`, this is the [weight](https://knowledge.kantata.com/hc/en-us/articles/203499904-Milestone-Weighting) of the task.

            Visible when the API user can view story time estimates in the story''s workspace.'
        workspace_id:
          type: string
          description: '`workspace_id` will only be included in the response if `workspace` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        workspace_resource_ids:
          type: array
          items:
            type: string
          description: '`workspace_resource_ids` will only be included in the response if `workspace_resources` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        workspace_resources_with_unnamed_ids:
          type: array
          items:
            type: string
          description: '`workspace_resources_with_unnamed_ids` will only be included in the response if `workspace_resources_with_unnamed` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    Role:
      title: Role
      description: 'A Role represents the main position or title assigned to members on an account. Roles may be associated with account memberships, account invitations,

        participation, project template assignments, rate card roles, rate card versions, resources, or time adjustments.'
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        deleted_at:
          type: string
          format: date-time
          description: The time the role was deleted.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        name:
          type: string
          description: The name of the role.
        updated_at:
          type: string
          format: date-time
    TimeEntry:
      title: Time Entry
      description: 'This object allows you to manage Kantata OX time entries, depending on your permissions.

        Creating and updating time entries allows you to include time when invoicing clients.'
      type: object
      properties:
        active_submission_id:
          type: string
          description: '`active_submission_id` will only be included in the response if `active_submission` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        approved:
          type: boolean
          description: Specifies whether the time entry has been approved.
        billable:
          type: boolean
          description: Whether the work for the time entry is billable.
        cost_rate_in_cents:
          type: integer
          format: int32
          description: Cost to perform the work in time entry's currency per hour.
        created_at:
          type: string
          format: date-time
          description: "Date the time entry was created, but not necessarily when the work was performed.\n        The work can be performed at a different time."
        currency:
          type: string
          description: Currency of the project when the time entry was made.
        currency_base_unit:
          type: integer
          format: int32
          description: The number of subunits to make a regular unit of time entries currency.
        currency_symbol:
          type: string
          description: Symbol for the currency of the time entry.
        date_performed:
          type: string
          format: date
          description: Date the time entry work was performed by the specified user.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        invoice_id:
          type: string
          description: '`invoice_id` will only be included in the response if `invoice` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        is_invoiced:
          type: boolean
          description: Specifies whether the time entry has been invoiced.
        location:
          type: string
          description: 'The location of the time entry.

            Visible when the account has locations.'
        location_id:
          type: integer
          format: int32
          description: 'The location id of the time entry.

            Visible when the account has locations.


            Only returned when requested through the optional_fields param.'
        notes:
          type: string
          description: Notes about the time entries work.
        rate_in_cents:
          type: integer
          format: int32
          description: Billable rate for the work in time entry currency's cents per hour.
        recent_submission_id:
          type: string
          description: '`recent_submission_id` will only be included in the response if `recent_submission` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        role_id:
          type: string
          description: '`role_id` will only be included in the response if `role` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        story_id:
          type: string
          description: '`story_id` will only be included in the response if `story` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        taxable:
          type: boolean
          description: Specifies whether the time entry is taxable.
        time_in_minutes:
          type: integer
          format: int32
          description: Amount of work that was performed in minutes.
        updated_at:
          type: string
          format: date-time
          description: Date the time entry was last updated.
        user_can_edit:
          type: boolean
          description: 'Returns true if the requesting user can edit the time entry.

            Only returned when requested through the optional_fields param.'
        user_id:
          type: string
          description: '`user_id` will only be included in the response if `user` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        workspace_id:
          type: string
          description: '`workspace_id` will only be included in the response if `workspace` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    TimesheetSubmission:
      title: Timesheet Submission
      description: 'Timesheet Submissions contain a set of Time Entries for a specific week. These Time Entries must be

        approved through a Timesheet Submission before creating an invoice.'
      type: object
      properties:
        comment:
          type: string
          description: Additional comments on the submission.
        created_at:
          type: string
          format: date-time
        currency:
          type: string
          description: The currency of the submission.
        currency_base_unit:
          type: integer
          format: int32
          description: The base unit of the submission's currency.
        currency_symbol:
          type: string
          description: The symbol of the submission's currency.
        current_resolution_created_at_date:
          type: string
          format: date-time
          description: The date and time that the submission's current resolution was created.
        current_resolution_creator_id:
          type: integer
          format: int32
          description: The creator id on the submission's current resolution.
        current_resolution_description:
          type: string
          description: The description on the submission's current resolution.
        end_date:
          type: string
          format: date
          description: The last day of the week.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        line_item_total_formatted:
          type: string
          description: A formatted total of the line items (time entries or expenses) on the submission.
        line_item_total_in_cents:
          type: integer
          format: int32
          description: A total in cents of the line items (time entries or expenses) on the submission.
        permissions:
          type: object
          properties:
            can_cancel_submission:
              type: boolean
              description: Can the current user cancel the submission.
            can_approve_submission:
              type: boolean
              description: Can the current user approve the submission.
            can_reject_submission:
              type: boolean
              description: Can the current user reject the submission.
            can_resubmit_submission:
              type: boolean
              description: Can the current user resubmit the submission.
        resolution_description:
          type: string
          description: The description on the submission's current resolution.
        start_date:
          type: string
          format: date
          description: The first day of the week.
        status:
          type: string
          description: The current status of the submission ('approved', 'rejected', 'cancelled', 'pending').
        time_entry_ids:
          type: array
          items:
            type: string
          description: '`time_entry_ids` will only be included in the response if `time_entries` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        title:
          type: string
          description: The title of the submission.
        type:
          type: string
          description: Either an ExpenseReportSubmission or a TimesheetSubmission.
        updated_at:
          type: string
          format: date-time
        user_id:
          type: string
          description: '`user_id` will only be included in the response if `user` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        workspace_id:
          type: string
          description: '`workspace_id` will only be included in the response if `workspace` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    Workspace:
      title: Workspace
      description: Workspaces (also called projects) represent the space in which Kantata OX users plan, communicate, and collaborate.
      type: object
      properties:
        access_level:
          type: string
          description: Whether the project is open, and who can join it. Possible values are `invitation`, `open`, and `admin`.
        account_color_id:
          type: string
          description: '`account_color_id` will only be included in the response if `account_color` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        account_id:
          type: integer
          format: int32
          description: The ID of the account which the project is in.
        account_insights_mapping_ids:
          type: array
          items:
            type: string
          description: '`account_insights_mapping_ids` will only be included in the response if `account_insights_mappings` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        actual_fees_includes_additional_line_items:
          type: boolean
          description: 'Whether invoice additional items are included in actual fees calculations for the project.

            Visible when the authenticated user is a project administrator and is on the account that the project is on.'
        actual_fees_includes_expenses:
          type: boolean
          description: 'Whether expenses are included in actual fees calculations for the project.

            Visible when the authenticated user is a project administrator and is on the account that the project is on.'
        approver_id:
          type: string
          description: '`approver_id` will only be included in the response if `approver` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        approver_ids:
          type: array
          items:
            type: string
          description: '`approver_ids` will only be included in the response if `approvers` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        archived:
          type: boolean
          description: Whether the project is archived.
        billable_minutes:
          type: integer
          format: int32
          description: 'The total amount of billable time entries, in minutes. Only visible if the authenticated user has financial access in the project and is on the provider team.

            Visible when the authenticated user can see total time approved in the project.


            Only returned when requested through the optional_fields param.'
        billing_milestone_ids:
          type: array
          items:
            type: string
          description: '`billing_milestone_ids` will only be included in the response if `billing_milestones` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        budget_remaining:
          type: string
          description: 'The amount of the project budget remaining.

            Visible when the authenticated user is on the provider team and can either see reports on the account or has financial access in the project.'
        budget_used:
          type: string
          description: 'The amount of the project budget that has been used.

            Visible when the authenticated user is on the provider team and can either see reports on the account or has financial access in the project.'
        budget_used_in_cents:
          type: integer
          format: int32
          description: 'The amount of the project budget that has been used, in the subunits of the currency (e.g. cents for USD).

            Visible when the authenticated user is on the provider team and can either see reports on the account or has financial access in the project.'
        budgeted:
          type: boolean
          description: Whether the project is budgeted.
        can_create_line_items:
          type: boolean
          description: Whether the authenticated user can create line items in the project (i.e. time entries, expenses, fixed fee items, or additional items).
        can_invite:
          type: boolean
          description: Whether the authenticated user can invite others to the project.
        change_orders_enabled:
          type: boolean
          description: Whether change orders are enabled in the project.
        client_lead_name:
          type: string
          description: 'The name of the team lead for the client side of the project.

            Only returned when requested through the optional_fields param.'
        client_role_name:
          type: string
          description: The client team name.
        consultant_role_name:
          type: string
          description: The provider team name.
        created_at:
          type: string
          format: date-time
          description: The date the project was created.
        creator_id:
          type: string
          description: '`creator_id` will only be included in the response if `creator` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        currency:
          type: string
          description: The currency of the project. Only visible if the authenticated user has financial access in the project.
        currency_base_unit:
          type: integer
          format: int32
          description: The base unit of the currency of the project. For example, the base unit for USD is 100.
        currency_symbol:
          type: string
          description: The [ISO symbol](https://knowledge.kantata.com/hc/en-us/articles/360041576473) for the currency of the project. For example, `USD`.
        current_status_report_id:
          type: string
          description: '`current_status_report_id` will only be included in the response if `current_status_report` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        current_user_participation_id:
          type: string
          description: '`current_user_participation_id` will only be included in the response if `current_user_participation` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        custom_field_value_ids:
          type: array
          items:
            type: string
          description: '`custom_field_value_ids` will only be included in the response if `custom_field_values` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        default_rate:
          type: string
          description: The default billing rate for the project.
        description:
          type: string
          description: The description of the project.
        due_date:
          type: string
          format: date
          description: The due date of the project.
        effective_due_date:
          type: string
          format: date
          description: The due date of the project (deprecated).
        estimated_minutes:
          type: integer
          format: int32
          description: 'The total task estimated minutes of the project.

            Visible when the authenticated user can see reports on the account or has financial access in the project.


            Only returned when requested through the optional_fields param.'
        exclude_archived_stories_percent_complete:
          type: boolean
          description: Whether archived tasks are excluded from the calculation of the project completion percentage.
        expenses_in_burn_rate:
          type: boolean
          description: 'Whether both expenses and invoice additional items are included in the actual fees calculation for the project. This field is the `AND` of `actual_fees_includes_expenses` and `actual_fees_includes_additional_line_items`.

            Visible when the authenticated user is a project administrator and is on the account that the project is on.'
        external_link:
          type: object
          description: 'A link that displays within the project workspace. Requires the Project Button facilitated feature.

            Visible when the workspace has the project button feature enabled.'
          properties:
            url:
              type: string
              description: 'The URL of the link.

                Visible when the workspace has the project button feature enabled.'
            text:
              type: string
              description: 'The button text.

                Visible when the workspace has the project button feature enabled.'
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        financial_viewer_ids:
          type: array
          items:
            type: string
          description: '`financial_viewer_ids` will only be included in the response if `financial_viewers` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        has_active_expense_report_submissions:
          type: boolean
          description: Whether the project has active expense report submissions.
        has_active_timesheet_submissions:
          type: boolean
          description: Whether the project has active timesheet submissions.
        has_budget_access:
          type: boolean
          description: Whether the authenticated user has budget access in the project.
        incoming_email_address:
          type: string
          description: 'The email address for the project—unique to the authenticated user—which can be used to post to the project''s Activity Feed via email.

            Visible when the authenticated user is a project administrator and is on the account that the project is on.


            Only returned when requested through the optional_fields param.'
        lock_date:
          type: string
          format: date
          description: 'The line item lock date for the account the project is on, if any.

            Only returned when requested through the optional_fields param.'
        minutes_logged:
          type: integer
          format: int32
          description: 'The total minutes logged on the project, including time adjustments. Only visible if the authenticated user has financial access in the project and is on the provider team.

            Visible when the authenticated user can see total time approved in the project.


            Only returned when requested through the optional_fields param.'
        next_uncompleted_milestone_id:
          type: string
          description: '`next_uncompleted_milestone_id` will only be included in the response if `next_uncompleted_milestone` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        non_billable_minutes:
          type: integer
          format: int32
          description: 'The total of all non-billable time entries in minutes, only included if the current user has financial access and is a maven in the project.

            Visible when the authenticated user can see total time approved in the project.


            Only returned when requested through the optional_fields param.'
        over_budget:
          type: boolean
          description: 'Whether the project is over budget. Only visible if the authenticated user has financial access in the project.

            Visible when the authenticated user is a project administrator and is on the account that the project is on.'
        participant_ids:
          type: array
          items:
            type: string
          description: '`participant_ids` will only be included in the response if `participants` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        participation_ids:
          type: array
          items:
            type: string
          description: '`participation_ids` will only be included in the response if `participations` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        percent_of_budget_used:
          type: integer
          format: int32
          description: 'The percent of the project budget used.

            Visible when the authenticated user is on the provider team and can either see reports on the account or has financial access in the project.'
        percentage_complete:
          type: integer
          format: int32
          description: The completion percentage of the project, calculated from the completion percentage of the stories (tasks), including archived stories.
        permissions:
          type: object
          description: Various project permissions for the authenticated user.
          properties:
            can_upload_files:
              type: boolean
              description: Whether the authenticated user can upload files to the project.
            can_private_message:
              type: boolean
              description: Whether the authenticated user can send private messages in the project.
            can_join:
              type: boolean
              description: Whether the authenticated user can join the project.
            is_participant:
              type: boolean
              description: Whether the authenticated user is participating in the project.
            access_level:
              type: string
              description: The authenticated user’s permission level in the project.
            team_lead:
              type: boolean
              description: Whether the authenticated user is a team lead in the project.
            user_is_client:
              type: boolean
              description: Whether the authenticated user is a client in the project.
            can_change_price:
              type: boolean
              description: Whether the authenticated user can change the price (budget) of the project.
            can_change_story_billable:
              type: boolean
              description: Whether the authenticated user can change the billable status of stories (tasks) in the project.
            can_post:
              type: boolean
              description: Whether the authenticated user has post permissions in the project.
            can_edit:
              type: boolean
              description: Whether the authenticated user has edit permissions in the project.
            restricted:
              type: boolean
              description: Whether the authenticated user is a restricted user in the project.
            can_see_financials:
              type: boolean
              description: Whether the authenticated user has financial access in the project.
            is_guest_on_project:
              type: boolean
              description: Returns true if the authenticated user can view projects without joining. Otherwise, returns false.
        possible_approver_ids:
          type: array
          items:
            type: string
          description: '`possible_approver_ids` will only be included in the response if `possible_approvers` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        posts_require_privacy_decision:
          type: boolean
          description: Whether posts are private (`true`) or shared with all project participants (`false`) by default.
        price:
          type: string
          description: 'The project budget.

            Visible when the authenticated user can see reports on the account or has financial access in the project.'
        price_in_cents:
          type: integer
          format: int32
          description: 'The project budget, in the subunits of the currency (e.g. cents for USD).

            Visible when the authenticated user can see reports on the account or has financial access in the project.'
        primary_counterpart_id:
          type: string
          description: '`primary_counterpart_id` will only be included in the response if `primary_counterpart` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        primary_maven_id:
          type: string
          description: '`primary_maven_id` will only be included in the response if `primary_maven` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        primary_workspace_group_id:
          type: string
          description: '`primary_workspace_group_id` will only be included in the response if `primary_workspace_group` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        provider_lead_name:
          type: string
          description: 'The name of the team lead for the provider side of the project.

            Only returned when requested through the optional_fields param.'
        rate_card_id:
          type: integer
          format: int32
          description: The ID of the rate card for the project.
        require_expense_approvals:
          type: boolean
          description: Whether expense approvals are required in the project.
        require_notes_on_time_entries:
          type: boolean
          description: Whether notes are required on time entries logged against this project.
        require_time_approvals:
          type: boolean
          description: Whether time approvals are required in the project.
        revenue_recognition_method_id:
          type: string
          description: 'The ID of the project''s revenue recognition method, which determines how the project''s revenue is recognized and accounted for. The ID is a composite ID made up of a numerical ID (unique to each account), a colon, and the method type. For example `123:percent_complete`.

            Only returned when requested through the optional_fields param.'
        revenue_recognition_method_name:
          type: string
          description: 'The name of the project''s revenue recognition method, which determines how the project''s revenue is recognized and accounted for.

            Only returned when requested through the optional_fields param.'
        stage:
          type: string
          description: 'The stage of the project. Possible values are `estimate` or `project`.

[...]
