openapi: 3.2.0
info:
  version: 1.0.0
  title: Kantata OX API Documentation Survey Answers (Legacy) API
  description: Kantata OX's API provides access to the majority of Kantata OX's data model.
  termsOfService: https://www.kantata.com/terms-of-use
  contact:
    name: Kantata OX Support
    url: https://knowledge.kantata.com/hc/en-us
  license:
    name: COPYRIGHT © 2026 Kantata, Inc.
    url: https://www.kantata.com/terms-of-use
  x-logo:
    url: https://theme.zdassets.com/theme_assets/56104/04e93064d309f75d054b8cee885d1ea51e9be8f7.png
    backgroundColor: '#FFFFFF'
    altText: Kantata OX API Documentation
    href: https://developer.kantata.com
servers:
- url: https://api.mavenlink.com/api/v1
tags:
- name: Survey Answers (Legacy)
  description: 'Survey Answers (Legacy) appear on and can be responded to through surveys. Survey Answers (Legacy) are required to have a value

    for the answer (i.e. answers must have at least one choice selected or a non-null value). Additionally, only

    one value type can be specified for the answer (e.g. specifying a date value as well as choice values is

    invalid).


    **Note**: This feature requires the Surveys (Legacy) account add-on. This feature is unrelated to Pulse surveys.'
paths:
  /survey_answers:
    get:
      summary: Fetching a list of Survey Answers
      description: 'This endpoint returns structured Survey Answer objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `survey_answers` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Survey Answers
      tags:
      - Survey Answers (Legacy)
      parameters:
      - in: query
        name: external_reference_external_message
        description: Filter the objects based on the external message of their associated external references. This is an exact match.
        schema:
          type: string
      - in: query
        name: external_reference_external_status
        description: Filter by the status of the external object in the external system.
        schema:
          type: string
      - in: query
        name: external_reference_service_model
        description: Filter by the type of the external object this external reference belongs to.
        schema:
          type: string
      - in: query
        name: external_reference_service_model_ref
        description: Filter by the id of the external object this external reference belongs to.
        schema:
          type: integer
          format: int32
      - in: query
        name: external_reference_service_model_refs
        description: Filter for objects that correlate to the specified external object IDs. Provide a comma-separated list of up to 200 external IDs.
        schema:
          type: string
      - in: query
        name: external_reference_service_name
        description: Filter by the name of the provider for integration.
        schema:
          type: string
      - in: query
        name: external_reference_status
        description: Filter by the status of the integration, this can be successful or fail.
        schema:
          type: string
      - in: query
        name: has_external_references
        description: Filter by whether or not the object has external references.
        schema:
          type: boolean
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `choices` (SurveyQuestionChoice) - The selected choices associated with an answer. Only populated on single or multi choice answers.

          - `external_references` (ExternalReference) - Includes references to external integrations for this object.

          - `survey_question` (SurveyQuestion) - The question that the answer is directed at.

          - `survey_response` (SurveyResponse) - The response that the answer is tied to.'
        schema:
          type: string
      - in: query
        name: only
        description: 'Allows you to request one or more resources directly by ID. Multiple IDs can be supplied

          in a comma separated list, like `GET /api/v1/workspaces.json?only=5,6,7`.'
        schema:
          type: string
      - in: query
        name: order
        description: 'Supply `order` with the name of a valid sort field for the endpoint and a direction.


          Valid values: `created_at:asc`, `created_at:desc`, `updated_at:asc`, and `updated_at:desc`.'
        schema:
          type: string
          default: updated_at:desc
      - in: query
        name: page
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        schema:
          type: integer
          format: int32
          default: 20
          maximum: 200
      - in: query
        name: survey_response_id
        description: Filter results by answers for a particular response.
        schema:
          type: integer
          format: int32
      - in: query
        name: without_external_reference_service_name
        description: Exclude by the existence of an external reference with the specified service name.
        schema:
          type: string
      responses:
        '200':
          description: A list of Survey Answers have been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  survey_answers:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/SurveyAnswer'
                  external_references:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ExternalReference'
                  survey_questions:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/SurveyQuestion'
                  survey_responses:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/SurveyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    post:
      summary: Creating a new Survey Answer
      description: 'This endpoint returns structured Survey Answer objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `survey_answers` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Create Survey Answer
      tags:
      - Survey Answers (Legacy)
      parameters:
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `choices` (SurveyQuestionChoice) - The selected choices associated with an answer. Only populated on single or multi choice answers.

          - `external_references` (ExternalReference) - Includes references to external integrations for this object.

          - `survey_question` (SurveyQuestion) - The question that the answer is directed at.

          - `survey_response` (SurveyResponse) - The response that the answer is tied to.'
        schema:
          type: string
      responses:
        '200':
          description: Survey Answer has been created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  survey_answers:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/SurveyAnswer'
                  external_references:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ExternalReference'
                  survey_questions:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/SurveyQuestion'
                  survey_responses:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/SurveyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                survey_answer:
                  type: object
                  properties:
                    survey_response_id:
                      type: integer
                      format: int32
                      description: Survey Response associated with the answer.
                    survey_question_id:
                      type: integer
                      format: int32
                      description: Survey Question that is being answered.
                    date_value:
                      type: string
                      format: date
                      description: The date value for the answer. The date must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
                    string_value:
                      type: string
                      description: The string value for the answer.
                    integer_value:
                      type: integer
                      format: int32
                      description: The integer value for the answer.
                    decimal_value:
                      type: number
                      format: float
                      description: The decimal value for the answer.
                    choice_values:
                      type: array
                      items:
                        type: string
                      description: An array of choice values for the answer.
                    choice_ids:
                      type: array
                      items:
                        type: integer
                        format: int32
                      description: An array of choice ids for the answer.
                  required:
                  - survey_response_id
                  - survey_question_id
        required: true
  /survey_answers/{id}:
    put:
      summary: Updating an existing Survey Answer
      description: 'This endpoint returns structured Survey Answer objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `survey_answers` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Update Survey Answer
      tags:
      - Survey Answers (Legacy)
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `choices` (SurveyQuestionChoice) - The selected choices associated with an answer. Only populated on single or multi choice answers.

          - `external_references` (ExternalReference) - Includes references to external integrations for this object.

          - `survey_question` (SurveyQuestion) - The question that the answer is directed at.

          - `survey_response` (SurveyResponse) - The response that the answer is tied to.'
        schema:
          type: string
      responses:
        '200':
          description: Survey Answer has been updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  survey_answers:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/SurveyAnswer'
                  external_references:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ExternalReference'
                  survey_questions:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/SurveyQuestion'
                  survey_responses:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/SurveyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                survey_answer:
                  type: object
                  properties:
                    date_value:
                      type: string
                      format: date
                      description: The date value for the answer. The date must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
                    string_value:
                      type: string
                      description: The string value for the answer.
                    integer_value:
                      type: integer
                      format: int32
                      description: The integer value for the answer.
                    decimal_value:
                      type: number
                      format: float
                      description: The decimal value for the answer.
                    choice_values:
                      type: array
                      items:
                        type: string
                      description: An array of choice values for the answer.
                    choice_ids:
                      type: array
                      items:
                        type: integer
                        format: int32
                      description: An array of choice ids for the answer.
        required: true
    delete:
      summary: Deleting an existing Survey Answer
      description: 'The response will contain no content and an HTTP 204 status code if the request was

        successful, or a standard Kantata OX error message explaining why the object could not be deleted.'
      operationId: Delete Survey Answer
      tags:
      - Survey Answers (Legacy)
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      responses:
        '204':
          description: Survey Answer has been deleted.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
components:
  schemas:
    ExternalReference:
      title: External Reference
      description: 'External References allows users see which objects (one of `Assignment`, `BillingMilestone`, `CustomField`, `CustomFieldChoice`, `CustomFieldSet`, `CustomFieldValue`, `Estimate`, `EstimateScenario`, `EstimateScenarioResource`, `Expense`, `ExpenseBudget`, `Invoice`, `Participation`, `Post`, `RateCard`, `Role`, `Skill`, `StatusReport`, `Story`, `StoryAllocationDay`, `Submission`, `SurveyAnswer`, `SurveyQuestion`, `SurveyResponse`, `SurveyTemplate`, `TimeEntry`, `TimeOffEntry`, `User`, `Vendor`, `Workspace`, `WorkspaceAllocation`, `WorkspaceGroup`, or `WorkspaceResource`

        are synced with third party systems. This allows you to view the sync status of items in addition to the integration

        specifics for a synced object.


        Objects that are synced with a third party system have external integration

        attributes that include the corresponding ID of the third party object with

        which it is synced, a link that allows you to view the object in the third

        party system, the status of the external object in the external system,

        the status of the sync, and a link to exceptions.'
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          description: The date and time the reference was created.
        external_link:
          type: string
          description: A URL that links to either the external object or event.
        external_message:
          type: string
          description: An optional message about the external object.
        external_status:
          type: string
          description: The status of the external object in the external system.
        last_synced_at:
          type: string
          format: date-time
        locked:
          type: boolean
          description: 'An optional field, indicating whether the subject should be locked. To prevent changes to the

            object in Kantata OX, set this to true. This currently only applies to expense report rejections.'
        service_model:
          type: string
          description: The type of the external object to which this reference belongs.
        service_model_ref:
          type: string
          description: The ID of the external object to which this reference belongs.
        service_name:
          type: string
          description: The provider name of the integration.
        status:
          type: string
          description: The status of the integration. Options are 'pending', 'successful', or 'failed'.
        subject_id:
          type: integer
          format: int32
          description: The ID of the Kantata OX object to which this external reference belongs.
        subject_ref:
          type: object
          description: '`subject_ref` will only be included in the response if `subject` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
          properties:
            key:
              type: string
            id:
              type: string
        subject_type:
          type: string
          description: 'The type of Kantata OX object to which this external reference belongs.

            One of `Assignment`, `BillingMilestone`, `CustomField`, `CustomFieldChoice`, `CustomFieldSet`, `CustomFieldValue`, `Estimate`, `EstimateScenario`, `EstimateScenarioResource`, `Expense`, `ExpenseBudget`, `Invoice`, `Participation`, `Post`, `RateCard`, `Role`, `Skill`, `StatusReport`, `Story`, `StoryAllocationDay`, `Submission`, `SurveyAnswer`, `SurveyQuestion`, `SurveyResponse`, `SurveyTemplate`, `TimeEntry`, `TimeOffEntry`, `User`, `Vendor`, `Workspace`, `WorkspaceAllocation`, `WorkspaceGroup`, or `WorkspaceResource`.'
        updated_at:
          type: string
          format: date-time
          description: The date and time the reference was last updated.
    SurveyResponse:
      title: Survey Response
      description: 'Survey Response (Legacy) represents an instance of a particular survey that has been assigned for response.

        This feature requires the Legacy Surveys account add-on. This feature is unrelated to Pulse surveys.'
      type: object
      properties:
        close_date:
          type: string
          format: date
          description: The close date for this survey.
        created_at:
          type: string
          format: date-time
          description: Date the survey response was created.
        description:
          type: string
          description: The description of the survey.
        due_date:
          type: string
          format: date
          description: The due date for this survey.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        open_date:
          type: string
          format: date
          description: The open date for this survey.
        owner_id:
          type: string
          description: '`owner_id` will only be included in the response if `owner` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        respondent_id:
          type: string
          description: '`respondent_id` will only be included in the response if `respondent` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        status:
          type: string
          description: The status of the survey response.
        subject_ref:
          type: object
          description: '`subject_ref` will only be included in the response if `subject` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
          properties:
            key:
              type: string
            id:
              type: string
        survey_answer_ids:
          type: array
          items:
            type: string
          description: '`survey_answer_ids` will only be included in the response if `survey_answers` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        survey_template_id:
          type: string
          description: '`survey_template_id` will only be included in the response if `survey_template` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        title:
          type: string
          description: The title of the survey.
        updated_at:
          type: string
          format: date-time
          description: Date the survey response was last updated.
        workspace_id:
          type: string
          description: '`workspace_id` will only be included in the response if `workspace` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    SurveyQuestion:
      title: Survey Question
      description: 'Survey Questions (Legacy) appear on and can be responded to through surveys.

        This feature requires the Legacy Surveys account add-on. This feature is unrelated to Pulse surveys.'
      type: object
      properties:
        choice_ids:
          type: array
          items:
            type: string
          description: '`choice_ids` will only be included in the response if `choices` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        created_at:
          type: string
          format: date-time
          description: Date the survey question was created.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        question_type:
          type: string
          description: 'The type of the question. Valid values: single, multi, date, string, integer, decimal.'
        text:
          type: string
          description: The text of the question asked.
        updated_at:
          type: string
          format: date-time
          description: Date the survey question was last updated.
    SurveyAnswer:
      title: Survey Answer
      description: 'Survey Answers (Legacy) represent a user''s answer to a survey question on a survey response.

        This feature requires the Legacy Surveys account add-on. This feature is unrelated to Pulse surveys.'
      type: object
      properties:
        choice_ids:
          type: array
          items:
            type: string
          description: '`choice_ids` will only be included in the response if `choices` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        created_at:
          type: string
          format: date-time
          description: Date the survey answer was created.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        survey_question_id:
          type: string
          description: '`survey_question_id` will only be included in the response if `survey_question` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        survey_response_id:
          type: string
          description: '`survey_response_id` will only be included in the response if `survey_response` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        text:
          type: string
          description: The text answer to the question.
        updated_at:
          type: string
          format: date-time
          description: Date the survey answer was last updated.
    Error:
      type: object
      properties:
        type:
          type: string
        message:
          type: string
    Errors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    BearerToken:
      type: apiKey
      name: Bearer
      in: header
    OauthSecurity:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://app.mavenlink.com/oauth/authorize
          tokenUrl: https://app.mavenlink.com/oauth/token
x-tagGroups:
- name: '# Subscribed Events'
  tags:
  - Event Types
  - Events
- name: Account Locations
  tags:
  - Account Locations
- name: Account Settings & Members
  tags:
  - Access Group Memberships
  - Account Colors
  - Account Invitations
  - Account Memberships
  - Backup Approver Associations
  - Billable Utilizations
  - Cost Rates
  - Custom Branding
  - Organization Memberships
  - Organizations
  - Roles
  - Skill Categories
  - Skill Memberships
  - Skills
  - Task Status Sets
  - Task Statuses
  - User Group Memberships
  - Users
- name: Currencies
  tags:
  - Currencies
- name: Custom Fields
  tags:
  - Custom Field Choices
  - Custom Field Sets
  - Custom Field Values
  - Custom Fields
- name: Data Exporter
  tags:
  - Data Export Schema
  - Data Exports
- name: Estimates
  tags:
  - Estimate Scenario Resource Allocations
  - Estimate Scenario Resources
  - Estimate Scenarios
  - Estimates
- name: Expense Budgets
  tags:
  - Expense Budgets
- name: Expense Tracking
  tags:
  - Attachments
  - Expense Categories
  - Expense Report Submissions
  - Expenses
  - Vendors
- name: External References
  tags:
  - External References
- name: Financials
  tags:
  - Billing Milestones
  - Revenue Recognition Methods
- name: Foreign Exchange
  tags:
  - Exchange Tables
- name: Insights & Analytics
  tags:
  - Insights Access Group Memberships
  - Insights Dynamic Dashboards
  - Insights Report Exports
  - Insights Reports
- name: Invoices
  tags:
  - Client Invoice Defaults
  - External Payments
  - Invoices
  - Workspace Invoice Preferences
- name: Personal Settings
  tags:
  - Users
- name: Posts & Replies
  tags:
  - Attachments
  - Posts
  - User File Associations
- name: Project Snapshots
  tags:
  - Project Snapshots
- name: Project Templates
  tags:
  - Project Template Additional Tabs
  - Project Template Assignments
  - Project Template Expense Budgets
  - Project Templates
- name: Projects
  tags:
  - Participations
  - Project Accounting Records
  - Status Reports
  - Workspace Allocations
  - Workspace Baselines
  - Workspace Groups
  - Workspace Invoice Preferences
  - Workspace Resource Skills
  - Workspace Resources
  - Workspace Status Changes
  - Workspace Task Status Sets
  - Workspaces
- name: Rate Cards
  tags:
  - Activations
  - Rate Card Role (Rate for a Role)
  - Rate Card Set Version (Effective version by Date)
  - Rate Card Sets (Group of Rate Cards)
  - Rate Card Table Rows
  - Rate Card Versions
  - Rate Cards (Multiple Currencies)
- name: Recommendations
  tags:
  - Recommendations
- name: Resource Requests
  tags:
  - Resource Requests
- name: Scheduling
  tags:
  - Holiday Calendar Associations
  - Holiday Calendar Memberships
  - Holiday Calendars
  - Holidays
  - Time Off Entries
  - Workweek Memberships
  - Workweeks
- name: Surveys (Legacy)
  tags:
  - Survey Answers (Legacy)
  - Survey Questions (Legacy)
  - Survey Templates (Legacy)
  - Surveys Responses (Legacy)
- name: Tasks
  tags:
  - Assignments
  - Daily Scheduled Hours (Story Allocation Days)
  - Followers
  - Stories
  - Story Dependencies
  - Story State Changes
  - Story Tasks
- name: Time Tracking
  tags:
  - Line Item Locks
  - Time Entries
  - Timesheet Approvals
  - Timesheet Cancellations
  - Timesheet Rejections
  - Timesheet Submissions
