openapi: 3.2.0
info:
  version: 1.0.0
  title: Kantata OX API Documentation Rate Cards (Multiple…
  description: Kantata OX's API provides access to the majority of Kantata OX's data model.
  termsOfService: https://www.kantata.com/terms-of-use
  contact:
    name: Kantata OX Support
    url: https://knowledge.kantata.com/hc/en-us
  license:
    name: COPYRIGHT © 2026 Kantata, Inc.
    url: https://www.kantata.com/terms-of-use
  x-logo:
    url: https://theme.zdassets.com/theme_assets/56104/04e93064d309f75d054b8cee885d1ea51e9be8f7.png
    backgroundColor: '#FFFFFF'
    altText: Kantata OX API Documentation
    href: https://developer.kantata.com
servers:
- url: https://api.mavenlink.com/api/v1
tags:
- name: Rate Cards (Multiple Currencies)
  description: 'Rate Cards belong to a Rate Card Set and represent the currencies in that set. Rate Cards have

    many Rate Card Versions which represent the effective version of a Rate Card at a specified point of time.

    Rate Cards are accessible to users with Financial access (Project Lead or higher) on the account. However, they

    can only created, modified or deleted by Administrators on the account.'
paths:
  /rate_cards:
    get:
      summary: Fetching a list of Rate Cards
      description: 'Returns Rate Cards on every Rate Card Set belonging to the account of the user that is logged-in.

        This endpoint is only accessible to users with Financial access (Project Lead or higher) on the account.


        This endpoint returns structured Rate Card objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `rate_cards` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Rate Cards
      tags:
      - Rate Cards (Multiple Currencies)
      parameters:
      - in: query
        name: active
        description: Returns Rate Cards that have been published.
        schema:
          type: boolean
      - in: query
        name: created_after
        description: Filter for records created after a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: created_before
        description: Filter for records created before a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: currencies
        description: Restricts Rate Cards to the specified currencies e.g. 'USD,CAD,GBP'.
        schema:
          type: string
      - in: query
        name: external_reference_external_message
        description: Filter the objects based on the external message of their associated external references. This is an exact match.
        schema:
          type: string
      - in: query
        name: external_reference_external_status
        description: Filter by the status of the external object in the external system.
        schema:
          type: string
      - in: query
        name: external_reference_service_model
        description: Filter by the type of the external object this external reference belongs to.
        schema:
          type: string
      - in: query
        name: external_reference_service_model_ref
        description: Filter by the id of the external object this external reference belongs to.
        schema:
          type: integer
          format: int32
      - in: query
        name: external_reference_service_model_refs
        description: Filter for objects that correlate to the specified external object IDs. Provide a comma-separated list of up to 200 external IDs.
        schema:
          type: string
      - in: query
        name: external_reference_service_name
        description: Filter by the name of the provider for integration.
        schema:
          type: string
      - in: query
        name: external_reference_status
        description: Filter by the status of the integration, this can be successful or fail.
        schema:
          type: string
      - in: query
        name: has_external_references
        description: Filter by whether or not the object has external references.
        schema:
          type: boolean
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `effective_rate_card_version` (RateCardVersion) - Returns todays effective Rate Card Version for the user that is logged-in.  Must be used with the `only` parameter.

          - `external_references` (ExternalReference) - Includes references to external integrations for this object.

          - `rate_card_set` (RateCardSet) - The Rate Card Set to which this Rate Card belongs.

          - `rate_card_versions` (RateCardVersion) - Includes only Rate Card Versions which this Rate Card owns.'
        schema:
          type: string
      - in: query
        name: matching
        description: Returns rate cards whose set title matches the provided text (substring).
        schema:
          type: string
      - in: query
        name: matching_title_or_currency
        description: Returns rate cards matching the provided text against either the set title or the currency code (substring).
        schema:
          type: string
      - in: query
        name: only
        description: 'Allows you to request one or more resources directly by ID. Multiple IDs can be supplied

          in a comma separated list, like `GET /api/v1/workspaces.json?only=5,6,7`.'
        schema:
          type: string
      - in: query
        name: order
        description: 'Supply `order` with the name of a valid sort field for the endpoint and a direction.


          Valid values: `created_at:asc` and `created_at:desc`.'
        schema:
          type: string
          default: created_at:desc
      - in: query
        name: page
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        schema:
          type: integer
          format: int32
          default: 20
          maximum: 200
      - in: query
        name: rate_card_set_id
        description: Restricts Rate Cards to the specified Rate Card Set.
        schema:
          type: integer
          format: int32
      - in: query
        name: updated_after
        description: Filter for records updated after a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: updated_before
        description: Filter for records updated before a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: without_external_reference_service_name
        description: Exclude by the existence of an external reference with the specified service name.
        schema:
          type: string
      responses:
        '200':
          description: A list of Rate Cards have been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  rate_cards:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCard'
                  external_references:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ExternalReference'
                  rate_card_sets:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardSet'
                  rate_card_versions:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardVersion'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    post:
      summary: Creating a new Rate Card
      description: 'Creating a Rate Card automatically creates a Rate Card Version and associates it with the specified

        Rate Card Set Version. If you are adding a Rate Card with a new currency on a custom Rate Card Set, it needs to

        be added to the account default Rate Card Set first.

        When you add a Rate Card with a new currency on a Rate Card Set that already has published Rate Card Set

        versions, a cloned Rate Card Version will be added to all previous Rate Card Set Versions on the Rate

        Card Set.

        A Rate Card can only be created by Administrators on the account.


        This endpoint returns structured Rate Card objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `rate_cards` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Create Rate Card
      tags:
      - Rate Cards (Multiple Currencies)
      parameters:
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `effective_rate_card_version` (RateCardVersion) - Returns todays effective Rate Card Version for the user that is logged-in.  Must be used with the `only` parameter.

          - `external_references` (ExternalReference) - Includes references to external integrations for this object.

          - `rate_card_set` (RateCardSet) - The Rate Card Set to which this Rate Card belongs.

          - `rate_card_versions` (RateCardVersion) - Includes only Rate Card Versions which this Rate Card owns.'
        schema:
          type: string
      responses:
        '200':
          description: Rate Card has been created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  rate_cards:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCard'
                  external_references:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ExternalReference'
                  rate_card_sets:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardSet'
                  rate_card_versions:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardVersion'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rate_card:
                  type: object
                  properties:
                    rate_card_set_id:
                      type: integer
                      format: int32
                      description: The ID of the Rate Card Set to which the Rate Card belongs.
                    rate_card_set_version_id:
                      type: integer
                      format: int32
                      description: The ID of the Rate Card Set Version to which the Rate Card belongs.
                    currency:
                      type: string
                      description: The currency that the Rate Card represents in the Rate Card. For example, `USD`.
                    external_reference:
                      type: object
                      description: 'Typically populated programmatically by a third party system via an integration, this is an optional

                        object that holds data from an external system. It connects objects in an external system with objects in

                        Kantata OX (for example, to connect a Jira issue to a Kantata OX Project).'
                      properties:
                        service_name:
                          type: string
                          description: The provider name of the integration. If you are adding multiple external references to the same object, the `service_name` must be unique.
                        service_model:
                          type: string
                          description: The object type of the external object this external reference belongs to.
                        service_model_ref:
                          type: string
                          description: The object ID of the external object this external reference belongs to.
                        status:
                          type: string
                          description: The status of the integration. Options are `successful`, `pending`,  or `failed`.
                        external_message:
                          type: string
                          description: The message on the external object.
                        external_link:
                          type: string
                          description: The link to the external object.
                        external_status:
                          type: string
                          description: The status of the external object in the external system.
                        locked:
                          type: boolean
                          description: Whether the subject is locked.
                      required:
                      - service_name
                      - service_model
                      - service_model_ref
                  required:
                  - rate_card_set_id
                  - currency
        required: true
  /rate_cards/{id}:
    get:
      summary: Fetching a single Rate Card
      description: 'This endpoint is only accessible to users with Financial access (Project Lead or higher) on the account.


        This endpoint returns structured Rate Card objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `rate_cards` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Rate Card
      tags:
      - Rate Cards (Multiple Currencies)
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `effective_rate_card_version` (RateCardVersion) - Returns todays effective Rate Card Version for the user that is logged-in.  Must be used with the `only` parameter.

          - `external_references` (ExternalReference) - Includes references to external integrations for this object.

          - `rate_card_set` (RateCardSet) - The Rate Card Set to which this Rate Card belongs.

          - `rate_card_versions` (RateCardVersion) - Includes only Rate Card Versions which this Rate Card owns.'
        schema:
          type: string
      responses:
        '200':
          description: The Rate Card has been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  rate_cards:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCard'
                  external_references:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ExternalReference'
                  rate_card_sets:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardSet'
                  rate_card_versions:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardVersion'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    put:
      summary: Updating an existing Rate Card
      description: 'A Rate Card can only be editied by an Administrator on the account. The currency of the Rate Card

        cannot be changed if it is already in use by a project.


        This endpoint returns structured Rate Card objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `rate_cards` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Update Rate Card
      tags:
      - Rate Cards (Multiple Currencies)
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `effective_rate_card_version` (RateCardVersion) - Returns todays effective Rate Card Version for the user that is logged-in.  Must be used with the `only` parameter.

          - `external_references` (ExternalReference) - Includes references to external integrations for this object.

          - `rate_card_set` (RateCardSet) - The Rate Card Set to which this Rate Card belongs.

          - `rate_card_versions` (RateCardVersion) - Includes only Rate Card Versions which this Rate Card owns.'
        schema:
          type: string
      responses:
        '200':
          description: Rate Card has been updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  rate_cards:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCard'
                  external_references:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ExternalReference'
                  rate_card_sets:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardSet'
                  rate_card_versions:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardVersion'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rate_card:
                  type: object
                  properties:
                    currency:
                      type: string
                      description: The currency that the Rate Card will represent in the Rate Card Set. For example, `USD`.
                    external_reference:
                      type: object
                      description: 'Typically populated programmatically by a third party system via an integration, this is an optional

                        object that holds data from an external system. It connects objects in an external system with objects in

                        Kantata OX (for example, to connect a Jira issue to a Kantata OX Project).'
                      properties:
                        service_name:
                          type: string
                          description: The provider name of the integration. If you are adding multiple external references to the same object, the `service_name` must be unique.
                        service_model:
                          type: string
                          description: The object type of the external object this external reference belongs to.
                        service_model_ref:
                          type: string
                          description: The object ID of the external object this external reference belongs to.
                        status:
                          type: string
                          description: The status of the integration. Options are `successful`, `pending`,  or `failed`.
                        external_message:
                          type: string
                          description: The message on the external object.
                        external_link:
                          type: string
                          description: The link to the external object.
                        external_status:
                          type: string
                          description: The status of the external object in the external system.
                        locked:
                          type: boolean
                          description: Whether the subject is locked.
                      required:
                      - service_name
                      - service_model
                      - service_model_ref
        required: true
    delete:
      summary: Deleting an existing Rate Card
      description: 'When you delete a Rate Card, its Rate Card Versions and the Rate Card Roles associated

        with the Rate Card Versions will also be deleted. Once a Rate Card is deleted, neither the Rate Card nor

        its associated data is recoverable. A Rate Card cannot be deleted if it is already in use by a project.

        A Rate Card can only be deleted by an Administrator on the account.


        The response will contain no content and an HTTP 204 status code if the request was

        successful, or a standard Kantata OX error message explaining why the object could not be deleted.'
      operationId: Delete Rate Card
      tags:
      - Rate Cards (Multiple Currencies)
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      responses:
        '204':
          description: Rate Card has been deleted.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
components:
  schemas:
    RateCardSet:
      title: Rate Card Set
      description: 'A Rate Card Set represents a group of Rate Cards with multiple currencies, that

        can be bundled together. A Rate Card Set belongs to an account, and can have several Rate Card Set Versions, each representing the

        the effective version for a specified date.'
      type: object
      properties:
        account_default:
          type: boolean
          description: Whether the Rate Card Set is an account default.
        active_currencies:
          type: array
          items:
            type: string
          description: Includes only currencies that belong to published Rate Card Set Versions.
        created_at:
          type: string
          format: date-time
        default_currencies:
          type: array
          items:
            type: string
          description: Includes only currencies that belong to published Rate Card Set Versions on the account default Rate Card Set.
        destroyable:
          type: boolean
          description: Whether the Rate Card Set can be deleted.
        rate_card_ids:
          type: array
          items:
            type: string
          description: '`rate_card_ids` will only be included in the response if `rate_cards` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        rate_card_set_version_ids:
          type: array
          items:
            type: string
          description: '`rate_card_set_version_ids` will only be included in the response if `rate_card_set_versions` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        title:
          type: string
          description: The title of the Rate Card Set.
        updated_at:
          type: string
          format: date-time
        workspace_group_ids:
          type: array
          items:
            type: string
          description: '`workspace_group_ids` will only be included in the response if `workspace_groups` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    ExternalReference:
      title: External Reference
      description: 'External References allows users see which objects (one of `Assignment`, `BillingMilestone`, `CustomField`, `CustomFieldChoice`, `CustomFieldSet`, `CustomFieldValue`, `Estimate`, `EstimateScenario`, `EstimateScenarioResource`, `Expense`, `ExpenseBudget`, `Invoice`, `Participation`, `Post`, `RateCard`, `Role`, `Skill`, `StatusReport`, `Story`, `StoryAllocationDay`, `Submission`, `SurveyAnswer`, `SurveyQuestion`, `SurveyResponse`, `SurveyTemplate`, `TimeEntry`, `TimeOffEntry`, `User`, `Vendor`, `Workspace`, `WorkspaceAllocation`, `WorkspaceGroup`, or `WorkspaceResource`

        are synced with third party systems. This allows you to view the sync status of items in addition to the integration

        specifics for a synced object.


        Objects that are synced with a third party system have external integration

        attributes that include the corresponding ID of the third party object with

        which it is synced, a link that allows you to view the object in the third

        party system, the status of the external object in the external system,

        the status of the sync, and a link to exceptions.'
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          description: The date and time the reference was created.
        external_link:
          type: string
          description: A URL that links to either the external object or event.
        external_message:
          type: string
          description: An optional message about the external object.
        external_status:
          type: string
          description: The status of the external object in the external system.
        last_synced_at:
          type: string
          format: date-time
        locked:
          type: boolean
          description: 'An optional field, indicating whether the subject should be locked. To prevent changes to the

            object in Kantata OX, set this to true. This currently only applies to expense report rejections.'
        service_model:
          type: string
          description: The type of the external object to which this reference belongs.
        service_model_ref:
          type: string
          description: The ID of the external object to which this reference belongs.
        service_name:
          type: string
          description: The provider name of the integration.
        status:
          type: string
          description: The status of the integration. Options are 'pending', 'successful', or 'failed'.
        subject_id:
          type: integer
          format: int32
          description: The ID of the Kantata OX object to which this external reference belongs.
        subject_ref:
          type: object
          description: '`subject_ref` will only be included in the response if `subject` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
          properties:
            key:
              type: string
            id:
              type: string
        subject_type:
          type: string
          description: 'The type of Kantata OX object to which this external reference belongs.

            One of `Assignment`, `BillingMilestone`, `CustomField`, `CustomFieldChoice`, `CustomFieldSet`, `CustomFieldValue`, `Estimate`, `EstimateScenario`, `EstimateScenarioResource`, `Expense`, `ExpenseBudget`, `Invoice`, `Participation`, `Post`, `RateCard`, `Role`, `Skill`, `StatusReport`, `Story`, `StoryAllocationDay`, `Submission`, `SurveyAnswer`, `SurveyQuestion`, `SurveyResponse`, `SurveyTemplate`, `TimeEntry`, `TimeOffEntry`, `User`, `Vendor`, `Workspace`, `WorkspaceAllocation`, `WorkspaceGroup`, or `WorkspaceResource`.'
        updated_at:
          type: string
          format: date-time
          description: The date and time the reference was last updated.
    Error:
      type: object
      properties:
        type:
          type: string
        message:
          type: string
    RateCard:
      title: Rate Card
      description: 'A Rate Card belongs to a Rate Card Set, and represents a currency in the set. Rate Cards have

        many Rate Card Versions which represent the effective version of a Rate Card at a specified point of time.


        Rate Cards are accessible to users with Financial access (Project Lead or higher) on the account.'
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        currency:
          type: string
          description: The currency of the Rate Card.
        effective_rate_card_version_id:
          type: string
          description: '`effective_rate_card_version_id` will only be included in the response if `effective_rate_card_version` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        rate_card_set_id:
          type: string
          description: '`rate_card_set_id` will only be included in the response if `rate_card_set` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        rate_card_set_title:
          type: string
          description: The Rate Card Set and Currency.
        rate_card_version_ids:
          type: array
          items:
            type: string
          description: '`rate_card_version_ids` will only be included in the response if `rate_card_versions` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        removable:
          type: boolean
          description: Whether or not the Rate Card can be deleted.
        updated_at:
          type: string
          format: date-time
        uses:
          type: integer
          format: int32
          description: The total usage count of the Rate Card.
    Errors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    RateCardVersion:
      title: Rate Card Version
      description: 'A Rate Card Version represents a snapshot of a Rate Card at a specified point in time and is used to set the

        default rate. It belongs to a Rate Card Set Version and can own many Rate Card Roles.


        The default Rate is the Rate applied for any Roles that do not explicitly have a Rate set.'
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        default_rate:
          type: integer
          format: int32
          description: The default Rate for any Role that does not explicitly have a Rate associated with it.
        rate_card_id:
          type: string
          description: '`rate_card_id` will only be included in the response if `rate_card` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        rate_card_role_ids:
          type: array
          items:
            type: string
          description: '`rate_card_role_ids` will only be included in the response if `rate_card_roles` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        rate_card_set_version_id:
          type: string
          description: '`rate_card_set_version_id` will only be included in the response if `rate_card_set_version` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        updated_at:
          type: string
          format: date-time
  securitySchemes:
    BearerToken:
      type: apiKey
      name: Bearer
      in: header
    OauthSecurity:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://app.mavenlink.com/oauth/authorize
          tokenUrl: https://app.mavenlink.com/oauth/token
x-tagGroups:
- name: '# Subscribed Events'
  tags:
  - Event Types
  - Events
- name: Account Locations
  tags:
  - Account Locations
- name: Account Settings & Members
  tags:
  - Access Group Memberships
  - Account Colors
  - Account Invitations
  - Account Memberships
  - Backup Approver Associations
  - Billable Utilizations
  - Cost Rates
  - Custom Branding
  - Organization Memberships
  - Organizations
  - Roles
  - Skill Categories
  - Skill Memberships
  - Skills
  - Task Status Sets
  - Task Statuses
  - User Group Memberships
  - Users
- name: Currencies
  tags:
  - Currencies
- name: Custom Fields
  tags:
  - Custom Field Choices
  - Custom Field Sets
  - Custom Field Values
  - Custom Fields
- name: Data Exporter
  tags:
  - Data Export Schema
  - Data Exports
- name: Estimates
  tags:
  - Estimate Scenario Resource Allocations
  - Estimate Scenario Resources
  - Estimate Scenarios
  - Estimates
- name: Expense Budgets
  tags:
  - Expense Budgets
- name: Expense Tracking
  tags:
  - Attachments
  - Expense Categories
  - Expense Report Submissions
  - Expenses
  - Vendors
- name: External References
  tags:
  - External References
- name: Financials
  tags:
  - Billing Milestones
  - Revenue Recognition Methods
- name: Foreign Exchange
  tags:
  - Exchange Tables
- name: Insights & Analytics
  tags:
  - Insights Access Group Memberships
  - Insights Dynamic Dashboards
  - Insights Report Exports
  - Insights Reports
- name: Invoices
  tags:
  - Client Invoice Defaults
  - External Payments
  - Invoices
  - Workspace Invoice Preferences
- name: Personal Settings
  tags:
  - Users
- name: Posts & Replies
  tags:
  - Attachments
  - Posts
  - User File Associations
- name: Project Snapshots
  tags:
  - Project Snapshots
- name: Project Templates
  tags:
  - Project Template Additional Tabs
  - Project Template Assignments
  - Project Template Expense Budgets
  - Project Templates
- name: Projects
  tags:
  - Participations
  - Project Accounting Records
  - Status Reports
  - Workspace Allocations
  - Workspace Baselines
  - Workspace Groups
  - Workspace Invoice Preferences
  - Workspace Resource Skills
  - Workspace Resources
  - Workspace Status Changes
  - Workspace Task Status Sets
  - Workspaces
- name: Rate Cards
  tags:
  - Activations
  - Rate Card Role (Rate for a Role)
  - Rate Card Set Version (Effective version by Date)
  - Rate Card Sets (Group of Rate Cards)
  - Rate Card Table Rows
  - Rate Card Versions
  - Rate Cards (Multiple Currencies)
- name: Recommendations
  tags:
  - Recommendations
- name: Resource Requests
  tags:
  - Resource Requests
- name: Scheduling
  tags:
  - Holiday Calendar Associations
  - Holiday Calendar Memberships
  - Holiday Calendars
  - Holidays
  - Time Off Entries
  - Workweek Memberships
  - Workweeks
- name: Surveys (Legacy)
  tags:
  - Survey Answers (Legacy)
  - Survey Questions (Legacy)
  - Survey Templates (Legacy)
  - Surveys Responses (Legacy)
- name: Tasks
  tags:
  - Assignments
  - Daily Scheduled Hours (Story Allocation Days)
  - Followers
  - Stories
  - Story Dependencies
  - Story State Changes
  - Story Tasks
- name: Time Tracking
  tags:
  - Line Item Locks
  - Time Entries
  - Timesheet Approvals
  - Timesheet Cancellations
  - Timesheet Rejections
  - Timesheet Submissions
