openapi: 3.2.0
info:
  version: 1.0.0
  title: Kantata OX API Documentation Rate Card Sets (Group of Rate…
  description: Kantata OX's API provides access to the majority of Kantata OX's data model.
  termsOfService: https://www.kantata.com/terms-of-use
  contact:
    name: Kantata OX Support
    url: https://knowledge.kantata.com/hc/en-us
  license:
    name: COPYRIGHT © 2026 Kantata, Inc.
    url: https://www.kantata.com/terms-of-use
  x-logo:
    url: https://theme.zdassets.com/theme_assets/56104/04e93064d309f75d054b8cee885d1ea51e9be8f7.png
    backgroundColor: '#FFFFFF'
    altText: Kantata OX API Documentation
    href: https://developer.kantata.com
servers:
- url: https://api.mavenlink.com/api/v1
tags:
- name: Rate Card Sets (Group of Rate Cards)
  description: 'A Rate Card Set represents a group of Rate Cards with multiple currencies that

    can be bundled together.'
paths:
  /rate_card_sets:
    get:
      summary: Fetching a list of Rate Card Sets
      description: 'Rate Card Sets are only accessible to users with Financial access (Project Lead or higher) on the account.


        An initial request to this endpoint, will generate an account default Rate Card Set and a create a

        Rate Card Set Version. This account default Rate Card Set will include a separate Rate Card for every currency

        used in projects on the user''s account.


        This endpoint returns structured Rate Card Set objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `rate_card_sets` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Rate Card Sets
      tags:
      - Rate Card Sets (Group of Rate Cards)
      parameters:
      - in: query
        name: active
        description: Includes only Rate Card Sets with published Rate Card Set Versions.
        schema:
          type: boolean
      - in: query
        name: created_after
        description: Filter for records created after a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: created_before
        description: Filter for records created before a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: has_active_currency
        description: 'Includes only Rate Card Sets that have a rate card with the specified currency and belong to

          a published Rate Card Set Version.'
        schema:
          type: string
      - in: query
        name: has_currency
        description: Includes only Rate Card Sets that have a rate card with the specified currency.
        schema:
          type: string
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `rate_card_set_versions` (RateCardSetVersion) - Rate Card Set Versions belonging to the Rate Card Set.

          - `rate_cards` (RateCard) - Rate Cards (currencies) belonging to the Rate Card Set.

          - `workspace_groups` (WorkspaceGroup) - Groups associated with the Rate Card Set.'
        schema:
          type: string
      - in: query
        name: matching
        description: Includes only Rate Card Sets with a title matching the specified term.
        schema:
          type: string
      - in: query
        name: only
        description: 'Allows you to request one or more resources directly by ID. Multiple IDs can be supplied

          in a comma separated list, like `GET /api/v1/workspaces.json?only=5,6,7`.'
        schema:
          type: string
      - in: query
        name: order
        description: 'Supply `order` with the name of a valid sort field for the endpoint and a direction.


          Valid values: `created_at:asc`, `created_at:desc`, `title:asc`, and `title:desc`.'
        schema:
          type: string
          default: created_at:asc
      - in: query
        name: page
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        schema:
          type: integer
          format: int32
          default: 20
          maximum: 200
      - in: query
        name: updated_after
        description: Filter for records updated after a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: updated_before
        description: Filter for records updated before a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: workspace_groups
        description: Filter rate card sets by their associated workspace groups. Provide a comma-separated list of workspace group IDs, for example `10,20`.
        schema:
          type: string
      responses:
        '200':
          description: A list of Rate Card Sets have been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  rate_card_sets:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardSet'
                  rate_cards:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCard'
                  rate_card_set_versions:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardSetVersion'
                  workspace_groups:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkspaceGroup'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    post:
      summary: Creating a new Rate Card Set
      description: 'This endpoint returns structured Rate Card Set objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `rate_card_sets` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Create Rate Card Set
      tags:
      - Rate Card Sets (Group of Rate Cards)
      parameters:
      - in: query
        name: clone_version_id
        required: false
        description: "The ID of the existing Rate Card Set Version to be cloned.\nCloning creates a Rate Card Set that contains the following:\n  - A clone of the specified Rate Card Set Version.\n  - A clone of all the associations of the specified Rate Card Set Version.\n  - A clone of all the Rate Cards belonging to the Rate Card Set for the specified Rate Card Set Version."
        schema:
          type: integer
          format: int32
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `rate_card_set_versions` (RateCardSetVersion) - Rate Card Set Versions belonging to the Rate Card Set.

          - `rate_cards` (RateCard) - Rate Cards (currencies) belonging to the Rate Card Set.

          - `workspace_groups` (WorkspaceGroup) - Groups associated with the Rate Card Set.'
        schema:
          type: string
      responses:
        '200':
          description: Rate Card Set has been created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  rate_card_sets:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardSet'
                  rate_cards:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCard'
                  rate_card_set_versions:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardSetVersion'
                  workspace_groups:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkspaceGroup'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rate_card_set:
                  type: object
                  properties:
                    title:
                      type: string
                      description: The title of the Rate Card Set.
                  required:
                  - title
        required: true
  /rate_card_sets/{id}:
    get:
      summary: Fetching a single Rate Card Set
      description: 'A Rate Card Set can only be accessed by users with Financial access (Project Lead or higher) on the account.


        This endpoint returns structured Rate Card Set objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `rate_card_sets` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Rate Card Set
      tags:
      - Rate Card Sets (Group of Rate Cards)
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `rate_card_set_versions` (RateCardSetVersion) - Rate Card Set Versions belonging to the Rate Card Set.

          - `rate_cards` (RateCard) - Rate Cards (currencies) belonging to the Rate Card Set.

          - `workspace_groups` (WorkspaceGroup) - Groups associated with the Rate Card Set.'
        schema:
          type: string
      responses:
        '200':
          description: The Rate Card Set has been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  rate_card_sets:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardSet'
                  rate_cards:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCard'
                  rate_card_set_versions:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardSetVersion'
                  workspace_groups:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkspaceGroup'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    put:
      summary: Updating an existing Rate Card Set
      description: 'This endpoint returns structured Rate Card Set objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `rate_card_sets` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Update Rate Card Set
      tags:
      - Rate Card Sets (Group of Rate Cards)
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `rate_card_set_versions` (RateCardSetVersion) - Rate Card Set Versions belonging to the Rate Card Set.

          - `rate_cards` (RateCard) - Rate Cards (currencies) belonging to the Rate Card Set.

          - `workspace_groups` (WorkspaceGroup) - Groups associated with the Rate Card Set.'
        schema:
          type: string
      responses:
        '200':
          description: Rate Card Set has been updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  rate_card_sets:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardSet'
                  rate_cards:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCard'
                  rate_card_set_versions:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardSetVersion'
                  workspace_groups:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkspaceGroup'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rate_card_set:
                  type: object
                  properties:
                    title:
                      type: string
                      description: The title of the Rate Card Set.
        required: true
    delete:
      summary: Deleting an existing Rate Card Set
      description: 'A Rate Card Set cannot be deleted if:

        - The Rate Card Set is the account default.

        - A Rate Card belonging to the Rate Card Set is being used by a project.


        The response will contain no content and an HTTP 204 status code if the request was

        successful, or a standard Kantata OX error message explaining why the object could not be deleted.'
      operationId: Delete Rate Card Set
      tags:
      - Rate Card Sets (Group of Rate Cards)
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      responses:
        '204':
          description: Rate Card Set has been deleted.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
components:
  schemas:
    RateCardSet:
      title: Rate Card Set
      description: 'A Rate Card Set represents a group of Rate Cards with multiple currencies, that

        can be bundled together. A Rate Card Set belongs to an account, and can have several Rate Card Set Versions, each representing the

        the effective version for a specified date.'
      type: object
      properties:
        account_default:
          type: boolean
          description: Whether the Rate Card Set is an account default.
        active_currencies:
          type: array
          items:
            type: string
          description: Includes only currencies that belong to published Rate Card Set Versions.
        created_at:
          type: string
          format: date-time
        default_currencies:
          type: array
          items:
            type: string
          description: Includes only currencies that belong to published Rate Card Set Versions on the account default Rate Card Set.
        destroyable:
          type: boolean
          description: Whether the Rate Card Set can be deleted.
        rate_card_ids:
          type: array
          items:
            type: string
          description: '`rate_card_ids` will only be included in the response if `rate_cards` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        rate_card_set_version_ids:
          type: array
          items:
            type: string
          description: '`rate_card_set_version_ids` will only be included in the response if `rate_card_set_versions` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        title:
          type: string
          description: The title of the Rate Card Set.
        updated_at:
          type: string
          format: date-time
        workspace_group_ids:
          type: array
          items:
            type: string
          description: '`workspace_group_ids` will only be included in the response if `workspace_groups` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    WorkspaceGroup:
      title: Workspace Group
      description: 'Workspace Groups (also known as groups) allow for the categorization of Kantata OX Workspaces and Users. Workspace Groups are unique to each Kantata OX Account. These endpoints allow you to fetch, create, update, and delete Workspace Groups.


        To add a workspace to a Workspace Group, use the [create workspace](/tag/Workspaces#operation/create-workspace) or [update workspace](/tag/Workspaces#operation/update-workspace) endpoint and set the `workspace_group_ids` field.


        To add a user to a Workspace Group, use the [create user group membership](/tag/User-Group-Memberships#operation/create-user-group-memberships) endpoint.'
      type: object
      properties:
        address:
          type: string
          description: The address of the company contact.
        company:
          type: boolean
          description: Whether the group represents a company.
        contact_name:
          type: string
          description: The name of the company contact.
        created_at:
          type: string
          format: date-time
          description: When the group was created.
        email:
          type: string
          description: The email of the company contact.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        name:
          type: string
          description: The name of the group.
        notes:
          type: string
          description: Notes on the group.
        phone_number:
          type: string
          description: The phone number of the company contact.
        rate_card_set_ids:
          type: array
          items:
            type: string
          description: '`rate_card_set_ids` will only be included in the response if `rate_card_sets` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        updated_at:
          type: string
          format: date-time
          description: When the group was last updated.
        website:
          type: string
          description: The website of the company contact.
        workspace_ids:
          type: array
          items:
            type: string
          description: '`workspace_ids` will only be included in the response if `workspaces` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    Error:
      type: object
      properties:
        type:
          type: string
        message:
          type: string
    RateCard:
      title: Rate Card
      description: 'A Rate Card belongs to a Rate Card Set, and represents a currency in the set. Rate Cards have

        many Rate Card Versions which represent the effective version of a Rate Card at a specified point of time.


        Rate Cards are accessible to users with Financial access (Project Lead or higher) on the account.'
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        currency:
          type: string
          description: The currency of the Rate Card.
        effective_rate_card_version_id:
          type: string
          description: '`effective_rate_card_version_id` will only be included in the response if `effective_rate_card_version` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        rate_card_set_id:
          type: string
          description: '`rate_card_set_id` will only be included in the response if `rate_card_set` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        rate_card_set_title:
          type: string
          description: The Rate Card Set and Currency.
        rate_card_version_ids:
          type: array
          items:
            type: string
          description: '`rate_card_version_ids` will only be included in the response if `rate_card_versions` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        removable:
          type: boolean
          description: Whether or not the Rate Card can be deleted.
        updated_at:
          type: string
          format: date-time
        uses:
          type: integer
          format: int32
          description: The total usage count of the Rate Card.
    Errors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    RateCardSetVersion:
      title: Rate Card Set Version
      description: "Rate Card Set Versions represent a snapshot of a Rate Card Set\n  which takes effect on the set published date. A Rate Card Set Version owns a copy of each Rate Card Version\n   of a Rate Card on the associated Rate Card Set.\nRate Card Set Versions are only accessible, editable and publishable by Administrators on the account."
      type: object
      properties:
        active:
          type: boolean
          description: Whether the Rate Card Set Version is published.
        created_at:
          type: string
          format: date-time
        effective_date:
          type: string
          format: date
          description: The date on which the Rate Card Set Version take effect.
        rate_card_set_id:
          type: string
          description: '`rate_card_set_id` will only be included in the response if `rate_card_set` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        rate_card_version_ids:
          type: array
          items:
            type: string
          description: '`rate_card_version_ids` will only be included in the response if `rate_card_versions` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        updated_at:
          type: string
          format: date-time
        used_currencies:
          type: array
          items:
            type: string
          description: Available currencies on Rate Cards associated with this Rate Card Set Version.
  securitySchemes:
    BearerToken:
      type: apiKey
      name: Bearer
      in: header
    OauthSecurity:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://app.mavenlink.com/oauth/authorize
          tokenUrl: https://app.mavenlink.com/oauth/token
x-tagGroups:
- name: '# Subscribed Events'
  tags:
  - Event Types
  - Events
- name: Account Locations
  tags:
  - Account Locations
- name: Account Settings & Members
  tags:
  - Access Group Memberships
  - Account Colors
  - Account Invitations
  - Account Memberships
  - Backup Approver Associations
  - Billable Utilizations
  - Cost Rates
  - Custom Branding
  - Organization Memberships
  - Organizations
  - Roles
  - Skill Categories
  - Skill Memberships
  - Skills
  - Task Status Sets
  - Task Statuses
  - User Group Memberships
  - Users
- name: Currencies
  tags:
  - Currencies
- name: Custom Fields
  tags:
  - Custom Field Choices
  - Custom Field Sets
  - Custom Field Values
  - Custom Fields
- name: Data Exporter
  tags:
  - Data Export Schema
  - Data Exports
- name: Estimates
  tags:
  - Estimate Scenario Resource Allocations
  - Estimate Scenario Resources
  - Estimate Scenarios
  - Estimates
- name: Expense Budgets
  tags:
  - Expense Budgets
- name: Expense Tracking
  tags:
  - Attachments
  - Expense Categories
  - Expense Report Submissions
  - Expenses
  - Vendors
- name: External References
  tags:
  - External References
- name: Financials
  tags:
  - Billing Milestones
  - Revenue Recognition Methods
- name: Foreign Exchange
  tags:
  - Exchange Tables
- name: Insights & Analytics
  tags:
  - Insights Access Group Memberships
  - Insights Dynamic Dashboards
  - Insights Report Exports
  - Insights Reports
- name: Invoices
  tags:
  - Client Invoice Defaults
  - External Payments
  - Invoices
  - Workspace Invoice Preferences
- name: Personal Settings
  tags:
  - Users
- name: Posts & Replies
  tags:
  - Attachments
  - Posts
  - User File Associations
- name: Project Snapshots
  tags:
  - Project Snapshots
- name: Project Templates
  tags:
  - Project Template Additional Tabs
  - Project Template Assignments
  - Project Template Expense Budgets
  - Project Templates
- name: Projects
  tags:
  - Participations
  - Project Accounting Records
  - Status Reports
  - Workspace Allocations
  - Workspace Baselines
  - Workspace Groups
  - Workspace Invoice Preferences
  - Workspace Resource Skills
  - Workspace Resources
  - Workspace Status Changes
  - Workspace Task Status Sets
  - Workspaces
- name: Rate Cards
  tags:
  - Activations
  - Rate Card Role (Rate for a Role)
  - Rate Card Set Version (Effective version by Date)
  - Rate Card Sets (Group of Rate Cards)
  - Rate Card Table Rows
  - Rate Card Versions
  - Rate Cards (Multiple Currencies)
- name: Recommendations
  tags:
  - Recommendations
- name: Resource Requests
  tags:
  - Resource Requests
- name: Scheduling
  tags:
  - Holiday Calendar Associations
  - Holiday Calendar Memberships
  - Holiday Calendars
  - Holidays
  - Time Off Entries
  - Workweek Memberships
  - Workweeks
- name: Surveys (Legacy)
  tags:
  - Survey Answers (Legacy)
  - Survey Questions (Legacy)
  - Survey Templates (Legacy)
  - Surveys Responses (Legacy)
- name: Tasks
  tags:
  - Assignments
  - Daily Scheduled Hours (Story Allocation Days)
  - Followers
  - Stories
  - Story Dependencies
  - Story State Changes
  - Story Tasks
- name: Time Tracking
  tags:
  - Line Item Locks
  - Time Entries
  - Timesheet Approvals
  - Timesheet Cancellations
  - Timesheet Rejections
  - Timesheet Submissions
