openapi: 3.2.0
info:
  version: 1.0.0
  title: Kantata OX API Documentation Revenue Recognition Methods API
  description: Kantata OX's API provides access to the majority of Kantata OX's data model.
  termsOfService: https://www.kantata.com/terms-of-use
  contact:
    name: Kantata OX Support
    url: https://knowledge.kantata.com/hc/en-us
  license:
    name: COPYRIGHT © 2026 Kantata, Inc.
    url: https://www.kantata.com/terms-of-use
  x-logo:
    url: https://theme.zdassets.com/theme_assets/56104/04e93064d309f75d054b8cee885d1ea51e9be8f7.png
    backgroundColor: '#FFFFFF'
    altText: Kantata OX API Documentation
    href: https://developer.kantata.com
servers:
- url: https://api.mavenlink.com/api/v1
tags:
- name: Revenue Recognition Methods
  description: 'Revenue recognition methods determine how revenue is recognized. Methods are configured at the account level, then each project can have an available method applied.


    Available only when the early access feature Revenue Management is activated.'
paths:
  /revenue_recognition_methods:
    get:
      summary: Fetching a list of Revenue Recognition Methods
      description: 'Gets a list of revenue recognition methods that are available to apply to projects.


        This endpoint returns structured Revenue Recognition Method objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `revenue_recognition_methods` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Revenue Recognition Methods
      tags:
      - Revenue Recognition Methods
      parameters:
      - in: query
        name: active
        required: false
        description: Return only active (`true`) or inactive (`false`) methods.
        schema:
          type: string
      - in: query
        name: only
        required: false
        description: 'Allows you to get one or more methods directly by ID. The ID is in the following format: `id:revenue_recognition_method_type`. For example, `42:percent_complete`. Multiple IDs can be supplied in a comma separated list, like `GET /api/v1/revenue_recognition_methods?only=42:percent_complete,43:time_and_materials`.'
        schema:
          type: string
      responses:
        '200':
          description: A list of Revenue Recognition Methods have been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    description: An array of ordered pointers for the items in the `revenue_recognition_methods` top-level object.
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                          description: The `key` is always `revenue_recognition_methods`.
                        id:
                          type: string
                          description: Composite ID, formatted as `<numeric_id>:<type>` (e.g. `42:percent_complete`).
                        name:
                          type: string
                          description: The name of the revenue recognition method.
                  revenue_recognition_methods:
                    type: object
                    description: Revenue recognition methods determine how revenue is recognized. Methods are configured at the account level, then each project can have an available method applied.
                    additionalProperties:
                      type: object
                      description: A single revenue recognition method, keyed by its composite ID in the format `<numeric_id>:<type>` (e.g. `42:percent_complete`).
                      properties:
                        id:
                          type: string
                          description: 'The ID of the revenue recognition method. The ID is in the following format: `id:revenue_recognition_method_type`.'
                        account_id:
                          type: integer
                          format: int32
                          description: The ID of the account which the revenue recognition method is on.
                        name:
                          type: string
                          description: The name of the revenue recognition method.
                        revenue_to_date_formula:
                          type: string
                          description: The formula to calculate the revenue to date.
                        revenue_in_period_formula:
                          type: string
                          description: The formula to calculate the revenue in period.
                        created_at:
                          type: string
                          format: date-time
                          description: When the revenue recognition method was created.
                        updated_at:
                          type: string
                          format: date-time
                          description: When the revenue recognition method was updated.
                        active:
                          type: boolean
                          description: Whether the revenue recognition method can be selected for a project.
                        type:
                          type: string
                          description: The type of revenue recognition method. Possible values are `percent_complete` and `time_and_materials`.
                        percent_complete_formula:
                          type: string
                          description: The formula to calculate percent complete. Only applicable for `percent_complete` methods.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
components:
  schemas:
    Errors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    Error:
      type: object
      properties:
        type:
          type: string
        message:
          type: string
  securitySchemes:
    BearerToken:
      type: apiKey
      name: Bearer
      in: header
    OauthSecurity:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://app.mavenlink.com/oauth/authorize
          tokenUrl: https://app.mavenlink.com/oauth/token
x-tagGroups:
- name: '# Subscribed Events'
  tags:
  - Event Types
  - Events
- name: Account Locations
  tags:
  - Account Locations
- name: Account Settings & Members
  tags:
  - Access Group Memberships
  - Account Colors
  - Account Invitations
  - Account Memberships
  - Backup Approver Associations
  - Billable Utilizations
  - Cost Rates
  - Custom Branding
  - Organization Memberships
  - Organizations
  - Roles
  - Skill Categories
  - Skill Memberships
  - Skills
  - Task Status Sets
  - Task Statuses
  - User Group Memberships
  - Users
- name: Currencies
  tags:
  - Currencies
- name: Custom Fields
  tags:
  - Custom Field Choices
  - Custom Field Sets
  - Custom Field Values
  - Custom Fields
- name: Data Exporter
  tags:
  - Data Export Schema
  - Data Exports
- name: Estimates
  tags:
  - Estimate Scenario Resource Allocations
  - Estimate Scenario Resources
  - Estimate Scenarios
  - Estimates
- name: Expense Budgets
  tags:
  - Expense Budgets
- name: Expense Tracking
  tags:
  - Attachments
  - Expense Categories
  - Expense Report Submissions
  - Expenses
  - Vendors
- name: External References
  tags:
  - External References
- name: Financials
  tags:
  - Billing Milestones
  - Revenue Recognition Methods
- name: Foreign Exchange
  tags:
  - Exchange Tables
- name: Insights & Analytics
  tags:
  - Insights Access Group Memberships
  - Insights Dynamic Dashboards
  - Insights Report Exports
  - Insights Reports
- name: Invoices
  tags:
  - Client Invoice Defaults
  - External Payments
  - Invoices
  - Workspace Invoice Preferences
- name: Personal Settings
  tags:
  - Users
- name: Posts & Replies
  tags:
  - Attachments
  - Posts
  - User File Associations
- name: Project Snapshots
  tags:
  - Project Snapshots
- name: Project Templates
  tags:
  - Project Template Additional Tabs
  - Project Template Assignments
  - Project Template Expense Budgets
  - Project Templates
- name: Projects
  tags:
  - Participations
  - Project Accounting Records
  - Status Reports
  - Workspace Allocations
  - Workspace Baselines
  - Workspace Groups
  - Workspace Invoice Preferences
  - Workspace Resource Skills
  - Workspace Resources
  - Workspace Status Changes
  - Workspace Task Status Sets
  - Workspaces
- name: Rate Cards
  tags:
  - Activations
  - Rate Card Role (Rate for a Role)
  - Rate Card Set Version (Effective version by Date)
  - Rate Card Sets (Group of Rate Cards)
  - Rate Card Table Rows
  - Rate Card Versions
  - Rate Cards (Multiple Currencies)
- name: Recommendations
  tags:
  - Recommendations
- name: Resource Requests
  tags:
  - Resource Requests
- name: Scheduling
  tags:
  - Holiday Calendar Associations
  - Holiday Calendar Memberships
  - Holiday Calendars
  - Holidays
  - Time Off Entries
  - Workweek Memberships
  - Workweeks
- name: Surveys (Legacy)
  tags:
  - Survey Answers (Legacy)
  - Survey Questions (Legacy)
  - Survey Templates (Legacy)
  - Surveys Responses (Legacy)
- name: Tasks
  tags:
  - Assignments
  - Daily Scheduled Hours (Story Allocation Days)
  - Followers
  - Stories
  - Story Dependencies
  - Story State Changes
  - Story Tasks
- name: Time Tracking
  tags:
  - Line Item Locks
  - Time Entries
  - Timesheet Approvals
  - Timesheet Cancellations
  - Timesheet Rejections
  - Timesheet Submissions
