openapi: 3.2.0
info:
  version: 1.0.0
  title: Kantata OX API Documentation Account Memberships API
  description: Kantata OX's API provides access to the majority of Kantata OX's data model.
  termsOfService: https://www.kantata.com/terms-of-use
  contact:
    name: Kantata OX Support
    url: https://knowledge.kantata.com/hc/en-us
  license:
    name: COPYRIGHT © 2026 Kantata, Inc.
    url: https://www.kantata.com/terms-of-use
  x-logo:
    url: https://theme.zdassets.com/theme_assets/56104/04e93064d309f75d054b8cee885d1ea51e9be8f7.png
    backgroundColor: '#FFFFFF'
    altText: Kantata OX API Documentation
    href: https://developer.kantata.com
servers:
- url: https://api.mavenlink.com/api/v1
tags:
- name: Account Memberships
  description: 'Each user on an account will have an account membership that describes their relationship to the account. When you add a user

    to an account, create a new `account_membership`. When you remove a user from an account, delete their account_membership record.'
paths:
  /account_memberships:
    get:
      summary: Fetching a list of Account Memberships
      description: 'You can request either GET /api/v1/account_memberships.json?only=5 or

        GET /api/v1/account_memberships/5.json. In both cases, default filters will be applied.

        Unless you provide the is_active:false filter, you won''t receive account membership for inactive users, and will get a 404 status

        on the "show" route.


        This endpoint returns structured Account Membership objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `account_memberships` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Account Memberships
      tags:
      - Account Memberships
      parameters:
      - in: query
        name: by_full_name
        description: Search account memberships by full name of the user.
        schema:
          type: string
      - in: query
        name: by_user_id
        description: Only includes account membership for the specified user ID.
        schema:
          type: integer
          format: int32
      - in: query
        name: can_log_in
        description: Return account memberships based on whether or not the member is allowed to login.
        schema:
          type: boolean
      - in: query
        name: created_after
        description: Filter for records created after a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: created_before
        description: Filter for records created before a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `backup_approver_associations` (BackupApproverAssociation) - Retrieves the [backup approver associations](/tag/Backup-Approver-Associations) for the user this account membership is for, which represent a backup time approver for a specific date range. The response will include `backup_approver_association_ids`, which references the data in the `backup_approver_associations` top-level key.

          - `cost_rates` (CostRate) - Retrieves all the cost rates in different currencies for the user this account membership is for. The response will include `cost_rate_ids`, which references the data in the `cost_rates` top-level key.

          - `default_role` (Role) - Retrieves the default role, if any, for this account membership. The response will include `default_role_id`, which references the data in the `roles` top-level key.

          - `effective_workweek` (Workweek) - Retrieves the workweek that is in effect today for the user this account membership is for. The response will include `effective_workweek_id`, which references the data in the `workweeks` top-level key.

          - `future_billable_utilizations` (BillableUtilization) - Retrieves the future billable utilizations for the user this account membership is for. The response will include `future_billable_utilization_ids`, which references the data in the `billable_utilizations` top-level key.

          - `managees` (User) - Retrieves the direct reports of the user this account membership is for. The response will include `managee_ids`, which references the data in the `users` top-level key.

          - `manager` (User) - Retrieves the manager of the user this account membership is for. The response will include `manager_id`, which references the data in the `users` top-level key.

          - `possible_managees` (User) - Retrieves a list of users who can become the direct reports of the user this account membership is for. The response will include `possible_managee_ids`, which references the data in the `users` top-level key.

          - `possible_managers` (User) - Retrieves a list of users who can be set as the manager of the user this account membership is for. The response will include `possible_manager_ids`, which references the data in the `users` top-level key.

          - `skill_memberships` (SkillMembership) - Retrieves the skill memberships for the user this account membership is for, which represent skills assigned to a user. The response will include `skill_membership_ids`, which references the data in the `skill_memberships` top-level key.

          - `user` (User) - Retrieves the user for this account membership. The response will include `user_id`, which references the data in the `users` top-level key.'
        schema:
          type: string
      - in: query
        name: only
        description: 'Allows you to request one or more resources directly by ID. Multiple IDs can be supplied

          in a comma separated list, like `GET /api/v1/workspaces.json?only=5,6,7`.'
        schema:
          type: string
      - in: query
        name: only_active
        description: Only includes users with an active membership (disabled_at is null).
        schema:
          type: boolean
      - in: query
        name: only_inactive
        description: Only includes users with an inactive membership (disabled_at is not null).
        schema:
          type: boolean
      - in: query
        name: optional_fields
        description: Allows you to request one or more optional fields as an array.
        schema:
          type: array
          items:
            type: string
            enum:
            - can_log_in
            - non_participant
      - in: query
        name: order
        description: 'Supply `order` with the name of a valid sort field for the endpoint and a direction.


          Valid values: `bill_rate:asc`, `bill_rate:desc`, `cost_rate:asc`, `cost_rate:desc`, `created_at:asc`, `created_at:desc`, `full_name:asc`, `full_name:desc`, `permission:asc`, `permission:desc`, `role:asc`, `role:desc`, `updated_at:asc`, and `updated_at:desc`.'
        schema:
          type: string
          default: created_at:desc
      - in: query
        name: page
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        schema:
          type: integer
          format: int32
          default: 20
          maximum: 200
      - in: query
        name: search
        schema:
          type: string
      - in: query
        name: updated_after
        description: Filter for records updated after a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: updated_before
        description: Filter for records updated before a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: with_skills
        required: false
        description: 'Return only account memberships for users with the specified skills and levels. Provide the skill IDs,

          level numbers for each skill (if applicable), and whether to filter using AND or OR logic.

          You can specify multiple skills and multiple levels.


          Format as `{"ids":[skill_id,skill_id],"skill_id":[level,level],"skill_id":[level],"operation":"<or/and>"}` .


          Example 1 - Filter by two skills, one which has levels and one which doesn''t. Apply AND logic.


          `{"ids":[234,789],"234":[3,4],"operation":"and"}`


          Example 2 - Filter by two skills, both of which have levels. Apply OR logic.


          `{"ids":[123,456],"123":[4,5],"456":[1,2],"operation":"or"}`.'
        schema:
          type: string
      - in: query
        name: with_user_ids
        description: Only includes account memberships for the specified user IDs. For example, '1,2,3'.
        schema:
          type: string
      responses:
        '200':
          description: A list of Account Memberships have been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  account_memberships:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/AccountMembership'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  roles:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Role'
                  workweeks:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Workweek'
                  skill_memberships:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/SkillMembership'
                  backup_approver_associations:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/BackupApproverAssociation'
                  cost_rates:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/CostRate'
                  billable_utilizations:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/BillableUtilization'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /account_memberships/{id}:
    get:
      summary: Fetching a single Account Membership
      description: 'This endpoint returns structured Account Membership objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `account_memberships` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Account Membership
      tags:
      - Account Memberships
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `backup_approver_associations` (BackupApproverAssociation) - Retrieves the [backup approver associations](/tag/Backup-Approver-Associations) for the user this account membership is for, which represent a backup time approver for a specific date range. The response will include `backup_approver_association_ids`, which references the data in the `backup_approver_associations` top-level key.

          - `cost_rates` (CostRate) - Retrieves all the cost rates in different currencies for the user this account membership is for. The response will include `cost_rate_ids`, which references the data in the `cost_rates` top-level key.

          - `default_role` (Role) - Retrieves the default role, if any, for this account membership. The response will include `default_role_id`, which references the data in the `roles` top-level key.

          - `effective_workweek` (Workweek) - Retrieves the workweek that is in effect today for the user this account membership is for. The response will include `effective_workweek_id`, which references the data in the `workweeks` top-level key.

          - `future_billable_utilizations` (BillableUtilization) - Retrieves the future billable utilizations for the user this account membership is for. The response will include `future_billable_utilization_ids`, which references the data in the `billable_utilizations` top-level key.

          - `managees` (User) - Retrieves the direct reports of the user this account membership is for. The response will include `managee_ids`, which references the data in the `users` top-level key.

          - `manager` (User) - Retrieves the manager of the user this account membership is for. The response will include `manager_id`, which references the data in the `users` top-level key.

          - `possible_managees` (User) - Retrieves a list of users who can become the direct reports of the user this account membership is for. The response will include `possible_managee_ids`, which references the data in the `users` top-level key.

          - `possible_managers` (User) - Retrieves a list of users who can be set as the manager of the user this account membership is for. The response will include `possible_manager_ids`, which references the data in the `users` top-level key.

          - `skill_memberships` (SkillMembership) - Retrieves the skill memberships for the user this account membership is for, which represent skills assigned to a user. The response will include `skill_membership_ids`, which references the data in the `skill_memberships` top-level key.

          - `user` (User) - Retrieves the user for this account membership. The response will include `user_id`, which references the data in the `users` top-level key.'
        schema:
          type: string
      - in: query
        name: optional_fields
        description: Allows you to request one or more optional fields as an array.
        schema:
          type: array
          items:
            type: string
            enum:
            - can_log_in
            - non_participant
      responses:
        '200':
          description: The Account Membership has been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  account_memberships:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/AccountMembership'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  roles:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Role'
                  workweeks:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Workweek'
                  skill_memberships:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/SkillMembership'
                  backup_approver_associations:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/BackupApproverAssociation'
                  cost_rates:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/CostRate'
                  billable_utilizations:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/BillableUtilization'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    put:
      summary: Updating an existing Account Membership
      description: 'This endpoint returns structured Account Membership objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `account_memberships` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Update Account Membership
      tags:
      - Account Memberships
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `backup_approver_associations` (BackupApproverAssociation) - Retrieves the [backup approver associations](/tag/Backup-Approver-Associations) for the user this account membership is for, which represent a backup time approver for a specific date range. The response will include `backup_approver_association_ids`, which references the data in the `backup_approver_associations` top-level key.

          - `cost_rates` (CostRate) - Retrieves all the cost rates in different currencies for the user this account membership is for. The response will include `cost_rate_ids`, which references the data in the `cost_rates` top-level key.

          - `default_role` (Role) - Retrieves the default role, if any, for this account membership. The response will include `default_role_id`, which references the data in the `roles` top-level key.

          - `effective_workweek` (Workweek) - Retrieves the workweek that is in effect today for the user this account membership is for. The response will include `effective_workweek_id`, which references the data in the `workweeks` top-level key.

          - `future_billable_utilizations` (BillableUtilization) - Retrieves the future billable utilizations for the user this account membership is for. The response will include `future_billable_utilization_ids`, which references the data in the `billable_utilizations` top-level key.

          - `managees` (User) - Retrieves the direct reports of the user this account membership is for. The response will include `managee_ids`, which references the data in the `users` top-level key.

          - `manager` (User) - Retrieves the manager of the user this account membership is for. The response will include `manager_id`, which references the data in the `users` top-level key.

          - `possible_managees` (User) - Retrieves a list of users who can become the direct reports of the user this account membership is for. The response will include `possible_managee_ids`, which references the data in the `users` top-level key.

          - `possible_managers` (User) - Retrieves a list of users who can be set as the manager of the user this account membership is for. The response will include `possible_manager_ids`, which references the data in the `users` top-level key.

          - `skill_memberships` (SkillMembership) - Retrieves the skill memberships for the user this account membership is for, which represent skills assigned to a user. The response will include `skill_membership_ids`, which references the data in the `skill_memberships` top-level key.

          - `user` (User) - Retrieves the user for this account membership. The response will include `user_id`, which references the data in the `users` top-level key.'
        schema:
          type: string
      - in: query
        name: optional_fields
        description: Allows you to request one or more optional fields as an array.
        schema:
          type: array
          items:
            type: string
            enum:
            - can_log_in
            - non_participant
      responses:
        '200':
          description: Account Membership has been updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  account_memberships:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/AccountMembership'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  roles:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Role'
                  workweeks:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Workweek'
                  skill_memberships:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/SkillMembership'
                  backup_approver_associations:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/BackupApproverAssociation'
                  cost_rates:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/CostRate'
                  billable_utilizations:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/BillableUtilization'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                account_membership:
                  type: object
                  properties:
                    bill_rate_in_cents:
                      type: integer
                      format: int32
                      description: The default billing rate, in cents, for the user in a workspace on this account.
                    cost_rate_in_cents:
                      type: integer
                      format: int32
                      description: The default cost rate, in cents, for the user in a workspace on this account.
                    default_role_id:
                      type: integer
                      format: int32
                      description: The internal ID for the role of this user on this account.
                    permission:
                      type: string
                      description: The user's permission level on the account. Valid values are 'administrator', 'reports_viewer', 'reports_viewer_with_cost', 'project_lead', 'project_creator', 'punch_clock', 'external_collaborator' or 'collaborator'.
                    billability_target:
                      type: integer
                      format: int32
                      description: Value for setting the user's billability target.
                    default_read_only:
                      type: boolean
                      description: Whether the user is always read-only in workspaces.
                    manager_id:
                      type: integer
                      format: int32
                      description: The User ID of the user's manager.
                    manager_can_approve:
                      type: boolean
                      description: Whether the user's named manager can approve their time and expenses.
                    manager_can_edit_skills:
                      type: boolean
                      description: Whether the user's named manager can edit their skills.
                    should_show_alert_on_timesheet_submission:
                      type: boolean
                      description: Show an alert on a user's timesheet.
                    change_role_option:
                      type: string
                      description: Select 'update_with_new_role', 'add_another_role', or 'keep_existing_role'. If no option is selected another role will be added.
                    enforce_workweek_minimum_on_timesheet_submission:
                      type: boolean
                      description: If true, the user is required to submit timesheets equal to or greater than their workweek hours.
                    enforce_workweek_maximum_on_timesheet_submission:
                      type: boolean
                      description: If true, the user is required to submit timesheets equal to or less than their workweek hours.
        required: true
    delete:
      summary: Remove a user from an account
      description: 'This removes the member from your account and places them on a separate Kantata OX account. It is important

        to know that the account owner cannot be removed.


        **WARNING:** Since the removed member gets their on own separate Kantata OX account,

        they will remain on existing projects but will be View Only and no

        longer be able to create projects in your account.


        We suggest `disabling` an account member over removing them since it revokes their ability to access

        your account and they will no longer have access to projects for which they were contributing.


        The response will contain no content and an HTTP 204 status code if the request was

        successful, or a standard Kantata OX error message explaining why the object could not be deleted.'
      operationId: Delete Account Membership
      tags:
      - Account Memberships
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      responses:
        '204':
          description: Account Membership has been deleted.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /account_memberships/{id}/disable:
    put:
      summary: Make a user inactive
      description: 'Disables a user in an account


        This endpoint returns structured Account Membership objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `account_memberships` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Deactivate Account Membership
      tags:
      - Account Memberships
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `backup_approver_associations` (BackupApproverAssociation) - Retrieves the [backup approver associations](/tag/Backup-Approver-Associations) for the user this account membership is for, which represent a backup time approver for a specific date range. The response will include `backup_approver_association_ids`, which references the data in the `backup_approver_associations` top-level key.

          - `cost_rates` (CostRate) - Retrieves all the cost rates in different currencies for the user this account membership is for. The response will include `cost_rate_ids`, which references the data in the `cost_rates` top-level key.

          - `default_role` (Role) - Retrieves the default role, if any, for this account membership. The response will include `default_role_id`, which references the data in the `roles` top-level key.

          - `effective_workweek` (Workweek) - Retrieves the workweek that is in effect today for the user this account membership is for. The response will include `effective_workweek_id`, which references the data in the `workweeks` top-level key.

          - `future_billable_utilizations` (BillableUtilization) - Retrieves the future billable utilizations for the user this account membership is for. The response will include `future_billable_utilization_ids`, which references the data in the `billable_utilizations` top-level key.

          - `managees` (User) - Retrieves the direct reports of the user this account membership is for. The response will include `managee_ids`, which references the data in the `users` top-level key.

          - `manager` (User) - Retrieves the manager of the user this account membership is for. The response will include `manager_id`, which references the data in the `users` top-level key.

          - `possible_managees` (User) - Retrieves a list of users who can become the direct reports of the user this account membership is for. The response will include `possible_managee_ids`, which references the data in the `users` top-level key.

          - `possible_managers` (User) - Retrieves a list of users who can be set as the manager of the user this account membership is for. The response will include `possible_manager_ids`, which references the data in the `users` top-level key.

          - `skill_memberships` (SkillMembership) - Retrieves the skill memberships for the user this account membership is for, which represent skills assigned to a user. The response will include `skill_membership_ids`, which references the data in the `skill_memberships` top-level key.

          - `user` (User) - Retrieves the user for this account membership. The response will include `user_id`, which references the data in the `users` top-level key.'
        schema:
          type: string
      - in: query
        name: optional_fields
        description: Allows you to request one or more optional fields as an array.
        schema:
          type: array
          items:
            type: string
            enum:
            - can_log_in
            - non_participant
      responses:
        '200':
          description: Account Membership has been updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  account_memberships:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/AccountMembership'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  roles:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Role'
                  workweeks:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Workweek'
                  skill_memberships:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/SkillMembership'
                  backup_approver_associations:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/BackupApproverAssociation'
                  cost_rates:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/CostRate'
                  billable_utilizations:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/BillableUtilization'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /account_memberships/{id}/enable:
    put:
      summary: Make a user active
      description: 'Enables a user in an account


        This endpoint returns structured Account Membership objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `account_memberships` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Activate Account Membership
      tags:
      - Account Memberships
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `backup_approver_associations` (BackupApproverAssociation) - Retrieves the [backup approver associations](/tag/Backup-Approver-Associations) for the user this account membership is for, which represent a backup time approver for a specific date range. The response will include `backup_approver_association_ids`, which references the data in the `backup_approver_associations` top-level key.

          - `cost_rates` (CostRate) - Retrieves all the cost rates in different currencies for the user this account membership is for. The response will include `cost_rate_ids`, which references the data in the `cost_rates` top-level key.

          - `default_role` (Role) - Retrieves the default role, if any, for this account membership. The response will include `default_role_id`, which references the data in the `roles` top-level key.

          - `effective_workweek` (Workweek) - Retrieves the workweek that is in effect today for the user this account membership is for. The response will include `effective_workweek_id`, which references the data in the `workweeks` top-level key.

          - `future_billable_utilizations` (BillableUtilization) - Retrieves the future billable utilizations for the user this account membership is for. The response will include `future_billable_utilization_ids`, which references the data in the `billable_utilizations` top-level key.

          - `managees` (User) - Retrieves the direct reports of the user this account membership is for. The response will include `managee_ids`, which references the data in the `users` top-level key.

          - `manager` (User) - Retrieves the manager of the user this account membership is for. The response will include `manager_id`, which references the data in the `users` top-level key.

          - `possible_managees` (User) - Retrieves a list of users who can become the direct reports of the user this account membership is for. The response will include `possible_managee_ids`, which references the data in the `users` top-level key.

          - `possible_managers` (User) - Retrieves a list of users who can be set as the manager of the user this account membership is for. The response will include `possible_manager_ids`, which references the data in the `users` top-level key.

          - `skill_memberships` (SkillMembership) - Retrieves the skill memberships for the user this account membership is for, which represent skills assigned to a user. The response will include `skill_membership_ids`, which references the data in the `skill_memberships` top-level key.

          - `user` (User) - Retrieves the user for this account membership. The response will include `user_id`, which references the data in the `users` top-level key.'
        schema:
          type: string
      - in: query
        name: optional_fields
        description: Allows you to request one or more optional fields as an array.
        schema:
          type: array
          items:
            type: string
            enum:
            - can_log_in
            - non_participant
      responses:
        '200':
          description: Account Membership has been updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  account_memberships:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/AccountMembership'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  roles:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Role'
                  workweeks:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Workweek'
                  skill_memberships:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/SkillMembership'
                  backup_approver_associations:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/BackupApproverAssociation'
                  cost_rates:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/CostRate'
                  billable_utilizations:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/BillableUtilization'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
components:
  schemas:
    Role:
      title: Role
      description: 'A Role represents the main position or title assigned to members on an account. Roles may be associated with account memberships, account invitations,

        participation, project template assignments, rate card roles, rate card versions, resources, or time adjustments.'
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        deleted_at:
          type: string
          format: date-time
          description: The time the role was deleted.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        name:
          type: string
          description: The name of the role.
        updated_at:
          type: string
          format: date-time
    Workweek:
      title: Workweek
      description: 'Workweeks are owned by an account. A workweek can be used as the account default, or

        can be associated to a user through a workweek membership.'
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          description: The date and time a workweek was last updated.
        default:
          type: boolean
          description: Whether the workweek is the default for the account.
        end_date:
          type: string
          format: date
          description: The end date of the workweek.
        friday_minutes:
          type: integer
          format: int32
          description: The number of available working minutes on Friday.
        monday_minutes:
          type: integer
          format: int32
          description: The number of available working minutes on Monday.
        saturday_minutes:
          type: integer
          format: int32
          description: The number of available working minutes on Saturday.
        start_date:
          type: string
          format: date
          description: The start date of the workweek.
        sunday_minutes:
          type: integer
          format: int32
          description: The number of available working minutes on Sunday.
        thursday_minutes:
          type: integer
          format: int32
          description: The number of available working minutes on Thursday.
        total_minutes:
          type: integer
          format: int32
          description: The total number of available working minutes for the week.
        tuesday_minutes:
          type: integer
          format: int32
          description: The number of available working minutes on Tuesday.
        updated_at:
          type: string
          format: date-time
          description: The date and time at which a workweek was created.
        wednesday_minutes:
          type: integer
          format: int32
          description: The number of available working minutes on Wednesday.
        workweek_membership_ids:
          type: array
          items:
            type: string
          description: '`workweek_membership_ids` will only be included in the response if `workweek_memberships` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    CostRate:
      title: Cost Rate
      description: 'A Cost Rate represents the hourly cost of an account member, specified in a specific currency. A Cost Rate with the same currency

        as the account default currency is called the `default cost rate`. This data can only be accessed by including

        it when querying Account Membership.'
      type: object
      properties:
        account_membership_id:
          type: integer
          format: int32
          description: The ID of the associated account membership.
        amount_in_subunits:
          type: integer
          format: int32
          description: The amount of the cost rate in the subunits of the currency (i.e. cents for US Dollars).
        created_at:
          type: string
          format: date-time
        currency:
          type: string
          description: The ISO code of the cost rate currency.
        in_use:
          type: boolean
          description: 'Indicates whether the account member associated with the cost rate is participating in a workspace

            on the account that uses the same currency as the cost rate.'
        updated_at:
          type: string
          format: date-time
    Error:
      type: object
      properties:
        type:
          type: string
        message:
          type: string
    BackupApproverAssociation:
      title: Backup Approver Association
      description: 'Backup Approver Associations describe when a backup approver will be active, or responsible

        for approving time.'
      type: object
      properties:
        approver_id:
          type: string
          description: '`approver_id` will only be included in the response if `approver` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        backup_approver_id:
          type: string
          description: '`backup_approver_id` will only be included in the response if `backup_approver` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        end_date:
          type: string
          format: date-time
          description: The backup approver end date.
        start_date:
          type: string
          format: date-time
          description: The backup approver start date.
    User:
      title: User
      description: 'Users represent the individuals that are participating in Kantata OX projects. User objects are often returned as

        nested JSON objects within other returned items such as Posts or Stories.'
      type: object
      properties:
        abbreviated_timezone:
          type: string
          description: 'The abbreviation for the user''s time zone.

            Only returned when requested through the optional_fields param.'
        account_membership_id:
          type: string
          description: '`account_membership_id` will only be included in the response if `account_membership` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        bio:
          type: string
          description: 'A biography (defined by the user).

            Only returned when requested through the optional_fields param.'
        city:
          type: string
          description: 'The home city of the user (based on their profile).

            Only returned when requested through the optional_fields param.'
        classification:
          type: string
          description: 'Indicates whether a user is Internal or External.

            Only returned when requested through the optional_fields param.'
        country:
          type: string
          description: 'The home country of the user (based on their profile).

            Only returned when requested through the optional_fields param.'
        custom_field_value_ids:
          type: array
          items:
            type: string
          description: '`custom_field_value_ids` will only be included in the response if `custom_field_values` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        email_address:
          type: string
          description: The email address of the user.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        full_name:
          type: string
          description: The full name of the user.
        headline:
          type: string
          description: A short description of the user.
        last_site_activity:
          type: string
          format: date-time
          description: 'The last time a user logged in. This field is only available in conjunction with the `on_my_account` filter option. Only visible when the API user is an Account Administrator.

            Only returned when requested through the optional_fields param.'
        manager_id:
          type: string
          description: '`manager_id` will only be included in the response if `manager` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        photo_path:
          type: string
          description: The URL of the user's profile photo.
        role_id:
          type: string
          description: '`role_id` will only be included in the response if `role` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        skill_ids:
          type: array
          items:
            type: string
          description: '`skill_ids` will only be included in the response if `skills` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        skill_membership_ids:
          type: array
          items:
            type: string
          description: '`skill_membership_ids` will only be included in the response if `skill_memberships` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        state:
          type: string
          description: 'The home state of the user (based on their profile).

            Only returned when requested through the optional_fields param.'
        website:
          type: string
          description: 'A website (defined by the user).

            Only returned when requested through the optional_fields param.'
        work_sample_ids:
          type: array
          items:
            type: string
          description: '`work_sample_ids` will only be included in the response if `work_samples` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    Errors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    AccountMembership:
      title: Account Membership
      description: An Account Membership represents the relationship of a user to an account.
      type: object
      properties:
        backup_approver_association_ids:
          type: array
          items:
            type: string
          description: '`backup_approver_association_ids` will only be included in the response if `backup_approver_associations` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        bill_rate_in_cents:
          type: integer
          format: int32
          description: 'The default billing rate, in cents, for the user in a workspace on this account when the workspace

            does not use rate card. This attribute is only accessible if the current user is a Project Lead.

            Visible when the account membership is on the same account as the API user. and the API user is an Account Project Lead..'
        billability_target:
          type: integer
          format: int32
          description: '

            Visible when the account membership is on the same account as the API user. and the API user is an Account Project Lead..'
        can_create_workspace:
          type: boolean
          description: Whether the user can create projects.
        can_log_in:
          type: boolean
          description: 'Whether the user can log in.

            Only returned when requested through the optional_fields param.'
        can_view_reports:
          type: boolean
          description: Whether the user can view reports.
        collaborator_only_license:
          type: boolean
          description: 'Whether the user is always a Collaborator in projects.

            Visible when the account membership is on the same account as the API user..'
        cost_rate_ids:
          type: array
          items:
            type: string
          description: '`cost_rate_ids` will only be included in the response if `cost_rates` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        cost_rate_in_cents:
          type: integer
          format: int32
          description: 'The default cost rate, in cents, for the user in a workspace on this account. This attribute is only

            accessible if the current user is an Administrator on the account.

            Visible when the account membership is on the same account as the API user. and the API user is an Account Administrator..'
        created_at:
          type: string
          format: date-time
        default_read_only:
          type: boolean
          description: Whether the user is always read-only in projects.
        default_role_id:
          type: string
          description: '`default_role_id` will only be included in the response if `default_role` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        disabled_at:
          type: string
          format: date-time
          description: The date when the account membership was disabled.
        effective_workweek_id:
          type: string
          description: '`effective_workweek_id` will only be included in the response if `effective_workweek` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        future_billable_utilization_ids:
          type: array
          items:
            type: string
          description: '`future_billable_utilization_ids` will only be included in the response if `future_billable_utilizations` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        is_administrator:
          type: boolean
          description: Whether the user is an Administrator.
        is_backup_approver:
          type: boolean
          description: Whether the user is a backup approver for others users on the account.
        is_owner:
          type: boolean
          description: The owner of the account.
        is_project_lead:
          type: boolean
          description: Whether the user is a Project Lead.
        is_punch_clock_user:
          type: boolean
          description: Whether the user is a Punch Clock User.
        managee_ids:
          type: array
          items:
            type: string
          description: '`managee_ids` will only be included in the response if `managees` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        manager_can_approve:
          type: boolean
          description: If present, the assigned manager can approve submitted time and expenses.
        manager_can_edit_skills:
          type: boolean
          description: If present, the assigned manager can edit the user's skills.
        manager_id:
          type: string
          description: '`manager_id` will only be included in the response if `manager` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        non_participant:
          type: boolean
          description: '

            Visible when the account membership is on the same account as the API user..


            Only returned when requested through the optional_fields param.'
        permission:
          type: string
          description: The user's access level. Options are administrator, reports_viewer_with_cost, reports_viewer, project_lead, project_creator, collaborator, external_collaborator, and punch_clock.
        possible_managee_ids:
          type: array
          items:
            type: string
          description: '`possible_managee_ids` will only be included in the response if `possible_managees` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        possible_manager_ids:
          type: array
          items:
            type: string
          description: '`possible_manager_ids` will only be included in the response if `possible_managers` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        should_show_alert_on_timesheet_submission:
          type: boolean
          description: Show an alert on a user's timesheet submission.
        skill_membership_ids:
          type: array
          items:
            type: string
          description: '`skill_membership_ids` will only be included in the response if `skill_memberships` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        updated_at:
          type: string
          format: date-time
        user_id:
          type: string
          description: '`user_id` will only be included in the response if `user` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    BillableUtilization:
      title: Billable Utilization
      description: Represents the billable utilization target for an account member. Each record has an effective date; the active billable utilization is the one with the most recent effective date.
      type: object
      properties:
        account_membership_id:
          type: string
          description: '`account_membership_id` will only be included in the response if `account_membership` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        created_at:
          type: string
          format: date-time
        creator_id:
          type: string
          description: '`creator_id` will only be included in the response if `creator` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        effective_date:
          type: string
          format: date
          description: Date this billable utilization becomes active and the target goes into effect. Targets go into effect on midnight of the date selected (based on the Time Zone set in the Profile of the member).
        target:
          type: integer
          format: int32
          description: Percentage of logged hours that should be billable.
        updated_at:
          type: string
          format: date-time
    SkillMembership:
      title: Skill Membership
      description: A Skill Membership represents a skill that has been assigned to a specified user.
      type: object
      properties:
        cached_skill_name:
          type: string
          description: The name of the skill.
        created_at:
          type: string
          format: date-time
        creator_id:
          type: string
          description: '`creator_id` will only be included in the response if `creator` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        level:
          type: integer
          format: int32
          description: The objects proficiency level for the skill (1-5).
        max_level:
          type: integer
          format: int32
          description: The maximum level assigned for the skill.
        skill_id:
          type: string
          description: '`skill_id` will only be included in the response if `skill` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        updated_at:
          type: string
          format: date-time
        user_id:
          type: string
          description: '`user_id` will only be included in the response if `user` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
  securitySchemes:
    BearerToken:
      type: apiKey
      name: Bearer
      in: header
    OauthSecurity:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://app.mavenlink.com/oauth/authorize
          tokenUrl: https://app.mavenlink.com/oauth/token
x-tagGroups:
- name: '# Subscribed Events'
  tags:
  - Event Types
  - Events
- name: Account Locations
  tags:
  - Account Locations
- name: Account Settings & Members
  tags:
  - Access Group Memberships
  - Account Colors
  - Account Invitations
  - Account Memberships
  - Backup Approver Associations
  - Billable Utilizations
  - Cost Rates
  - Custom Branding
  - Organization Memberships
  - Organizations
  - Roles
  - Skill Categories
  - Skill Memberships
  - Skills
  - Task Status Sets
  - Task Statuses
  - User Group Memberships
  - Users
- name: Currencies
  tags:
  - Currencies
- name: Custom Fields
  tags:
  - Custom Field Choices
  - Custom Field Sets
  - Custom Field Values
  - Custom Fields
- name: Data Exporter
  tags:
  - Data Export Schema
  - Data Exports
- name: Estimates
  tags:
  - Estimate Scenario Resource Allocations
  - Estimate Scenario Resources
  - Estimate Scenarios
  - Estimates
- name: Expense Budgets
  tags:
  - Expense Budgets
- name: Expense Tracking
  tags:
  - Attachments
  - Expense Categories
  - Expense Report Submissions
  - Expenses
  - Vendors
- name: External References
  tags:
  - External References
- name: Financials
  tags:
  - Billing Milestones
  - Revenue Recognition Methods
- name: Foreign Exchange
  tags:
  - Exchange Tables
- name: Insights & Analytics
  tags:
  - Insights Access Group Memberships
  - Insights Dynamic Dashboards
  - Insights Report Exports
  - Insights Reports
- name: Invoices
  tags:
  - Client Invoice Defaults
  - External Payments
  - Invoices
  - Workspace Invoice Preferences
- name: Personal Settings
  tags:
  - Users
- name: Posts & Replies
  tags:
  - Attachments
  - Posts
  - User File Associations
- name: Project Snapshots
  tags:
  - Project Snapshots
- name: Project Templates
  tags:
  - Project Template Additional Tabs
  - Project Template Assignments
  - Project Template Expense Budgets
  - Project Templates
- name: Projects
  tags:
  - Participations
  - Project Accounting Records
  - Status Reports
  - Workspace Allocations
  - Workspace Baselines
  - Workspace Groups
  - Workspace Invoice Preferences
  - Workspace Resource Skills
  - Workspace Resources
  - Workspace Status Changes
  - Workspace Task Status Sets
  - Workspaces
- name: Rate Cards
  tags:
  - Activations
  - Rate Card Role (Rate for a Role)
  - Rate Card Set Version (Effective version by Date)
  - Rate Card Sets (Group of Rate Cards)
  - Rate Card Table Rows
  - Rate Card Versions
  - Rate Cards (Multiple Currencies)
- name: Recommendations
  tags:
  - Recommendations
- name: Resource Requests
  tags:
  - Resource Requests
- name: Scheduling
  tags:
  - Holiday Calendar Associations
  - Holiday Calendar Memberships
  - Holiday Calendars
  - Holidays
  - Time Off Entries
  - Workweek Memberships
  - Workweeks
- name: Surveys (Legacy)
  tags:
  - Survey Answers (Legacy)
  - Survey Questions (Legacy)
  - Survey Templates (Legacy)
  - Surveys Responses (Legacy)
- name: Tasks
  tags:
  - Assignments
  - Daily Scheduled Hours (Story Allocation Days)
  - Followers
  - Stories
  - Story Dependencies
  - Story State Changes
  - Story Tasks
- name: Time Tracking
  tags:
  - Line Item Locks
  - Time Entries
  - Timesheet Approvals
  - Timesheet Cancellations
  - Timesheet Rejections
  - Timesheet Submissions
