openapi: 3.2.0
info:
  version: 1.0.0
  title: Kantata OX API Documentation Estimate Scenarios API
  description: Kantata OX's API provides access to the majority of Kantata OX's data model.
  termsOfService: https://www.kantata.com/terms-of-use
  contact:
    name: Kantata OX Support
    url: https://knowledge.kantata.com/hc/en-us
  license:
    name: COPYRIGHT © 2026 Kantata, Inc.
    url: https://www.kantata.com/terms-of-use
  x-logo:
    url: https://theme.zdassets.com/theme_assets/56104/04e93064d309f75d054b8cee885d1ea51e9be8f7.png
    backgroundColor: '#FFFFFF'
    altText: Kantata OX API Documentation
    href: https://developer.kantata.com
servers:
- url: https://api.mavenlink.com/api/v1
tags:
- name: Estimate Scenarios
  description: 'An Estimate Scenario is a possible project configuration, consisting of an estimated budget,

    rate card, resources, and other related fields for a specified estimate.'
paths:
  /estimate_scenarios:
    get:
      summary: Fetching a list of Estimate Scenarios
      description: 'This endpoint returns structured Estimate Scenario objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `estimate_scenarios` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Estimate Scenarios
      tags:
      - Estimate Scenarios
      parameters:
      - in: query
        name: created_after
        description: Filter for records created after a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: created_before
        description: Filter for records created before a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: external_reference_external_message
        description: Filter the objects based on the external message of their associated external references. This is an exact match.
        schema:
          type: string
      - in: query
        name: external_reference_external_status
        description: Filter by the status of the external object in the external system.
        schema:
          type: string
      - in: query
        name: external_reference_service_model
        description: Filter by the type of the external object this external reference belongs to.
        schema:
          type: string
      - in: query
        name: external_reference_service_model_ref
        description: Filter by the id of the external object this external reference belongs to.
        schema:
          type: integer
          format: int32
      - in: query
        name: external_reference_service_model_refs
        description: Filter for objects that correlate to the specified external object IDs. Provide a comma-separated list of up to 200 external IDs.
        schema:
          type: string
      - in: query
        name: external_reference_service_name
        description: Filter by the name of the provider for integration.
        schema:
          type: string
      - in: query
        name: external_reference_status
        description: Filter by the status of the integration, this can be successful or fail.
        schema:
          type: string
      - in: query
        name: has_external_references
        description: Filter by whether or not the object has external references.
        schema:
          type: boolean
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `estimate_scenario_resources` (EstimateScenarioResource) - The Estimate Scenario Resources of the Estimate Scenario.

          - `external_references` (ExternalReference) - Includes references to external integrations for this object.

          - `rate_card` (RateCard) - The rate card being used for the estimate scenario.'
        schema:
          type: string
      - in: query
        name: only
        description: 'Allows you to request one or more resources directly by ID. Multiple IDs can be supplied

          in a comma separated list, like `GET /api/v1/workspaces.json?only=5,6,7`.'
        schema:
          type: string
      - in: query
        name: order
        description: 'Supply `order` with the name of a valid sort field for the endpoint and a direction.


          Valid values: `name:asc` and `name:desc`.'
        schema:
          type: string
          default: name
      - in: query
        name: page
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        schema:
          type: integer
          format: int32
          default: 20
          maximum: 200
      - in: query
        name: updated_after
        description: Filter for records updated after a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: updated_before
        description: Filter for records updated before a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: without_external_reference_service_name
        description: Exclude by the existence of an external reference with the specified service name.
        schema:
          type: string
      responses:
        '200':
          description: A list of Estimate Scenarios have been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  estimate_scenarios:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/EstimateScenario'
                  external_references:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ExternalReference'
                  rate_cards:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCard'
                  estimate_scenario_resources:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/EstimateScenarioResource'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    post:
      summary: Creating a new Estimate Scenario
      description: 'This endpoint returns structured Estimate Scenario objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `estimate_scenarios` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Create Estimate Scenario
      tags:
      - Estimate Scenarios
      parameters:
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `estimate_scenario_resources` (EstimateScenarioResource) - The Estimate Scenario Resources of the Estimate Scenario.

          - `external_references` (ExternalReference) - Includes references to external integrations for this object.

          - `rate_card` (RateCard) - The rate card being used for the estimate scenario.'
        schema:
          type: string
      responses:
        '200':
          description: Estimate Scenario has been created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  estimate_scenarios:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/EstimateScenario'
                  external_references:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ExternalReference'
                  rate_cards:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCard'
                  estimate_scenario_resources:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/EstimateScenarioResource'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                estimate_scenario:
                  type: object
                  properties:
                    name:
                      type: string
                      description: The name of the scenario (must be a unique name within it's estimate).
                    estimate_id:
                      type: integer
                      format: int32
                      description: The ID of the estimate that is associated with the scenario.
                    start_date:
                      type: string
                      format: date
                      description: The planned start date of the project. The date must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
                    budget_in_cents:
                      type: integer
                      format: int32
                      description: The planned budget for the scenario.
                    rate_card_id:
                      type: integer
                      format: int32
                      description: 'The rate card being used to calculate the resources'' rates. If this is not provided,

                        a rate card with the same currency as the estimate will be selected from the

                        account default rate cards.'
                    external_reference:
                      type: object
                      description: 'Typically populated programmatically by a third party system via an integration, this is an optional

                        object that holds data from an external system. It connects objects in an external system with objects in

                        Kantata OX (for example, to connect a Jira issue to a Kantata OX Project).'
                      properties:
                        service_name:
                          type: string
                          description: The provider name of the integration. If you are adding multiple external references to the same object, the `service_name` must be unique.
                        service_model:
                          type: string
                          description: The object type of the external object this external reference belongs to.
                        service_model_ref:
                          type: string
                          description: The object ID of the external object this external reference belongs to.
                        status:
                          type: string
                          description: The status of the integration. Options are `successful`, `pending`,  or `failed`.
                        external_message:
                          type: string
                          description: The message on the external object.
                        external_link:
                          type: string
                          description: The link to the external object.
                        external_status:
                          type: string
                          description: The status of the external object in the external system.
                        locked:
                          type: boolean
                          description: Whether the subject is locked.
                      required:
                      - service_name
                      - service_model
                      - service_model_ref
                  required:
                  - name
                  - estimate_id
                  - start_date
        required: true
  /estimate_scenarios/{id}:
    get:
      summary: Fetching a single Estimate Scenario
      description: 'This endpoint returns structured Estimate Scenario objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `estimate_scenarios` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Estimate Scenario
      tags:
      - Estimate Scenarios
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `estimate_scenario_resources` (EstimateScenarioResource) - The Estimate Scenario Resources of the Estimate Scenario.

          - `external_references` (ExternalReference) - Includes references to external integrations for this object.

          - `rate_card` (RateCard) - The rate card being used for the estimate scenario.'
        schema:
          type: string
      responses:
        '200':
          description: The Estimate Scenario has been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  estimate_scenarios:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/EstimateScenario'
                  external_references:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ExternalReference'
                  rate_cards:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCard'
                  estimate_scenario_resources:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/EstimateScenarioResource'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    put:
      summary: Updating an existing Estimate Scenario
      description: 'This endpoint returns structured Estimate Scenario objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `estimate_scenarios` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Update Estimate Scenario
      tags:
      - Estimate Scenarios
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `estimate_scenario_resources` (EstimateScenarioResource) - The Estimate Scenario Resources of the Estimate Scenario.

          - `external_references` (ExternalReference) - Includes references to external integrations for this object.

          - `rate_card` (RateCard) - The rate card being used for the estimate scenario.'
        schema:
          type: string
      responses:
        '200':
          description: Estimate Scenario has been updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  estimate_scenarios:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/EstimateScenario'
                  external_references:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ExternalReference'
                  rate_cards:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCard'
                  estimate_scenario_resources:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/EstimateScenarioResource'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                estimate_scenario:
                  type: object
                  properties:
                    budget_in_cents:
                      type: integer
                      format: int32
                      description: The planned budget for the scenario.
                    name:
                      type: string
                      description: The name of the scenario (must be a unique name within it's estimate).
                    rate_card_id:
                      type: integer
                      format: int32
                      description: The rate card being used to calculate the resources' rates.
                    start_date:
                      type: string
                      format: date
                      description: The planned start date of the project. The date must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
                    external_reference:
                      type: object
                      description: 'Typically populated programmatically by a third party system via an integration, this is an optional

                        object that holds data from an external system. It connects objects in an external system with objects in

                        Kantata OX (for example, to connect a Jira issue to a Kantata OX Project).'
                      properties:
                        service_name:
                          type: string
                          description: The provider name of the integration. If you are adding multiple external references to the same object, the `service_name` must be unique.
                        service_model:
                          type: string
                          description: The object type of the external object this external reference belongs to.
                        service_model_ref:
                          type: string
                          description: The object ID of the external object this external reference belongs to.
                        status:
                          type: string
                          description: The status of the integration. Options are `successful`, `pending`,  or `failed`.
                        external_message:
                          type: string
                          description: The message on the external object.
                        external_link:
                          type: string
                          description: The link to the external object.
                        external_status:
                          type: string
                          description: The status of the external object in the external system.
                        locked:
                          type: boolean
                          description: Whether the subject is locked.
                      required:
                      - service_name
                      - service_model
                      - service_model_ref
        required: true
    delete:
      summary: Deleting an existing Estimate Scenario
      description: 'Deletes an estimate scenario, including all of its resources and their allocations.


        The response will contain no content and an HTTP 204 status code if the request was

        successful, or a standard Kantata OX error message explaining why the object could not be deleted.'
      operationId: Delete Estimate Scenario
      tags:
      - Estimate Scenarios
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      responses:
        '204':
          description: Estimate Scenario has been deleted.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
components:
  schemas:
    ExternalReference:
      title: External Reference
      description: 'External References allows users see which objects (one of `Assignment`, `BillingMilestone`, `CustomField`, `CustomFieldChoice`, `CustomFieldSet`, `CustomFieldValue`, `Estimate`, `EstimateScenario`, `EstimateScenarioResource`, `Expense`, `ExpenseBudget`, `Invoice`, `Participation`, `Post`, `RateCard`, `Role`, `Skill`, `StatusReport`, `Story`, `StoryAllocationDay`, `Submission`, `SurveyAnswer`, `SurveyQuestion`, `SurveyResponse`, `SurveyTemplate`, `TimeEntry`, `TimeOffEntry`, `User`, `Vendor`, `Workspace`, `WorkspaceAllocation`, `WorkspaceGroup`, or `WorkspaceResource`

        are synced with third party systems. This allows you to view the sync status of items in addition to the integration

        specifics for a synced object.


        Objects that are synced with a third party system have external integration

        attributes that include the corresponding ID of the third party object with

        which it is synced, a link that allows you to view the object in the third

        party system, the status of the external object in the external system,

        the status of the sync, and a link to exceptions.'
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          description: The date and time the reference was created.
        external_link:
          type: string
          description: A URL that links to either the external object or event.
        external_message:
          type: string
          description: An optional message about the external object.
        external_status:
          type: string
          description: The status of the external object in the external system.
        last_synced_at:
          type: string
          format: date-time
        locked:
          type: boolean
          description: 'An optional field, indicating whether the subject should be locked. To prevent changes to the

            object in Kantata OX, set this to true. This currently only applies to expense report rejections.'
        service_model:
          type: string
          description: The type of the external object to which this reference belongs.
        service_model_ref:
          type: string
          description: The ID of the external object to which this reference belongs.
        service_name:
          type: string
          description: The provider name of the integration.
        status:
          type: string
          description: The status of the integration. Options are 'pending', 'successful', or 'failed'.
        subject_id:
          type: integer
          format: int32
          description: The ID of the Kantata OX object to which this external reference belongs.
        subject_ref:
          type: object
          description: '`subject_ref` will only be included in the response if `subject` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
          properties:
            key:
              type: string
            id:
              type: string
        subject_type:
          type: string
          description: 'The type of Kantata OX object to which this external reference belongs.

            One of `Assignment`, `BillingMilestone`, `CustomField`, `CustomFieldChoice`, `CustomFieldSet`, `CustomFieldValue`, `Estimate`, `EstimateScenario`, `EstimateScenarioResource`, `Expense`, `ExpenseBudget`, `Invoice`, `Participation`, `Post`, `RateCard`, `Role`, `Skill`, `StatusReport`, `Story`, `StoryAllocationDay`, `Submission`, `SurveyAnswer`, `SurveyQuestion`, `SurveyResponse`, `SurveyTemplate`, `TimeEntry`, `TimeOffEntry`, `User`, `Vendor`, `Workspace`, `WorkspaceAllocation`, `WorkspaceGroup`, or `WorkspaceResource`.'
        updated_at:
          type: string
          format: date-time
          description: The date and time the reference was last updated.
    EstimateScenario:
      title: Estimate Scenario
      description: 'An Estimate Scenario represents a possible project configuration. It includes a rate card, budget, and

        associated resources and allocations.'
      type: object
      properties:
        budget_in_cents:
          type: integer
          format: int32
          description: The maximum budget, in cents, available for the project.
        created_at:
          type: string
          format: date-time
        estimate_id:
          type: integer
          format: int32
          description: The ID of the estimate for the scenario.
        estimate_scenario_resource_ids:
          type: array
          items:
            type: string
          description: '`estimate_scenario_resource_ids` will only be included in the response if `estimate_scenario_resources` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        name:
          type: string
          description: The name of the estimate scenario.
        rate_card_id:
          type: string
          description: '`rate_card_id` will only be included in the response if `rate_card` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        start_date:
          type: string
          format: date-time
          description: The estimated date when the project will start.
        target_margin_percent:
          type: integer
          format: int32
          description: The target profit margin, in percentage, for the project.
        updated_at:
          type: string
          format: date-time
    Error:
      type: object
      properties:
        type:
          type: string
        message:
          type: string
    RateCard:
      title: Rate Card
      description: 'A Rate Card belongs to a Rate Card Set, and represents a currency in the set. Rate Cards have

        many Rate Card Versions which represent the effective version of a Rate Card at a specified point of time.


        Rate Cards are accessible to users with Financial access (Project Lead or higher) on the account.'
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        currency:
          type: string
          description: The currency of the Rate Card.
        effective_rate_card_version_id:
          type: string
          description: '`effective_rate_card_version_id` will only be included in the response if `effective_rate_card_version` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        rate_card_set_id:
          type: string
          description: '`rate_card_set_id` will only be included in the response if `rate_card_set` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        rate_card_set_title:
          type: string
          description: The Rate Card Set and Currency.
        rate_card_version_ids:
          type: array
          items:
            type: string
          description: '`rate_card_version_ids` will only be included in the response if `rate_card_versions` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        removable:
          type: boolean
          description: Whether or not the Rate Card can be deleted.
        updated_at:
          type: string
          format: date-time
        uses:
          type: integer
          format: int32
          description: The total usage count of the Rate Card.
    EstimateScenarioResource:
      title: Estimate Scenario Resource
      description: An Estimate Scenario Resource is an unnamed resource in an estimate scenario.
      type: object
      properties:
        allocation_id:
          type: string
          description: '`allocation_id` will only be included in the response if `allocation` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        bill_rate:
          type: integer
          format: int32
          description: 'The bill rate, in cents, of the estimate scenario resource.

            When the estimate is unlocked, this is the average bill rate of all active account members in the

            scenario resource''s geography, whose default role matches the role of the scenario resource.

            When the estimate is locked, this the cached value of the average bill rate when the estimate was locked.'
        cost_rate:
          type: integer
          format: int32
          description: 'The cost rate, in cents, of the estimate scenario resource.

            When the estimate is unlocked, this is the average cost rate of all active account members in the

            scenario resource''s geography, whose default role matches the role of the scenario resource.

            When the estimate is locked, this the cached value of the average cost rate when the estimate was locked.'
        created_at:
          type: string
          format: date-time
        display_label:
          type: string
          description: User facing Identifier for the Resource.
        estimate_scenario_id:
          type: integer
          format: int32
          description: Id of the Estimate Scenario that the Resource belongs to.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        geography_id:
          type: string
          description: '`geography_id` will only be included in the response if `geography` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        label:
          type: string
        organization_membership_id:
          type: string
          description: '`organization_membership_id` will only be included in the response if `organization_membership` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        role_id:
          type: string
          description: '`role_id` will only be included in the response if `role` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        role_name:
          type: string
          description: Name of the Resource's role if any.
        updated_at:
          type: string
          format: date-time
        user_id:
          type: string
          description: '`user_id` will only be included in the response if `user` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    Errors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    BearerToken:
      type: apiKey
      name: Bearer
      in: header
    OauthSecurity:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://app.mavenlink.com/oauth/authorize
          tokenUrl: https://app.mavenlink.com/oauth/token
x-tagGroups:
- name: '# Subscribed Events'
  tags:
  - Event Types
  - Events
- name: Account Locations
  tags:
  - Account Locations
- name: Account Settings & Members
  tags:
  - Access Group Memberships
  - Account Colors
  - Account Invitations
  - Account Memberships
  - Backup Approver Associations
  - Billable Utilizations
  - Cost Rates
  - Custom Branding
  - Organization Memberships
  - Organizations
  - Roles
  - Skill Categories
  - Skill Memberships
  - Skills
  - Task Status Sets
  - Task Statuses
  - User Group Memberships
  - Users
- name: Currencies
  tags:
  - Currencies
- name: Custom Fields
  tags:
  - Custom Field Choices
  - Custom Field Sets
  - Custom Field Values
  - Custom Fields
- name: Data Exporter
  tags:
  - Data Export Schema
  - Data Exports
- name: Estimates
  tags:
  - Estimate Scenario Resource Allocations
  - Estimate Scenario Resources
  - Estimate Scenarios
  - Estimates
- name: Expense Budgets
  tags:
  - Expense Budgets
- name: Expense Tracking
  tags:
  - Attachments
  - Expense Categories
  - Expense Report Submissions
  - Expenses
  - Vendors
- name: External References
  tags:
  - External References
- name: Financials
  tags:
  - Billing Milestones
  - Revenue Recognition Methods
- name: Foreign Exchange
  tags:
  - Exchange Tables
- name: Insights & Analytics
  tags:
  - Insights Access Group Memberships
  - Insights Dynamic Dashboards
  - Insights Report Exports
  - Insights Reports
- name: Invoices
  tags:
  - Client Invoice Defaults
  - External Payments
  - Invoices
  - Workspace Invoice Preferences
- name: Personal Settings
  tags:
  - Users
- name: Posts & Replies
  tags:
  - Attachments
  - Posts
  - User File Associations
- name: Project Snapshots
  tags:
  - Project Snapshots
- name: Project Templates
  tags:
  - Project Template Additional Tabs
  - Project Template Assignments
  - Project Template Expense Budgets
  - Project Templates
- name: Projects
  tags:
  - Participations
  - Project Accounting Records
  - Status Reports
  - Workspace Allocations
  - Workspace Baselines
  - Workspace Groups
  - Workspace Invoice Preferences
  - Workspace Resource Skills
  - Workspace Resources
  - Workspace Status Changes
  - Workspace Task Status Sets
  - Workspaces
- name: Rate Cards
  tags:
  - Activations
  - Rate Card Role (Rate for a Role)
  - Rate Card Set Version (Effective version by Date)
  - Rate Card Sets (Group of Rate Cards)
  - Rate Card Table Rows
  - Rate Card Versions
  - Rate Cards (Multiple Currencies)
- name: Recommendations
  tags:
  - Recommendations
- name: Resource Requests
  tags:
  - Resource Requests
- name: Scheduling
  tags:
  - Holiday Calendar Associations
  - Holiday Calendar Memberships
  - Holiday Calendars
  - Holidays
  - Time Off Entries
  - Workweek Memberships
  - Workweeks
- name: Surveys (Legacy)
  tags:
  - Survey Answers (Legacy)
  - Survey Questions (Legacy)
  - Survey Templates (Legacy)
  - Surveys Responses (Legacy)
- name: Tasks
  tags:
  - Assignments
  - Daily Scheduled Hours (Story Allocation Days)
  - Followers
  - Stories
  - Story Dependencies
  - Story State Changes
  - Story Tasks
- name: Time Tracking
  tags:
  - Line Item Locks
  - Time Entries
  - Timesheet Approvals
  - Timesheet Cancellations
  - Timesheet Rejections
  - Timesheet Submissions
