openapi: 3.2.0
info:
  version: 1.0.0
  title: Kantata OX API Documentation Rate Card Versions API
  description: Kantata OX's API provides access to the majority of Kantata OX's data model.
  termsOfService: https://www.kantata.com/terms-of-use
  contact:
    name: Kantata OX Support
    url: https://knowledge.kantata.com/hc/en-us
  license:
    name: COPYRIGHT © 2026 Kantata, Inc.
    url: https://www.kantata.com/terms-of-use
  x-logo:
    url: https://theme.zdassets.com/theme_assets/56104/04e93064d309f75d054b8cee885d1ea51e9be8f7.png
    backgroundColor: '#FFFFFF'
    altText: Kantata OX API Documentation
    href: https://developer.kantata.com
servers:
- url: https://api.mavenlink.com/api/v1
tags:
- name: Rate Card Versions
  description: 'Rate Card Versions represent a snapshot of a Rate Card at a specified point in time. They are used to set the

    default rate. Rate Card Versions belong to a Rate Card Set Version and own many Rate Card Roles.


    Rate Card Versions cannot be explicitly created. This is done through the creation of Rate Cards or

    Rate Card Set Versions.'
paths:
  /rate_card_versions:
    get:
      summary: Fetching a list of Rate Card Versions
      description: 'Rate Card Versions are only accessible by Administrators on the account.


        This endpoint returns structured Rate Card Version objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `rate_card_versions` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Rate Card Versions
      tags:
      - Rate Card Versions
      parameters:
      - in: query
        name: created_after
        description: Filter for records created after a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: created_before
        description: Filter for records created before a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: effective_on_date
        description: 'Returns Rate Card Versions that are effective on the requested date.

          The date should be in `<ISO_8601 Date Format>` eg. `''2014-02-25''`. The date must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.'
        schema:
          type: string
          format: date
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `rate_card` (RateCard) - The Rate Card to which this version belongs.

          - `rate_card_roles` (RateCardRole) - The Rate Card Roles owned by this Rate Card Version.

          - `rate_card_set_version` (RateCardSetVersion) - The Rate Card Set Version to which this version belongs.'
        schema:
          type: string
      - in: query
        name: only
        description: 'Allows you to request one or more resources directly by ID. Multiple IDs can be supplied

          in a comma separated list, like `GET /api/v1/workspaces.json?only=5,6,7`.'
        schema:
          type: string
      - in: query
        name: order
        description: 'Supply `order` with the name of a valid sort field for the endpoint and a direction.


          Valid values: `created_at:asc` and `created_at:desc`.'
        schema:
          type: string
          default: created_at:desc
      - in: query
        name: page
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        schema:
          type: integer
          format: int32
          default: 20
          maximum: 200
      - in: query
        name: rate_card_id
        description: Restricts Rate Card Versions to the specified Rate Card ID.
        schema:
          type: integer
          format: int32
      - in: query
        name: rate_card_set_id
        description: Restricts Rate Card Versions to the specified Rate Card Set ID.
        schema:
          type: integer
          format: int32
      - in: query
        name: rate_card_set_version_id
        description: Restricts Rate Card Versions to the specified Rate Card Set Version ID.
        schema:
          type: integer
          format: int32
      - in: query
        name: updated_after
        description: Filter for records updated after a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: updated_before
        description: Filter for records updated before a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: A list of Rate Card Versions have been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  rate_card_versions:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardVersion'
                  rate_cards:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCard'
                  rate_card_set_versions:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardSetVersion'
                  rate_card_roles:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardRole'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /rate_card_versions/{id}:
    get:
      summary: Fetching a single Rate Card Version
      description: 'Rate Card Versions are only accessible by Administrators on the account.


        This endpoint returns structured Rate Card Version objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `rate_card_versions` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Rate Card Version
      tags:
      - Rate Card Versions
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `rate_card` (RateCard) - The Rate Card to which this version belongs.

          - `rate_card_roles` (RateCardRole) - The Rate Card Roles owned by this Rate Card Version.

          - `rate_card_set_version` (RateCardSetVersion) - The Rate Card Set Version to which this version belongs.'
        schema:
          type: string
      responses:
        '200':
          description: The Rate Card Version has been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  rate_card_versions:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardVersion'
                  rate_cards:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCard'
                  rate_card_set_versions:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardSetVersion'
                  rate_card_roles:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardRole'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    put:
      summary: Updating an existing Rate Card Version
      description: 'Rate Card Versions can only be modified by Administrators on the account.


        This endpoint returns structured Rate Card Version objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `rate_card_versions` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Update Rate Card Version
      tags:
      - Rate Card Versions
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `rate_card` (RateCard) - The Rate Card to which this version belongs.

          - `rate_card_roles` (RateCardRole) - The Rate Card Roles owned by this Rate Card Version.

          - `rate_card_set_version` (RateCardSetVersion) - The Rate Card Set Version to which this version belongs.'
        schema:
          type: string
      responses:
        '200':
          description: Rate Card Version has been updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  rate_card_versions:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardVersion'
                  rate_cards:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCard'
                  rate_card_set_versions:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardSetVersion'
                  rate_card_roles:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardRole'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rate_card_version:
                  type: object
                  properties:
                    default_rate:
                      type: integer
                      format: int32
                      description: The default rate for all roles that do not have explicit rates associated with them.
                  required:
                  - default_rate
        required: true
components:
  schemas:
    Error:
      type: object
      properties:
        type:
          type: string
        message:
          type: string
    RateCard:
      title: Rate Card
      description: 'A Rate Card belongs to a Rate Card Set, and represents a currency in the set. Rate Cards have

        many Rate Card Versions which represent the effective version of a Rate Card at a specified point of time.


        Rate Cards are accessible to users with Financial access (Project Lead or higher) on the account.'
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        currency:
          type: string
          description: The currency of the Rate Card.
        effective_rate_card_version_id:
          type: string
          description: '`effective_rate_card_version_id` will only be included in the response if `effective_rate_card_version` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        rate_card_set_id:
          type: string
          description: '`rate_card_set_id` will only be included in the response if `rate_card_set` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        rate_card_set_title:
          type: string
          description: The Rate Card Set and Currency.
        rate_card_version_ids:
          type: array
          items:
            type: string
          description: '`rate_card_version_ids` will only be included in the response if `rate_card_versions` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        removable:
          type: boolean
          description: Whether or not the Rate Card can be deleted.
        updated_at:
          type: string
          format: date-time
        uses:
          type: integer
          format: int32
          description: The total usage count of the Rate Card.
    RateCardRole:
      title: Rate Card Role
      description: 'A Rate Card Role belongs to a Rate Card Version and represents the bill rate, in cents per hour, for a Role

        For example, the rate for a developer may be 2000 cents per hour.'
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        rate:
          type: integer
          format: int32
          description: The bill rate, in cents per hour, for the Rate Card Role.
        rate_card_version_id:
          type: string
          description: '`rate_card_version_id` will only be included in the response if `rate_card_version` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        role_id:
          type: string
          description: '`role_id` will only be included in the response if `role` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        updated_at:
          type: string
          format: date-time
    Errors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    RateCardSetVersion:
      title: Rate Card Set Version
      description: "Rate Card Set Versions represent a snapshot of a Rate Card Set\n  which takes effect on the set published date. A Rate Card Set Version owns a copy of each Rate Card Version\n   of a Rate Card on the associated Rate Card Set.\nRate Card Set Versions are only accessible, editable and publishable by Administrators on the account."
      type: object
      properties:
        active:
          type: boolean
          description: Whether the Rate Card Set Version is published.
        created_at:
          type: string
          format: date-time
        effective_date:
          type: string
          format: date
          description: The date on which the Rate Card Set Version take effect.
        rate_card_set_id:
          type: string
          description: '`rate_card_set_id` will only be included in the response if `rate_card_set` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        rate_card_version_ids:
          type: array
          items:
            type: string
          description: '`rate_card_version_ids` will only be included in the response if `rate_card_versions` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        updated_at:
          type: string
          format: date-time
        used_currencies:
          type: array
          items:
            type: string
          description: Available currencies on Rate Cards associated with this Rate Card Set Version.
    RateCardVersion:
      title: Rate Card Version
      description: 'A Rate Card Version represents a snapshot of a Rate Card at a specified point in time and is used to set the

        default rate. It belongs to a Rate Card Set Version and can own many Rate Card Roles.


        The default Rate is the Rate applied for any Roles that do not explicitly have a Rate set.'
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        default_rate:
          type: integer
          format: int32
          description: The default Rate for any Role that does not explicitly have a Rate associated with it.
        rate_card_id:
          type: string
          description: '`rate_card_id` will only be included in the response if `rate_card` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        rate_card_role_ids:
          type: array
          items:
            type: string
          description: '`rate_card_role_ids` will only be included in the response if `rate_card_roles` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        rate_card_set_version_id:
          type: string
          description: '`rate_card_set_version_id` will only be included in the response if `rate_card_set_version` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        updated_at:
          type: string
          format: date-time
  securitySchemes:
    BearerToken:
      type: apiKey
      name: Bearer
      in: header
    OauthSecurity:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://app.mavenlink.com/oauth/authorize
          tokenUrl: https://app.mavenlink.com/oauth/token
x-tagGroups:
- name: '# Subscribed Events'
  tags:
  - Event Types
  - Events
- name: Account Locations
  tags:
  - Account Locations
- name: Account Settings & Members
  tags:
  - Access Group Memberships
  - Account Colors
  - Account Invitations
  - Account Memberships
  - Backup Approver Associations
  - Billable Utilizations
  - Cost Rates
  - Custom Branding
  - Organization Memberships
  - Organizations
  - Roles
  - Skill Categories
  - Skill Memberships
  - Skills
  - Task Status Sets
  - Task Statuses
  - User Group Memberships
  - Users
- name: Currencies
  tags:
  - Currencies
- name: Custom Fields
  tags:
  - Custom Field Choices
  - Custom Field Sets
  - Custom Field Values
  - Custom Fields
- name: Data Exporter
  tags:
  - Data Export Schema
  - Data Exports
- name: Estimates
  tags:
  - Estimate Scenario Resource Allocations
  - Estimate Scenario Resources
  - Estimate Scenarios
  - Estimates
- name: Expense Budgets
  tags:
  - Expense Budgets
- name: Expense Tracking
  tags:
  - Attachments
  - Expense Categories
  - Expense Report Submissions
  - Expenses
  - Vendors
- name: External References
  tags:
  - External References
- name: Financials
  tags:
  - Billing Milestones
  - Revenue Recognition Methods
- name: Foreign Exchange
  tags:
  - Exchange Tables
- name: Insights & Analytics
  tags:
  - Insights Access Group Memberships
  - Insights Dynamic Dashboards
  - Insights Report Exports
  - Insights Reports
- name: Invoices
  tags:
  - Client Invoice Defaults
  - External Payments
  - Invoices
  - Workspace Invoice Preferences
- name: Personal Settings
  tags:
  - Users
- name: Posts & Replies
  tags:
  - Attachments
  - Posts
  - User File Associations
- name: Project Snapshots
  tags:
  - Project Snapshots
- name: Project Templates
  tags:
  - Project Template Additional Tabs
  - Project Template Assignments
  - Project Template Expense Budgets
  - Project Templates
- name: Projects
  tags:
  - Participations
  - Project Accounting Records
  - Status Reports
  - Workspace Allocations
  - Workspace Baselines
  - Workspace Groups
  - Workspace Invoice Preferences
  - Workspace Resource Skills
  - Workspace Resources
  - Workspace Status Changes
  - Workspace Task Status Sets
  - Workspaces
- name: Rate Cards
  tags:
  - Activations
  - Rate Card Role (Rate for a Role)
  - Rate Card Set Version (Effective version by Date)
  - Rate Card Sets (Group of Rate Cards)
  - Rate Card Table Rows
  - Rate Card Versions
  - Rate Cards (Multiple Currencies)
- name: Recommendations
  tags:
  - Recommendations
- name: Resource Requests
  tags:
  - Resource Requests
- name: Scheduling
  tags:
  - Holiday Calendar Associations
  - Holiday Calendar Memberships
  - Holiday Calendars
  - Holidays
  - Time Off Entries
  - Workweek Memberships
  - Workweeks
- name: Surveys (Legacy)
  tags:
  - Survey Answers (Legacy)
  - Survey Questions (Legacy)
  - Survey Templates (Legacy)
  - Surveys Responses (Legacy)
- name: Tasks
  tags:
  - Assignments
  - Daily Scheduled Hours (Story Allocation Days)
  - Followers
  - Stories
  - Story Dependencies
  - Story State Changes
  - Story Tasks
- name: Time Tracking
  tags:
  - Line Item Locks
  - Time Entries
  - Timesheet Approvals
  - Timesheet Cancellations
  - Timesheet Rejections
  - Timesheet Submissions
