openapi: 3.2.0
info:
  version: 1.0.0
  title: Kantata OX API Documentation User Group Memberships API
  description: Kantata OX's API provides access to the majority of Kantata OX's data model.
  termsOfService: https://www.kantata.com/terms-of-use
  contact:
    name: Kantata OX Support
    url: https://knowledge.kantata.com/hc/en-us
  license:
    name: COPYRIGHT © 2026 Kantata, Inc.
    url: https://www.kantata.com/terms-of-use
  x-logo:
    url: https://theme.zdassets.com/theme_assets/56104/04e93064d309f75d054b8cee885d1ea51e9be8f7.png
    backgroundColor: '#FFFFFF'
    altText: Kantata OX API Documentation
    href: https://developer.kantata.com
servers:
- url: https://api.mavenlink.com/api/v1
tags:
- name: User Group Memberships
  description: A User Group Membership represents the connection of a user to a Workspace Group. You must be an Account Administrator to use these endpoints.
paths:
  /user_group_memberships:
    get:
      summary: Fetching a list of User Group Memberships
      description: 'This endpoint returns structured User Group Membership objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `user_group_memberships` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get User Group Memberships
      tags:
      - User Group Memberships
      parameters:
      - in: query
        name: group_ids
        description: Return only memberships associated with the specified Workspace Group IDs. Provide a comma-separated list of Workspace Group IDs or an array of IDs. For example, `10,20`.
        schema:
          type: string
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `user` (User) - Retrieves the associated user. The response will include `user_id`, which references the data in the `users` top-level key.

          - `workspace_group` (WorkspaceGroup) - Retrieves the associated Workspace Group. The response will include `workspace_group_id`, which references the data in the `workspace_groups` top-level key.'
        schema:
          type: string
      - in: query
        name: only
        description: 'Allows you to request one or more resources directly by ID. Multiple IDs can be supplied

          in a comma separated list, like `GET /api/v1/workspaces.json?only=5,6,7`.'
        schema:
          type: string
      - in: query
        name: order
        description: 'Supply `order` with the name of a valid sort field for the endpoint and a direction.


          Valid values: `created_at:asc` and `created_at:desc`.'
        schema:
          type: string
          default: created_at:desc
      - in: query
        name: page
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        schema:
          type: integer
          format: int32
          default: 20
          maximum: 200
      - in: query
        name: user_ids
        description: Return only memberships associated with the specified user IDs. Provide a comma-separated list of user IDs or an array of IDs. For example, `10,20`.
        schema:
          type: string
      responses:
        '200':
          description: A list of User Group Memberships have been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  user_group_memberships:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/UserWorkspaceGroup'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  workspace_groups:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkspaceGroup'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    post:
      summary: Creating a new User Group Membership
      description: 'Adds a user to a Workspace Group.


        **Bulk Create**


        This endpoint supports bulk creating up to 100 objects. In the request body, set the top-level key to its plural form and place the objects in an array. Example:


        ```

        {

        "user_group_memberships": [

        {

        "user_id": 123,

        "workspace_group_id": 111

        },

        {

        "user_id": 456,

        "workspace_group_id": 111

        }

        ]

        }

        ```


        This endpoint returns structured User Group Membership objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `user_group_memberships` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Create User Group Memberships
      tags:
      - User Group Memberships
      parameters:
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `user` (User) - Retrieves the associated user. The response will include `user_id`, which references the data in the `users` top-level key.

          - `workspace_group` (WorkspaceGroup) - Retrieves the associated Workspace Group. The response will include `workspace_group_id`, which references the data in the `workspace_groups` top-level key.'
        schema:
          type: string
      responses:
        '200':
          description: User Group Membership has been created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  user_group_memberships:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/UserWorkspaceGroup'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  workspace_groups:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkspaceGroup'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user_group_membership:
                  type: object
                  properties:
                    user_id:
                      type: integer
                      format: int32
                      description: The ID of the user to add to the Workspace Group.
                    workspace_group_id:
                      type: integer
                      format: int32
                      description: The ID of the Workspace Group to add the user to.
                  required:
                  - user_id
                  - workspace_group_id
        required: true
  /user_group_memberships/{id}:
    delete:
      summary: Deleting an existing User Group Membership
      description: 'Removes a user from a Workspace Group.


        The response will contain no content and an HTTP 204 status code if the request was

        successful, or a standard Kantata OX error message explaining why the object could not be deleted.'
      operationId: Delete User Group Membership
      tags:
      - User Group Memberships
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      responses:
        '204':
          description: User Group Membership has been deleted.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
components:
  schemas:
    UserWorkspaceGroup:
      title: User Group Membership
      description: A User Group Membership represents the connection of a user to a [Workspace Group](/tag/Workspace-Groups).
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          description: When the user was assigned to the Workspace Group.
        creator_id:
          type: integer
          format: int32
          description: The ID of the user that assigned the associated user to the Workspace Group.
        user_id:
          type: integer
          format: int32
          description: The ID of the user that is assigned to the Workspace Group.
        workspace_group_id:
          type: integer
          format: int32
          description: The ID of the Workspace Group the user is assigned to.
    WorkspaceGroup:
      title: Workspace Group
      description: 'Workspace Groups (also known as groups) allow for the categorization of Kantata OX Workspaces and Users. Workspace Groups are unique to each Kantata OX Account. These endpoints allow you to fetch, create, update, and delete Workspace Groups.


        To add a workspace to a Workspace Group, use the [create workspace](/tag/Workspaces#operation/create-workspace) or [update workspace](/tag/Workspaces#operation/update-workspace) endpoint and set the `workspace_group_ids` field.


        To add a user to a Workspace Group, use the [create user group membership](/tag/User-Group-Memberships#operation/create-user-group-memberships) endpoint.'
      type: object
      properties:
        address:
          type: string
          description: The address of the company contact.
        company:
          type: boolean
          description: Whether the group represents a company.
        contact_name:
          type: string
          description: The name of the company contact.
        created_at:
          type: string
          format: date-time
          description: When the group was created.
        email:
          type: string
          description: The email of the company contact.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        name:
          type: string
          description: The name of the group.
        notes:
          type: string
          description: Notes on the group.
        phone_number:
          type: string
          description: The phone number of the company contact.
        rate_card_set_ids:
          type: array
          items:
            type: string
          description: '`rate_card_set_ids` will only be included in the response if `rate_card_sets` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        updated_at:
          type: string
          format: date-time
          description: When the group was last updated.
        website:
          type: string
          description: The website of the company contact.
        workspace_ids:
          type: array
          items:
            type: string
          description: '`workspace_ids` will only be included in the response if `workspaces` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    Error:
      type: object
      properties:
        type:
          type: string
        message:
          type: string
    User:
      title: User
      description: 'Users represent the individuals that are participating in Kantata OX projects. User objects are often returned as

        nested JSON objects within other returned items such as Posts or Stories.'
      type: object
      properties:
        abbreviated_timezone:
          type: string
          description: 'The abbreviation for the user''s time zone.

            Only returned when requested through the optional_fields param.'
        account_membership_id:
          type: string
          description: '`account_membership_id` will only be included in the response if `account_membership` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        bio:
          type: string
          description: 'A biography (defined by the user).

            Only returned when requested through the optional_fields param.'
        city:
          type: string
          description: 'The home city of the user (based on their profile).

            Only returned when requested through the optional_fields param.'
        classification:
          type: string
          description: 'Indicates whether a user is Internal or External.

            Only returned when requested through the optional_fields param.'
        country:
          type: string
          description: 'The home country of the user (based on their profile).

            Only returned when requested through the optional_fields param.'
        custom_field_value_ids:
          type: array
          items:
            type: string
          description: '`custom_field_value_ids` will only be included in the response if `custom_field_values` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        email_address:
          type: string
          description: The email address of the user.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        full_name:
          type: string
          description: The full name of the user.
        headline:
          type: string
          description: A short description of the user.
        last_site_activity:
          type: string
          format: date-time
          description: 'The last time a user logged in. This field is only available in conjunction with the `on_my_account` filter option. Only visible when the API user is an Account Administrator.

            Only returned when requested through the optional_fields param.'
        manager_id:
          type: string
          description: '`manager_id` will only be included in the response if `manager` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        photo_path:
          type: string
          description: The URL of the user's profile photo.
        role_id:
          type: string
          description: '`role_id` will only be included in the response if `role` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        skill_ids:
          type: array
          items:
            type: string
          description: '`skill_ids` will only be included in the response if `skills` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        skill_membership_ids:
          type: array
          items:
            type: string
          description: '`skill_membership_ids` will only be included in the response if `skill_memberships` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        state:
          type: string
          description: 'The home state of the user (based on their profile).

            Only returned when requested through the optional_fields param.'
        website:
          type: string
          description: 'A website (defined by the user).

            Only returned when requested through the optional_fields param.'
        work_sample_ids:
          type: array
          items:
            type: string
          description: '`work_sample_ids` will only be included in the response if `work_samples` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    Errors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    BearerToken:
      type: apiKey
      name: Bearer
      in: header
    OauthSecurity:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://app.mavenlink.com/oauth/authorize
          tokenUrl: https://app.mavenlink.com/oauth/token
x-tagGroups:
- name: '# Subscribed Events'
  tags:
  - Event Types
  - Events
- name: Account Locations
  tags:
  - Account Locations
- name: Account Settings & Members
  tags:
  - Access Group Memberships
  - Account Colors
  - Account Invitations
  - Account Memberships
  - Backup Approver Associations
  - Billable Utilizations
  - Cost Rates
  - Custom Branding
  - Organization Memberships
  - Organizations
  - Roles
  - Skill Categories
  - Skill Memberships
  - Skills
  - Task Status Sets
  - Task Statuses
  - User Group Memberships
  - Users
- name: Currencies
  tags:
  - Currencies
- name: Custom Fields
  tags:
  - Custom Field Choices
  - Custom Field Sets
  - Custom Field Values
  - Custom Fields
- name: Data Exporter
  tags:
  - Data Export Schema
  - Data Exports
- name: Estimates
  tags:
  - Estimate Scenario Resource Allocations
  - Estimate Scenario Resources
  - Estimate Scenarios
  - Estimates
- name: Expense Budgets
  tags:
  - Expense Budgets
- name: Expense Tracking
  tags:
  - Attachments
  - Expense Categories
  - Expense Report Submissions
  - Expenses
  - Vendors
- name: External References
  tags:
  - External References
- name: Financials
  tags:
  - Billing Milestones
  - Revenue Recognition Methods
- name: Foreign Exchange
  tags:
  - Exchange Tables
- name: Insights & Analytics
  tags:
  - Insights Access Group Memberships
  - Insights Dynamic Dashboards
  - Insights Report Exports
  - Insights Reports
- name: Invoices
  tags:
  - Client Invoice Defaults
  - External Payments
  - Invoices
  - Workspace Invoice Preferences
- name: Personal Settings
  tags:
  - Users
- name: Posts & Replies
  tags:
  - Attachments
  - Posts
  - User File Associations
- name: Project Snapshots
  tags:
  - Project Snapshots
- name: Project Templates
  tags:
  - Project Template Additional Tabs
  - Project Template Assignments
  - Project Template Expense Budgets
  - Project Templates
- name: Projects
  tags:
  - Participations
  - Project Accounting Records
  - Status Reports
  - Workspace Allocations
  - Workspace Baselines
  - Workspace Groups
  - Workspace Invoice Preferences
  - Workspace Resource Skills
  - Workspace Resources
  - Workspace Status Changes
  - Workspace Task Status Sets
  - Workspaces
- name: Rate Cards
  tags:
  - Activations
  - Rate Card Role (Rate for a Role)
  - Rate Card Set Version (Effective version by Date)
  - Rate Card Sets (Group of Rate Cards)
  - Rate Card Table Rows
  - Rate Card Versions
  - Rate Cards (Multiple Currencies)
- name: Recommendations
  tags:
  - Recommendations
- name: Resource Requests
  tags:
  - Resource Requests
- name: Scheduling
  tags:
  - Holiday Calendar Associations
  - Holiday Calendar Memberships
  - Holiday Calendars
  - Holidays
  - Time Off Entries
  - Workweek Memberships
  - Workweeks
- name: Surveys (Legacy)
  tags:
  - Survey Answers (Legacy)
  - Survey Questions (Legacy)
  - Survey Templates (Legacy)
  - Surveys Responses (Legacy)
- name: Tasks
  tags:
  - Assignments
  - Daily Scheduled Hours (Story Allocation Days)
  - Followers
  - Stories
  - Story Dependencies
  - Story State Changes
  - Story Tasks
- name: Time Tracking
  tags:
  - Line Item Locks
  - Time Entries
  - Timesheet Approvals
  - Timesheet Cancellations
  - Timesheet Rejections
  - Timesheet Submissions
