openapi: 3.2.0
info:
  version: 1.0.0
  title: Kantata OX API Documentation Users API
  description: Kantata OX's API provides access to the majority of Kantata OX's data model.
  termsOfService: https://www.kantata.com/terms-of-use
  contact:
    name: Kantata OX Support
    url: https://knowledge.kantata.com/hc/en-us
  license:
    name: COPYRIGHT © 2026 Kantata, Inc.
    url: https://www.kantata.com/terms-of-use
  x-logo:
    url: https://theme.zdassets.com/theme_assets/56104/04e93064d309f75d054b8cee885d1ea51e9be8f7.png
    backgroundColor: '#FFFFFF'
    altText: Kantata OX API Documentation
    href: https://developer.kantata.com
servers:
- url: https://api.mavenlink.com/api/v1
tags:
- name: Users
  description: 'Users represent the individuals that are participating in Kantata OX projects . User objects are often returned as

    nested JSON objects within other returned items such as posts or tasks.'
paths:
  /users:
    get:
      summary: Fetching visible users
      description: 'This endpoint allows you to access all visible users based on the permission level of the requester.


        > **Note**: This endpoint relies on project participation and will not return a member of your account

        who is not in a project. To see all users on the account, use the `on_my_account` option.


        If the requester is an Account Administrator, the request will return all users who are participating in a project on the requester''s account.

        In addition, it will return users not on the requester''s account if they are participating in any project with an account member (either on the requester''s account or their own account).


        If the requester is not an Account Administrator, the request will only return users who are participating in a project with the requester.


        This endpoint returns structured User objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `users` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Users
      tags:
      - Users
      parameters:
      - in: query
        name: account_id
        description: Only includes users on the specified account. This filter is not available in conjunction with the `on_my_account` option.
        schema:
          type: integer
          format: int32
      - in: query
        name: account_role_ids
        description: 'Only includes users with a specified role ID. (Format: ''role_id,role_id'').'
        schema:
          type: string
      - in: query
        name: all_contacts
        required: false
        description: Returns all users in the requester's contact list.
        schema:
          type: boolean
      - in: query
        name: assignable_to_resource
        description: Only includes users who can be assigned to a project resource with a specified ID.
        schema:
          type: integer
          format: int32
      - in: query
        name: belonging_to_orgs
        description: 'Only includes users that belong to the specified geographies or departments (Format: ''geo_id,geo_id;dept_id,dept_id'').'
        schema:
          type: string
      - in: query
        name: by_custom_choice_value
        description: 'Filter by a custom field choice value, represented as a string with the custom field ID, followed by a

          colon, and then comma-separated custom field choice value IDs. The custom field choice value can also be

          the word `blank`. Multiple custom fields can be delimited by semicolons or by parentheses and colons.


          The following formats are supported:


          - `custom_field_ID:choice_value_ID`

          - `custom_field_ID:choice_value_1_ID,choice_value_2_ID`

          - `custom_field_ID:blank`

          - `(custom_field_1_ID:choice_value_1_ID,choice_value_2_ID):(custom_field_2_ID:choice_value_3_ID)`.'
        schema:
          type: string
      - in: query
        name: by_custom_currency_value
        description: 'Filter by a custom field currency value, represented as a string with the custom field ID, followed by a

          colon, and then the currency value. Optionally, the currency [ISO code](https://mavenlink.zendesk.com/hc/en-us/articles/360041576473) can be supplied as well, separated

          from the currency value by another colon. Multiple custom fields can be delimited by semicolons or by parentheses and colons.

          The following formats are supported:


          - `(1:200.2:USD):(2:100)`.'
        schema:
          type: string
      - in: query
        name: by_custom_date_value
        description: 'Filter by a custom field date value, represented as a string with the custom field ID, followed by a

          colon, the starting date, another colon, and then the ending date. You can provide both a starting date

          and ending date, or provide just one. Multiple custom fields can be delimited by semicolons or by parentheses and colons.

          The following formats are supported:


          - `(1:2014-12-05:2014-12-25):(2:2014-12-05)`.'
        schema:
          type: string
      - in: query
        name: by_custom_number_value
        description: 'Filter by a custom field number value, represented as a string with the custom field ID, followed by a

          colon, and then the number value. Multiple custom fields can be delimited by semicolons or by parentheses and colons.

          The following formats are supported:


          - `(1:200):(2:101)`.'
        schema:
          type: string
      - in: query
        name: by_custom_text_value
        description: 'Filter by a custom field text value, represented as a string with the custom field ID, followed by a

          colon, and then the text value. Multiple custom fields can be delimited by semicolons or by parentheses and colons.

          The following formats are supported:


          - `(1:something):(2:else)`

          - `(1:something):(1:else)` (multiple values for the same field, returns objects matching any value)

          - `1` (bare field ID with no value, returns all objects that have any value for that field).'
        schema:
          type: string
      - in: query
        name: by_email_address
        description: Only includes users whose email address exactly matches the specified address.
        schema:
          type: string
      - in: query
        name: by_email_addresses
        description: 'Return only users whose email addresses exactly match the specified email addresses.

          You can provide a list of comma-separated email addresses as a query parameter in the request URL or

          provide an array of email addresses in the request body. You can specify up to 200 email addresses.'
        schema:
          type: string
      - in: query
        name: by_full_name
        description: Only includes users with all or part of the specified full name.
        schema:
          type: string
      - in: query
        name: by_full_name_or_account_role
        description: Only includes users with a matching full_name or default_role specified a search term.
        schema:
          type: string
      - in: query
        name: can_be_approver_in_workspace
        description: Only includes users that are providers and have financial access in a project with a specified ID.
        schema:
          type: integer
          format: int32
      - in: query
        name: can_view_reports
        description: Only include users who have account level permission of reports viewer or above.
        schema:
          type: boolean
      - in: query
        name: clients_only
        description: Only includes users that are in at least one project as a client.
        schema:
          type: boolean
      - in: query
        name: consultants_only
        description: Only includes users that are in at least one project as a provider.
        schema:
          type: boolean
      - in: query
        name: contacts_on_different_account
        required: false
        description: Returns all the users that are in the requester's contact list, but on seperate accounts.
        schema:
          type: boolean
      - in: query
        name: created_after
        description: Filter for records created after a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: created_before
        description: Filter for records created before a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: external_reference_external_message
        description: Filter the objects based on the external message of their associated external references. This is an exact match.
        schema:
          type: string
      - in: query
        name: external_reference_external_status
        description: Filter by the status of the external object in the external system.
        schema:
          type: string
      - in: query
        name: external_reference_service_model
        description: Filter by the type of the external object this external reference belongs to.
        schema:
          type: string
      - in: query
        name: external_reference_service_model_ref
        description: Filter by the id of the external object this external reference belongs to.
        schema:
          type: integer
          format: int32
      - in: query
        name: external_reference_service_model_refs
        description: Filter for objects that correlate to the specified external object IDs. Provide a comma-separated list of up to 200 external IDs.
        schema:
          type: string
      - in: query
        name: external_reference_service_name
        description: Filter by the name of the provider for integration.
        schema:
          type: string
      - in: query
        name: external_reference_status
        description: Filter by the status of the integration, this can be successful or fail.
        schema:
          type: string
      - in: query
        name: has_external_references
        description: Filter by whether or not the object has external references.
        schema:
          type: boolean
      - in: query
        name: has_value_for_custom_field_ids
        description: Filter by the presence of a custom field value for the specified comma-separated custom field ID(s).
        schema:
          type: string
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `account_membership` (AccountMembership) - Retrieves the account membership of the user, which represents the relationship of a user to an account. The response will include `account_membership_id`, which references the data in the `account_memberships` top-level key.

          - `custom_field_values` (CustomFieldValue) - Retrieves the user''s custom field values that are viewable for the current user. The response will include `custom_field_value_ids`, which references the data in the `custom_field_values` top-level key.

          - `external_references` (ExternalReference) - Includes references to external integrations for this object.

          - `manager` (User) - Retrieves the user''s manager. The response will include `manager_id`, which references the data in the `users` top-level key.

          - `role` (Role) - Retrieves the user''s account role. The response will include `role_id`, which references the data in the `roles` top-level key.

          - `skill_memberships` (SkillMembership) - Retrieves the skill memberships of the user, which represent skills that have been assigned to a user. The response will include `skill_membership_ids`, which references the data in the `skill_memberships` top-level key. The `skill_memberships` data will include the user''s proficiency level (for skills which can be assigned proficiency levels).

          - `skills` (Skill) - Retrieves the user''s skills. The response will include `skill_ids`, which references the data in the `skills` top-level key. The `skills` data will include the skill description and category ID.

          - `work_samples` (WorkSample) - Retrieves the user''s portfolio items. The response will include `work_sample_ids`, which references the data in the `work_samples` top-level key.'
        schema:
          type: string
      - in: query
        name: is_project_lead
        description: Only include users who have account level permission of project lead or above.
        schema:
          type: boolean
      - in: query
        name: managers
        description: Only include users who are managers.
        schema:
          type: boolean
          default: false
      - in: query
        name: matching
        schema:
          type: string
      - in: query
        name: not_assigned_to
        description: Only includes users who are not assigned to a task with specified ID.
        schema:
          type: integer
          format: int32
      - in: query
        name: not_following
        description: Only includes users who are not following a task with the specified ID.
        schema:
          type: integer
          format: int32
      - in: query
        name: not_on_calendars
        description: 'Only includes users who are not added to the specified holiday calendars (Format: ''calendar_id,calendar_id,calendar_id''.'
        schema:
          type: string
      - in: query
        name: not_participant_in
        description: Only includes users not participating in a project with a specified ID.
        schema:
          type: integer
          format: int32
      - in: query
        name: on_my_account
        required: false
        description: Returns all users on the requester's account.
        schema:
          type: boolean
      - in: query
        name: on_my_account_or_participant_in_workspace
        required: false
        description: Returns all the users that are on the account, as well as all users participating in the provided workspace ID.
        schema:
          type: integer
          format: int32
      - in: query
        name: only
        description: 'Allows you to request one or more resources directly by ID. Multiple IDs can be supplied

          in a comma separated list, like `GET /api/v1/workspaces.json?only=5,6,7`.'
        schema:
          type: string
      - in: query
        name: only_possible_managees
        description: Only includes possible managees on the account.
        schema:
          type: boolean
      - in: query
        name: only_possible_managers
        description: Only includes possible managers on the account.
        schema:
          type: boolean
      - in: query
        name: optional_fields
        description: Allows you to request one or more optional fields as an array.
        schema:
          type: array
          items:
            type: string
            enum:
            - bio
            - website
            - city
            - state
            - country
            - abbreviated_timezone
            - last_site_activity
            - classification
      - in: query
        name: order
        description: 'Supply `order` with the name of a valid sort field for the endpoint and a direction.


          Valid values: `alphabetical:asc` and `alphabetical:desc`.'
        schema:
          type: string
          default: alphabetical:asc
      - in: query
        name: page
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: participant_in
        description: Only includes users participating in a project with a specified ID.
        schema:
          type: integer
          format: int32
      - in: query
        name: per_page
        schema:
          type: integer
          format: int32
          default: 20
          maximum: 200
      - in: query
        name: potential_followers_for_story
        description: Only includes users who are able to follow a task with the specified ID.
        schema:
          type: integer
          format: int32
      - in: query
        name: provider_leads_on_account_projects
        description: Only includes users who are providers and leads in projects on the requester's account.
        schema:
          type: boolean
      - in: query
        name: search
        schema:
          type: string
      - in: query
        name: show_disabled
        description: Includes users with an inactive account membership and users who have been disabled by the Kantata team.
        schema:
          type: boolean
          default: false
      - in: query
        name: show_users_in_insights_groups
        description: Only includes users who have access to insights.
        schema:
          type: boolean
      - in: query
        name: updated_after
        description: Filter for records updated after a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: updated_before
        description: Filter for records updated before a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: with_created_estimates
        description: Only include users who have created an estimate.
        schema:
          type: boolean
          default: false
      - in: query
        name: with_organizations
        description: Only includes users that have an organization (true) or only includes users that do not have an organization (false).
        schema:
          type: boolean
      - in: query
        name: with_skills
        description: 'Only includes users with a set of skills at the specified levels (Format: ''{''skill_id'':[level,level],''skill_id'':[level],''operation'':''<or/and>''}'').'
        schema:
          type: string
      - in: query
        name: with_users
        description: 'Include only users for the provided IDs (Format: ''id,id,id'').'
        schema:
          type: array
          items:
            type: integer
            format: int32
      - in: query
        name: without_external_reference_service_name
        description: Exclude by the existence of an external reference with the specified service name.
        schema:
          type: string
      - in: query
        name: without_skills
        description: 'Only includes users without the specified set of skills (Format: ''id,id,id'').'
        schema:
          type: string
      - in: query
        name: without_timesheet_submission
        description: 'Only include users who have not submitted a timesheet in a project between the specified start and end dates. (Format: ''workspace_id:start_date:end_date'').'
        schema:
          type: string
      - in: query
        name: without_users
        description: 'Exclude users for the provided IDs (Format: ''id,id,id'').'
        schema:
          type: array
          items:
            type: integer
            format: int32
      - in: query
        name: write_access_in
        description: Only includes users who are participating in a project with a specified ID, and are not read-only in the project.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: A list of Users have been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  external_references:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ExternalReference'
                  roles:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Role'
                  skills:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Skill'
                  skill_memberships:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/SkillMembership'
                  account_memberships:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/AccountMembership'
                  work_samples:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkSample'
                  custom_field_values:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/CustomFieldValue'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /users/me:
    get:
      summary: Fetch your own data
      description: 'This endpoint allows you to fetch your own data.


        This endpoint returns structured User objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `users` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get My User Data
      tags:
      - Users
      parameters:
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `account_membership` (AccountMembership) - Retrieves the account membership of the user, which represents the relationship of a user to an account. The response will include `account_membership_id`, which references the data in the `account_memberships` top-level key.

          - `custom_field_values` (CustomFieldValue) - Retrieves the user''s custom field values that are viewable for the current user. The response will include `custom_field_value_ids`, which references the data in the `custom_field_values` top-level key.

          - `external_references` (ExternalReference) - Includes references to external integrations for this object.

          - `manager` (User) - Retrieves the user''s manager. The response will include `manager_id`, which references the data in the `users` top-level key.

          - `role` (Role) - Retrieves the user''s account role. The response will include `role_id`, which references the data in the `roles` top-level key.

          - `skill_memberships` (SkillMembership) - Retrieves the skill memberships of the user, which represent skills that have been assigned to a user. The response will include `skill_membership_ids`, which references the data in the `skill_memberships` top-level key. The `skill_memberships` data will include the user''s proficiency level (for skills which can be assigned proficiency levels).

          - `skills` (Skill) - Retrieves the user''s skills. The response will include `skill_ids`, which references the data in the `skills` top-level key. The `skills` data will include the skill description and category ID.

          - `work_samples` (WorkSample) - Retrieves the user''s portfolio items. The response will include `work_sample_ids`, which references the data in the `work_samples` top-level key.'
        schema:
          type: string
      - in: query
        name: optional_fields
        description: Allows you to request one or more optional fields as an array.
        schema:
          type: array
          items:
            type: string
            enum:
            - bio
            - website
            - city
            - state
            - country
            - abbreviated_timezone
            - last_site_activity
            - classification
      responses:
        '200':
          description: A list of Users have been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  external_references:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ExternalReference'
                  roles:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Role'
                  skills:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Skill'
                  skill_memberships:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/SkillMembership'
                  account_memberships:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/AccountMembership'
                  work_samples:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkSample'
                  custom_field_values:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/CustomFieldValue'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /users/{id}:
    get:
      summary: Fetching a single User
      description: 'This endpoint returns structured User objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `users` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get User
      tags:
      - Users
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `account_membership` (AccountMembership) - Retrieves the account membership of the user, which represents the relationship of a user to an account. The response will include `account_membership_id`, which references the data in the `account_memberships` top-level key.

          - `custom_field_values` (CustomFieldValue) - Retrieves the user''s custom field values that are viewable for the current user. The response will include `custom_field_value_ids`, which references the data in the `custom_field_values` top-level key.

          - `external_references` (ExternalReference) - Includes references to external integrations for this object.

          - `manager` (User) - Retrieves the user''s manager. The response will include `manager_id`, which references the data in the `users` top-level key.

          - `role` (Role) - Retrieves the user''s account role. The response will include `role_id`, which references the data in the `roles` top-level key.

          - `skill_memberships` (SkillMembership) - Retrieves the skill memberships of the user, which represent skills that have been assigned to a user. The response will include `skill_membership_ids`, which references the data in the `skill_memberships` top-level key. The `skill_memberships` data will include the user''s proficiency level (for skills which can be assigned proficiency levels).

          - `skills` (Skill) - Retrieves the user''s skills. The response will include `skill_ids`, which references the data in the `skills` top-level key. The `skills` data will include the skill description and category ID.

          - `work_samples` (WorkSample) - Retrieves the user''s portfolio items. The response will include `work_sample_ids`, which references the data in the `work_samples` top-level key.'
        schema:
          type: string
      - in: query
        name: optional_fields
        description: Allows you to request one or more optional fields as an array.
        schema:
          type: array
          items:
            type: string
            enum:
            - bio
            - website
            - city
            - state
            - country
            - abbreviated_timezone
            - last_site_activity
            - classification
      responses:
        '200':
          description: The User has been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  external_references:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ExternalReference'
                  roles:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Role'
                  skills:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Skill'
                  skill_memberships:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/SkillMembership'
                  account_memberships:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/AccountMembership'
                  work_samples:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkSample'
                  custom_field_values:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/CustomFieldValue'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    put:
      summary: Updating an existing User
      description: 'This endpoint returns structured User objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `users` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Update User
      tags:
      - Users
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `account_membership` (AccountMembership) - Retrieves the account membership of the user, which represents the relationship of a user to an account. The response will include `account_membership_id`, which references the data in the `account_memberships` top-level key.

          - `custom_field_values` (CustomFieldValue) - Retrieves the user''s custom field values that are viewable for the current user. The response will include `custom_field_value_ids`, which references the data in the `custom_field_values` top-level key.

          - `external_references` (ExternalReference) - Includes references to external integrations for this object.

          - `manager` (User) - Retrieves the user''s manager. The response will include `manager_id`, which references the data in the `users` top-level key.

          - `role` (Role) - Retrieves the user''s account role. The response will include `role_id`, which references the data in the `roles` top-level key.

          - `skill_memberships` (SkillMembership) - Retrieves the skill memberships of the user, which represent skills that have been assigned to a user. The response will include `skill_membership_ids`, which references the data in the `skill_memberships` top-level key. The `skill_memberships` data will include the user''s proficiency level (for skills which can be assigned proficiency levels).

          - `skills` (Skill) - Retrieves the user''s skills. The response will include `skill_ids`, which references the data in the `skills` top-level key. The `skills` data will include the skill description and category ID.

          - `work_samples` (WorkSample) - Retrieves the user''s portfolio items. The response will include `work_sample_ids`, which references the data in the `work_samples` top-level key.'
        schema:
          type: string
      - in: query
        name: optional_fields
        description: Allows you to request one or more optional fields as an array.
        schema:
          type: array
          items:
            type: string
            enum:
            - bio
            - website
            - city
            - state
            - country
            - abbreviated_timezone
            - last_site_activity
            - classification
      responses:
        '200':
          description: User has been updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  external_references:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ExternalReference'
                  roles:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Role'
                  skills:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Skill'
                  skill_memberships:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/SkillMembership'
                  account_memberships:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/AccountMembership'
                  work_samples:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkSample'
                  custom_field_values:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/CustomFieldValue'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user:
                  type: object
                  properties:
                    full_name:
                      type: string
                      description: The full name of the user.
                    headline:
                      type: string
                      description: A short description of the user.
                    email_address:
                      type: string
                      description: The email address for the user. If this value is different than the user's existing email_address it will require a new verification.
                    external_reference:
                      type: object
                      description: 'Typically populated programmatically by a third party system via an integration, this is an optional

                        object that holds data from an external system. It connects objects in an external system with objects in

                        Kantata OX (for example, to connect a Jira issue to a Kantata OX Project).'
                      properties:
                        service_name:
                          type: string
                          description: The provider name of the integration. If you are adding multiple external references to the same object, the `service_name` must be unique.
                        service_model:
                          type: string
                          description: The object type of the external object this external reference belongs to.
                        service_model_ref:
                          type: string
                          description: The object ID of the external object this external reference belongs to.
                        status:
                          type: string
                          description: The status of the integration. Options are `successful`, `pending`,  or `failed`.
                        external_message:
                          type: string
                          description: The message on the external object.
                        external_link:
                          type: string
                          description: The link to the external object.
                        external_status:
                          type: string
                          description: The status of the external object in the external system.
                        locked:
                          type: boolean
                          description: Whether the subject is locked.
                      required:
                      - service_name
                      - service_model
                      - service_model_ref
        required: true
  /users/{id}/capacity:
    get:
      summary: Fetch My Work Capacity
      description: 'This endpoint returns a summary of a user''s work capacity for a provided range of dates.


        This endpoint returns structured User objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `users` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get My Work Capacity
      tags:
      - Users
      parameters:
      - in: query
        name: end_date
        required: true
        description: The end date for calculating my work capacity in YYYY-MM-DD format (e.g. 2016-01-01). The date must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: start_date
        required: true
        description: The start date for calculating my work capacity in YYYY-MM-DD format (e.g. 2015-12-16). The date must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `account_membership` (AccountMembership) - Retrieves the account membership of the user, which represents the relationship of a user to an account. The response will include `account_membership_id`, which references the data in the `account_memberships` top-level key.

          - `custom_field_values` (CustomFieldValue) - Retrieves the user''s custom field values that are viewable for the current user. The response will include `custom_field_value_ids`, which references the data in the `custom_field_values` top-level key.

          - `external_references` (ExternalReference) - Includes references to external integrations for this object.

          - `manager` (User) - Retrieves the user''s manager. The response will include `manager_id`, which references the data in the `users` top-level key.

          - `role` (Role) - Retrieves the user''s account role. The response will include `role_id`, which references the data in the `roles` top-level key.

          - `skill_memberships` (SkillMembership) - Retrieves the skill memberships of the user, which represent skills that have been assigned to a user. The response will include `skill_membership_ids`, which references the data in the `skill_memberships` top-level key. The `skill_memberships` data will include the user''s proficiency level (for skills which can be assigned proficiency levels).

          - `skills` (Skill) - Retrieves the user''s skills. The response will include `skill_ids`, which references the data in the `skills` top-level key. The `skills` data will include the skill description and category ID.

          - `work_samples` (WorkSample) - Retrieves the user''s portfolio items. The response will include `work_sample_ids`, which references the data in the `work_samples` top-level key.'
        schema:
          type: string
      - in: query
        name: optional_fields
        description: Allows you to request one or more optional fields as an array.
        schema:
          type: array
          items:
            type: string
            enum:
            - bio
            - website
            - city
            - state
            - country
            - abbreviated_timezone
            - last_site_activity
            - classification
      responses:
        '200':
          description: A list of Users have been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  start_date:
                    type: string
                    format: date
                    description: The start date for calculating my work capacity in YYYY-MM-DD format (e.g. 2012-09-27).
                  end_date:
                    type: string
                    format: date
                    description: The end date for calculating my work capacity in YYYY-MM-DD format (e.g. 2012-09-27).
                  hours:
                    type: object
                    additionalProperties:
                      type: number
                      format: float
                      description: The key is the date, and the value is my work capacity on that date.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /users/{id}/profile_photo:
    delete:
      summary: Reset Profile Photo
      description: 'Delete the profile photo for the specified user.


        This endpoint returns structured User objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `users` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Reset User Profile Photo
      tags:
      - Users
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      responses:
        '204':
          description: User has been deleted.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    post:
      summary: Update Profile Photo
      description: 'Update the profile photo for the specified user.


        This endpoint returns structured User objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `users` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Update User Profile Photo
      tags:
      - Users
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `account_membership` (AccountMembership) - Retrieves the account membership of the user, which represents the relationship of a user to an account. The response will include `account_membership_id`, which references the data in the `account_memberships` top-level key.

          - `custom_field_values` (CustomFieldValue) - Retrieves the user''s custom field values that are viewable for the current user. The response will include `custom_field_value_ids`, which references the data in the `custom_field_values` top-level key.

          - `external_references` (ExternalReference) - Includes references to external integrations for this object.

          - `manager` (User) - Retrieves the user''s manager. The response will include `manager_id`, which references the data in the `users` top-level key.

          - `role` (Role) - Retrieves the user''s account role. The response will include `role_id`, which references the data in the `roles` top-level key.

          - `skill_memberships` (SkillMembership) - Retrieves the skill memberships of the user, which represent skills that have been assigned to a user. The response will include `skill_membership_ids`, which references the data in the `skill_memberships` top-level key. The `skill_memberships` data will include the user''s proficiency level (for skills which can be assigned proficiency levels).

          - `skills` (Skill) - Retrieves the user''s skills. The response will include `skill_ids`, which references the data in the `skills` top-level key. The `skills` data will include the skill description and category ID.

          - `work_samples` (WorkSample) - Retrieves the user''s portfolio items. The response will include `work_sample_ids`, which references the data in the `work_samples` top-level key.'
        schema:
          type: string
      - in: query
        name: optional_fields
        description: Allows you to request one or more optional fields as an array.
        schema:
          type: array
          items:
            type: string
            enum:
            - bio
            - website
            - city
            - state
            - country
            - abbreviated_timezone
            - last_site_activity
            - classification
      responses:
        '200':
          description: User has been created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  external_references:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ExternalReference'
                  roles:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Role'
                  skills:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Skill'
                  skill_memberships:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/SkillMembership'
                  account_memberships:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/AccountMembership'
                  work_samples:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkSample'
                  custom_field_values:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/CustomFieldValue'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user:
                  type: object
                  properties:
                    profile_photo_attachment_file:
                      type: string
                      description: 'The multipart/form-data encoded file contents. This is similar to the `data` attribute

                        of the [Attachment](/tag/Attachments#operation/create-attachment) field.'
                  required:
                  - profile_photo_attachment_file
        required: true
components:
  schemas:
    WorkSample:
      title: Work Sample
      type: object
      properties:
        attachment_filename:
          type: string
        attachment_id:
          type: string
        description:
          type: string
        title:
          type: string
        trapped_website_url:
          type: string
          description: Redirected version of a work sample url.
        website_url:
          type: string
    ExternalReference:
      title: External Reference
      description: 'External References allows users see which objects (one of `Assignment`, `BillingMilestone`, `CustomField`, `CustomFieldChoice`, `CustomFieldSet`, `CustomFieldValue`, `Estimate`, `EstimateScenario`, `EstimateScenarioResource`, `Expense`, `ExpenseBudget`, `Invoice`, `Participation`, `Post`, `RateCard`, `Role`, `Skill`, `StatusReport`, `Story`, `StoryAllocationDay`, `Submission`, `SurveyAnswer`, `SurveyQuestion`, `SurveyResponse`, `SurveyTemplate`, `TimeEntry`, `TimeOffEntry`, `User`, `Vendor`, `Workspace`, `WorkspaceAllocation`, `WorkspaceGroup`, or `WorkspaceResource`

        are synced with third party systems. This allows you to view the sync status of items in addition to the integration

        specifics for a synced object.


        Objects that are synced with a third party system have external integration

        attributes that include the corresponding ID of the third party object with

        which it is synced, a link that allows you to view the object in the third

        party system, the status of the external object in the external system,

        the status of the sync, and a link to exceptions.'
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          description: The date and time the reference was created.
        external_link:
          type: string
          description: A URL that links to either the external object or event.
        external_message:
          type: string
          description: An optional message about the external object.
        external_status:
          type: string
          description: The status of the external object in the external system.
        last_synced_at:
          type: string
          format: date-time
        locked:
          type: boolean
          description: 'An optional field, indicating whether the subject should be locked. To prevent changes to the

            object in Kantata OX, set this to true. This currently only applies to expense report rejections.'
        service_model:
          type: string
          description: The type of the external object to which this reference belongs.
        service_model_ref:
          type: string
          description: The ID of the external object to which this reference belongs.
        service_name:
          type: string
          description: The provider name of the integration.
        status:
          type: string
          description: The status of the integration. Options are 'pending', 'successful', or 'failed'.
        subject_id:
          type: integer
          format: int32
          description: The ID of the Kantata OX object to which this external reference belongs.
        subject_ref:
          type: object
          description: '`subject_ref` will only be included in the response if `subject` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
          properties:
            key:
              type: string
            id:
              type: string
        subject_type:
          type: string
          description: 'The type of Kantata OX object to which this external reference belongs.

            One of `Assignment`, `BillingMilestone`, `CustomField`, `CustomFieldChoice`, `CustomFieldSet`, `CustomFieldValue`, `Estimate`, `EstimateScenario`, `EstimateScenarioResource`, `Expense`, `ExpenseBudget`, `Invoice`, `Participation`, `Post`, `RateCard`, `Role`, `Skill`, `StatusReport`, `Story`, `StoryAllocationDay`, `Submission`, `SurveyAnswer`, `SurveyQuestion`, `SurveyResponse`, `SurveyTemplate`, `TimeEntry`, `TimeOffEntry`, `User`, `Vendor`, `Workspace`, `WorkspaceAllocation`, `WorkspaceGroup`, or `WorkspaceResource`.'
        updated_at:
          type: string
          format: date-time
          description: The date and time the reference was last updated.
    Role:
      title: Role
      description: 'A Role represents the main position or title assigned to members on an account. Roles may be associated with account memberships, account invitations,

        participation, project template assignments, rate card roles, rate card versions, resources, or time adjustments.'
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        deleted_at:
          type: string
          format: date-time
          description: The time the role was deleted.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        name:
          type: string
          description: The name of the role.
        updated_at:
          type: string
          format: date-time
    Error:
      type: object
      properties:
        type:
          type: string
        message:
          type: string
    User:
      title: User
      description: 'Users represent the individuals that are participating in Kantata OX projects. User objects are often returned as

        nested JSON objects within other returned items such as Posts or Stories.'
      type: object
      properties:
        abbreviated_timezone:
          type: string
          description: 'The abbreviation for the user''s time zone.

            Only returned when requested through the optional_fields param.'
        account_membership_id:
          type: string
          description: '`account_membership_id` will only be included in the response if `account_membership` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        bio:
          type: string
          description: 'A biography (defined by the user).

            Only returned when requested through the optional_fields param.'
        city:
          type: string
          description: 'The home city of the user (based on their profile).

            Only returned when requested through the optional_fields param.'
        classification:
          type: string
          description: 'Indicates whether a user is Internal or External.

            Only returned when requested through the optional_fields param.'
        country:
          type: string
          description: 'The home country of the user (based on their profile).

            Only returned when requested through the optional_fields param.'
        custom_field_value_ids:
          type: array
          items:
            type: string
          description: '`custom_field_value_ids` will only be included in the response if `custom_field_values` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        email_address:
          type: string
          description: The email address of the user.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        full_name:
          type: string
          description: The full name of the user.
        headline:
          type: string
          description: A short description of the user.
        last_site_activity:
          type: string
          format: date-time
          description: 'The last time a user logged in. This field is only available in conjunction with the `on_my_account` filter option. Only visible when the API user is an Account Administrator.

            Only returned when requested through the optional_fields param.'
        manager_id:
          type: string
          description: '`manager_id` will only be included in the response if `manager` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        photo_path:
          type: string
          description: The URL of the user's profile photo.
        role_id:
          type: string
          description: '`role_id` will only be included in the response if `role` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        skill_ids:
          type: array
          items:
            type: string
          description: '`skill_ids` will only be included in the response if `skills` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        skill_membership_ids:
          type: array
          items:
            type: string
          description: '`skill_membership_ids` will only be included in the response if `skill_memberships` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        state:
          type: string
          description: 'The home state of the user (based on their profile).

            Only returned when requested through the optional_fields param.'
        website:
          type: string
          description: 'A website (defined by the user).

            Only returned when requested through the optional_fields param.'
        work_sample_ids:
          type: array
          items:
            type: string
          description: '`work_sample_ids` will only be included in the response if `work_samples` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    Errors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    CustomFieldValue:
      title: Custom Field Value
      description: 'If [Custom Fields](/tag/Custom-Fields) represent the fields themselves,

        Custom Field Values represent the values in/of those fields.'
      type: object
      properties:
        account_id:
          type: integer
          format: int32
          description: The ID of the account the Custom Field Value is in.
        can_edit:
          type: boolean
          description: Whether the Custom Field Value can be edited by the requester.
        created_at:
          type: string
          format: date-time
        custom_field_id:
          type: string
          description: '`custom_field_id` will only be included in the response if `custom_field` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        custom_field_name:
          type: string
          description: The name of the Custom Field.
        display_value:
          type: string
          description: 'The Custom Field Values, but in more understandable formats:

            * For Custom Fields with values that are selected choices, the labels on those choices are returned.

            * For Custom Fields with currency values, the amount with the currency symbol ($100) is returned.

            * All other values are converted into a string.'
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        selected_choice_ids:
          type: array
          items:
            type: string
          description: '`selected_choice_ids` will only be included in the response if `selected_choices` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        setter_id:
          type: string
          description: '`setter_id` will only be included in the response if `setter` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        subject_id:
          type: integer
          format: int32
          description: The ID of the Estimate, Project, Group, Resource, Task, or User the custom field is for.
        subject_ref:
          type: object
          description: '`subject_ref` will only be included in the response if `subject` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
          properties:
            key:
              type: string
            id:
              type: string
        subject_type:
          type: string
          description: 'The set of Custom Fields that values are returned for:

            * `Estimate`

            * `Workspace` (Project)

            * `WorkspaceGroup` (Group)

            * `Resource`

            * `Story` (Task)

            * `User`.'
        type:
          type: string
          description: 'Potential formats of values:


            | Value Type           | Format                                   | Sample         |

            | -------------------- |:----------------------------------------:| --------------:|

            | `string`             | `<text_string>`                          |        `"foo"` |

            | `date`               | `<ISO_8601 Date Format>`                 | `"2014-02-25"` |

            | `number`             | `<integer_value>`                        |           `13` |

            | `currency`           | `[<int_value_in_cents>, <currency_code>]`| `[998, "USD"]` |

            | `single` and `multi` | `[<choice_ids>]`                         |    `[1, 2, 4]` |.'
        updated_at:
          type: string
          format: date-time
        value:
          type: string
          description: 'The value created or updated for the specified custom field.


            Values can be created or updated in these formats:


            | Value Type           | Format                                   | Sample         |

            | -------------------- |:----------------------------------------:| --------------:|

            | `string`             | `<text_string>`                          |        `"foo"` |

            | `date`               | `<ISO_8601 Date Format>`                 | `"2014-02-25"` |

            | `number`             | `<integer_value>`                        |           `13` |

            | `currency`           | `[<int_value_in_cents>, <currency_code>]`| `[998, "USD"]` |

            | `single` and `multi` | `[<choice_ids>]`                         |    `[1, 2, 4]` |


            ##### Note:

            The `read_access` [permission setting on each custom field](https://mavenlink.zendesk.com/hc/en-us/articles/202924760#see)

            determines the minimum permission needed to view a custom field and its value.

            * `Workspace` (Project), `Resource`, and `Story` (Task) custom fields are project-specific objects,

            so their minimum permissions are set at the [project level](https://mavenlink.zendesk.com/hc/en-us/articles/115002779293-Project-Permissions):

            - `project_collaboration` (default)

            - `time_logging`

            - `financial`

            - `project_admin`


            Most account-level permissions supercede project-level permissions. Therefore, Account Administrators

            are able to view all Project, Resource, and Task custom fields and values across the account,

            regardless of project participation or `read_access` settings.

            * `Estimate`, `WorkspaceGroup` (Group), and `User` custom fields are account-wide objects,

            so their minimum permissions are set at the [account level](https://mavenlink.zendesk.com/hc/en-us/articles/203041364):

            - `account_collaboration`

            - `project_creator`

            - `project_lead`

            - `reports_viewer`

            - `reports_viewer_with_cost`

            - `account_admin` (default).'
    AccountMembership:
      title: Account Membership
      description: An Account Membership represents the relationship of a user to an account.
      type: object
      properties:
        backup_approver_association_ids:
          type: array
          items:
            type: string
          description: '`backup_approver_association_ids` will only be included in the response if `backup_approver_associations` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        bill_rate_in_cents:
          type: integer
          format: int32
          description: 'The default billing rate, in cents, for the user in a workspace on this account when the workspace

            does not use rate card. This attribute is only accessible if the current user is a Project Lead.

            Visible when the account membership is on the same account as the API user. and the API user is an Account Project Lead..'
        billability_target:
          type: integer
          format: int32
          description: '

            Visible when the account membership is on the same account as the API user. and the API user is an Account Project Lead..'
        can_create_workspace:
          type: boolean
          description: Whether the user can create projects.
        can_log_in:
          type: boolean
          description: 'Whether the user can log in.

            Only returned when requested through the optional_fields param.'
        can_view_reports:
          type: boolean
          description: Whether the user can view reports.
        collaborator_only_license:
          type: boolean
          description: 'Whether the user is always a Collaborator in projects.

            Visible when the account membership is on the same account as the API user..'
        cost_rate_ids:
          type: array
          items:
            type: string
          description: '`cost_rate_ids` will only be included in the response if `cost_rates` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        cost_rate_in_cents:
          type: integer
          format: int32
          description: 'The default cost rate, in cents, for the user in a workspace on this account. This attribute is only

            accessible if the current user is an Administrator on the account.

            Visible when the account membership is on the same account as the API user. and the API user is an Account Administrator..'
        created_at:
          type: string
          format: date-time
        default_read_only:
          type: boolean
          description: Whether the user is always read-only in projects.
        default_role_id:
          type: string
          description: '`default_role_id` will only be included in the response if `default_role` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        disabled_at:
          type: string
          format: date-time
          description: The date when the account membership was disabled.
        effective_workweek_id:
          type: string
          description: '`effective_workweek_id` will only be included in the response if `effective_workweek` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        future_billable_utilization_ids:
          type: array
          items:
            type: string
          description: '`future_billable_utilization_ids` will only be included in the response if `future_billable_utilizations` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        is_administrator:
          type: boolean
          description: Whether the user is an Administrator.
        is_backup_approver:
          type: boolean
          description: Whether the user is a backup approver for others users on the account.
        is_owner:
          type: boolean
          description: The owner of the account.
        is_project_lead:
          type: boolean
          description: Whether the user is a Project Lead.
        is_punch_clock_user:
          type: boolean
          description: Whether the user is a Punch Clock User.
        managee_ids:
          type: array
          items:
            type: string
          description: '`managee_ids` will only be included in the response if `managees` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        manager_can_approve:
          type: boolean
          description: If present, the assigned manager can approve submitted time and expenses.
        manager_can_edit_skills:
          type: boolean
          description: If present, the assigned manager can edit the user's skills.
        manager_id:
          type: string
          description: '`manager_id` will only be included in the response if `manager` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        non_participant:
          type: boolean
          description: '

            Visible when the account membership is on the same account as the API user..


            Only returned when requested through the optional_fields param.'
        permission:
          type: string
          description: The user's access level. Options are administrator, reports_viewer_with_cost, reports_viewer, project_lead, project_creator, collaborator, external_collaborator, and punch_clock.
        possible_managee_ids:
          type: array
          items:
            type: string
          description: '`possible_managee_ids` will only be included in the response if `possible_managees` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        possible_manager_ids:
          type: array
          items:
            type: string
          description: '`possible_manager_ids` will only be included in the response if `possible_managers` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        should_show_alert_on_timesheet_submission:
          type: boolean
          description: Show an alert on a user's timesheet submission.
        skill_membership_ids:
          type: array
          items:
            type: string
          description: '`skill_membership_ids` will only be included in the response if `skill_memberships` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        updated_at:
          type: string
          format: date-time
        user_id:
          type: string
          description: '`user_id` will only be included in the response if `user` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    SkillMembership:
      title: Skill Membership
      description: A Skill Membership represents a skill that has been assigned to a specified user.
      type: object
      properties:
        cached_skill_name:
          type: string
          description: The name of the skill.
        created_at:
          type: string
          format: date-time
        creator_id:
          type: string
          description: '`creator_id` will only be included in the response if `creator` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        level:
          type: integer
          format: int32
          description: The objects proficiency level for the skill (1-5).
        max_level:
          type: integer
          format: int32
          description: The maximum level assigned for the skill.
        skill_id:
          type: string
          description: '`skill_id` will only be included in the response if `skill` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        updated_at:
          type: string
          format: date-time
        user_id:
          type: string
          description: '`user_id` will only be included in the response if `user` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    Skill:
      title: Skill
      description: 'Skills are used in Kantata OX to describe capabilities of users for the purposes of resource planning.

        They can be associated with a user through a Skill Membership.

        This model includes categories such as ''Skill'', ''Language'', ''Certification'' and ''Other''.'
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          description: The date and time a skill was last updated.
        description:
          type: string
          description: The description of the skill.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        max_level:
          type: string
          description: The max level allowed for the skill.
        name:
          type: string
          description: The name of the skill.
        skill_category_id:
          type: string
          description: '`skill_category_id` will only be included in the response if `skill_category` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        updated_at:
          type: string
          format: date-time
          description: The date and time at skill a workweek was created.
  securitySchemes:
    BearerToken:
      type: apiKey
      name: Bearer
      in: header
    OauthSecurity:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://app.mavenlink.com/oauth/authorize
          tokenUrl: https://app.mavenlink.com/oauth/token
x-tagGroups:
- name: '# Subscribed Events'
  tags:
  - Event Types
  - Events
- name: Account Locations
  tags:
  - Account Locations
- name: Account Settings & Members
  tags:
  - Access Group Memberships
  - Account Colors
  - Account Invitations
  - Account Memberships
  - Backup Approver Associations
  - Billable Utilizations
  - Cost Rates
  - Custom Branding
  - Organization Memberships
  - Organizations
  - Roles
  - Skill Categories
  - Skill Memberships
  - Skills
  - Task Status Sets
  - Task Statuses
  - User Group Memberships
  - Users
- name: Currencies
  tags:
  - Currencies
- name: Custom Fields
  tags:
  - Custom Field Choices
  - Custom Field Sets
  - Custom Field Values
  - Custom Fields
- name: Data Exporter
  tags:
  - Data Export Schema
  - Data Exports
- name: Estimates
  tags:
  - Estimate Scenario Resource Allocations
  - Estimate Scenario Resources
  - Estimate Scenarios
  - Estimates
- name: Expense Budgets
  tags:
  - Expense Budgets
- name: Expense Tracking
  tags:
  - Attachments
  - Expense Categories
  - Expense Report Submissions
  - Expenses
  - Vendors
- name: External References
  tags:
  - External References
- name: Financials
  tags:
  - Billing Milestones
  - Revenue Recognition Methods
- name: Foreign Exchange
  tags:
  - Exchange Tables
- name: Insights & Analytics
  tags:
  - Insights Access Group Memberships
  - Insights Dynamic Dashboards
  - Insights Report Exports
  - Insights Reports
- name: Invoices
  tags:
  - Client Invoice Defaults
  - External Payments
  - Invoices
  - Workspace Invoice Preferences
- name: Personal Settings
  tags:
  - Users
- name: Posts & Replies
  tags:
  - Attachments
  - Posts
  - User File Associations
- name: Project Snapshots
  tags:
  - Project Snapshots
- name: Project Templates
  tags:
  - Project Template Additional Tabs
  - Project Template Assignments
  - Project Template Expense Budgets
  - Project Templates
- name: Projects
  tags:
  - Participations
  - Project Accounting Records
  - Status Reports
  - Workspace Allocations
  - Workspace Baselines
  - Workspace Groups
  - Workspace Invoice Preferences
  - Workspace Resource Skills
  - Workspace Resources
  - Workspace Status Changes
  - Workspace Task Status Sets
  - Workspaces
- name: Rate Cards
  tags:
  - Activations
  - Rate Card Role (Rate for a Role)
  - Rate Card Set Version (Effective version by Date)
  - Rate Card Sets (Group of Rate Cards)
  - Rate Card Table Rows
  - Rate Card Versions
  - Rate Cards (Multiple Currencies)
- name: Recommendations
  tags:
  - Recommendations
- name: Resource Requests
  tags:
  - Resource Requests
- name: Scheduling
  tags:
  - Holiday Calendar Associations
  - Holiday Calendar Memberships
  - Holiday Calendars
  - Holidays
  - Time Off Entries
  - Workweek Memberships
  - Workweeks
- name: Surveys (Legacy)
  tags:
  - Survey Answers (Legacy)
  - Survey Questions (Legacy)
  - Survey Templates (Legacy)
  - Surveys Responses (Legacy)
- name: Tasks
  tags:
  - Assignments
  - Daily Scheduled Hours (Story Allocation Days)
  - Followers
  - Stories
  - Story Dependencies
  - Story State Changes
  - Story Tasks
- name: Time Tracking
  tags:
  - Line Item Locks
  - Time Entries
  - Timesheet Approvals
  - Timesheet Cancellations
  - Timesheet Rejections
  - Timesheet Submissions
