openapi: 3.2.0
info:
  version: 1.0.0
  title: Kantata OX API Documentation Workweek Memberships API
  description: Kantata OX's API provides access to the majority of Kantata OX's data model.
  termsOfService: https://www.kantata.com/terms-of-use
  contact:
    name: Kantata OX Support
    url: https://knowledge.kantata.com/hc/en-us
  license:
    name: COPYRIGHT © 2026 Kantata, Inc.
    url: https://www.kantata.com/terms-of-use
  x-logo:
    url: https://theme.zdassets.com/theme_assets/56104/04e93064d309f75d054b8cee885d1ea51e9be8f7.png
    backgroundColor: '#FFFFFF'
    altText: Kantata OX API Documentation
    href: https://developer.kantata.com
servers:
- url: https://api.mavenlink.com/api/v1
tags:
- name: Workweek Memberships
  description: A Workweek Membership represents the relationship of a user to a workweek.
paths:
  /workweek_memberships:
    get:
      summary: Fetching a list of Workweek Memberships
      description: 'The Workweek Memberships endpoint provides a list of all workweek memberships that belongs to the

        account of the user making the request. The response will contain an array of workweek membership

        objects, sorted by their `start_date`.


        This endpoint returns structured Workweek Membership objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `workweek_memberships` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Workweek Memberships
      tags:
      - Workweek Memberships
      parameters:
      - in: query
        name: created_after
        description: Filter for records created after a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: created_before
        description: Filter for records created before a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: effective_date
        description: Includes only workweek memberships with a start date before, and an end date after, the specified date. The date must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `user` (User) - References the user to whom the workweek membership belongs.

          - `workweek` (Workweek) - References the associated workweek.'
        schema:
          type: string
      - in: query
        name: only
        description: 'Allows you to request one or more resources directly by ID. Multiple IDs can be supplied

          in a comma separated list, like `GET /api/v1/workspaces.json?only=5,6,7`.'
        schema:
          type: string
      - in: query
        name: order
        description: 'Supply `order` with the name of a valid sort field for the endpoint and a direction.


          Valid values: `start_date:asc` and `start_date:desc`.'
        schema:
          type: string
          default: start_date:asc
      - in: query
        name: page
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: participants_for_workspace_id
        description: Limit Workweek Memberships by those participating in the workspace of the specified workspace ID.
        schema:
          type: integer
          format: int32
      - in: query
        name: participating_with
        required: false
        description: Limits workweek memberships to those associated with the user making the request.
        schema:
          type: boolean
      - in: query
        name: per_page
        schema:
          type: integer
          format: int32
          default: 20
          maximum: 200
      - in: query
        name: updated_after
        description: Filter for records updated after a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: updated_before
        description: Filter for records updated before a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: user_ids
        description: Includes only workweek memberships that belong to the specified user IDs.
        schema:
          type: array
          items:
            type: integer
            format: int32
      responses:
        '200':
          description: A list of Workweek Memberships have been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  workweek_memberships:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkweekMembership'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  workweeks:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Workweek'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    post:
      summary: Creating a new Workweek Membership
      description: 'This endpoint returns structured Workweek Membership objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `workweek_memberships` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Create Workweek Membership
      tags:
      - Workweek Memberships
      parameters:
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `user` (User) - References the user to whom the workweek membership belongs.

          - `workweek` (Workweek) - References the associated workweek.'
        schema:
          type: string
      responses:
        '200':
          description: Workweek Membership has been created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  workweek_memberships:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkweekMembership'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  workweeks:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Workweek'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                workweek_membership:
                  type: object
                  properties:
                    user_id:
                      type: integer
                      format: int32
                      description: The ID of the user to whom the workweek belongs.
                    start_date:
                      type: string
                      format: date
                      description: The start date of the workweek (must be a Sunday). The date must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
                    sunday_minutes:
                      type: integer
                      format: int32
                      description: The number of available working minutes on Sunday.
                    monday_minutes:
                      type: integer
                      format: int32
                      description: The number of available working minutes on Monday.
                    tuesday_minutes:
                      type: integer
                      format: int32
                      description: The number of available working minutes on Tuesday.
                    wednesday_minutes:
                      type: integer
                      format: int32
                      description: The number of available working minutes on Wednesday.
                    thursday_minutes:
                      type: integer
                      format: int32
                      description: The number of available working minutes on Thursday.
                    friday_minutes:
                      type: integer
                      format: int32
                      description: The number of available working minutes on Friday.
                    saturday_minutes:
                      type: integer
                      format: int32
                      description: The number of available working minutes on Saturday.
                  required:
                  - user_id
        required: true
  /workweek_memberships/standardize_to_default:
    put:
      summary: Switch to default workweek
      description: 'Switches the specified user to the account default workweek, starting on the specified date.


        This endpoint returns structured Workweek Membership objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `workweek_memberships` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Update User Workweek To Default
      tags:
      - Workweek Memberships
      parameters:
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `user` (User) - References the user to whom the workweek membership belongs.

          - `workweek` (Workweek) - References the associated workweek.'
        schema:
          type: string
      responses:
        '200':
          description: Workweek Membership has been updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  workweek_memberships:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkweekMembership'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  workweeks:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Workweek'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                workweek_membership:
                  type: object
                  properties:
                    user_id:
                      type: integer
                      format: int32
                      description: The ID of the user being switched to the default workeek.
                    start_date:
                      type: string
                      format: date
                      description: Switches to default workweek from the specified date. If not specified, defaults to today. The date must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        required: true
  /workweek_memberships/{id}:
    get:
      summary: Fetching a single Workweek Membership
      description: 'This endpoint returns structured Workweek Membership objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `workweek_memberships` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Workweek Membership
      tags:
      - Workweek Memberships
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `user` (User) - References the user to whom the workweek membership belongs.

          - `workweek` (Workweek) - References the associated workweek.'
        schema:
          type: string
      responses:
        '200':
          description: The Workweek Membership has been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  workweek_memberships:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkweekMembership'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  workweeks:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Workweek'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    put:
      summary: Updating an existing Workweek Membership
      description: 'This endpoint returns structured Workweek Membership objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `workweek_memberships` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Update Workweek Membership
      tags:
      - Workweek Memberships
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `user` (User) - References the user to whom the workweek membership belongs.

          - `workweek` (Workweek) - References the associated workweek.'
        schema:
          type: string
      responses:
        '200':
          description: Workweek Membership has been updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  workweek_memberships:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkweekMembership'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  workweeks:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Workweek'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                workweek_membership:
                  type: object
                  properties:
                    start_date:
                      type: string
                      format: date
                      description: The start date of the workweek (must be a Sunday). The date must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
                    sunday_minutes:
                      type: integer
                      format: int32
                      description: The number of available working minutes on Sunday.
                    monday_minutes:
                      type: integer
                      format: int32
                      description: The number of available working minutes on Monday.
                    tuesday_minutes:
                      type: integer
                      format: int32
                      description: The number of available working minutes on Tuesday.
                    wednesday_minutes:
                      type: integer
                      format: int32
                      description: The number of available working minutes on Wednesday.
                    thursday_minutes:
                      type: integer
                      format: int32
                      description: The number of available working minutes on Thursday.
                    friday_minutes:
                      type: integer
                      format: int32
                      description: The number of available working minutes on Friday.
                    saturday_minutes:
                      type: integer
                      format: int32
                      description: The number of available working minutes on Saturday.
        required: true
    delete:
      summary: Deleting an existing Workweek Membership
      description: 'The response will contain no content and an HTTP 204 status code if the request was

        successful, or a standard Kantata OX error message explaining why the object could not be deleted.'
      operationId: Delete Workweek Membership
      tags:
      - Workweek Memberships
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      responses:
        '204':
          description: Workweek Membership has been deleted.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
components:
  schemas:
    WorkweekMembership:
      title: Workweek Membership
      description: A Workweek Membership represents the relationship of a user to a workweek.
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          description: The date and time the workweek membership was last updated.
        end_date:
          type: string
          format: date
          description: The end date of the workweek.
        start_date:
          type: string
          format: date
          description: The start date of the workweek.
        updated_at:
          type: string
          format: date-time
          description: The date and time the workweek membership was created.
        user_id:
          type: integer
          format: int32
          description: The ID of the associated user.
        workweek_id:
          type: string
          description: '`workweek_id` will only be included in the response if `workweek` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    Workweek:
      title: Workweek
      description: 'Workweeks are owned by an account. A workweek can be used as the account default, or

        can be associated to a user through a workweek membership.'
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          description: The date and time a workweek was last updated.
        default:
          type: boolean
          description: Whether the workweek is the default for the account.
        end_date:
          type: string
          format: date
          description: The end date of the workweek.
        friday_minutes:
          type: integer
          format: int32
          description: The number of available working minutes on Friday.
        monday_minutes:
          type: integer
          format: int32
          description: The number of available working minutes on Monday.
        saturday_minutes:
          type: integer
          format: int32
          description: The number of available working minutes on Saturday.
        start_date:
          type: string
          format: date
          description: The start date of the workweek.
        sunday_minutes:
          type: integer
          format: int32
          description: The number of available working minutes on Sunday.
        thursday_minutes:
          type: integer
          format: int32
          description: The number of available working minutes on Thursday.
        total_minutes:
          type: integer
          format: int32
          description: The total number of available working minutes for the week.
        tuesday_minutes:
          type: integer
          format: int32
          description: The number of available working minutes on Tuesday.
        updated_at:
          type: string
          format: date-time
          description: The date and time at which a workweek was created.
        wednesday_minutes:
          type: integer
          format: int32
          description: The number of available working minutes on Wednesday.
        workweek_membership_ids:
          type: array
          items:
            type: string
          description: '`workweek_membership_ids` will only be included in the response if `workweek_memberships` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    Error:
      type: object
      properties:
        type:
          type: string
        message:
          type: string
    User:
      title: User
      description: 'Users represent the individuals that are participating in Kantata OX projects. User objects are often returned as

        nested JSON objects within other returned items such as Posts or Stories.'
      type: object
      properties:
        abbreviated_timezone:
          type: string
          description: 'The abbreviation for the user''s time zone.

            Only returned when requested through the optional_fields param.'
        account_membership_id:
          type: string
          description: '`account_membership_id` will only be included in the response if `account_membership` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        bio:
          type: string
          description: 'A biography (defined by the user).

            Only returned when requested through the optional_fields param.'
        city:
          type: string
          description: 'The home city of the user (based on their profile).

            Only returned when requested through the optional_fields param.'
        classification:
          type: string
          description: 'Indicates whether a user is Internal or External.

            Only returned when requested through the optional_fields param.'
        country:
          type: string
          description: 'The home country of the user (based on their profile).

            Only returned when requested through the optional_fields param.'
        custom_field_value_ids:
          type: array
          items:
            type: string
          description: '`custom_field_value_ids` will only be included in the response if `custom_field_values` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        email_address:
          type: string
          description: The email address of the user.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        full_name:
          type: string
          description: The full name of the user.
        headline:
          type: string
          description: A short description of the user.
        last_site_activity:
          type: string
          format: date-time
          description: 'The last time a user logged in. This field is only available in conjunction with the `on_my_account` filter option. Only visible when the API user is an Account Administrator.

            Only returned when requested through the optional_fields param.'
        manager_id:
          type: string
          description: '`manager_id` will only be included in the response if `manager` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        photo_path:
          type: string
          description: The URL of the user's profile photo.
        role_id:
          type: string
          description: '`role_id` will only be included in the response if `role` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        skill_ids:
          type: array
          items:
            type: string
          description: '`skill_ids` will only be included in the response if `skills` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        skill_membership_ids:
          type: array
          items:
            type: string
          description: '`skill_membership_ids` will only be included in the response if `skill_memberships` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        state:
          type: string
          description: 'The home state of the user (based on their profile).

            Only returned when requested through the optional_fields param.'
        website:
          type: string
          description: 'A website (defined by the user).

            Only returned when requested through the optional_fields param.'
        work_sample_ids:
          type: array
          items:
            type: string
          description: '`work_sample_ids` will only be included in the response if `work_samples` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    Errors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    BearerToken:
      type: apiKey
      name: Bearer
      in: header
    OauthSecurity:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://app.mavenlink.com/oauth/authorize
          tokenUrl: https://app.mavenlink.com/oauth/token
x-tagGroups:
- name: '# Subscribed Events'
  tags:
  - Event Types
  - Events
- name: Account Locations
  tags:
  - Account Locations
- name: Account Settings & Members
  tags:
  - Access Group Memberships
  - Account Colors
  - Account Invitations
  - Account Memberships
  - Backup Approver Associations
  - Billable Utilizations
  - Cost Rates
  - Custom Branding
  - Organization Memberships
  - Organizations
  - Roles
  - Skill Categories
  - Skill Memberships
  - Skills
  - Task Status Sets
  - Task Statuses
  - User Group Memberships
  - Users
- name: Currencies
  tags:
  - Currencies
- name: Custom Fields
  tags:
  - Custom Field Choices
  - Custom Field Sets
  - Custom Field Values
  - Custom Fields
- name: Data Exporter
  tags:
  - Data Export Schema
  - Data Exports
- name: Estimates
  tags:
  - Estimate Scenario Resource Allocations
  - Estimate Scenario Resources
  - Estimate Scenarios
  - Estimates
- name: Expense Budgets
  tags:
  - Expense Budgets
- name: Expense Tracking
  tags:
  - Attachments
  - Expense Categories
  - Expense Report Submissions
  - Expenses
  - Vendors
- name: External References
  tags:
  - External References
- name: Financials
  tags:
  - Billing Milestones
  - Revenue Recognition Methods
- name: Foreign Exchange
  tags:
  - Exchange Tables
- name: Insights & Analytics
  tags:
  - Insights Access Group Memberships
  - Insights Dynamic Dashboards
  - Insights Report Exports
  - Insights Reports
- name: Invoices
  tags:
  - Client Invoice Defaults
  - External Payments
  - Invoices
  - Workspace Invoice Preferences
- name: Personal Settings
  tags:
  - Users
- name: Posts & Replies
  tags:
  - Attachments
  - Posts
  - User File Associations
- name: Project Snapshots
  tags:
  - Project Snapshots
- name: Project Templates
  tags:
  - Project Template Additional Tabs
  - Project Template Assignments
  - Project Template Expense Budgets
  - Project Templates
- name: Projects
  tags:
  - Participations
  - Project Accounting Records
  - Status Reports
  - Workspace Allocations
  - Workspace Baselines
  - Workspace Groups
  - Workspace Invoice Preferences
  - Workspace Resource Skills
  - Workspace Resources
  - Workspace Status Changes
  - Workspace Task Status Sets
  - Workspaces
- name: Rate Cards
  tags:
  - Activations
  - Rate Card Role (Rate for a Role)
  - Rate Card Set Version (Effective version by Date)
  - Rate Card Sets (Group of Rate Cards)
  - Rate Card Table Rows
  - Rate Card Versions
  - Rate Cards (Multiple Currencies)
- name: Recommendations
  tags:
  - Recommendations
- name: Resource Requests
  tags:
  - Resource Requests
- name: Scheduling
  tags:
  - Holiday Calendar Associations
  - Holiday Calendar Memberships
  - Holiday Calendars
  - Holidays
  - Time Off Entries
  - Workweek Memberships
  - Workweeks
- name: Surveys (Legacy)
  tags:
  - Survey Answers (Legacy)
  - Survey Questions (Legacy)
  - Survey Templates (Legacy)
  - Surveys Responses (Legacy)
- name: Tasks
  tags:
  - Assignments
  - Daily Scheduled Hours (Story Allocation Days)
  - Followers
  - Stories
  - Story Dependencies
  - Story State Changes
  - Story Tasks
- name: Time Tracking
  tags:
  - Line Item Locks
  - Time Entries
  - Timesheet Approvals
  - Timesheet Cancellations
  - Timesheet Rejections
  - Timesheet Submissions
