openapi: 3.2.0
info:
  version: 1.0.0
  title: Kantata OX API Documentation Workspace Resource Skills API
  description: Kantata OX's API provides access to the majority of Kantata OX's data model.
  termsOfService: https://www.kantata.com/terms-of-use
  contact:
    name: Kantata OX Support
    url: https://knowledge.kantata.com/hc/en-us
  license:
    name: COPYRIGHT © 2026 Kantata, Inc.
    url: https://www.kantata.com/terms-of-use
  x-logo:
    url: https://theme.zdassets.com/theme_assets/56104/04e93064d309f75d054b8cee885d1ea51e9be8f7.png
    backgroundColor: '#FFFFFF'
    altText: Kantata OX API Documentation
    href: https://developer.kantata.com
servers:
- url: https://api.mavenlink.com/api/v1
tags:
- name: Workspace Resource Skills
  description: Workspace Resource Skills represent skills that have been assigned to a workspace resource.
paths:
  /workspace_resource_skills:
    get:
      summary: Fetching a list of Workspace Resource Skills
      description: 'Returns a list of Workspace Resource Skills that represent the skills associated with workspace

        resources visible to the logged in user.


        This endpoint returns structured Workspace Resource Skill objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `workspace_resource_skills` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Workspace Resource Skills
      tags:
      - Workspace Resource Skills
      parameters:
      - in: query
        name: by_skill_id
        description: Only includes associated skill, by the skill ID.
        schema:
          type: integer
          format: int32
      - in: query
        name: by_skill_ids
        description: Only includes associated skills. Input is a comma separated list of ids or an array.
        schema:
          type: string
      - in: query
        name: by_skill_name
        description: Only includes associated skills, by the name of the skill.
        schema:
          type: string
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `creator` (User) - References the user who has created the skill association.

          - `skill` (Skill) - References the skill assigned to the object.

          - `workspace_resource` (WorkspaceResource) - References the workspace resource who has been assigned the skill.'
        schema:
          type: string
      - in: query
        name: only
        description: 'Allows you to request one or more resources directly by ID. Multiple IDs can be supplied

          in a comma separated list, like `GET /api/v1/workspaces.json?only=5,6,7`.'
        schema:
          type: string
      - in: query
        name: order
        description: 'Supply `order` with the name of a valid sort field for the endpoint and a direction.


          Valid values: `created_at:asc`, `created_at:desc`, `skill_name:asc`, and `skill_name:desc`.'
        schema:
          type: string
          default: created_at:desc
      - in: query
        name: page
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        schema:
          type: integer
          format: int32
          default: 20
          maximum: 200
      - in: query
        name: workspace_resource_ids
        description: Only includes workspace resource skills assigned to a workspace resource, by workspace resource ID.
        schema:
          type: array
          items:
            type: integer
            format: int32
      responses:
        '200':
          description: A list of Workspace Resource Skills have been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  workspace_resource_skills:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkspaceResourceSkill'
                  skills:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Skill'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  workspace_resources:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkspaceResource'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    post:
      summary: Creating a new Workspace Resource Skill
      description: 'This endpoint returns structured Workspace Resource Skill objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `workspace_resource_skills` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Create Workspace Resource Skill
      tags:
      - Workspace Resource Skills
      parameters:
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `creator` (User) - References the user who has created the skill association.

          - `skill` (Skill) - References the skill assigned to the object.

          - `workspace_resource` (WorkspaceResource) - References the workspace resource who has been assigned the skill.'
        schema:
          type: string
      responses:
        '200':
          description: Workspace Resource Skill has been created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  workspace_resource_skills:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkspaceResourceSkill'
                  skills:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Skill'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  workspace_resources:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkspaceResource'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                workspace_resource_skill:
                  type: object
                  properties:
                    skill_id:
                      type: integer
                      format: int32
                      description: The ID of the skill.
                    workspace_resource_id:
                      type: integer
                      format: int32
                      description: The ID of the workspace resource.
                    level:
                      type: integer
                      format: int32
                      description: 'The workspace resource''s proficiency level in the skill (1-5). This defaults to 1 if it is not specified.

                        Note: Not all skills have levels.'
                  required:
                  - skill_id
                  - workspace_resource_id
        required: true
  /workspace_resource_skills/{id}:
    get:
      summary: Fetching a single Workspace Resource Skill
      description: 'This endpoint returns structured Workspace Resource Skill objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `workspace_resource_skills` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Workspace Resource Skill
      tags:
      - Workspace Resource Skills
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `creator` (User) - References the user who has created the skill association.

          - `skill` (Skill) - References the skill assigned to the object.

          - `workspace_resource` (WorkspaceResource) - References the workspace resource who has been assigned the skill.'
        schema:
          type: string
      responses:
        '200':
          description: The Workspace Resource Skill has been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  workspace_resource_skills:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkspaceResourceSkill'
                  skills:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Skill'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  workspace_resources:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkspaceResource'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    put:
      summary: Updating an existing Workspace Resource Skill
      description: 'This endpoint returns structured Workspace Resource Skill objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `workspace_resource_skills` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Update Workspace Resource Skill
      tags:
      - Workspace Resource Skills
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `creator` (User) - References the user who has created the skill association.

          - `skill` (Skill) - References the skill assigned to the object.

          - `workspace_resource` (WorkspaceResource) - References the workspace resource who has been assigned the skill.'
        schema:
          type: string
      responses:
        '200':
          description: Workspace Resource Skill has been updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  workspace_resource_skills:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkspaceResourceSkill'
                  skills:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Skill'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  workspace_resources:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkspaceResource'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                workspace_resource_skill:
                  type: object
                  properties:
                    level:
                      type: integer
                      format: int32
                      description: 'The workspace resource''s proficiency level in the skill (1-5). This defaults to 0 if it is not specified.

                        Note: Not all skills have levels.'
        required: true
    delete:
      summary: Deleting an existing Workspace Resource Skill
      description: 'The response will contain no content and an HTTP 204 status code if the request was

        successful, or a standard Kantata OX error message explaining why the object could not be deleted.'
      operationId: Delete Workspace Resource Skill
      tags:
      - Workspace Resource Skills
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      responses:
        '204':
          description: Workspace Resource Skill has been deleted.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
components:
  schemas:
    WorkspaceResourceSkill:
      title: Workspace Resource Skill
      description: A Workspace Resource Skill represents a skill that has been assigned to a workspace resource.
      type: object
      properties:
        cached_skill_name:
          type: string
          description: The name of the skill.
        created_at:
          type: string
          format: date-time
        creator_id:
          type: string
          description: '`creator_id` will only be included in the response if `creator` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        level:
          type: integer
          format: int32
          description: The objects proficiency level for the skill (1-5).
        max_level:
          type: integer
          format: int32
          description: The maximum level assigned for the skill.
        skill_id:
          type: string
          description: '`skill_id` will only be included in the response if `skill` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        updated_at:
          type: string
          format: date-time
        workspace_resource_id:
          type: string
          description: '`workspace_resource_id` will only be included in the response if `workspace_resource` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    WorkspaceResource:
      title: Workspace Resource
      description: 'With workspace resources it is possible for a user to have many resources with different roles

        within a single workspace. Workspace resource can be assigned to tasks via Assignments which

        enables specifying a specific role / rate per assigned task.'
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        custom_field_value_ids:
          type: array
          items:
            type: string
          description: '`custom_field_value_ids` will only be included in the response if `custom_field_values` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        display_label:
          type: string
          description: User facing Identifer for the Resource.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        full_name:
          type: string
          description: Full Name of the Resource's user if any.
        label:
          type: string
        organization_membership_id:
          type: string
          description: '`organization_membership_id` will only be included in the response if `organization_membership` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        participation_id:
          type: string
          description: '`participation_id` will only be included in the response if `participation` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        photo_path:
          type: string
          description: URI of the Workspace Resource User Profile Photo if there is an user of the Resource.
        resource_bill_rate:
          type: integer
          format: int32
          description: 'The bill rate of the resource in a project, in the subunits of the currency (e.g. cents for USD).

            If the resource''s bill rate was overridden for the project, this field returns the overridden rate.


            Including this field in your request may result in a slower response. We recommend including this field only if necessary.

            Visible when the authenticated user has financial access in the project and is on the provider team.


            Only returned when requested through the optional_fields param.'
        resource_cost_rate:
          type: integer
          format: int32
          description: 'The cost rate of the resource in a project, in the subunits of the currency (e.g. cents for USD).

            If the resource''s cost rate was overridden for the project, this field returns the overridden rate.


            Including this field in your request may result in a slower response. We recommend including this field only if necessary.

            Visible when the authenticated user has financial access in the project and is on the provider team.


            Only returned when requested through the optional_fields param.'
        role_id:
          type: string
          description: '`role_id` will only be included in the response if `role` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        role_initials:
          type: string
          description: Three letter initals for the Resource's Role if any.
        role_name:
          type: string
          description: Name of the Resource's role if any.
        updated_at:
          type: string
          format: date-time
        user_id:
          type: string
          description: '`user_id` will only be included in the response if `user` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        workspace_id:
          type: integer
          format: int32
          description: Id of the Workspace that the Resource belongs to.
        workspace_title:
          type: string
          description: Title of the Workspace that the Resource belongs to.
    Error:
      type: object
      properties:
        type:
          type: string
        message:
          type: string
    User:
      title: User
      description: 'Users represent the individuals that are participating in Kantata OX projects. User objects are often returned as

        nested JSON objects within other returned items such as Posts or Stories.'
      type: object
      properties:
        abbreviated_timezone:
          type: string
          description: 'The abbreviation for the user''s time zone.

            Only returned when requested through the optional_fields param.'
        account_membership_id:
          type: string
          description: '`account_membership_id` will only be included in the response if `account_membership` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        bio:
          type: string
          description: 'A biography (defined by the user).

            Only returned when requested through the optional_fields param.'
        city:
          type: string
          description: 'The home city of the user (based on their profile).

            Only returned when requested through the optional_fields param.'
        classification:
          type: string
          description: 'Indicates whether a user is Internal or External.

            Only returned when requested through the optional_fields param.'
        country:
          type: string
          description: 'The home country of the user (based on their profile).

            Only returned when requested through the optional_fields param.'
        custom_field_value_ids:
          type: array
          items:
            type: string
          description: '`custom_field_value_ids` will only be included in the response if `custom_field_values` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        email_address:
          type: string
          description: The email address of the user.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        full_name:
          type: string
          description: The full name of the user.
        headline:
          type: string
          description: A short description of the user.
        last_site_activity:
          type: string
          format: date-time
          description: 'The last time a user logged in. This field is only available in conjunction with the `on_my_account` filter option. Only visible when the API user is an Account Administrator.

            Only returned when requested through the optional_fields param.'
        manager_id:
          type: string
          description: '`manager_id` will only be included in the response if `manager` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        photo_path:
          type: string
          description: The URL of the user's profile photo.
        role_id:
          type: string
          description: '`role_id` will only be included in the response if `role` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        skill_ids:
          type: array
          items:
            type: string
          description: '`skill_ids` will only be included in the response if `skills` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        skill_membership_ids:
          type: array
          items:
            type: string
          description: '`skill_membership_ids` will only be included in the response if `skill_memberships` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        state:
          type: string
          description: 'The home state of the user (based on their profile).

            Only returned when requested through the optional_fields param.'
        website:
          type: string
          description: 'A website (defined by the user).

            Only returned when requested through the optional_fields param.'
        work_sample_ids:
          type: array
          items:
            type: string
          description: '`work_sample_ids` will only be included in the response if `work_samples` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    Errors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    Skill:
      title: Skill
      description: 'Skills are used in Kantata OX to describe capabilities of users for the purposes of resource planning.

        They can be associated with a user through a Skill Membership.

        This model includes categories such as ''Skill'', ''Language'', ''Certification'' and ''Other''.'
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          description: The date and time a skill was last updated.
        description:
          type: string
          description: The description of the skill.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        max_level:
          type: string
          description: The max level allowed for the skill.
        name:
          type: string
          description: The name of the skill.
        skill_category_id:
          type: string
          description: '`skill_category_id` will only be included in the response if `skill_category` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        updated_at:
          type: string
          format: date-time
          description: The date and time at skill a workweek was created.
  securitySchemes:
    BearerToken:
      type: apiKey
      name: Bearer
      in: header
    OauthSecurity:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://app.mavenlink.com/oauth/authorize
          tokenUrl: https://app.mavenlink.com/oauth/token
x-tagGroups:
- name: '# Subscribed Events'
  tags:
  - Event Types
  - Events
- name: Account Locations
  tags:
  - Account Locations
- name: Account Settings & Members
  tags:
  - Access Group Memberships
  - Account Colors
  - Account Invitations
  - Account Memberships
  - Backup Approver Associations
  - Billable Utilizations
  - Cost Rates
  - Custom Branding
  - Organization Memberships
  - Organizations
  - Roles
  - Skill Categories
  - Skill Memberships
  - Skills
  - Task Status Sets
  - Task Statuses
  - User Group Memberships
  - Users
- name: Currencies
  tags:
  - Currencies
- name: Custom Fields
  tags:
  - Custom Field Choices
  - Custom Field Sets
  - Custom Field Values
  - Custom Fields
- name: Data Exporter
  tags:
  - Data Export Schema
  - Data Exports
- name: Estimates
  tags:
  - Estimate Scenario Resource Allocations
  - Estimate Scenario Resources
  - Estimate Scenarios
  - Estimates
- name: Expense Budgets
  tags:
  - Expense Budgets
- name: Expense Tracking
  tags:
  - Attachments
  - Expense Categories
  - Expense Report Submissions
  - Expenses
  - Vendors
- name: External References
  tags:
  - External References
- name: Financials
  tags:
  - Billing Milestones
  - Revenue Recognition Methods
- name: Foreign Exchange
  tags:
  - Exchange Tables
- name: Insights & Analytics
  tags:
  - Insights Access Group Memberships
  - Insights Dynamic Dashboards
  - Insights Report Exports
  - Insights Reports
- name: Invoices
  tags:
  - Client Invoice Defaults
  - External Payments
  - Invoices
  - Workspace Invoice Preferences
- name: Personal Settings
  tags:
  - Users
- name: Posts & Replies
  tags:
  - Attachments
  - Posts
  - User File Associations
- name: Project Snapshots
  tags:
  - Project Snapshots
- name: Project Templates
  tags:
  - Project Template Additional Tabs
  - Project Template Assignments
  - Project Template Expense Budgets
  - Project Templates
- name: Projects
  tags:
  - Participations
  - Project Accounting Records
  - Status Reports
  - Workspace Allocations
  - Workspace Baselines
  - Workspace Groups
  - Workspace Invoice Preferences
  - Workspace Resource Skills
  - Workspace Resources
  - Workspace Status Changes
  - Workspace Task Status Sets
  - Workspaces
- name: Rate Cards
  tags:
  - Activations
  - Rate Card Role (Rate for a Role)
  - Rate Card Set Version (Effective version by Date)
  - Rate Card Sets (Group of Rate Cards)
  - Rate Card Table Rows
  - Rate Card Versions
  - Rate Cards (Multiple Currencies)
- name: Recommendations
  tags:
  - Recommendations
- name: Resource Requests
  tags:
  - Resource Requests
- name: Scheduling
  tags:
  - Holiday Calendar Associations
  - Holiday Calendar Memberships
  - Holiday Calendars
  - Holidays
  - Time Off Entries
  - Workweek Memberships
  - Workweeks
- name: Surveys (Legacy)
  tags:
  - Survey Answers (Legacy)
  - Survey Questions (Legacy)
  - Survey Templates (Legacy)
  - Surveys Responses (Legacy)
- name: Tasks
  tags:
  - Assignments
  - Daily Scheduled Hours (Story Allocation Days)
  - Followers
  - Stories
  - Story Dependencies
  - Story State Changes
  - Story Tasks
- name: Time Tracking
  tags:
  - Line Item Locks
  - Time Entries
  - Timesheet Approvals
  - Timesheet Cancellations
  - Timesheet Rejections
  - Timesheet Submissions
