openapi: 3.2.0
info:
  version: 1.0.0
  title: Kantata OX API Documentation Resource Requests API
  description: Kantata OX's API provides access to the majority of Kantata OX's data model.
  termsOfService: https://www.kantata.com/terms-of-use
  contact:
    name: Kantata OX Support
    url: https://knowledge.kantata.com/hc/en-us
  license:
    name: COPYRIGHT © 2026 Kantata, Inc.
    url: https://www.kantata.com/terms-of-use
  x-logo:
    url: https://theme.zdassets.com/theme_assets/56104/04e93064d309f75d054b8cee885d1ea51e9be8f7.png
    backgroundColor: '#FFFFFF'
    altText: Kantata OX API Documentation
    href: https://developer.kantata.com
servers:
- url: https://api.mavenlink.com/api/v1
tags:
- name: Resource Requests
  description: 'Resource Requests are used as a method for a requestor to ask an approver to staff a resource.

    Resource Requests are associated to a workspace resource and must have an approver associated.'
paths:
  /resource_requests:
    get:
      summary: Fetching a list of Resource Requests
      description: 'Returns resource requests visible to the logged in user by default. When `pending_requests_only` filter is set

        to true, the endpoint returns only pending resource requests.


        This endpoint returns structured Resource Requests objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `resource_requests` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Resource Requests
      tags:
      - Resource Requests
      parameters:
      - in: query
        name: created_after
        description: Filter for records created after a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: created_before
        description: Filter for records created before a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `approvers` (User) - The users available to approver or reject the resource request.

          - `creator` (User) - The person submitting the resource request.

          - `resource` (WorkspaceResource) - The resource the request is intending to assign a user to.'
        schema:
          type: string
      - in: query
        name: only
        description: 'Allows you to request one or more resources directly by ID. Multiple IDs can be supplied

          in a comma separated list, like `GET /api/v1/workspaces.json?only=5,6,7`.'
        schema:
          type: string
      - in: query
        name: page
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: pending_requests_only
        description: Returns only the pending resource requests.
        schema:
          type: boolean
      - in: query
        name: per_page
        schema:
          type: integer
          format: int32
          default: 20
          maximum: 200
      - in: query
        name: requests_for_approver
        description: Returns only the requests where the specified user is the approver.
        schema:
          type: string
      - in: query
        name: updated_after
        description: Filter for records updated after a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: updated_before
        description: Filter for records updated before a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: A list of Resource Requests have been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  resource_requests:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ResourceRequest'
                  workspace_resources:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkspaceResource'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    post:
      summary: Creating a new Resource Requests
      description: 'This endpoint returns structured Resource Requests objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `resource_requests` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Create Resource Request
      tags:
      - Resource Requests
      parameters:
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `approvers` (User) - The users available to approver or reject the resource request.

          - `creator` (User) - The person submitting the resource request.

          - `resource` (WorkspaceResource) - The resource the request is intending to assign a user to.'
        schema:
          type: string
      responses:
        '200':
          description: Resource Requests has been created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  resource_requests:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ResourceRequest'
                  workspace_resources:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkspaceResource'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                resource_request:
                  type: object
                  properties:
                    resource_id:
                      type: integer
                      format: int32
                      description: The ID of the resource for which the resource request will be created.
                    resource_workspace_id:
                      type: integer
                      format: int32
                      description: A resource will be created for this project in addition to the resource request.
                    resource_role_id:
                      type: integer
                      format: int32
                      description: A resource will be created with this role in addition to the resource request.
                    approver_ids:
                      type: array
                      items:
                        type: integer
                        format: int32
                      description: The IDs of the people selected to approve this request.
                    workspace_allocation_start_date:
                      type: string
                      format: date
                      description: Set the allocation start date for a created workspace resource. The date must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
                    workspace_allocation_end_date:
                      type: string
                      format: date
                      description: Set the allocation start date for a created workspace resource. The date must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
                    workspace_allocation_percentage:
                      type: integer
                      format: int32
                      description: Set the allocation percentage for a created workspace resource.
                    custom_fields:
                      type: array
                      description: Determines the custom field values for the workspace resource.
                      items:
                        type: object
                        properties:
                          custom_field_id:
                            type: integer
                            format: int32
                            description: The ID of the custom field.
                          value:
                            type: string
                            description: 'The value for the corresponding custom field. The value formats for different types are:


                              * `string` - `<text_string>`, eg. `''foo''`

                              * `date` - `<ISO_8601 Date Format>` eg. `''2014-02-25''` `(accepted range: ''1900-01-01'' to ''2015-12-31'')`

                              * `number` - `<integer_value>` eg. `''13''`

                              * `currency` - `[<int_value_in_cents>, <currency_code>]` eg. `''[998, USD]''`

                              * `single` and `multi` - `[<choice_ids>]` eg. `''[1, 2, 4]''`.'
                  required:
                  - approver_ids
        required: true
  /resource_requests/{id}:
    get:
      summary: Fetching a single Resource Requests
      description: 'This endpoint returns structured Resource Requests objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `resource_requests` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Resource Request
      tags:
      - Resource Requests
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `approvers` (User) - The users available to approver or reject the resource request.

          - `creator` (User) - The person submitting the resource request.

          - `resource` (WorkspaceResource) - The resource the request is intending to assign a user to.'
        schema:
          type: string
      responses:
        '200':
          description: The Resource Requests has been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  resource_requests:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ResourceRequest'
                  workspace_resources:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkspaceResource'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    put:
      summary: Updating an existing Resource Requests
      description: 'This endpoint returns structured Resource Requests objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `resource_requests` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Update Resource Request
      tags:
      - Resource Requests
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `approvers` (User) - The users available to approver or reject the resource request.

          - `creator` (User) - The person submitting the resource request.

          - `resource` (WorkspaceResource) - The resource the request is intending to assign a user to.'
        schema:
          type: string
      responses:
        '200':
          description: Resource Requests has been updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  resource_requests:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ResourceRequest'
                  workspace_resources:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkspaceResource'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                resource_request:
                  type: object
                  properties:
                    request_resolution_status:
                      type: string
                      description: The state for request resolution, one of approve, reject, or cancel.
                    user_id:
                      type: integer
                      format: int32
                      description: The ID of the user being named (staffed) on this unnamed resource.
                    allocations_state:
                      type: boolean
                      description: Whether to set the allocations to hard or soft allocated when naming the resource. When nothing is passed in, the allocations are defaulted to hard allocated.
                  required:
                  - request_resolution_status
        required: true
  /resource_requests/{id}/update_approver:
    put:
      summary: Update Resource Request Approver
      description: 'This endpoint returns structured Resource Requests objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `resource_requests` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Update Resource Request Approver
      tags:
      - Resource Requests
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `approvers` (User) - The users available to approver or reject the resource request.

          - `creator` (User) - The person submitting the resource request.

          - `resource` (WorkspaceResource) - The resource the request is intending to assign a user to.'
        schema:
          type: string
      responses:
        '200':
          description: Resource Requests has been updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  resource_requests:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ResourceRequest'
                  workspace_resources:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkspaceResource'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                resource_request:
                  type: object
                  properties:
                    new_approver_id:
                      type: array
                      items:
                        type: integer
                        format: int32
                      description: The ID of the user who is the new approver.
                  required:
                  - new_approver_id
        required: true
components:
  schemas:
    WorkspaceResource:
      title: Workspace Resource
      description: 'With workspace resources it is possible for a user to have many resources with different roles

        within a single workspace. Workspace resource can be assigned to tasks via Assignments which

        enables specifying a specific role / rate per assigned task.'
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        custom_field_value_ids:
          type: array
          items:
            type: string
          description: '`custom_field_value_ids` will only be included in the response if `custom_field_values` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        display_label:
          type: string
          description: User facing Identifer for the Resource.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        full_name:
          type: string
          description: Full Name of the Resource's user if any.
        label:
          type: string
        organization_membership_id:
          type: string
          description: '`organization_membership_id` will only be included in the response if `organization_membership` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        participation_id:
          type: string
          description: '`participation_id` will only be included in the response if `participation` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        photo_path:
          type: string
          description: URI of the Workspace Resource User Profile Photo if there is an user of the Resource.
        resource_bill_rate:
          type: integer
          format: int32
          description: 'The bill rate of the resource in a project, in the subunits of the currency (e.g. cents for USD).

            If the resource''s bill rate was overridden for the project, this field returns the overridden rate.


            Including this field in your request may result in a slower response. We recommend including this field only if necessary.

            Visible when the authenticated user has financial access in the project and is on the provider team.


            Only returned when requested through the optional_fields param.'
        resource_cost_rate:
          type: integer
          format: int32
          description: 'The cost rate of the resource in a project, in the subunits of the currency (e.g. cents for USD).

            If the resource''s cost rate was overridden for the project, this field returns the overridden rate.


            Including this field in your request may result in a slower response. We recommend including this field only if necessary.

            Visible when the authenticated user has financial access in the project and is on the provider team.


            Only returned when requested through the optional_fields param.'
        role_id:
          type: string
          description: '`role_id` will only be included in the response if `role` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        role_initials:
          type: string
          description: Three letter initals for the Resource's Role if any.
        role_name:
          type: string
          description: Name of the Resource's role if any.
        updated_at:
          type: string
          format: date-time
        user_id:
          type: string
          description: '`user_id` will only be included in the response if `user` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        workspace_id:
          type: integer
          format: int32
          description: Id of the Workspace that the Resource belongs to.
        workspace_title:
          type: string
          description: Title of the Workspace that the Resource belongs to.
    Error:
      type: object
      properties:
        type:
          type: string
        message:
          type: string
    User:
      title: User
      description: 'Users represent the individuals that are participating in Kantata OX projects. User objects are often returned as

        nested JSON objects within other returned items such as Posts or Stories.'
      type: object
      properties:
        abbreviated_timezone:
          type: string
          description: 'The abbreviation for the user''s time zone.

            Only returned when requested through the optional_fields param.'
        account_membership_id:
          type: string
          description: '`account_membership_id` will only be included in the response if `account_membership` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        bio:
          type: string
          description: 'A biography (defined by the user).

            Only returned when requested through the optional_fields param.'
        city:
          type: string
          description: 'The home city of the user (based on their profile).

            Only returned when requested through the optional_fields param.'
        classification:
          type: string
          description: 'Indicates whether a user is Internal or External.

            Only returned when requested through the optional_fields param.'
        country:
          type: string
          description: 'The home country of the user (based on their profile).

            Only returned when requested through the optional_fields param.'
        custom_field_value_ids:
          type: array
          items:
            type: string
          description: '`custom_field_value_ids` will only be included in the response if `custom_field_values` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        email_address:
          type: string
          description: The email address of the user.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        full_name:
          type: string
          description: The full name of the user.
        headline:
          type: string
          description: A short description of the user.
        last_site_activity:
          type: string
          format: date-time
          description: 'The last time a user logged in. This field is only available in conjunction with the `on_my_account` filter option. Only visible when the API user is an Account Administrator.

            Only returned when requested through the optional_fields param.'
        manager_id:
          type: string
          description: '`manager_id` will only be included in the response if `manager` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        photo_path:
          type: string
          description: The URL of the user's profile photo.
        role_id:
          type: string
          description: '`role_id` will only be included in the response if `role` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        skill_ids:
          type: array
          items:
            type: string
          description: '`skill_ids` will only be included in the response if `skills` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        skill_membership_ids:
          type: array
          items:
            type: string
          description: '`skill_membership_ids` will only be included in the response if `skill_memberships` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        state:
          type: string
          description: 'The home state of the user (based on their profile).

            Only returned when requested through the optional_fields param.'
        website:
          type: string
          description: 'A website (defined by the user).

            Only returned when requested through the optional_fields param.'
        work_sample_ids:
          type: array
          items:
            type: string
          description: '`work_sample_ids` will only be included in the response if `work_samples` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    Errors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    ResourceRequest:
      title: Resource Requests
      description: 'Resource Requests are used as a method for a requestor to ask an approver to staff a resource.

        Resource Requests are associated to a workspace resource and must have an approver associated.'
      type: object
      properties:
        approver_ids:
          type: array
          items:
            type: string
          description: '`approver_ids` will only be included in the response if `approvers` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        created_at:
          type: string
          format: date-time
        creator_id:
          type: string
          description: '`creator_id` will only be included in the response if `creator` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        resource_id:
          type: string
          description: '`resource_id` will only be included in the response if `resource` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        status:
          type: string
          description: 'The current state of the request: new, cancelled, rejected, or approved.'
        updated_at:
          type: string
          format: date-time
  securitySchemes:
    BearerToken:
      type: apiKey
      name: Bearer
      in: header
    OauthSecurity:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://app.mavenlink.com/oauth/authorize
          tokenUrl: https://app.mavenlink.com/oauth/token
x-tagGroups:
- name: '# Subscribed Events'
  tags:
  - Event Types
  - Events
- name: Account Locations
  tags:
  - Account Locations
- name: Account Settings & Members
  tags:
  - Access Group Memberships
  - Account Colors
  - Account Invitations
  - Account Memberships
  - Backup Approver Associations
  - Billable Utilizations
  - Cost Rates
  - Custom Branding
  - Organization Memberships
  - Organizations
  - Roles
  - Skill Categories
  - Skill Memberships
  - Skills
  - Task Status Sets
  - Task Statuses
  - User Group Memberships
  - Users
- name: Currencies
  tags:
  - Currencies
- name: Custom Fields
  tags:
  - Custom Field Choices
  - Custom Field Sets
  - Custom Field Values
  - Custom Fields
- name: Data Exporter
  tags:
  - Data Export Schema
  - Data Exports
- name: Estimates
  tags:
  - Estimate Scenario Resource Allocations
  - Estimate Scenario Resources
  - Estimate Scenarios
  - Estimates
- name: Expense Budgets
  tags:
  - Expense Budgets
- name: Expense Tracking
  tags:
  - Attachments
  - Expense Categories
  - Expense Report Submissions
  - Expenses
  - Vendors
- name: External References
  tags:
  - External References
- name: Financials
  tags:
  - Billing Milestones
  - Revenue Recognition Methods
- name: Foreign Exchange
  tags:
  - Exchange Tables
- name: Insights & Analytics
  tags:
  - Insights Access Group Memberships
  - Insights Dynamic Dashboards
  - Insights Report Exports
  - Insights Reports
- name: Invoices
  tags:
  - Client Invoice Defaults
  - External Payments
  - Invoices
  - Workspace Invoice Preferences
- name: Personal Settings
  tags:
  - Users
- name: Posts & Replies
  tags:
  - Attachments
  - Posts
  - User File Associations
- name: Project Snapshots
  tags:
  - Project Snapshots
- name: Project Templates
  tags:
  - Project Template Additional Tabs
  - Project Template Assignments
  - Project Template Expense Budgets
  - Project Templates
- name: Projects
  tags:
  - Participations
  - Project Accounting Records
  - Status Reports
  - Workspace Allocations
  - Workspace Baselines
  - Workspace Groups
  - Workspace Invoice Preferences
  - Workspace Resource Skills
  - Workspace Resources
  - Workspace Status Changes
  - Workspace Task Status Sets
  - Workspaces
- name: Rate Cards
  tags:
  - Activations
  - Rate Card Role (Rate for a Role)
  - Rate Card Set Version (Effective version by Date)
  - Rate Card Sets (Group of Rate Cards)
  - Rate Card Table Rows
  - Rate Card Versions
  - Rate Cards (Multiple Currencies)
- name: Recommendations
  tags:
  - Recommendations
- name: Resource Requests
  tags:
  - Resource Requests
- name: Scheduling
  tags:
  - Holiday Calendar Associations
  - Holiday Calendar Memberships
  - Holiday Calendars
  - Holidays
  - Time Off Entries
  - Workweek Memberships
  - Workweeks
- name: Surveys (Legacy)
  tags:
  - Survey Answers (Legacy)
  - Survey Questions (Legacy)
  - Survey Templates (Legacy)
  - Surveys Responses (Legacy)
- name: Tasks
  tags:
  - Assignments
  - Daily Scheduled Hours (Story Allocation Days)
  - Followers
  - Stories
  - Story Dependencies
  - Story State Changes
  - Story Tasks
- name: Time Tracking
  tags:
  - Line Item Locks
  - Time Entries
  - Timesheet Approvals
  - Timesheet Cancellations
  - Timesheet Rejections
  - Timesheet Submissions
