openapi: 3.2.0
info:
  version: 1.0.0
  title: Kantata OX API Documentation Custom Field Values API
  description: Kantata OX's API provides access to the majority of Kantata OX's data model.
  termsOfService: https://www.kantata.com/terms-of-use
  contact:
    name: Kantata OX Support
    url: https://knowledge.kantata.com/hc/en-us
  license:
    name: COPYRIGHT © 2026 Kantata, Inc.
    url: https://www.kantata.com/terms-of-use
  x-logo:
    url: https://theme.zdassets.com/theme_assets/56104/04e93064d309f75d054b8cee885d1ea51e9be8f7.png
    backgroundColor: '#FFFFFF'
    altText: Kantata OX API Documentation
    href: https://developer.kantata.com
servers:
- url: https://api.mavenlink.com/api/v1
tags:
- name: Custom Field Values
  description: 'If Custom Fields represent the fields themselves,

    Custom Field Values represent the values in/of those fields. The Custom Field Values object allows

    you to view, create, update, and delete these values.'
paths:
  /custom_field_values:
    get:
      summary: Fetching a list of Custom Field Values
      description: 'Returns all values for the specified set of

        Custom Fields.


        This endpoint has its own rate limit. See the Knowledge Base for more information.


        Custom fields are organized into sets,

        by the objects they store additional information for (Estimate, Project, Group, Resource, Task, or User).

        Use the `subject_type` parameter to specify which set of Custom Fields to return values for:

        * `Estimate`

        * `Story` (Task)

        * `User`

        * `Workspace` (Project)

        * `WorkspaceGroup` (Group)

        * `Resource`


        Custom field values for _archived_ Projects and Tasks are included in returned values.

        Values are sorted from less to more recently updated.


        ##### Note:

        The `read_access` permission setting on each custom field

        determines the minimum permission needed to view a custom field and its value.

        * `Workspace` (Project), `Resource`, and `Story` (Task) custom fields are project-specific objects,

        so their minimum permissions are set at the project level:

        - `project_collaboration` (default)

        - `time_logging`

        - `financial`

        - `project_admin`


        Most account-level permissions supercede project-level permissions. Therefore, Account Administrators

        are able to view all Project, Resource, and Task custom fields and values across the account,

        regardless of project participation or `read_access` settings.

        * `Estimate`, `WorkspaceGroup` (Group), and `User` custom fields are account-wide objects, so their minimum permissions are

        set at the account level:

        - `account_collaboration`

        - `project_creator`

        - `project_lead`

        - `reports_viewer`

        - `reports_viewer_with_cost`

        - `account_admin` (default)


        This endpoint returns structured Custom Field Value objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `custom_field_values` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Custom Field Values
      tags:
      - Custom Field Values
      parameters:
      - in: query
        name: subject_type
        required: true
        description: 'You must specify which set of Custom Fields to return values for:

          * `Estimate`

          * `Story` (Task)

          * `User`

          * `Workspace` (Project)

          * `WorkspaceGroup` (Group)

          * `Resource`


          This parameter is required.'
        schema:
          type: string
      - in: query
        name: created_after
        description: Filter for records created after a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: created_before
        description: Filter for records created before a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: external_reference_external_message
        description: Filter the objects based on the external message of their associated external references. This is an exact match.
        schema:
          type: string
      - in: query
        name: external_reference_external_status
        description: Filter by the status of the external object in the external system.
        schema:
          type: string
      - in: query
        name: external_reference_service_model
        description: Filter by the type of the external object this external reference belongs to.
        schema:
          type: string
      - in: query
        name: external_reference_service_model_ref
        description: Filter by the id of the external object this external reference belongs to.
        schema:
          type: integer
          format: int32
      - in: query
        name: external_reference_service_model_refs
        description: Filter for objects that correlate to the specified external object IDs. Provide a comma-separated list of up to 200 external IDs.
        schema:
          type: string
      - in: query
        name: external_reference_service_name
        description: Filter by the name of the provider for integration.
        schema:
          type: string
      - in: query
        name: external_reference_status
        description: Filter by the status of the integration, this can be successful or fail.
        schema:
          type: string
      - in: query
        name: has_external_references
        description: Filter by whether or not the object has external references.
        schema:
          type: boolean
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `custom_field` (CustomField) - Retrieves the custom field the value is for. The response will include `custom_field_id`, which references the data in the `custom_fields` top-level key.

          - `external_references` (ExternalReference) - Includes references to external integrations for this object.

          - `selected_choices` (CustomFieldChoice) - Retrieves the custom field choice that corresponds to the custom field value. The response will include `selected_choice_ids`, which references the data in the `custom_field_choices` top-level key.

          - `setter` (User) - Retrieves the user that set the custom field value. The response will include `setter_id`, which references the data in the `users` top-level key.

          - `subject` (polymorphic) - Retrieves the object which the custom field value is for. The response will include `subject_ref`, which references the data in the top-level key specified in the `key` field of `subject_ref`. The possible objects are as follows:

          * `Estimate`

          * `Workspace` (Project)

          * `WorkspaceGroup` (Group)

          * `Resource`

          * `Story` (Task)

          * `User`.'
        schema:
          type: string
      - in: query
        name: only
        description: 'Allows you to request one or more resources directly by ID. Multiple IDs can be supplied

          in a comma separated list, like `GET /api/v1/workspaces.json?only=5,6,7`.'
        schema:
          type: string
      - in: query
        name: order
        description: 'Supply `order` with the name of a valid sort field for the endpoint and a direction.


          Valid values: `created_at:asc`, `created_at:desc`, `subject_id:asc`, `subject_id:desc`, `updated_at:asc`, and `updated_at:desc`.'
        schema:
          type: string
          default: created_at:asc
      - in: query
        name: page
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        schema:
          type: integer
          format: int32
          default: 20
          maximum: 200
      - in: query
        name: updated_after
        description: Filter for records updated after a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: updated_before
        description: Filter for records updated before a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: with_custom_field_id
        description: Filters for values of the Custom Field(s) with the specified ID(s). Give multiple Custom Field IDs in a comma-separated list.
        schema:
          type: string
      - in: query
        name: with_setter_id
        description: Filters for Custom Field Values set by a user with the specified ID(s). Give multiple user IDs in a comma-separated list.
        schema:
          type: string
      - in: query
        name: with_subject_id
        description: "Filters for Custom Field Values associated with the specified ID(s) of an Estimate, Project,\n             Group, Resource, Task, or User. Give multiple IDs in a comma-separated list."
        schema:
          type: string
      - in: query
        name: without_external_reference_service_name
        description: Exclude by the existence of an external reference with the specified service name.
        schema:
          type: string
      responses:
        '200':
          description: A list of Custom Field Values have been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  custom_field_values:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/CustomFieldValue'
                  external_references:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ExternalReference'
                  custom_fields:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/CustomField'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  custom_field_choices:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/CustomFieldChoice'
                  stories:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Story'
                  workspaces:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Workspace'
                  workspace_groups:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkspaceGroup'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    post:
      summary: Creating a new Custom Field Value
      description: 'Creates a new value for the specified custom field. Creating a value can also override existing values,

        effectively making this an update request as well.


        When creating new single or multi choice values that

        override existing values, note that new values are not _added_ to existing values, but instead _replace_ existing values.

        Additionally, every new value has a unique, new ID.


        This endpoint has its own rate limit. See the Knowledge Base for more information.


        **Bulk Create or Update**


        This endpoint supports bulk creating or updating up to 100 objects. In the request body, set the top-level key to its plural form and place the objects in an array. Example:


        ```

        {

        "custom_field_values": [

        {

        "subject_type": "Workspace",

        "subject_id": 123,

        "custom_field_id": 456,

        "value": "Hello world"

        },

        {

        "subject_type": "Workspace",

        "subject_id": 123,

        "custom_field_id": 789,

        "value": "Hello world"

        }

        ]

        }

        ```


        This endpoint returns structured Custom Field Value objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `custom_field_values` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Create Custom Field Value
      tags:
      - Custom Field Values
      parameters:
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `custom_field` (CustomField) - Retrieves the custom field the value is for. The response will include `custom_field_id`, which references the data in the `custom_fields` top-level key.

          - `external_references` (ExternalReference) - Includes references to external integrations for this object.

          - `selected_choices` (CustomFieldChoice) - Retrieves the custom field choice that corresponds to the custom field value. The response will include `selected_choice_ids`, which references the data in the `custom_field_choices` top-level key.

          - `setter` (User) - Retrieves the user that set the custom field value. The response will include `setter_id`, which references the data in the `users` top-level key.

          - `subject` (polymorphic) - Retrieves the object which the custom field value is for. The response will include `subject_ref`, which references the data in the top-level key specified in the `key` field of `subject_ref`. The possible objects are as follows:

          * `Estimate`

          * `Workspace` (Project)

          * `WorkspaceGroup` (Group)

          * `Resource`

          * `Story` (Task)

          * `User`.'
        schema:
          type: string
      responses:
        '200':
          description: Custom Field Value has been created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  custom_field_values:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/CustomFieldValue'
                  external_references:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ExternalReference'
                  custom_fields:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/CustomField'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  custom_field_choices:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/CustomFieldChoice'
                  stories:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Story'
                  workspaces:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Workspace'
                  workspace_groups:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkspaceGroup'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                custom_field_value:
                  type: object
                  properties:
                    subject_type:
                      type: string
                      description: 'You must specify which set of Custom Fields to return values for:

                        * `Estimate`

                        * `Story` (Task)

                        * `User`

                        * `Workspace` (Project)

                        * `WorkspaceGroup` (Group)

                        * `Resource`


                        This parameter is required.'
                    subject_id:
                      type: integer
                      format: int32
                      description: The ID of the Estimate, Project, Group, Resource, Task, or User the custom field is for.
                    custom_field_id:
                      type: integer
                      format: int32
                      description: The ID of the Custom Field to create or update the value for.
                    value:
                      type: string
                      description: 'The value to create or update to for the specified custom field.


                        Values can be created or updated in these formats:


                        | Value Type           | Format                                   | Sample         |

                        | -------------------- |:----------------------------------------:| --------------:|

                        | `string`             | `<text_string>`                          |        `"foo"` |

                        | `date`               | `<ISO_8601 Date Format>`                 | `"2014-02-25"` |

                        | `number`             | `<integer_value>`                        |           `13` |

                        | `currency`           | `[<int_value_in_cents>, <currency_code>]`| `[998, "USD"]` |

                        | `single` and `multi` | `[<choice_ids>]`                         |    `[1, 2, 4]` |


                        ##### Note:

                        The `write_access` [permission setting on each custom field](https://mavenlink.zendesk.com/hc/en-us/articles/202924760#see)

                        determines the minimum permission needed to edit the value of each custom field.

                        * Editing `Workspace` (Project), `Resource`, and `Story` (Task) custom fields are project-specific changes,

                        so permissions are set at the project level:

                        - `project_collaboration`

                        - `time_logging`

                        - `financial`

                        - `project_admin` (default)


                        Most account-level permissions supercede project-level permissions. Therefore, Account Administrators

                        are able to edit all Project, Resource, and Task custom fields and values across the account,

                        regardless of project participation or `write_access` settings.

                        * Editing `Estimate`, `WorkspaceGroup` (Group), and `User` custom fields are account-wide changes,

                        so permissions are set at the account level:

                        - `account_collaboration`

                        - `project_creator`

                        - `project_lead`

                        - `reports_viewer`

                        - `reports_viewer_with_cost`

                        - `account_admin` (default).'
                  required:
                  - subject_type
                  - subject_id
                  - custom_field_id
                  - value
        required: true
    delete:
      summary: Delete multiple custom field values
      description: 'The IDs of the custom field values to delete can be provided in the `ids` query parameter or via the request body.


        Request body example:

        ```{

        "ids": "1,2,3"

        }```


        If any specified custom field values cannot be deleted, the entire request will fail and an error message

        will be returned that specifies which ones could not be deleted and why.


        This endpoint returns structured Custom Field Value objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `custom_field_values` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Delete Custom Field Values
      tags:
      - Custom Field Values
      parameters:
      - in: query
        name: ids
        required: false
        description: 'A comma-separated list of IDs of custom field values. You can provide up to 100 IDs. The IDs can be

          provided in this query parameter or via the request body.'
        schema:
          type: string
      responses:
        '204':
          description: Custom Field Value has been deleted.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /custom_field_values/{id}:
    get:
      summary: Fetching a single Custom Field Value
      description: 'This endpoint returns structured Custom Field Value objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `custom_field_values` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Custom Field Value
      tags:
      - Custom Field Values
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `custom_field` (CustomField) - Retrieves the custom field the value is for. The response will include `custom_field_id`, which references the data in the `custom_fields` top-level key.

          - `external_references` (ExternalReference) - Includes references to external integrations for this object.

          - `selected_choices` (CustomFieldChoice) - Retrieves the custom field choice that corresponds to the custom field value. The response will include `selected_choice_ids`, which references the data in the `custom_field_choices` top-level key.

          - `setter` (User) - Retrieves the user that set the custom field value. The response will include `setter_id`, which references the data in the `users` top-level key.

          - `subject` (polymorphic) - Retrieves the object which the custom field value is for. The response will include `subject_ref`, which references the data in the top-level key specified in the `key` field of `subject_ref`. The possible objects are as follows:

          * `Estimate`

          * `Workspace` (Project)

          * `WorkspaceGroup` (Group)

          * `Resource`

          * `Story` (Task)

          * `User`.'
        schema:
          type: string
      responses:
        '200':
          description: The Custom Field Value has been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  custom_field_values:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/CustomFieldValue'
                  external_references:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ExternalReference'
                  custom_fields:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/CustomField'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  custom_field_choices:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/CustomFieldChoice'
                  stories:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Story'
                  workspaces:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Workspace'
                  workspace_groups:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkspaceGroup'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    put:
      summary: Updating an existing Custom Field Value
      description: 'Updates an existing value for the specified custom field. Up to 100 values can be updated at one time.


        This endpoint returns structured Custom Field Value objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `custom_field_values` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Update Custom Field Value
      tags:
      - Custom Field Values
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `custom_field` (CustomField) - Retrieves the custom field the value is for. The response will include `custom_field_id`, which references the data in the `custom_fields` top-level key.

          - `external_references` (ExternalReference) - Includes references to external integrations for this object.

          - `selected_choices` (CustomFieldChoice) - Retrieves the custom field choice that corresponds to the custom field value. The response will include `selected_choice_ids`, which references the data in the `custom_field_choices` top-level key.

          - `setter` (User) - Retrieves the user that set the custom field value. The response will include `setter_id`, which references the data in the `users` top-level key.

          - `subject` (polymorphic) - Retrieves the object which the custom field value is for. The response will include `subject_ref`, which references the data in the top-level key specified in the `key` field of `subject_ref`. The possible objects are as follows:

          * `Estimate`

          * `Workspace` (Project)

          * `WorkspaceGroup` (Group)

          * `Resource`

          * `Story` (Task)

          * `User`.'
        schema:
          type: string
      responses:
        '200':
          description: Custom Field Value has been updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  custom_field_values:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/CustomFieldValue'
                  external_references:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ExternalReference'
                  custom_fields:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/CustomField'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  custom_field_choices:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/CustomFieldChoice'
                  stories:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Story'
                  workspaces:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Workspace'
                  workspace_groups:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkspaceGroup'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                custom_field_value:
                  type: object
                  properties:
                    value:
                      type: string
                      description: "The new value that replaces the existing value for the specified custom field.\n\nThese value types are updated in the following formats:\n\n  | Value Type           | Format                                   | Sample         |\n  | -------------------- |:----------------------------------------:| --------------:|\n  | `string`             | `<text_string>`                          |        `\"foo\"` |\n  | `date`               | `<ISO_8601 Date Format>`                 | `\"2014-02-25\"` |\n  | `number`             | `<integer_value>`                        |           `13` |\n  | `currency`           | `[<int_value_in_cents>, <currency_code>]`| `[998, \"USD\"]` |\n  | `single` and `multi` | `[<choice_ids>]`                         |    `[1, 2, 4]` |\n\nFor [single or multi choice](/tag/Custom-Field-Choices) Custom Fields,\nyou can think of selected choice(s) as a list, even with only 1 selected choice. The list of values in your\nrequest becomes the new list of selected choices. And the new choices all have new, unique choice IDs.\n\n##### Note:\nThe `write_access` [permission setting on each custom field](https://mavenlink.zendesk.com/hc/en-us/articles/202924760#see)\ndetermines the minimum permission needed to edit the value of each custom field.\n* Editing `Workspace` (Project), `Resource`, and `Story` (Task) custom fields are project-specific changes,\nso permissions are set at the project level:\n- `project_collaboration`\n- `time_logging`\n- `financial`\n- `project_admin` (default)\n\nMost account-level permissions supercede project-level permissions. Therefore, Account Administrators\nare able to edit all Project, Resource, and Task custom fields and values across the account,\nregardless of project participation or `write_access` settings.\n* Editing `Estimate`, `WorkspaceGroup` (Group), and `User` custom fields are account-wide changes,\nso permissions are set at the account level:\n- `account_collaboration`\n- `project_creator`\n- `project_lead`\n- `reports_viewer`\n- `reports_viewer_with_cost`\n- `account_admin` (default)."
                  required:
                  - value
        required: true
    delete:
      summary: Deleting an existing Custom Field Value
      description: 'The response will contain no content and an HTTP 204 status code if the request was

        successful, or a standard Kantata OX error message explaining why the object could not be deleted.'
      operationId: Delete Custom Field Value
      tags:
      - Custom Field Values
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      responses:
        '204':
          description: Custom Field Value has been deleted.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
components:
  schemas:
    ExternalReference:
      title: External Reference
      description: 'External References allows users see which objects (one of `Assignment`, `BillingMilestone`, `CustomField`, `CustomFieldChoice`, `CustomFieldSet`, `CustomFieldValue`, `Estimate`, `EstimateScenario`, `EstimateScenarioResource`, `Expense`, `ExpenseBudget`, `Invoice`, `Participation`, `Post`, `RateCard`, `Role`, `Skill`, `StatusReport`, `Story`, `StoryAllocationDay`, `Submission`, `SurveyAnswer`, `SurveyQuestion`, `SurveyResponse`, `SurveyTemplate`, `TimeEntry`, `TimeOffEntry`, `User`, `Vendor`, `Workspace`, `WorkspaceAllocation`, `WorkspaceGroup`, or `WorkspaceResource`

        are synced with third party systems. This allows you to view the sync status of items in addition to the integration

        specifics for a synced object.


        Objects that are synced with a third party system have external integration

        attributes that include the corresponding ID of the third party object with

        which it is synced, a link that allows you to view the object in the third

        party system, the status of the external object in the external system,

        the status of the sync, and a link to exceptions.'
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          description: The date and time the reference was created.
        external_link:
          type: string
          description: A URL that links to either the external object or event.
        external_message:
          type: string
          description: An optional message about the external object.
        external_status:
          type: string
          description: The status of the external object in the external system.
        last_synced_at:
          type: string
          format: date-time
        locked:
          type: boolean
          description: 'An optional field, indicating whether the subject should be locked. To prevent changes to the

            object in Kantata OX, set this to true. This currently only applies to expense report rejections.'
        service_model:
          type: string
          description: The type of the external object to which this reference belongs.
        service_model_ref:
          type: string
          description: The ID of the external object to which this reference belongs.
        service_name:
          type: string
          description: The provider name of the integration.
        status:
          type: string
          description: The status of the integration. Options are 'pending', 'successful', or 'failed'.
        subject_id:
          type: integer
          format: int32
          description: The ID of the Kantata OX object to which this external reference belongs.
        subject_ref:
          type: object
          description: '`subject_ref` will only be included in the response if `subject` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
          properties:
            key:
              type: string
            id:
              type: string
        subject_type:
          type: string
          description: 'The type of Kantata OX object to which this external reference belongs.

            One of `Assignment`, `BillingMilestone`, `CustomField`, `CustomFieldChoice`, `CustomFieldSet`, `CustomFieldValue`, `Estimate`, `EstimateScenario`, `EstimateScenarioResource`, `Expense`, `ExpenseBudget`, `Invoice`, `Participation`, `Post`, `RateCard`, `Role`, `Skill`, `StatusReport`, `Story`, `StoryAllocationDay`, `Submission`, `SurveyAnswer`, `SurveyQuestion`, `SurveyResponse`, `SurveyTemplate`, `TimeEntry`, `TimeOffEntry`, `User`, `Vendor`, `Workspace`, `WorkspaceAllocation`, `WorkspaceGroup`, or `WorkspaceResource`.'
        updated_at:
          type: string
          format: date-time
          description: The date and time the reference was last updated.
    CustomField:
      title: Custom Field
      description: 'The [Custom Fields](https://mavenlink.zendesk.com/hc/en-us/articles/202924760-Custom-Fields-Overview-#arrange) object allows you to

        view, create, update, and delete extra fields for additional Estimate, Project, Group, Resource, Task, and User information.

        If Custom Fields represent the fields themselves, [Custom Field Values](/tag/Custom-Field-Values)

        represent the values in/of those fields.'
      type: object
      properties:
        choice_ids:
          type: array
          items:
            type: string
          description: '`choice_ids` will only be included in the response if `choices` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        created_at:
          type: string
          format: date-time
        creator_id:
          type: string
          description: '`creator_id` will only be included in the response if `creator` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        custom_field_set_id:
          type: string
          description: '`custom_field_set_id` will only be included in the response if `custom_field_set` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        default_text:
          type: string
          description: 'The message in an empty custom field, before a `string`, `date`, `number`, or `currency`  value is entered in.

            This only appears in the UI.

            Visible when whether the custom field is an input field..'
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        name:
          type: string
          description: The name of the custom field.
        read_access:
          type: integer
          format: int32
          description: "The `read_access` [permission setting on each custom field](https://mavenlink.zendesk.com/hc/en-us/articles/202924760#see)\ndetermines the minimum permission needed to view a custom field and its value.\n* `Workspace` (Project), `Resource`, and `Story` (Task) custom fields are project-specific objects,\nso their minimum permissions are set at the [project level](https://mavenlink.zendesk.com/hc/en-us/articles/115002779293-Project-Permissions):\n  - `project_collaboration` (default)\n  - `time_logging`\n  - `financial`\n  - `project_admin`\n\nMost account-level permissions supercede project-level permissions. Therefore, Account Administrators\nare able to view all Project, Resource, and Task custom fields and values across the account,\nregardless of project participation or `read_access` settings.\n* `Estimate`, `WorkspaceGroup` (Group), and `User` custom fields are account-wide objects,\nso their minimum permissions are set at the [account level](https://mavenlink.zendesk.com/hc/en-us/articles/203041364):\n  - `account_collaboration`\n  - `project_creator`\n  - `project_lead`\n  - `reports_viewer`\n  - `reports_viewer_with_cost`\n  - `account_admin` (default)."
        unique_constraint:
          type: boolean
          description: 'Indicates whether a custom field value must be unique across Estimates, Projects, Groups, Resources, Tasks, or Users.

            This is set to `false` by default.


            Does not apply to Custom Fields with choices.

            Visible when whether the custom field is an input field..'
        updated_at:
          type: string
          format: date-time
        value_type:
          type: string
          description: "The format of the [custom field's value](/tag/Custom-Field-Values):\n  | Value Type           | Format                                   | Sample         |\n  | -------------------- |:----------------------------------------:| --------------:|\n  | `string`             | `<text_string>`                          |        `\"foo\"` |\n  | `date`               | `<ISO_8601 Date Format>`                 | `\"2014-02-25\"` |\n  | `number`             | `<integer_value>`                        |           `13` |\n  | `currency`           | `[<int_value_in_cents>, <currency_code>]`| `[998, \"USD\"]` |\n  | `single` and `multi` | `[<choice_ids>]`                         |    `[1, 2, 4]` |\n\nThis is set to `string`, by default."
        write_access:
          type: integer
          format: int32
          description: The permission level required for a user to create, update, or delete a custom field's value.
    Story:
      title: Story
      description: 'Stories (known as [tasks](https://knowledge.kantata.com/hc/en-us/articles/202806550-Tasks-Overview) in the UI)

        are the tasks, deliverables, issues, and milestones required to complete a project.

        Stories belong to [Workspaces](/tag/Workspaces), appear in the

        [Local Task Tracker](https://knowledge.kantata.com/hc/en-us/articles/202490134-Project-Task-Tracker) and the

        [Global Tasks Tracker](https://knowledge.kantata.com/hc/en-us/articles/216424897-Global-Tasks-Tracker),

        can be linked to [Posts](/tag/Posts), can have substories (subtasks) and

        [Story Tasks](https://developer.kantata.com/tag/Story-Tasks) (checklists), and have many attributes for

        planning, organization, and financials.'
      type: object
      properties:
        ancestor_ids:
          type: array
          items:
            type: string
          description: The IDs of all the ancestor (i.e. parent) tasks of the task. This is empty for a top-level task.
        ancestry_depth:
          type: integer
          format: int32
          description: The number of levels a subtask is nested below the top-level task. Possible values are between `0` (i.e. a top-level task) and `4`.
        archived:
          type: boolean
          description: Whether the task is archived.
        archived_editable:
          type: boolean
          description: 'For archived tasks, whether the authenticated user can edit the task.

            Only returned when requested through the optional_fields param.'
        assigned_role_id:
          type: string
          description: '`assigned_role_id` will only be included in the response if `assigned_role` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        assignee_ids:
          type: array
          items:
            type: string
          description: '`assignee_ids` will only be included in the response if `assignees` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        assignment_timestamped_at:
          type: string
          format: date-time
        attachment_ids:
          type: array
          items:
            type: string
          description: '`attachment_ids` will only be included in the response if `attachments` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        billable:
          type: boolean
          description: Whether the task is billable.
        budget_estimate_in_cents:
          type: integer
          format: int32
          description: 'The task budget, in the subunits of the currency (e.g. cents for USD).

            Visible when the API user can view story budgets in the story''s workspace.'
        budget_used_in_cents:
          type: integer
          format: int32
          description: 'How much of the task budget has been used, in the subunits of the currency (e.g. cents for USD).

            Visible when the API user can view story budgets in the story''s workspace.'
        can_align_time:
          type: boolean
          description: 'Whether [Daily Scheduled Hours](/tag/Daily-Scheduled-Hours-(Story-Allocation-Days)) (i.e. Story Allocation Days) that are out of sync with the task start or due date can be realigned to the task start date.

            Only returned when requested through the optional_fields param.'
        can_edit:
          type: boolean
          description: 'Whether the authenticated user can edit the task. For archived tasks, refer to `archived_editable` instead.

            Only returned when requested through the optional_fields param.'
        can_post:
          type: boolean
          description: 'Whether the authenticated user can create posts in the project the task is in.

            Only returned when requested through the optional_fields param.'
        created_at:
          type: string
          format: date-time
        creator_id:
          type: string
          description: '`creator_id` will only be included in the response if `creator` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        current_assignment_ids:
          type: array
          items:
            type: string
          description: '`current_assignment_ids` will only be included in the response if `current_assignments` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        custom_field_value_ids:
          type: array
          items:
            type: string
          description: '`custom_field_value_ids` will only be included in the response if `custom_field_values` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        custom_task_status_id:
          type: integer
          format: int32
          description: 'The ID of the task''s custom status. If the workspace is not using a custom task status set, this is `null`.

            Only returned when requested through the optional_fields param.'
        deleted_at:
          type: string
          format: date-time
        descendant_ids:
          type: array
          items:
            type: string
          description: '`descendant_ids` will only be included in the response if `descendants` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        description:
          type: string
          description: The task description. Markdown syntax is included.
        due_date:
          type: string
          format: date
          description: When the task is due.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        fixed_fee:
          type: boolean
          description: Whether the task is fixed fee (`true`) or time and materials (`false`).
        follower_ids:
          type: array
          items:
            type: string
          description: '`follower_ids` will only be included in the response if `followers` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        formatted_description:
          type: string
          description: 'The task description with special formatting, like emoji and @-mentions.

            Only returned when requested through the optional_fields param.'
        google_document_ids:
          type: array
          items:
            type: string
          description: '`google_document_ids` will only be included in the response if `google_documents` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        has_out_of_bounds_sads:
          type: boolean
          description: 'Whether the task has any [Daily Scheduled Hours](/tag/Daily-Scheduled-Hours-(Story-Allocation-Days)) (i.e. Story Allocation Days) before its start date or after its due date.

            Only returned when requested through the optional_fields param.'
        invoiced_balance_in_cents:
          type: integer
          format: int32
          description: 'How much has been invoiced for the task, in the subunits of the currency (e.g. cents for USD).

            Visible when the API user can view story budgets in the story''s workspace.'
        is_time_trackable_type:
          type: boolean
          description: 'Whether the task can have time and expenses tracked against it, as set in account settings.

            Only returned when requested through the optional_fields param.'
        logged_billable_time_in_minutes:
          type: integer
          format: int32
          description: 'How much billable time has been tracked against the task, in minutes.

            Visible when the API user can view story time estimates in the story''s workspace.'
        logged_nonbillable_time_in_minutes:
          type: integer
          format: int32
          description: 'How much non-billable time has been tracked against the task, in minutes.

            Visible when the API user can view story time estimates in the story''s workspace.'
        parent_id:
          type: string
          description: '`parent_id` will only be included in the response if `parent` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        parsed_description:
          type: string
          description: 'The task description. Markdown syntax is not included.

            Only returned when requested through the optional_fields param.'
        percentage_complete:
          type: integer
          format: int32
          description: The percentage of work done on the task.
        position:
          type: integer
          format: int32
          description: Represents the task's position in the Task Tracker. This is not the same as the WBS (Work Breakdown Structure) number shown in the UI.
        potential_workspace_resource_ids:
          type: array
          items:
            type: string
          description: '`potential_workspace_resource_ids` will only be included in the response if `potential_workspace_resources` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        potential_workspace_resources_with_unnamed_ids:
          type: array
          items:
            type: string
          description: '`potential_workspace_resources_with_unnamed_ids` will only be included in the response if `potential_workspace_resources_with_unnamed` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        priority:
          type: integer
          format: int32
          description: The priority of the task. Possible values are `critical`, `high`, `normal`, `low`.
        project_plan:
          type: boolean
          description: Whether the story is a project task (`true`) or is a To Do (`false`).
        read_only:
          type: boolean
          description: 'Whether the authenticated user can only view the task and cannot edit it.

            Only returned when requested through the optional_fields param.'
        render_description_markdown:
          type: boolean
          description: 'Whether the account the task is in is set to render Markdown in task descriptions as formatted and styled text.

            Only returned when requested through the optional_fields param.'
        reply_ids:
          type: array
          items:
            type: string
          description: '`reply_ids` will only be included in the response if `replies` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        root_id:
          type: string
          description: '`root_id` will only be included in the response if `root` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        source_dependency_ids:
          type: array
          items:
            type: string
          description: '`source_dependency_ids` will only be included in the response if `source_dependencies` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        start_date:
          type: string
          format: date
          description: When the task starts.
        state:
          type: string
          description: 'The status type of the story. Possible values are `not started`, `started`, `needs info`, or `completed`. If task status sets are not activated on the account, the following values are also possible: `new`, `reopened`, `in progress`, `blocked`, `fixed`, `duplicate`, `can''t reproduce`, `resolved`, or `won''t fix`. The actual task status is returned in the `status` field.'
        status:
          type: string
          description: The status of the story.
        story_state_change_ids:
          type: array
          items:
            type: string
          description: '`story_state_change_ids` will only be included in the response if `story_state_changes` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        story_task_ids:
          type: array
          items:
            type: string
          description: '`story_task_ids` will only be included in the response if `story_tasks` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        story_type:
          type: string
          description: The task's type. Possible values are `task`, `deliverable `, `milestone`, and `issue`.
        sub_stories_billable_time_in_minutes:
          type: integer
          format: int32
          description: 'How much billable time has been tracked against the task''s descendants, in minutes.

            Visible when the API user can view story time estimates in the story''s workspace.'
        sub_stories_budget_estimate_in_cents:
          type: integer
          format: int32
          description: 'The budget of the task''s descendants, in the subunits of the currency (e.g. cents for USD).

            Visible when the API user can view story budgets in the story''s workspace.'
        sub_stories_budget_used_in_cents:
          type: integer
          format: int32
          description: 'How much of the budgets of the task''s descendants has been used, in the subunits of the currency (e.g. cents for USD).

            Visible when the API user can view story budgets in the story''s workspace.'
        sub_stories_time_estimate_in_minutes:
          type: integer
          format: int32
          description: 'The estimated time of the task''s descendants, in minutes.

            Visible when the API user can view story time estimates in the story''s workspace.'
        sub_story_count:
          type: integer
          format: int32
          description: How many descendant tasks the task has.
        sub_story_ids:
          type: array
          items:
            type: string
          description: '`sub_story_ids` will only be included in the response if `sub_stories` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        subtree_depth:
          type: integer
          format: int32
          description: How many ancestor tasks the task has.
        tag_ids:
          type: array
          items:
            type: string
          description: '`tag_ids` will only be included in the response if `tags` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        target_dependency_ids:
          type: array
          items:
            type: string
          description: '`target_dependency_ids` will only be included in the response if `target_dependencies` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        time_estimate_in_minutes:
          type: integer
          format: int32
          description: 'The estimated time for the task, in minutes.

            Visible when the API user can view story time estimates in the story''s workspace.'
        time_trackable:
          type: boolean
          description: Whether time can be tracked against the task.
        title:
          type: string
          description: The title of the task.
        uninvoiced_balance_in_cents:
          type: integer
          format: int32
          description: 'How much has not yet been invoiced for the task, in the subunits of the currency (e.g. cents for USD).

            Visible when the API user can view story budgets in the story''s workspace.'
        updated_at:
          type: string
          format: date-time
        weight:
          type: integer
          format: int32
          description: 'If the `story_type` is `milestone`, this is the [weight](https://knowledge.kantata.com/hc/en-us/articles/203499904-Milestone-Weighting) of the task.

            Visible when the API user can view story time estimates in the story''s workspace.'
        workspace_id:
          type: string
          description: '`workspace_id` will only be included in the response if `workspace` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        workspace_resource_ids:
          type: array
          items:
            type: string
          description: '`workspace_resource_ids` will only be included in the response if `workspace_resources` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        workspace_resources_with_unnamed_ids:
          type: array
          items:
            type: string
          description: '`workspace_resources_with_unnamed_ids` will only be included in the response if `workspace_resources_with_unnamed` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    WorkspaceGroup:
      title: Workspace Group
      description: 'Workspace Groups (also known as groups) allow for the categorization of Kantata OX Workspaces and Users. Workspace Groups are unique to each Kantata OX Account. These endpoints allow you to fetch, create, update, and delete Workspace Groups.


        To add a workspace to a Workspace Group, use the [create workspace](/tag/Workspaces#operation/create-workspace) or [update workspace](/tag/Workspaces#operation/update-workspace) endpoint and set the `workspace_group_ids` field.


        To add a user to a Workspace Group, use the [create user group membership](/tag/User-Group-Memberships#operation/create-user-group-memberships) endpoint.'
      type: object
      properties:
        address:
          type: string
          description: The address of the company contact.
        company:
          type: boolean
          description: Whether the group represents a company.
        contact_name:
          type: string
          description: The name of the company contact.
        created_at:
          type: string
          format: date-time
          description: When the group was created.
        email:
          type: string
          description: The email of the company contact.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        name:
          type: string
          description: The name of the group.
        notes:
          type: string
          description: Notes on the group.
        phone_number:
          type: string
          description: The phone number of the company contact.
        rate_card_set_ids:
          type: array
          items:
            type: string
          description: '`rate_card_set_ids` will only be included in the response if `rate_card_sets` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        updated_at:
          type: string
          format: date-time
          description: When the group was last updated.
        website:
          type: string
          description: The website of the company contact.
        workspace_ids:
          type: array
          items:
            type: string
          description: '`workspace_ids` will only be included in the response if `workspaces` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    Error:
      type: object
      properties:
        type:
          type: string
        message:
          type: string
    CustomFieldChoice:
      title: Custom Field Choice
      description: Custom Field Choices are possible values for `single` and `multi` type custom fields.
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        custom_field_id:
          type: string
          description: '`custom_field_id` will only be included in the response if `custom_field` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        label:
          type: string
        position:
          type: integer
          format: int32
        updated_at:
          type: string
          format: date-time
    User:
      title: User
      description: 'Users represent the individuals that are participating in Kantata OX projects. User objects are often returned as

        nested JSON objects within other returned items such as Posts or Stories.'
      type: object
      properties:
        abbreviated_timezone:
          type: string
          description: 'The abbreviation for the user''s time zone.

            Only returned when requested through the optional_fields param.'
        account_membership_id:
          type: string
          description: '`account_membership_id` will only be included in the response if `account_membership` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        bio:
          type: string
          description: 'A biography (defined by the user).

            Only returned when requested through the optional_fields param.'
        city:
          type: string
          description: 'The home city of the user (based on their profile).

            Only returned when requested through the optional_fields param.'
        classification:
          type: string
          description: 'Indicates whether a user is Internal or External.

            Only returned when requested through the optional_fields param.'
        country:
          type: string
          description: 'The home country of the user (based on their profile).

            Only returned when requested through the optional_fields param.'
        custom_field_value_ids:
          type: array
          items:
            type: string
          description: '`custom_field_value_ids` will only be included in the response if `custom_field_values` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        email_address:
          type: string
          description: The email address of the user.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        full_name:
          type: string
          description: The full name of the user.
        headline:
          type: string
          description: A short description of the user.
        last_site_activity:
          type: string
          format: date-time
          description: 'The last time a user logged in. This field is only available in conjunction with the `on_my_account` filter option. Only visible when the API user is an Account Administrator.

            Only returned when requested through the optional_fields param.'
        manager_id:
          type: string
          description: '`manager_id` will only be included in the response if `manager` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        photo_path:
          type: string
          description: The URL of the user's profile photo.
        role_id:
          type: string
          description: '`role_id` will only be included in the response if `role` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        skill_ids:
          type: array
          items:
            type: string
          description: '`skill_ids` will only be included in the response if `skills` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        skill_membership_ids:
          type: array
          items:
            type: string
          description: '`skill_membership_ids` will only be included in the response if `skill_memberships` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        state:
          type: string
          description: 'The home state of the user (based on their profile).

            Only returned when requested through the optional_fields param.'
        website:
          type: string
          description: 'A website (defined by the user).

            Only returned when requested through the optional_fields param.'
        work_sample_ids:
          type: array
          items:
            type: string
          description: '`work_sample_ids` will only be included in the response if `work_samples` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    Workspace:
      title: Workspace
      description: Workspaces (also called projects) represent the space in which Kantata OX users plan, communicate, and collaborate.
      type: object
      properties:
        access_level:
          type: string
          description: Whether the project is open, and who can join it. Possible values are `invitation`, `open`, and `admin`.
        account_color_id:
          type: string
          description: '`account_color_id` will only be included in the response if `account_color` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        account_id:
          type: integer
          format: int32
          description: The ID of the account which the project is in.
        account_insights_mapping_ids:
          type: array
          items:
            type: string
          description: '`account_insights_mapping_ids` will only be included in the response if `account_insights_mappings` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        actual_fees_includes_additional_line_items:
          type: boolean
          description: 'Whether invoice additional items are included in actual fees calculations for the project.

            Visible when the authenticated user is a project administrator and is on the account that the project is on.'
        actual_fees_includes_expenses:
          type: boolean
          description: 'Whether expenses are included in actual fees calculations for the project.

            Visible when the authenticated user is a project administrator and is on the account that the project is on.'
        approver_id:
          type: string
          description: '`approver_id` will only be included in the response if `approver` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        approver_ids:
          type: array
          items:
            type: string
          description: '`approver_ids` will only be included in the response if `approvers` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        archived:
          type: boolean
          description: Whether the project is archived.
        billable_minutes:
          type: integer
          format: int32
          description: 'The total amount of billable time entries, in minutes. Only visible if the authenticated user has financial access in the project and is on the provider team.

            Visible when the authenticated user can see total time approved in the project.


            Only returned when requested through the optional_fields param.'
        billing_milestone_ids:
          type: array
          items:
            type: string
          description: '`billing_milestone_ids` will only be included in the response if `billing_milestones` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        budget_remaining:
          type: string
          description: 'The amount of the project budget remaining.

            Visible when the authenticated user is on the provider team and can either see reports on the account or has financial access in the project.'
        budget_used:
          type: string
          description: 'The amount of the project budget that has been used.

            Visible when the authenticated user is on the provider team and can either see reports on the account or has financial access in the project.'
        budget_used_in_cents:
          type: integer
          format: int32
          description: 'The amount of the project budget that has been used, in the subunits of the currency (e.g. cents for USD).

            Visible when the authenticated user is on the provider team and can either see reports on the account or has financial access in the project.'
        budgeted:
          type: boolean
          description: Whether the project is budgeted.
        can_create_line_items:
          type: boolean
          description: Whether the authenticated user can create line items in the project (i.e. time entries, expenses, fixed fee items, or additional items).
        can_invite:
          type: boolean
          description: Whether the authenticated user can invite others to the project.
        change_orders_enabled:
          type: boolean
          description: Whether change orders are enabled in the project.
        client_lead_name:
          type: string
          description: 'The name of the team lead for the client side of the project.

            Only returned when requested through the optional_fields param.'
        client_role_name:
          type: string
          description: The client team name.
        consultant_role_name:
          type: string
          description: The provider team name.
        created_at:
          type: string
          format: date-time
          description: The date the project was created.
        creator_id:
          type: string
          description: '`creator_id` will only be included in the response if `creator` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        currency:
          type: string
          description: The currency of the project. Only visible if the authenticated user has financial access in the project.
        currency_base_unit:
          type: integer
          format: int32
          description: The base unit of the currency of the project. For example, the base unit for USD is 100.
        currency_symbol:
          type: string
          description: The [ISO symbol](https://knowledge.kantata.com/hc/en-us/articles/360041576473) for the currency of the project. For example, `USD`.
        current_status_report_id:
          type: string
          description: '`current_status_report_id` will only be included in the response if `current_status_report` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        current_user_participation_id:
          type: string
          description: '`current_user_participation_id` will only be included in the response if `current_user_participation` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        custom_field_value_ids:
          type: array
          items:
            type: string
          description: '`custom_field_value_ids` will only be included in the response if `custom_field_values` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        default_rate:
          type: string
          description: The default billing rate for the project.
        description:
          type: string
          description: The description of the project.
        due_date:
          type: string
          format: date
          description: The due date of the project.
        effective_due_date:
          type: string
          format: date
          description: The due date of the project (deprecated).
        estimated_minutes:
          type: integer
          format: int32
          description: 'The total task estimated minutes of the project.

            Visible when the authenticated user can see reports on the account or has financial access in the project.


            Only returned when requested through the optional_fields param.'
        exclude_archived_stories_percent_complete:
          type: boolean
          description: Whether archived tasks are excluded from the calculation of the project completion percentage.
        expenses_in_burn_rate:
          type: boolean
          description: 'Whether both expenses and invoice additional items are included in the actual fees calculation for the project. This field is the `AND` of `actual_fees_includes_expenses` and `actual_fees_includes_additional_line_items`.

            Visible when the authenticated user is a project administrator and is on the account that the project is on.'
        external_link:
          type: object
          description: 'A link that displays within the project workspace. Requires the Project Button facilitated feature.

            Visible when the workspace has the project button feature enabled.'
          properties:
            url:
              type: string
              description: 'The URL of the link.

                Visible when the workspace has the project button feature enabled.'
            text:
              type: string
              description: 'The button text.

                Visible when the workspace has the project button feature enabled.'
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        financial_viewer_ids:
          type: array
          items:
            type: string
          description: '`financial_viewer_ids` will only be included in the response if `financial_viewers` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        has_active_expense_report_submissions:
          type: boolean
          description: Whether the project has active expense report submissions.
        has_active_timesheet_submissions:
          type: boolean
          description: Whether the project has active timesheet submissions.
        has_budget_access:
          type: boolean
          description: Whether the authenticated user has budget access in the project.
        incoming_email_address:
          type: string
          description: 'The email address for the project—unique to the authenticated user—which can be used to post to the project''s Activity Feed via email.

            Visible when the authenticated user is a project administrator and is on the account that the project is on.


            Only returned when requested through the optional_fields param.'
        lock_date:
          type: string
          format: date
          description: 'The line item lock date for the account the project is on, if any.

            Only returned when requested through the optional_fields param.'
        minutes_logged:
          type: integer
          format: int32
          description: 'The total minutes logged on the project, including time adjustments. Only visible if the authenticated user has financial access in the project and is on the provider team.

            Visible when the authenticated user can see total time approved in the project.


            Only returned when requested through the optional_fields param.'
        next_uncompleted_milestone_id:
          type: string
          description: '`next_uncompleted_milestone_id` will only be included in the response if `next_uncompleted_milestone` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        non_billable_minutes:
          type: integer
          format: int32
          description: 'The total of all non-billable time entries in minutes, only included if the current user has financial access and is a maven in the project.

            Visible when the authenticated user can see total time approved in the project.


            Only returned when requested through the optional_fields param.'
        over_budget:
          type: boolean
          description: 'Whether the project is over budget. Only visible if the authenticated user has financial access in the project.

            Visible when the authenticated user is a project administrator and is on the account that the project is on.'
        participant_ids:
          type: array
          items:
            type: string
          description: '`participant_ids` will only be included in the response if `participants` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        participation_ids:
          type: array
          items:
            type: string
          description: '`participation_ids` will only be included in the response if `participations` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        percent_of_budget_used:
          type: integer
          format: int32
          description: 'The percent of the project budget used.

            Visible when the authenticated user is on the provider team and can either see reports on the account or has financial access in the project.'
        percentage_complete:
          type: integer
          format: int32
          description: The completion percentage of the project, calculated from the completion percentage of the stories (tasks), including archived stories.
        permissions:
          type: object
          description: Various project permissions for the authenticated user.
          properties:
            can_upload_files:
              type: boolean
              description: Whether the authenticated user can upload files to the project.
            can_private_message:
              type: boolean
              description: Whether the authenticated user can send private messages in the project.
            can_join:
              type: boolean
              description: Whether the authenticated user can join the project.
            is_participant:
              type: boolean
              description: Whether the authenticated user is participating in the project.
            access_level:
              type: string
              description: The authenticated user’s permission level in the project.
            team_lead:
              type: boolean
              description: Whether the authenticated user is a team lead in the project.
            user_is_client:
              type: boolean
              description: Whether the authenticated user is a client in the project.
            can_change_price:
              type: boolean
              description: Whether the authenticated user can change the price (budget) of the project.
            can_change_story_billable:
              type: boolean
              description: Whether the authenticated user can change the billable status of stories (tasks) in the project.
            can_post:
              type: boolean
              description: Whether the authenticated user has post permissions in the project.
            can_edit:
              type: boolean
              description: Whether the authenticated user has edit permissions in the project.
            restricted:
              type: boolean
              description: Whether the authenticated user is a restricted user in the project.
            can_see_financials:
              type: boolean
              description: Whether the authenticated user has financial access in the project.
            is_guest_on_project:
              type: boolean
              description: Returns true if the authenticated user can view projects without joining. Otherwise, returns false.
        possible_approver_ids:
          type: array
          items:
            type: string
          description: '`possible_approver_ids` will only be included in the response if `possible_approvers` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        posts_require_privacy_decision:
          type: boolean
          description: Whether posts are private (`true`) or shared with all project participants (`false`) by default.
        price:
          type: string
          description: 'The project budget.

            Visible when the authenticated user can see reports on the account or has financial access in the project.'
        price_in_cents:
          type: integer
          format: int32
          description: 'The project budget, in the subunits of the currency (e.g. cents for USD).

            Visible when the authenticated user can see reports on the account or has financial access in the project.'
        primary_counterpart_id:
          type: string
          description: '`primary_counterpart_id` will only be included in the response if `primary_counterpart` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        primary_maven_id:
          type: string
          description: '`primary_maven_id` will only be included in the response if `primary_maven` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        primary_workspace_group_id:
          type: string
          description: '`primary_workspace_group_id` will only be included in the response if `primary_workspace_group` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        provider_lead_name:
          type: string
          description: 'The name of the team lead for the provider side of the project.

            Only returned when requested through the optional_fields param.'
        rate_card_id:
          type: integer
          format: int32
          description: The ID of the rate card for the project.
        require_expense_approvals:
          type: boolean
          description: Whether expense approvals are required in the project.
        require_notes_on_time_entries:
          type: boolean
          description: Whether notes are required on time entries logged against this project.
        require_time_approvals:
          type: boolean
          description: Whether time approvals are required in the project.
        revenue_recognition_method_id:
          type: string
          description: 'The ID of the project''s revenue recognition method, which determines how the project''s revenue is recognized and accounted for. The ID is a composite ID made up of a numerical ID (unique to each account), a colon, and the method type. For example `123:percent_complete`.

            Only returned when requested through the optional_fields param.'
        revenue_recognition_method_name:
          type: string
          description: 'The name of the project''s revenue recognition method, which determines how the project''s revenue is recognized and accounted for.

            Only returned when requested through the optional_fields param.'
        stage:
          type: string
          description: 'The stage of the project. Possible values are `estimate` or `project`.

            Only returned when requested through the optional_fields param.'
        start_date:
          type: string
          format: date
          description: The start date of the project.
        status:
          type: object
          description: 'A hash containing the status of the project.

            Visible when the authenticated user can view the project status.'
          properties:
            color:
              type: string
              description: 'The status color of the project (e.g. ''red'').

                Visible when the authenticated user can view the project status.'
            key:
              type: string
              description: 'The status key of the project (e.g. ''501'').

                Visible when the authenticated user can view the project status.'
            message:
              type: string
              description: 'The status message of the project (e.g. ''Cancelled'').

                Visible when the authenticated user can view the project status.'
        status_report_ids:
          type: array
          items:
            type: string
          description: '`status_report_ids` will only be included in the response if `status_reports` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        stories_are_fixed_fee_by_default:
          type: boolean
          description: 'Whether stories (tasks) are fixed fee by default.

            Visible when the authenticated user is a project administrator and is on the account that the project is on.'
        target_margin:
          type: number
          format: float
          description: 'The target margin of the project.

            Visible when the authenticated user is on the provider team and can either see reports on the account or has financial access in the project.'
        task_status_set_id:
          type: string
          description: The ID of the task status set assigned to the workspace.
        task_status_set_name:
          type: string
          description: The name of the task status set assigned to the workspace.
        task_statuses:
          type: array
          items:
            type: string
          description: The task statuses available in the workspace.
        tasks_default_non_billable:
          type: boolean
          description: Whether stories (tasks) are non-billable by default.
        time_trackable:
          type: boolean
          description: Whether time can be tracked against this project and its tasks.
        timesheet_submission_ids:
          type: array
          items:
            type: string
          description: '`timesheet_submission_ids` will only be included in the response if `timesheet_submissions` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        title:
          type: string
          description: The title of the project.
        total_expenses_in_cents:
          type: integer
          format: int32
          description: 'The total amount of expenses on the project, in the subunits of the currency (e.g. cents for USD).

            Visible when the authenticated user is a project administrator and is on the account that the project is on.'
        total_invoiced:
          type: string
          description: 'The total amount invoiced, in the subunits of the currency (e.g. cents for USD).

            Visible when the authenticated user can see reports on the account or has financial access in the project.


            Only returned when requested through the optional_fields param.'
        total_minutes_approved:
          type: integer
          format: int32
          description: 'The total amount of approved time entries, in minutes. Only visible if the authenticated user has financial access in the project and is on the provider team.

            Visible when the authenticated user can see total time approved in the project.


            Only returned when requested through the optional_fields param.'
        updated_at:
          type: string
          format: date-time
          description: The date that the project was last updated.
        workspace_group_ids:
          type: array
          items:
            type: string
[...]
