openapi: 3.2.0
info:
  version: 1.0.0
  title: Kantata OX API Documentation Account Invitations API
  description: Kantata OX's API provides access to the majority of Kantata OX's data model.
  termsOfService: https://www.kantata.com/terms-of-use
  contact:
    name: Kantata OX Support
    url: https://knowledge.kantata.com/hc/en-us
  license:
    name: COPYRIGHT © 2026 Kantata, Inc.
    url: https://www.kantata.com/terms-of-use
  x-logo:
    url: https://theme.zdassets.com/theme_assets/56104/04e93064d309f75d054b8cee885d1ea51e9be8f7.png
    backgroundColor: '#FFFFFF'
    altText: Kantata OX API Documentation
    href: https://developer.kantata.com
servers:
- url: https://api.mavenlink.com/api/v1
tags:
- name: Account Invitations
  description: Account Invitations represent invitations for non-users to join a Kantata OX account.
paths:
  /account_invitations:
    get:
      summary: Fetching a list of Account Invitations
      description: 'This endpoint returns structured Account Invitation objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `account_invitations` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Account Invitations
      tags:
      - Account Invitations
      parameters:
      - in: query
        name: by_full_name
        description: Show entries where the full name is like the specified parameter.
        schema:
          type: string
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `default_role` (Role) - The default role of the account.

          - `invitee` (User) - The new user who will receive the invitation.

          - `inviter` (User) - The user who has sent the invitation.'
        schema:
          type: string
      - in: query
        name: only
        description: 'Allows you to request one or more resources directly by ID. Multiple IDs can be supplied

          in a comma separated list, like `GET /api/v1/workspaces.json?only=5,6,7`.'
        schema:
          type: string
      - in: query
        name: only_pending
        description: Show only pending invitations.
        schema:
          type: boolean
          default: true
      - in: query
        name: order
        description: 'Supply `order` with the name of a valid sort field for the endpoint and a direction.


          Valid values: `bill_rate:asc`, `bill_rate:desc`, `cost_rate:asc`, `cost_rate:desc`, `created_at:asc`, `created_at:desc`, `expiration_date:asc`, `expiration_date:desc`, `full_name:asc`, `full_name:desc`, `permission:asc`, and `permission:desc`.'
        schema:
          type: string
          default: created_at:desc
      - in: query
        name: page
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        schema:
          type: integer
          format: int32
          default: 20
          maximum: 200
      - in: query
        name: search
        schema:
          type: string
      responses:
        '200':
          description: A list of Account Invitations have been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  account_invitations:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/AccountInvitation'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  roles:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Role'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    post:
      summary: Creating a new Account Invitation
      description: 'Adds a user to your account.


        Any members added in excess of your contracted license count are billed at a prorated subscription fee for

        the remainder of the billing term. To review your contracted license count,

        in Kantata OX, hover over Settings in the left navigation and select Plan.


        This endpoint has its own rate limit. See the Knowledge Base for more information.


        **Bulk Create**


        This endpoint supports bulk creating up to 50 objects. In the request body, set the top-level key to its plural

        form and place the objects in an array. Example:


        ```

        {

        "account_invitations": [

        {

        "email_address": "email@email.com",

        "full_name": "Full Name"

        },

        {

        "email_address": "email@email.com",

        "full_name": "Full Name"

        }

        ]

        }

        ```


        This endpoint returns structured Account Invitation objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `account_invitations` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Create Account Invitation
      tags:
      - Account Invitations
      parameters:
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `default_role` (Role) - The default role of the account.

          - `invitee` (User) - The new user who will receive the invitation.

          - `inviter` (User) - The user who has sent the invitation.'
        schema:
          type: string
      responses:
        '200':
          description: Account Invitation has been created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  account_invitations:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/AccountInvitation'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  roles:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Role'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                account_invitation:
                  type: object
                  properties:
                    billability_target:
                      type: integer
                      format: int32
                    bill_rate_in_cents:
                      type: integer
                      format: int32
                      description: 'The default billing rate, in cents, for the user in a workspace on this account (when the workspace

                        does not use a rate card). This attribute can only be set if the current user is either an Administrator

                        or a Project Lead on the account.'
                    cost_rate_in_cents:
                      type: integer
                      format: int32
                      description: 'The default cost rate, in cents, for the user in a workspace on this account. This attribute can

                        only be set if the current user is an Administrator on the account.'
                    default_read_only:
                      type: boolean
                      description: The invited user should have read-only permissions.
                    default_role_id:
                      type: integer
                      format: int32
                      description: The internal ID for the default role specified to the invited user.
                    email_address:
                      type: string
                      description: The email address of the invited user. A link to accept the invitation is sent to this address.
                    full_name:
                      type: string
                      description: The full name of the invited user.
                    headline:
                      type: string
                    permission:
                      type: string
                      description: 'The permission level of the invited user. See account_memberships for more details. Valid values

                        include administrator, reports_viewer_with_cost, reports_viewer, project_lead, project_creator, collaborator, and punch_clock.".'
                    external_reference:
                      type: object
                      description: 'Typically populated programmatically by a third party system via an integration, this is an optional

                        object that holds data from an external system. It connects objects in an external system with objects in

                        Kantata OX (for example, to connect a Jira issue to a Kantata OX Project).'
                      properties:
                        service_name:
                          type: string
                          description: The provider name of the integration. If you are adding multiple external references to the same object, the `service_name` must be unique.
                        service_model:
                          type: string
                          description: The object type of the external object this external reference belongs to.
                        service_model_ref:
                          type: string
                          description: The object ID of the external object this external reference belongs to.
                        status:
                          type: string
                          description: The status of the integration. Options are `successful`, `pending`,  or `failed`.
                        external_message:
                          type: string
                          description: The message on the external object.
                        external_link:
                          type: string
                          description: The link to the external object.
                        external_status:
                          type: string
                          description: The status of the external object in the external system.
                        locked:
                          type: boolean
                          description: Whether the subject is locked.
                      required:
                      - service_name
                      - service_model
                      - service_model_ref
                  required:
                  - email_address
                  - full_name
        required: true
  /account_invitations/{id}:
    get:
      summary: Fetching a single Account Invitation
      description: 'This endpoint returns structured Account Invitation objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `account_invitations` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Account Invitation
      tags:
      - Account Invitations
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `default_role` (Role) - The default role of the account.

          - `invitee` (User) - The new user who will receive the invitation.

          - `inviter` (User) - The user who has sent the invitation.'
        schema:
          type: string
      responses:
        '200':
          description: The Account Invitation has been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  account_invitations:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/AccountInvitation'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  roles:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Role'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    put:
      summary: Updating an existing Account Invitation
      description: 'This endpoint returns structured Account Invitation objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `account_invitations` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Update Account Invitation
      tags:
      - Account Invitations
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `default_role` (Role) - The default role of the account.

          - `invitee` (User) - The new user who will receive the invitation.

          - `inviter` (User) - The user who has sent the invitation.'
        schema:
          type: string
      responses:
        '200':
          description: Account Invitation has been updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  account_invitations:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/AccountInvitation'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  roles:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Role'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                account_invitation:
                  type: object
                  properties:
                    billability_target:
                      type: integer
                      format: int32
                    bill_rate_in_cents:
                      type: integer
                      format: int32
                      description: 'The default billing rate, in cents, for the user in a workspace on this account (when the workspace

                        does not use a rate card). This attribute can only be set if the current user is either an Administrator

                        or a Project Lead on the account.'
                    cost_rate_in_cents:
                      type: integer
                      format: int32
                      description: 'The default cost rate used, in cents, for the user in a workspace on this account. This attribute can

                        only be set if the current user is an Administrator on the account.'
                    default_role_id:
                      type: integer
                      format: int32
                      description: The internal ID for the default role specified to the invited user.
                    permission:
                      type: string
                      description: 'The permission level of the invited user. See account_memberships for more details. Valid values

                        include administrator, reports_viewer_with_cost, reports_viewer, project_lead, project_creator, collaborator, and punch_clock.".'
        required: true
    delete:
      summary: Deleting an existing Account Invitation
      description: 'The response will contain no content and an HTTP 204 status code if the request was

        successful, or a standard Kantata OX error message explaining why the object could not be deleted.'
      operationId: Delete Account Invitation
      tags:
      - Account Invitations
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      responses:
        '204':
          description: Account Invitation has been deleted.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /account_invitations/{id}/resend:
    put:
      summary: Resend an account invitation
      description: 'Resends an account invitation email to an invited user.


        This endpoint has its own rate limit. See the Knowledge Base for more information.


        This endpoint returns structured Account Invitation objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `account_invitations` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Resend Account Invitation
      tags:
      - Account Invitations
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `default_role` (Role) - The default role of the account.

          - `invitee` (User) - The new user who will receive the invitation.

          - `inviter` (User) - The user who has sent the invitation.'
        schema:
          type: string
      responses:
        '200':
          description: Account Invitation has been updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  account_invitations:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/AccountInvitation'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  roles:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Role'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
components:
  schemas:
    AccountInvitation:
      title: Account Invitation
      description: The Account Invitation represents an invitation to join an existing Kantata OX account as a user.
      type: object
      properties:
        bill_rate_in_cents:
          type: integer
          format: int32
          description: 'The default billing rate, in cents, for the user in a workspace on this account.

            Visible when the API user is on the invitation account. and the API user is an Account Project Lead..'
        billability_target:
          type: integer
          format: int32
          description: '

            Visible when the API user is on the invitation account. and the API user is an Account Project Lead..'
        cost_rate_in_cents:
          type: integer
          format: int32
          description: 'The default cost rate, in cents, for the user in a workspace on this account.

            Visible when the API user is on the invitation account. and the API user is an Account Administrator..'
        default_role_id:
          type: string
          description: '`default_role_id` will only be included in the response if `default_role` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        email_address:
          type: string
          description: The email address of the invited user. An email is sent to this address with a link to accept the invitation.
        expiration_date:
          type: string
          description: The invitation's expiration date.
        full_name:
          type: string
          description: The full name of the invited user.
        headline:
          type: string
        invitee_id:
          type: string
          description: '`invitee_id` will only be included in the response if `invitee` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        inviter_id:
          type: string
          description: '`inviter_id` will only be included in the response if `inviter` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        pending:
          type: boolean
          description: The status of the invitation.
        permission:
          type: string
          description: The access level that the invited user will have (one of administrator, reports_viewer_with_cost, reports_viewer, project_lead, project_creator, collaborator, and punch_clock).
    Role:
      title: Role
      description: 'A Role represents the main position or title assigned to members on an account. Roles may be associated with account memberships, account invitations,

        participation, project template assignments, rate card roles, rate card versions, resources, or time adjustments.'
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        deleted_at:
          type: string
          format: date-time
          description: The time the role was deleted.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        name:
          type: string
          description: The name of the role.
        updated_at:
          type: string
          format: date-time
    Error:
      type: object
      properties:
        type:
          type: string
        message:
          type: string
    User:
      title: User
      description: 'Users represent the individuals that are participating in Kantata OX projects. User objects are often returned as

        nested JSON objects within other returned items such as Posts or Stories.'
      type: object
      properties:
        abbreviated_timezone:
          type: string
          description: 'The abbreviation for the user''s time zone.

            Only returned when requested through the optional_fields param.'
        account_membership_id:
          type: string
          description: '`account_membership_id` will only be included in the response if `account_membership` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        bio:
          type: string
          description: 'A biography (defined by the user).

            Only returned when requested through the optional_fields param.'
        city:
          type: string
          description: 'The home city of the user (based on their profile).

            Only returned when requested through the optional_fields param.'
        classification:
          type: string
          description: 'Indicates whether a user is Internal or External.

            Only returned when requested through the optional_fields param.'
        country:
          type: string
          description: 'The home country of the user (based on their profile).

            Only returned when requested through the optional_fields param.'
        custom_field_value_ids:
          type: array
          items:
            type: string
          description: '`custom_field_value_ids` will only be included in the response if `custom_field_values` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        email_address:
          type: string
          description: The email address of the user.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        full_name:
          type: string
          description: The full name of the user.
        headline:
          type: string
          description: A short description of the user.
        last_site_activity:
          type: string
          format: date-time
          description: 'The last time a user logged in. This field is only available in conjunction with the `on_my_account` filter option. Only visible when the API user is an Account Administrator.

            Only returned when requested through the optional_fields param.'
        manager_id:
          type: string
          description: '`manager_id` will only be included in the response if `manager` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        photo_path:
          type: string
          description: The URL of the user's profile photo.
        role_id:
          type: string
          description: '`role_id` will only be included in the response if `role` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        skill_ids:
          type: array
          items:
            type: string
          description: '`skill_ids` will only be included in the response if `skills` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        skill_membership_ids:
          type: array
          items:
            type: string
          description: '`skill_membership_ids` will only be included in the response if `skill_memberships` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        state:
          type: string
          description: 'The home state of the user (based on their profile).

            Only returned when requested through the optional_fields param.'
        website:
          type: string
          description: 'A website (defined by the user).

            Only returned when requested through the optional_fields param.'
        work_sample_ids:
          type: array
          items:
            type: string
          description: '`work_sample_ids` will only be included in the response if `work_samples` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    Errors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    BearerToken:
      type: apiKey
      name: Bearer
      in: header
    OauthSecurity:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://app.mavenlink.com/oauth/authorize
          tokenUrl: https://app.mavenlink.com/oauth/token
x-tagGroups:
- name: '# Subscribed Events'
  tags:
  - Event Types
  - Events
- name: Account Locations
  tags:
  - Account Locations
- name: Account Settings & Members
  tags:
  - Access Group Memberships
  - Account Colors
  - Account Invitations
  - Account Memberships
  - Backup Approver Associations
  - Billable Utilizations
  - Cost Rates
  - Custom Branding
  - Organization Memberships
  - Organizations
  - Roles
  - Skill Categories
  - Skill Memberships
  - Skills
  - Task Status Sets
  - Task Statuses
  - User Group Memberships
  - Users
- name: Currencies
  tags:
  - Currencies
- name: Custom Fields
  tags:
  - Custom Field Choices
  - Custom Field Sets
  - Custom Field Values
  - Custom Fields
- name: Data Exporter
  tags:
  - Data Export Schema
  - Data Exports
- name: Estimates
  tags:
  - Estimate Scenario Resource Allocations
  - Estimate Scenario Resources
  - Estimate Scenarios
  - Estimates
- name: Expense Budgets
  tags:
  - Expense Budgets
- name: Expense Tracking
  tags:
  - Attachments
  - Expense Categories
  - Expense Report Submissions
  - Expenses
  - Vendors
- name: External References
  tags:
  - External References
- name: Financials
  tags:
  - Billing Milestones
  - Revenue Recognition Methods
- name: Foreign Exchange
  tags:
  - Exchange Tables
- name: Insights & Analytics
  tags:
  - Insights Access Group Memberships
  - Insights Dynamic Dashboards
  - Insights Report Exports
  - Insights Reports
- name: Invoices
  tags:
  - Client Invoice Defaults
  - External Payments
  - Invoices
  - Workspace Invoice Preferences
- name: Personal Settings
  tags:
  - Users
- name: Posts & Replies
  tags:
  - Attachments
  - Posts
  - User File Associations
- name: Project Snapshots
  tags:
  - Project Snapshots
- name: Project Templates
  tags:
  - Project Template Additional Tabs
  - Project Template Assignments
  - Project Template Expense Budgets
  - Project Templates
- name: Projects
  tags:
  - Participations
  - Project Accounting Records
  - Status Reports
  - Workspace Allocations
  - Workspace Baselines
  - Workspace Groups
  - Workspace Invoice Preferences
  - Workspace Resource Skills
  - Workspace Resources
  - Workspace Status Changes
  - Workspace Task Status Sets
  - Workspaces
- name: Rate Cards
  tags:
  - Activations
  - Rate Card Role (Rate for a Role)
  - Rate Card Set Version (Effective version by Date)
  - Rate Card Sets (Group of Rate Cards)
  - Rate Card Table Rows
  - Rate Card Versions
  - Rate Cards (Multiple Currencies)
- name: Recommendations
  tags:
  - Recommendations
- name: Resource Requests
  tags:
  - Resource Requests
- name: Scheduling
  tags:
  - Holiday Calendar Associations
  - Holiday Calendar Memberships
  - Holiday Calendars
  - Holidays
  - Time Off Entries
  - Workweek Memberships
  - Workweeks
- name: Surveys (Legacy)
  tags:
  - Survey Answers (Legacy)
  - Survey Questions (Legacy)
  - Survey Templates (Legacy)
  - Surveys Responses (Legacy)
- name: Tasks
  tags:
  - Assignments
  - Daily Scheduled Hours (Story Allocation Days)
  - Followers
  - Stories
  - Story Dependencies
  - Story State Changes
  - Story Tasks
- name: Time Tracking
  tags:
  - Line Item Locks
  - Time Entries
  - Timesheet Approvals
  - Timesheet Cancellations
  - Timesheet Rejections
  - Timesheet Submissions
