openapi: 3.2.0
info:
  version: 1.0.0
  title: Kantata OX API Documentation Rate Card Role (Rate for a…
  description: Kantata OX's API provides access to the majority of Kantata OX's data model.
  termsOfService: https://www.kantata.com/terms-of-use
  contact:
    name: Kantata OX Support
    url: https://knowledge.kantata.com/hc/en-us
  license:
    name: COPYRIGHT © 2026 Kantata, Inc.
    url: https://www.kantata.com/terms-of-use
  x-logo:
    url: https://theme.zdassets.com/theme_assets/56104/04e93064d309f75d054b8cee885d1ea51e9be8f7.png
    backgroundColor: '#FFFFFF'
    altText: Kantata OX API Documentation
    href: https://developer.kantata.com
servers:
- url: https://api.mavenlink.com/api/v1
tags:
- name: Rate Card Role (Rate for a Role)
  description: Rate Card Roles belong to a Rate Card Version and represent the bill rate, in cents per hour, for a specific Role.
paths:
  /rate_card_roles:
    get:
      summary: Fetching a list of Rate Card Roles
      description: 'Returns the Rate Card Roles associated with all Rate Card Versions on Rate Cards that belong to the logged-in user''s account.


        Rate Card Roles can only be accessed by an Administrator on the account.


        This endpoint returns structured Rate Card Role objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `rate_card_roles` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Rate Card Roles
      tags:
      - Rate Card Role (Rate for a Role)
      parameters:
      - in: query
        name: created_after
        description: Filter for records created after a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: created_before
        description: Filter for records created before a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `rate_card_version` (RateCardVersion) - The Rate Card Version to which this Rate Card Role belongs.

          - `role` (Role) - The account Role that this Rate Card Role represents.'
        schema:
          type: string
      - in: query
        name: only
        description: 'Allows you to request one or more resources directly by ID. Multiple IDs can be supplied

          in a comma separated list, like `GET /api/v1/workspaces.json?only=5,6,7`.'
        schema:
          type: string
      - in: query
        name: order
        description: 'Supply `order` with the name of a valid sort field for the endpoint and a direction.


          Valid values: `created_at:asc` and `created_at:desc`.'
        schema:
          type: string
          default: created_at:asc
      - in: query
        name: page
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        schema:
          type: integer
          format: int32
          default: 20
          maximum: 200
      - in: query
        name: rate_card_version_id
        description: Restricts Rate Card Roles to the specified Rate Card Version.
        schema:
          type: integer
          format: int32
      - in: query
        name: updated_after
        description: Filter for records updated after a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: updated_before
        description: Filter for records updated before a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: with_role_ids
        description: Restricts Rate Card Roles to the specified role ids.
        schema:
          type: array
          items:
            type: integer
            format: int32
      responses:
        '200':
          description: A list of Rate Card Roles have been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  rate_card_roles:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardRole'
                  roles:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Role'
                  rate_card_versions:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardVersion'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    post:
      summary: Creating a new Rate Card Role
      description: 'A Rate Card Role can only be created by an Administrator on the account.


        This endpoint returns structured Rate Card Role objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `rate_card_roles` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Create Rate Card Role
      tags:
      - Rate Card Role (Rate for a Role)
      parameters:
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `rate_card_version` (RateCardVersion) - The Rate Card Version to which this Rate Card Role belongs.

          - `role` (Role) - The account Role that this Rate Card Role represents.'
        schema:
          type: string
      responses:
        '200':
          description: Rate Card Role has been created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  rate_card_roles:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardRole'
                  roles:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Role'
                  rate_card_versions:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardVersion'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rate_card_role:
                  type: object
                  properties:
                    rate_card_version_id:
                      type: integer
                      format: int32
                      description: The ID of the Rate Card Version to which the Rate Card Role belongs.
                    role_id:
                      type: integer
                      format: int32
                      description: The ID of the Role being represented by the Rate Card Role.
                    rate:
                      type: integer
                      format: int32
                      description: The bill rate, in cents per hour, for the associated role.
                  required:
                  - rate_card_version_id
                  - role_id
                  - rate
        required: true
  /rate_card_roles/{id}:
    get:
      summary: Fetching a single Rate Card Role
      description: 'A Rate Card Role can only be accessed by an Administrator on the account.


        This endpoint returns structured Rate Card Role objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `rate_card_roles` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Rate Card Role
      tags:
      - Rate Card Role (Rate for a Role)
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `rate_card_version` (RateCardVersion) - The Rate Card Version to which this Rate Card Role belongs.

          - `role` (Role) - The account Role that this Rate Card Role represents.'
        schema:
          type: string
      responses:
        '200':
          description: The Rate Card Role has been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  rate_card_roles:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardRole'
                  roles:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Role'
                  rate_card_versions:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardVersion'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    put:
      summary: Updating an existing Rate Card Role
      description: 'A Rate Card Role can only be modified by an Administrator on the account.


        This endpoint returns structured Rate Card Role objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `rate_card_roles` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Update Rate Card Role
      tags:
      - Rate Card Role (Rate for a Role)
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `rate_card_version` (RateCardVersion) - The Rate Card Version to which this Rate Card Role belongs.

          - `role` (Role) - The account Role that this Rate Card Role represents.'
        schema:
          type: string
      responses:
        '200':
          description: Rate Card Role has been updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  rate_card_roles:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardRole'
                  roles:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Role'
                  rate_card_versions:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardVersion'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rate_card_role:
                  type: object
                  properties:
                    rate:
                      type: integer
                      format: int32
                      description: The bill rate, in cents per hour, for the associated role.
        required: true
    delete:
      summary: Deleting an existing Rate Card Role
      description: 'If a A Rate Card Role belongs to a Rate Card Version that is in use, it cannot be deleted. A Rate Card Role can

        only be deleted by an Administrator on the account.


        The response will contain no content and an HTTP 204 status code if the request was

        successful, or a standard Kantata OX error message explaining why the object could not be deleted.'
      operationId: Delete Rate Card Role
      tags:
      - Rate Card Role (Rate for a Role)
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      responses:
        '204':
          description: Rate Card Role has been deleted.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
components:
  schemas:
    Role:
      title: Role
      description: 'A Role represents the main position or title assigned to members on an account. Roles may be associated with account memberships, account invitations,

        participation, project template assignments, rate card roles, rate card versions, resources, or time adjustments.'
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        deleted_at:
          type: string
          format: date-time
          description: The time the role was deleted.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        name:
          type: string
          description: The name of the role.
        updated_at:
          type: string
          format: date-time
    Error:
      type: object
      properties:
        type:
          type: string
        message:
          type: string
    RateCardRole:
      title: Rate Card Role
      description: 'A Rate Card Role belongs to a Rate Card Version and represents the bill rate, in cents per hour, for a Role

        For example, the rate for a developer may be 2000 cents per hour.'
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        rate:
          type: integer
          format: int32
          description: The bill rate, in cents per hour, for the Rate Card Role.
        rate_card_version_id:
          type: string
          description: '`rate_card_version_id` will only be included in the response if `rate_card_version` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        role_id:
          type: string
          description: '`role_id` will only be included in the response if `role` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        updated_at:
          type: string
          format: date-time
    Errors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    RateCardVersion:
      title: Rate Card Version
      description: 'A Rate Card Version represents a snapshot of a Rate Card at a specified point in time and is used to set the

        default rate. It belongs to a Rate Card Set Version and can own many Rate Card Roles.


        The default Rate is the Rate applied for any Roles that do not explicitly have a Rate set.'
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        default_rate:
          type: integer
          format: int32
          description: The default Rate for any Role that does not explicitly have a Rate associated with it.
        rate_card_id:
          type: string
          description: '`rate_card_id` will only be included in the response if `rate_card` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        rate_card_role_ids:
          type: array
          items:
            type: string
          description: '`rate_card_role_ids` will only be included in the response if `rate_card_roles` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        rate_card_set_version_id:
          type: string
          description: '`rate_card_set_version_id` will only be included in the response if `rate_card_set_version` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        updated_at:
          type: string
          format: date-time
  securitySchemes:
    BearerToken:
      type: apiKey
      name: Bearer
      in: header
    OauthSecurity:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://app.mavenlink.com/oauth/authorize
          tokenUrl: https://app.mavenlink.com/oauth/token
x-tagGroups:
- name: '# Subscribed Events'
  tags:
  - Event Types
  - Events
- name: Account Locations
  tags:
  - Account Locations
- name: Account Settings & Members
  tags:
  - Access Group Memberships
  - Account Colors
  - Account Invitations
  - Account Memberships
  - Backup Approver Associations
  - Billable Utilizations
  - Cost Rates
  - Custom Branding
  - Organization Memberships
  - Organizations
  - Roles
  - Skill Categories
  - Skill Memberships
  - Skills
  - Task Status Sets
  - Task Statuses
  - User Group Memberships
  - Users
- name: Currencies
  tags:
  - Currencies
- name: Custom Fields
  tags:
  - Custom Field Choices
  - Custom Field Sets
  - Custom Field Values
  - Custom Fields
- name: Data Exporter
  tags:
  - Data Export Schema
  - Data Exports
- name: Estimates
  tags:
  - Estimate Scenario Resource Allocations
  - Estimate Scenario Resources
  - Estimate Scenarios
  - Estimates
- name: Expense Budgets
  tags:
  - Expense Budgets
- name: Expense Tracking
  tags:
  - Attachments
  - Expense Categories
  - Expense Report Submissions
  - Expenses
  - Vendors
- name: External References
  tags:
  - External References
- name: Financials
  tags:
  - Billing Milestones
  - Revenue Recognition Methods
- name: Foreign Exchange
  tags:
  - Exchange Tables
- name: Insights & Analytics
  tags:
  - Insights Access Group Memberships
  - Insights Dynamic Dashboards
  - Insights Report Exports
  - Insights Reports
- name: Invoices
  tags:
  - Client Invoice Defaults
  - External Payments
  - Invoices
  - Workspace Invoice Preferences
- name: Personal Settings
  tags:
  - Users
- name: Posts & Replies
  tags:
  - Attachments
  - Posts
  - User File Associations
- name: Project Snapshots
  tags:
  - Project Snapshots
- name: Project Templates
  tags:
  - Project Template Additional Tabs
  - Project Template Assignments
  - Project Template Expense Budgets
  - Project Templates
- name: Projects
  tags:
  - Participations
  - Project Accounting Records
  - Status Reports
  - Workspace Allocations
  - Workspace Baselines
  - Workspace Groups
  - Workspace Invoice Preferences
  - Workspace Resource Skills
  - Workspace Resources
  - Workspace Status Changes
  - Workspace Task Status Sets
  - Workspaces
- name: Rate Cards
  tags:
  - Activations
  - Rate Card Role (Rate for a Role)
  - Rate Card Set Version (Effective version by Date)
  - Rate Card Sets (Group of Rate Cards)
  - Rate Card Table Rows
  - Rate Card Versions
  - Rate Cards (Multiple Currencies)
- name: Recommendations
  tags:
  - Recommendations
- name: Resource Requests
  tags:
  - Resource Requests
- name: Scheduling
  tags:
  - Holiday Calendar Associations
  - Holiday Calendar Memberships
  - Holiday Calendars
  - Holidays
  - Time Off Entries
  - Workweek Memberships
  - Workweeks
- name: Surveys (Legacy)
  tags:
  - Survey Answers (Legacy)
  - Survey Questions (Legacy)
  - Survey Templates (Legacy)
  - Surveys Responses (Legacy)
- name: Tasks
  tags:
  - Assignments
  - Daily Scheduled Hours (Story Allocation Days)
  - Followers
  - Stories
  - Story Dependencies
  - Story State Changes
  - Story Tasks
- name: Time Tracking
  tags:
  - Line Item Locks
  - Time Entries
  - Timesheet Approvals
  - Timesheet Cancellations
  - Timesheet Rejections
  - Timesheet Submissions
