openapi: 3.2.0
info:
  version: 1.0.0
  title: Kantata OX API Documentation Custom Branding API
  description: Kantata OX's API provides access to the majority of Kantata OX's data model.
  termsOfService: https://www.kantata.com/terms-of-use
  contact:
    name: Kantata OX Support
    url: https://knowledge.kantata.com/hc/en-us
  license:
    name: COPYRIGHT © 2026 Kantata, Inc.
    url: https://www.kantata.com/terms-of-use
  x-logo:
    url: https://theme.zdassets.com/theme_assets/56104/04e93064d309f75d054b8cee885d1ea51e9be8f7.png
    backgroundColor: '#FFFFFF'
    altText: Kantata OX API Documentation
    href: https://developer.kantata.com
servers:
- url: https://api.mavenlink.com/api/v1
tags:
- name: Custom Branding
paths:
  /custom_branding:
    get:
      summary: Fetch Custom Branding Settings
      description: 'Retrieve custom branding information for the current user''s account.


        This endpoint returns structured Custom Branding (Private Label) objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `private_label` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Custom Branding Settings
      tags:
      - Custom Branding
      parameters:
      - in: query
        name: only
        description: 'Allows you to request one or more resources directly by ID. Multiple IDs can be supplied

          in a comma separated list, like `GET /api/v1/workspaces.json?only=5,6,7`.'
        schema:
          type: string
      - in: query
        name: page
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        schema:
          type: integer
          format: int32
          default: 20
          maximum: 200
      responses:
        '200':
          description: A list of Custom Branding (Private Label)s have been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  private_label:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/PrivateLabel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
components:
  schemas:
    PrivateLabel:
      title: Custom Branding (Private Label)
      description: The Custom Branding values for the current users account.
      type: object
      properties:
        business_name:
          type: string
          description: Business name alias.
        button_color:
          type: string
          description: Hex value of chosen button color.
        created_at:
          type: string
          format: date-time
          description: The date the custom branding was created.
        custom_login_message:
          type: string
          description: Value of the custom login message if set.
        header_color:
          type: string
          description: Hex value of chosen header color.
        left_nav_background_color:
          type: string
          description: Hex value of the chosen left navigation color.
        left_nav_button_color:
          type: string
          description: Hex value of the left nav button.
        link_color:
          type: string
          description: Hex value of chosen link color.
        logo_url:
          type: string
          description: URL of the chosen logo.
        state:
          type: string
          description: 'The current state of custom branding on the account with possible values: new and disabled, disabled, active, preview.'
        updated_at:
          type: string
          format: date-time
          description: The date the custom branding was most recently updated.
    Errors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    Error:
      type: object
      properties:
        type:
          type: string
        message:
          type: string
  securitySchemes:
    BearerToken:
      type: apiKey
      name: Bearer
      in: header
    OauthSecurity:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://app.mavenlink.com/oauth/authorize
          tokenUrl: https://app.mavenlink.com/oauth/token
x-tagGroups:
- name: '# Subscribed Events'
  tags:
  - Event Types
  - Events
- name: Account Locations
  tags:
  - Account Locations
- name: Account Settings & Members
  tags:
  - Access Group Memberships
  - Account Colors
  - Account Invitations
  - Account Memberships
  - Backup Approver Associations
  - Billable Utilizations
  - Cost Rates
  - Custom Branding
  - Organization Memberships
  - Organizations
  - Roles
  - Skill Categories
  - Skill Memberships
  - Skills
  - Task Status Sets
  - Task Statuses
  - User Group Memberships
  - Users
- name: Currencies
  tags:
  - Currencies
- name: Custom Fields
  tags:
  - Custom Field Choices
  - Custom Field Sets
  - Custom Field Values
  - Custom Fields
- name: Data Exporter
  tags:
  - Data Export Schema
  - Data Exports
- name: Estimates
  tags:
  - Estimate Scenario Resource Allocations
  - Estimate Scenario Resources
  - Estimate Scenarios
  - Estimates
- name: Expense Budgets
  tags:
  - Expense Budgets
- name: Expense Tracking
  tags:
  - Attachments
  - Expense Categories
  - Expense Report Submissions
  - Expenses
  - Vendors
- name: External References
  tags:
  - External References
- name: Financials
  tags:
  - Billing Milestones
  - Revenue Recognition Methods
- name: Foreign Exchange
  tags:
  - Exchange Tables
- name: Insights & Analytics
  tags:
  - Insights Access Group Memberships
  - Insights Dynamic Dashboards
  - Insights Report Exports
  - Insights Reports
- name: Invoices
  tags:
  - Client Invoice Defaults
  - External Payments
  - Invoices
  - Workspace Invoice Preferences
- name: Personal Settings
  tags:
  - Users
- name: Posts & Replies
  tags:
  - Attachments
  - Posts
  - User File Associations
- name: Project Snapshots
  tags:
  - Project Snapshots
- name: Project Templates
  tags:
  - Project Template Additional Tabs
  - Project Template Assignments
  - Project Template Expense Budgets
  - Project Templates
- name: Projects
  tags:
  - Participations
  - Project Accounting Records
  - Status Reports
  - Workspace Allocations
  - Workspace Baselines
  - Workspace Groups
  - Workspace Invoice Preferences
  - Workspace Resource Skills
  - Workspace Resources
  - Workspace Status Changes
  - Workspace Task Status Sets
  - Workspaces
- name: Rate Cards
  tags:
  - Activations
  - Rate Card Role (Rate for a Role)
  - Rate Card Set Version (Effective version by Date)
  - Rate Card Sets (Group of Rate Cards)
  - Rate Card Table Rows
  - Rate Card Versions
  - Rate Cards (Multiple Currencies)
- name: Recommendations
  tags:
  - Recommendations
- name: Resource Requests
  tags:
  - Resource Requests
- name: Scheduling
  tags:
  - Holiday Calendar Associations
  - Holiday Calendar Memberships
  - Holiday Calendars
  - Holidays
  - Time Off Entries
  - Workweek Memberships
  - Workweeks
- name: Surveys (Legacy)
  tags:
  - Survey Answers (Legacy)
  - Survey Questions (Legacy)
  - Survey Templates (Legacy)
  - Surveys Responses (Legacy)
- name: Tasks
  tags:
  - Assignments
  - Daily Scheduled Hours (Story Allocation Days)
  - Followers
  - Stories
  - Story Dependencies
  - Story State Changes
  - Story Tasks
- name: Time Tracking
  tags:
  - Line Item Locks
  - Time Entries
  - Timesheet Approvals
  - Timesheet Cancellations
  - Timesheet Rejections
  - Timesheet Submissions
