openapi: 3.2.0
info:
  version: 1.0.0
  title: Kantata OX API Documentation Events API
  description: Kantata OX's API provides access to the majority of Kantata OX's data model.
  termsOfService: https://www.kantata.com/terms-of-use
  contact:
    name: Kantata OX Support
    url: https://knowledge.kantata.com/hc/en-us
  license:
    name: COPYRIGHT © 2026 Kantata, Inc.
    url: https://www.kantata.com/terms-of-use
  x-logo:
    url: https://theme.zdassets.com/theme_assets/56104/04e93064d309f75d054b8cee885d1ea51e9be8f7.png
    backgroundColor: '#FFFFFF'
    altText: Kantata OX API Documentation
    href: https://developer.kantata.com
servers:
- url: https://api.mavenlink.com/api/v1
tags:
- name: Events
  description: Up to 9 days of trackable changes ("events") for an account can be accessed via the Subscribed Events API.
paths:
  /subscribed_events:
    get:
      summary: Fetching a list of Subscribed Events
      description: 'Returns up to 9 days of records for all event types,

        unless filter parameters have been applied.


        Only records associated with the requester''s Kantata OX account are returned.


        This endpoint returns structured Subscribed Event objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `subscribed_events` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Subscribed Events
      tags:
      - Events
      parameters:
      - in: query
        name: created_after
        required: false
        description: 'Filter for events created after a specified datetime. Events may be generated out of order or the

          `subject_changed_at` and `created_at` times of an event can differ due to the lag between event

          occurrence and generation. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.'
        schema:
          type: string
          format: date-time
      - in: query
        name: created_before
        required: false
        description: 'Filter for events created before a specified datetime. Events may be generated out of order or the

          `subject_changed_at` and `created_at` times of an event can differ due to the lag between event

          occurrence and generation. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.'
        schema:
          type: string
          format: date-time
      - in: query
        name: event_types
        required: false
        description: 'Filter for records of specified [event types](https://mavenlink.zendesk.com/hc/en-us/articles/4407962435227).

          Specify multiple event types in a comma-separated list, like

          `GET /api/v1/subscribed_events?event_types=time_entry:created,time_entry:updated,time_entry:deleted`.'
        schema:
          type: string
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `subject` (polymorphic) - When included, each event object will include a `subject_ref` that references the subject the event belongs to. The `subject_ref` is a JSON object with an `id` and `key`, where the `key` is the subject type.


          For example, a `workspace:updated` event will have a `subject_ref` referencing the workspace, and the `key` will be `workspaces`.


          If the subject is not available, `subject_ref` will be null. A subject may be unavailable if it was deleted or was transferred to another account.'
        schema:
          type: string
      - in: query
        name: most_recent
        required: false
        description: 'If true, only the most recent event will be returned for each subject

          (i.e. the most recent change that occurred for each subject). This filter cannot be used

          in combination with `most_recent_by_event_type`.'
        schema:
          type: boolean
      - in: query
        name: most_recent_by_event_type
        required: false
        description: 'If true, only the most recent event of each event type will be returned for each subject.


          For example, if a workspace was created, updated 3 times, and deleted, the following events will be

          generated: 1 `workspace:created` event, 3 `workspace:updated` events, and 1 `workspace:deleted` event.

          If `most_recent_by_event_type` is true, the `workspace:created` event, the most recent `workspace:updated`

          event, and the `workspace:deleted` event will be returned. This filter cannot be used in combination with

          `most_recent`.'
        schema:
          type: boolean
      - in: query
        name: only
        description: 'Allows you to request one or more resources directly by ID. Multiple IDs can be supplied

          in a comma separated list, like `GET /api/v1/workspaces.json?only=5,6,7`.'
        schema:
          type: string
      - in: query
        name: optional_fields
        description: Allows you to request one or more optional fields as an array.
        schema:
          type: array
          items:
            type: string
            enum:
            - previous_payload
            - current_payload
            - payload_changes
      - in: query
        name: order
        description: 'Supply `order` with the name of a valid sort field for the endpoint and a direction.


          Valid values: `created_at:asc` and `created_at:desc`.'
        schema:
          type: string
          default: created_at:desc
      - in: query
        name: page
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        schema:
          type: integer
          format: int32
          default: 20
          maximum: 200
      - in: query
        name: subject_id
        required: false
        description: 'Filter for events belonging to a specific subject (e.g. a user, a project, etc). When using this filter,

          you must also provide a `subject_type`. Multiple IDs can be provided in a comma-separated list

          (e.g. `GET /api/v1/subscribed_events?subject_type=TimeEntry&subject_id=27,28,29`).'
        schema:
          type: string
      - in: query
        name: subject_type
        required: false
        description: "Filter for events by a specific subject type. You can pass in only one subject type for this parameter.\n  Supported subject types: \"AccountColor\", \"AccountLocation\", \"AccountMembership\", \"Assignment\", \"BudgetChangeOrder\",\n  \"CostRate\", \"CustomField\", \"CustomFieldSet\", \"DefaultStatusSet\", \"EmailAddress\", \"Estimate\", \"EstimateScenario\",\n  \"EstimateScenarioResource\", \"Expense\", \"ExpenseReportSubmission\", \"Invoice\", \"LineItemLock\", \"Organization\",\n  \"OrganizationMembership\", \"Participation\", \"ProjectAccessControl\", \"Role\", \"ScheduleChangeOrder\", \"Skill\",\n  \"SkillMembership\", \"StatusSet\", \"StatusSetOption\", \"Story\", \"StoryAllocationDay\", \"TimeEntry\",\n  \"TimeOffEntry\", \"TimesheetSubmission\", \"User\", \"Vendor\", \"Workspace\", \"WorkspaceAllocation\", \"WorkspaceApprover\",\n  \"WorkspaceGroup\", \"WorkspaceInvitation\", \"WorkspaceResource\", \"WorkspaceStatusSet\", \"Workweek\", \"WorkweekMembership\"."
        schema:
          type: string
      - in: query
        name: user_ids
        required: false
        description: 'Filter for events triggered by specific users. Multiple IDs can be provided in a comma-separated list

          (e.g. `GET /api/v1/subscribed_events?user_ids=5,25,45`).'
        schema:
          type: string
      responses:
        '200':
          description: A list of Subscribed Events have been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  subscribed_events:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/SubscribedEvents__Models__SubscribedEvent'
                  account_colors:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/AccountColor'
                  account_locations:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/AccountLocation'
                  account_memberships:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/AccountMembership'
                  assignments:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Assignment'
                  billing_milestones:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/BillingMilestone'
                  cost_rates:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/CostRate'
                  custom_fields:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/CustomField'
                  custom_field_sets:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/CustomFieldSet'
                  estimates:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Estimate'
                  estimate_scenarios:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/EstimateScenario'
                  estimate_scenario_resources:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/EstimateScenarioResource'
                  expenses:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Expense'
                  expense_budgets:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ExpenseBudget'
                  expense_report_submissions:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ExpenseReportSubmission'
                  invoices:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Invoice'
                  line_item_locks:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/LineItemLock'
                  organizations:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Organization'
                  organization_memberships:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/OrganizationMembership'
                  participations:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Participation'
                  project_accounting_records:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ProjectAccounting__Models__ProjectAccountingRecord'
                  roles:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Role'
                  skills:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Skill'
                  skill_memberships:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/SkillMembership'
                  task_status_sets:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/StatusSet'
                  custom_task_statuses:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/StatusSetOption'
                  stories:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Story'
                  story_allocation_days:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/StoryAllocationDay'
                  time_entries:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/TimeEntry'
                  time_off_entries:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/TimeOffEntry'
                  timesheet_submissions:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/TimesheetSubmission'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  vendors:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Vendor'
                  workspaces:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Workspace'
                  workspace_allocations:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkspaceAllocation'
                  workspace_groups:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkspaceGroup'
                  workspace_invitations:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkspaceInvitation'
                  workspace_resources:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkspaceResource'
                  workspace_task_status_sets:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkspaceStatusSet'
                  workweeks:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Workweek'
                  workweek_memberships:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkweekMembership'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
components:
  schemas:
    Story:
      title: Story
      description: 'Stories (known as [tasks](https://knowledge.kantata.com/hc/en-us/articles/202806550-Tasks-Overview) in the UI)

        are the tasks, deliverables, issues, and milestones required to complete a project.

        Stories belong to [Workspaces](/tag/Workspaces), appear in the

        [Local Task Tracker](https://knowledge.kantata.com/hc/en-us/articles/202490134-Project-Task-Tracker) and the

        [Global Tasks Tracker](https://knowledge.kantata.com/hc/en-us/articles/216424897-Global-Tasks-Tracker),

        can be linked to [Posts](/tag/Posts), can have substories (subtasks) and

        [Story Tasks](https://developer.kantata.com/tag/Story-Tasks) (checklists), and have many attributes for

        planning, organization, and financials.'
      type: object
      properties:
        ancestor_ids:
          type: array
          items:
            type: string
          description: The IDs of all the ancestor (i.e. parent) tasks of the task. This is empty for a top-level task.
        ancestry_depth:
          type: integer
          format: int32
          description: The number of levels a subtask is nested below the top-level task. Possible values are between `0` (i.e. a top-level task) and `4`.
        archived:
          type: boolean
          description: Whether the task is archived.
        archived_editable:
          type: boolean
          description: 'For archived tasks, whether the authenticated user can edit the task.

            Only returned when requested through the optional_fields param.'
        assigned_role_id:
          type: string
          description: '`assigned_role_id` will only be included in the response if `assigned_role` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        assignee_ids:
          type: array
          items:
            type: string
          description: '`assignee_ids` will only be included in the response if `assignees` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        assignment_timestamped_at:
          type: string
          format: date-time
        attachment_ids:
          type: array
          items:
            type: string
          description: '`attachment_ids` will only be included in the response if `attachments` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        billable:
          type: boolean
          description: Whether the task is billable.
        budget_estimate_in_cents:
          type: integer
          format: int32
          description: 'The task budget, in the subunits of the currency (e.g. cents for USD).

            Visible when the API user can view story budgets in the story''s workspace.'
        budget_used_in_cents:
          type: integer
          format: int32
          description: 'How much of the task budget has been used, in the subunits of the currency (e.g. cents for USD).

            Visible when the API user can view story budgets in the story''s workspace.'
        can_align_time:
          type: boolean
          description: 'Whether [Daily Scheduled Hours](/tag/Daily-Scheduled-Hours-(Story-Allocation-Days)) (i.e. Story Allocation Days) that are out of sync with the task start or due date can be realigned to the task start date.

            Only returned when requested through the optional_fields param.'
        can_edit:
          type: boolean
          description: 'Whether the authenticated user can edit the task. For archived tasks, refer to `archived_editable` instead.

            Only returned when requested through the optional_fields param.'
        can_post:
          type: boolean
          description: 'Whether the authenticated user can create posts in the project the task is in.

            Only returned when requested through the optional_fields param.'
        created_at:
          type: string
          format: date-time
        creator_id:
          type: string
          description: '`creator_id` will only be included in the response if `creator` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        current_assignment_ids:
          type: array
          items:
            type: string
          description: '`current_assignment_ids` will only be included in the response if `current_assignments` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        custom_field_value_ids:
          type: array
          items:
            type: string
          description: '`custom_field_value_ids` will only be included in the response if `custom_field_values` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        custom_task_status_id:
          type: integer
          format: int32
          description: 'The ID of the task''s custom status. If the workspace is not using a custom task status set, this is `null`.

            Only returned when requested through the optional_fields param.'
        deleted_at:
          type: string
          format: date-time
        descendant_ids:
          type: array
          items:
            type: string
          description: '`descendant_ids` will only be included in the response if `descendants` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        description:
          type: string
          description: The task description. Markdown syntax is included.
        due_date:
          type: string
          format: date
          description: When the task is due.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        fixed_fee:
          type: boolean
          description: Whether the task is fixed fee (`true`) or time and materials (`false`).
        follower_ids:
          type: array
          items:
            type: string
          description: '`follower_ids` will only be included in the response if `followers` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        formatted_description:
          type: string
          description: 'The task description with special formatting, like emoji and @-mentions.

            Only returned when requested through the optional_fields param.'
        google_document_ids:
          type: array
          items:
            type: string
          description: '`google_document_ids` will only be included in the response if `google_documents` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        has_out_of_bounds_sads:
          type: boolean
          description: 'Whether the task has any [Daily Scheduled Hours](/tag/Daily-Scheduled-Hours-(Story-Allocation-Days)) (i.e. Story Allocation Days) before its start date or after its due date.

            Only returned when requested through the optional_fields param.'
        invoiced_balance_in_cents:
          type: integer
          format: int32
          description: 'How much has been invoiced for the task, in the subunits of the currency (e.g. cents for USD).

            Visible when the API user can view story budgets in the story''s workspace.'
        is_time_trackable_type:
          type: boolean
          description: 'Whether the task can have time and expenses tracked against it, as set in account settings.

            Only returned when requested through the optional_fields param.'
        logged_billable_time_in_minutes:
          type: integer
          format: int32
          description: 'How much billable time has been tracked against the task, in minutes.

            Visible when the API user can view story time estimates in the story''s workspace.'
        logged_nonbillable_time_in_minutes:
          type: integer
          format: int32
          description: 'How much non-billable time has been tracked against the task, in minutes.

            Visible when the API user can view story time estimates in the story''s workspace.'
        parent_id:
          type: string
          description: '`parent_id` will only be included in the response if `parent` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        parsed_description:
          type: string
          description: 'The task description. Markdown syntax is not included.

            Only returned when requested through the optional_fields param.'
        percentage_complete:
          type: integer
          format: int32
          description: The percentage of work done on the task.
        position:
          type: integer
          format: int32
          description: Represents the task's position in the Task Tracker. This is not the same as the WBS (Work Breakdown Structure) number shown in the UI.
        potential_workspace_resource_ids:
          type: array
          items:
            type: string
          description: '`potential_workspace_resource_ids` will only be included in the response if `potential_workspace_resources` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        potential_workspace_resources_with_unnamed_ids:
          type: array
          items:
            type: string
          description: '`potential_workspace_resources_with_unnamed_ids` will only be included in the response if `potential_workspace_resources_with_unnamed` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        priority:
          type: integer
          format: int32
          description: The priority of the task. Possible values are `critical`, `high`, `normal`, `low`.
        project_plan:
          type: boolean
          description: Whether the story is a project task (`true`) or is a To Do (`false`).
        read_only:
          type: boolean
          description: 'Whether the authenticated user can only view the task and cannot edit it.

            Only returned when requested through the optional_fields param.'
        render_description_markdown:
          type: boolean
          description: 'Whether the account the task is in is set to render Markdown in task descriptions as formatted and styled text.

            Only returned when requested through the optional_fields param.'
        reply_ids:
          type: array
          items:
            type: string
          description: '`reply_ids` will only be included in the response if `replies` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        root_id:
          type: string
          description: '`root_id` will only be included in the response if `root` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        source_dependency_ids:
          type: array
          items:
            type: string
          description: '`source_dependency_ids` will only be included in the response if `source_dependencies` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        start_date:
          type: string
          format: date
          description: When the task starts.
        state:
          type: string
          description: 'The status type of the story. Possible values are `not started`, `started`, `needs info`, or `completed`. If task status sets are not activated on the account, the following values are also possible: `new`, `reopened`, `in progress`, `blocked`, `fixed`, `duplicate`, `can''t reproduce`, `resolved`, or `won''t fix`. The actual task status is returned in the `status` field.'
        status:
          type: string
          description: The status of the story.
        story_state_change_ids:
          type: array
          items:
            type: string
          description: '`story_state_change_ids` will only be included in the response if `story_state_changes` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        story_task_ids:
          type: array
          items:
            type: string
          description: '`story_task_ids` will only be included in the response if `story_tasks` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        story_type:
          type: string
          description: The task's type. Possible values are `task`, `deliverable `, `milestone`, and `issue`.
        sub_stories_billable_time_in_minutes:
          type: integer
          format: int32
          description: 'How much billable time has been tracked against the task''s descendants, in minutes.

            Visible when the API user can view story time estimates in the story''s workspace.'
        sub_stories_budget_estimate_in_cents:
          type: integer
          format: int32
          description: 'The budget of the task''s descendants, in the subunits of the currency (e.g. cents for USD).

            Visible when the API user can view story budgets in the story''s workspace.'
        sub_stories_budget_used_in_cents:
          type: integer
          format: int32
          description: 'How much of the budgets of the task''s descendants has been used, in the subunits of the currency (e.g. cents for USD).

            Visible when the API user can view story budgets in the story''s workspace.'
        sub_stories_time_estimate_in_minutes:
          type: integer
          format: int32
          description: 'The estimated time of the task''s descendants, in minutes.

            Visible when the API user can view story time estimates in the story''s workspace.'
        sub_story_count:
          type: integer
          format: int32
          description: How many descendant tasks the task has.
        sub_story_ids:
          type: array
          items:
            type: string
          description: '`sub_story_ids` will only be included in the response if `sub_stories` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        subtree_depth:
          type: integer
          format: int32
          description: How many ancestor tasks the task has.
        tag_ids:
          type: array
          items:
            type: string
          description: '`tag_ids` will only be included in the response if `tags` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        target_dependency_ids:
          type: array
          items:
            type: string
          description: '`target_dependency_ids` will only be included in the response if `target_dependencies` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        time_estimate_in_minutes:
          type: integer
          format: int32
          description: 'The estimated time for the task, in minutes.

            Visible when the API user can view story time estimates in the story''s workspace.'
        time_trackable:
          type: boolean
          description: Whether time can be tracked against the task.
        title:
          type: string
          description: The title of the task.
        uninvoiced_balance_in_cents:
          type: integer
          format: int32
          description: 'How much has not yet been invoiced for the task, in the subunits of the currency (e.g. cents for USD).

            Visible when the API user can view story budgets in the story''s workspace.'
        updated_at:
          type: string
          format: date-time
        weight:
          type: integer
          format: int32
          description: 'If the `story_type` is `milestone`, this is the [weight](https://knowledge.kantata.com/hc/en-us/articles/203499904-Milestone-Weighting) of the task.

            Visible when the API user can view story time estimates in the story''s workspace.'
        workspace_id:
          type: string
          description: '`workspace_id` will only be included in the response if `workspace` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        workspace_resource_ids:
          type: array
          items:
            type: string
          description: '`workspace_resource_ids` will only be included in the response if `workspace_resources` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        workspace_resources_with_unnamed_ids:
          type: array
          items:
            type: string
          description: '`workspace_resources_with_unnamed_ids` will only be included in the response if `workspace_resources_with_unnamed` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    Role:
      title: Role
      description: 'A Role represents the main position or title assigned to members on an account. Roles may be associated with account memberships, account invitations,

        participation, project template assignments, rate card roles, rate card versions, resources, or time adjustments.'
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        deleted_at:
          type: string
          format: date-time
          description: The time the role was deleted.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        name:
          type: string
          description: The name of the role.
        updated_at:
          type: string
          format: date-time
    Vendor:
      title: Vendor
      description: A Vendor is an entity to which an expense can be paid.
      type: object
      properties:
        archived:
          type: boolean
          description: Whether the vendor is archived.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        externally_managed:
          type: boolean
          description: Whether the vendor was created by an external system and then imported.
        in_use:
          type: boolean
          description: Whether the vendor is used on an invoice.
        name:
          type: string
          description: The name of the vendor.
    Organization:
      title: Organization
      description: 'An Organization allows you to structure and group your projects and account members by

        departments and geographies.'
      type: object
      properties:
        ancestor_ids:
          type: array
          items:
            type: string
          description: The ids of all ancestors of the organization.
        created_at:
          type: string
          format: date-time
        name:
          type: string
          description: The unique name of the organization.
        parent_id:
          type: string
          description: The id of the parent organization.
        type:
          type: string
          description: The type of the organization, either 'Geography' or 'Department'.
        updated_at:
          type: string
          format: date-time
    Workspace:
      title: Workspace
      description: Workspaces (also called projects) represent the space in which Kantata OX users plan, communicate, and collaborate.
      type: object
      properties:
        access_level:
          type: string
          description: Whether the project is open, and who can join it. Possible values are `invitation`, `open`, and `admin`.
        account_color_id:
          type: string
          description: '`account_color_id` will only be included in the response if `account_color` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        account_id:
          type: integer
          format: int32
          description: The ID of the account which the project is in.
        account_insights_mapping_ids:
          type: array
          items:
            type: string
          description: '`account_insights_mapping_ids` will only be included in the response if `account_insights_mappings` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        actual_fees_includes_additional_line_items:
          type: boolean
          description: 'Whether invoice additional items are included in actual fees calculations for the project.

            Visible when the authenticated user is a project administrator and is on the account that the project is on.'
        actual_fees_includes_expenses:
          type: boolean
          description: 'Whether expenses are included in actual fees calculations for the project.

            Visible when the authenticated user is a project administrator and is on the account that the project is on.'
        approver_id:
          type: string
          description: '`approver_id` will only be included in the response if `approver` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        approver_ids:
          type: array
          items:
            type: string
          description: '`approver_ids` will only be included in the response if `approvers` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        archived:
          type: boolean
          description: Whether the project is archived.
        billable_minutes:
          type: integer
          format: int32
          description: 'The total amount of billable time entries, in minutes. Only visible if the authenticated user has financial access in the project and is on the provider team.

            Visible when the authenticated user can see total time approved in the project.


            Only returned when requested through the optional_fields param.'
        billing_milestone_ids:
          type: array
          items:
            type: string
          description: '`billing_milestone_ids` will only be included in the response if `billing_milestones` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        budget_remaining:
          type: string
          description: 'The amount of the project budget remaining.

            Visible when the authenticated user is on the provider team and can either see reports on the account or has financial access in the project.'
        budget_used:
          type: string
          description: 'The amount of the project budget that has been used.

            Visible when the authenticated user is on the provider team and can either see reports on the account or has financial access in the project.'
        budget_used_in_cents:
          type: integer
          format: int32
          description: 'The amount of the project budget that has been used, in the subunits of the currency (e.g. cents for USD).

            Visible when the authenticated user is on the provider team and can either see reports on the account or has financial access in the project.'
        budgeted:
          type: boolean
          description: Whether the project is budgeted.
        can_create_line_items:
          type: boolean
          description: Whether the authenticated user can create line items in the project (i.e. time entries, expenses, fixed fee items, or additional items).
        can_invite:
          type: boolean
          description: Whether the authenticated user can invite others to the project.
        change_orders_enabled:
          type: boolean
          description: Whether change orders are enabled in the project.
        client_lead_name:
          type: string
          description: 'The name of the team lead for the client side of the project.

            Only returned when requested through the optional_fields param.'
        client_role_name:
          type: string
          description: The client team name.
        consultant_role_name:
          type: string
          description: The provider team name.
        created_at:
          type: string
          format: date-time
          description: The date the project was created.
        creator_id:
          type: string
          description: '`creator_id` will only be included in the response if `creator` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        currency:
          type: string
          description: The currency of the project. Only visible if the authenticated user has financial access in the project.
        currency_base_unit:
          type: integer
          format: int32
          description: The base unit of the currency of the project. For example, the base unit for USD is 100.
        currency_symbol:
          type: string
          description: The [ISO symbol](https://knowledge.kantata.com/hc/en-us/articles/360041576473) for the currency of the project. For example, `USD`.
        current_status_report_id:
          type: string
          description: '`current_status_report_id` will only be included in the response if `current_status_report` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        current_user_participation_id:
          type: string
          description: '`current_user_participation_id` will only be included in the response if `current_user_participation` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        custom_field_value_ids:
          type: array
          items:
            type: string
          description: '`custom_field_value_ids` will only be included in the response if `custom_field_values` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        default_rate:
          type: string
          description: The default billing rate for the project.
        description:
          type: string
          description: The description of the project.
        due_date:
          type: string
          format: date
          description: The due date of the project.
        effective_due_date:
          type: string
          format: date
          description: The due date of the project (deprecated).
        estimated_minutes:
          type: integer
          format: int32
          description: 'The total task estimated minutes of the project.

            Visible when the authenticated user can see reports on the account or has financial access in the project.


            Only returned when requested through the optional_fields param.'
        exclude_archived_stories_percent_complete:
          type: boolean
          description: Whether archived tasks are excluded from the calculation of the project completion percentage.
        expenses_in_burn_rate:
          type: boolean
          description: 'Whether both expenses and invoice additional items are included in the actual fees calculation for the project. This field is the `AND` of `actual_fees_includes_expenses` and `actual_fees_includes_additional_line_items`.

            Visible when the authenticated user is a project administrator and is on the account that the project is on.'
        external_link:
          type: object
          description: 'A link that displays within the project workspace. Requires the Project Button facilitated feature.

            Visible when the workspace has the project button feature enabled.'
          properties:
            url:
              type: string
              description: 'The URL of the link.

                Visible when the workspace has the project button feature enabled.'
            text:
              type: string
              description: 'The button text.

                Visible when the workspace has the project button feature enabled.'
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        financial_viewer_ids:
          type: array
          items:
            type: string
          description: '`financial_viewer_ids` will only be included in the response if `financial_viewers` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        has_active_expense_report_submissions:
          type: boolean
          description: Whether the project has active expense report submissions.
        has_active_timesheet_submissions:
          type: boolean
          description: Whether the project has active timesheet submissions.
        has_budget_access:
          type: boolean
          description: Whether the authenticated user has budget access in the project.
        incoming_email_address:
          type: string
          description: 'The email address for the project—unique to the authenticated user—which can be used to post to the project''s Activity Feed via email.

            Visible when the authenticated user is a project administrator and is on the account that the project is on.


            Only returned when requested through the optional_fields param.'
        lock_date:
          type: string
          format: date
          description: 'The line item lock date for the account the project is on, if any.

            Only returned when requested through the optional_fields param.'
        minutes_logged:
          type: integer
          format: int32
          description: 'The total minutes logged on the project, including time adjustments. Only visible if the authenticated user has financial access in the project and is on the provider team.

            Visible when the authenticated user can see total time approved in the project.


            Only returned when requested through the optional_fields param.'
        next_uncompleted_milestone_id:
          type: string
          description: '`next_uncompleted_milestone_id` will only be included in the response if `next_uncompleted_milestone` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        non_billable_minutes:
          type: integer
          format: int32
          description: 'The total of all non-billable time entries in minutes, only included if the current user has financial access and is a maven in the project.

            Visible when the authenticated user can see total time approved in the project.


            Only returned when requested through the optional_fields param.'
        over_budget:
          type: boolean
          description: 'Whether the project is over budget. Only visible if the authenticated user has financial access in the project.

            Visible when the authenticated user is a project administrator and is on the account that the project is on.'
        participant_ids:
          type: array
          items:
            type: string
          description: '`participant_ids` will only be included in the response if `participants` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        participation_ids:
          type: array
          items:
            type: string
          description: '`participation_ids` will only be included in the response if `participations` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        percent_of_budget_used:
          type: integer
          format: int32
          description: 'The percent of the project budget used.

            Visible when the authenticated user is on the provider team and can either see reports on the account or has financial access in the project.'
        percentage_complete:
          type: integer
          format: int32
          description: The completion percentage of the project, calculated from the completion percentage of the stories (tasks), including archived stories.
        permissions:
          type: object
          description: Various project permissions for the authenticated user.
          properties:
            can_upload_files:
              type: boolean
              description: Whether the authenticated user can upload files to the project.
            can_private_message:
              type: boolean
              description: Whether the authenticated user can send private messages in the project.
            can_join:
              type: boolean
              description: Whether the authenticated user can join the project.
            is_participant:
              type: boolean
              description: Whether the authenticated user is participating in the project.
            access_level:
              type: string
              description: The authenticated user’s permission level in the project.
            team_lead:
              type: boolean
              description: Whether the authenticated user is a team lead in the project.
            user_is_client:
              type: boolean
              description: Whether the authenticated user is a client in the project.
            can_change_price:
              type: boolean
              description: Whether the authenticated user can change the price (budget) of the project.
            can_change_story_billable:
              type: boolean
              description: Whether the authenticated user can change the billable status of stories (tasks) in the project.
            can_post:
              type: boolean
              description: Whether the authenticated user has post permissions in the project.
            can_edit:
              type: boolean
              description: Whether the authenticated user has edit permissions in the project.
            restricted:
              type: boolean
              description: Whether the authenticated user is a restricted user in the project.
            can_see_financials:
              type: boolean
              description: Whether the authenticated user has financial access in the project.
            is_guest_on_project:
              type: boolean
              description: Returns true if the authenticated user can view projects without joining. Otherwise, returns false.
        possible_approver_ids:
          type: array
          items:
            type: string
          description: '`possible_approver_ids` will only be included in the response if `possible_approvers` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        posts_require_privacy_decision:
          type: boolean
          description: Whether posts are private (`true`) or shared with all project participants (`false`) by default.
        price:
          type: string
          description: 'The project budget.

            Visible when the authenticated user can see reports on the account or has financial access in the project.'
        price_in_cents:
          type: integer
          format: int32
          description: 'The project budget, in the subunits of the currency (e.g. cents for USD).

            Visible when the authenticated user can see reports on the account or has financial access in the project.'
        primary_counterpart_id:
          type: string
          description: '`primary_counterpart_id` will only be included in the response if `primary_counterpart` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        primary_maven_id:
          type: string
          description: '`primary_maven_id` will only be included in the response if `primary_maven` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        primary_workspace_group_id:
          type: string
          description: '`primary_workspace_group_id` will only be included in the response if `primary_workspace_group` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        provider_lead_name:
          type: string
          description: 'The name of the team lead for the provider side of the project.

            Only returned when requested through the optional_fields param.'
        rate_card_id:
          type: integer
          format: int32
          description: The ID of the rate card for the project.
        require_expense_approvals:
          type: boolean
          description: Whether expense approvals are required in the project.
        require_notes_on_time_entries:
          type: boolean
          description: Whether notes are required on time entries logged against this project.
        require_time_approvals:
          type: boolean
          description: Whether time approvals are required in the project.
        revenue_recognition_method_id:
          type: string
          description: 'The ID of the project''s revenue recognition method, which determines how the project''s revenue is recognized and accounted for. The ID is a composite ID made up of a numerical ID (unique to each account), a colon, and the method type. For example `123:percent_complete`.

            Only returned when requested through the optional_fields param.'
        revenue_recognition_method_name:
          type: string
          description: 'The name of the project''s revenue recognition method, which determines how the project''s revenue is recognized and accounted for.

            Only returned when requested through the optional_fields param.'
        stage:
          type: string
          description: 'The stage of the project. Possible values are `estimate` or `project`.

            Only returned when requested through the optional_fields param.'
        start_date:
          type: string
          format: date
          description: The start date of the project.
        status:
          type: object
          description: 'A hash containing the status of the project.

            Visible when the authenticated user can view the project status.'
          properties:
            color:
              type: string
              description: 'The status color of the project (e.g. ''red'').

                Visible when the authenticated user can view the project status.'
            key:
              type: string
              description: 'The status key of the project (e.g. ''501'').

                Visible when the authenticated user can view the project status.'
            message:
              type: string
              description: 'The status message of the project (e.g. ''Cancelled'').

                Visible when the authenticated user can view the project status.'
        status_report_ids:
          type: array
          items:
            type: string
          description: '`status_report_ids` will only be included in the response if `status_reports` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        stories_are_fixed_fee_by_default:
          type: boolean
          description: 'Whether stories (tasks) are fixed fee by default.

            Visible when the authenticated user is a project administrator and is on the account that the project is on.'
        target_margin:
          type: number
          format: float
          description: 'The target margin of the project.

            Visible when the authenticated user is on the provider team and can either see reports on the account or has financial access in the project.'
        task_status_set_id:
          type: string
          description: The ID of the task status set assigned to the workspace.
        task_status_set_name:
          type: string
          description: The name of the task status set assigned to the workspace.
        task_statuses:
          type: array
          items:
            type: string
          description: The task statuses available in the workspace.
        tasks_default_non_billable:
          type: boolean
          description: Whether stories (tasks) are non-billable by default.
        time_trackable:
          type: boolean
          description: Whether time can be tracked against this project and its tasks.
        timesheet_submission_ids:
          type: array
          items:
            type: string
          description: '`timesheet_submission_ids` will only be included in the response if `timesheet_submissions` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        title:
          type: string
          description: The title of the project.
        total_expenses_in_cents:
          type: integer
          format: int32
          description: 'The total amount of expenses on the project, in the subunits of the currency (e.g. cents for USD).

            Visible when the authenticated user is a project administrator and is on the account that the project is on.'
        total_invoiced:
          type: string
          description: 'The total amount invoiced, in the subunits of the currency (e.g. cents for USD).

            Visible when the authenticated user can see reports on the account or has financial access in the project.


            Only returned when requested through the optional_fields param.'
        total_minutes_approved:
          type: integer
          format: int32
          description: 'The total amount of approved time entries, in minutes. Only visible if the authenticated user has financial access in the project and is on the provider team.

            Visible when the authenticated user can see total time approved in the project.


            Only returned when requested through the optional_fields param.'
        updated_at:
          type: string
          format: date-time
          description: The date that the project was last updated.
        workspace_group_ids:
          type: array
          items:
            type: string
          description: '`workspace_group_ids` will only be included in the response if `workspace_groups` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        workspace_invoice_preference_id:
          type: integer
          format: int32
          description: The ID of the workspace invoice preference which the project is associated with.
        workspace_resource_ids:
          type: array
          items:
            type: string
          description: '`workspace_resource_ids` will only be included in the response if `workspace_resources` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        workspace_resources_with_unnamed_ids:
          type: array
          items:
            type: string
          description: '`workspace_resources_with_unnamed_ids` will only be included in the response if `workspace_resources_with_unnamed` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    User:
      title: User
      description: 'Users represent the individuals that are participating in Kantata OX projects. User objects are often returned as

        nested JSON objects within other returned items such as Posts or Stories.'
      type: object
      properties:
        abbreviated_timezone:
          type: string
          description: 'The abbreviation for the user''s time zone.

            Only returned when requested through the optional_fields param.'
        account_membership_id:
          type: string
          description: '`account_membership_id` will only be included in the response if `account_membership` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        bio:
          type: string
          description: 'A biography (defined by the user).

            Only returned when requested through the optional_fields param.'
        city:
          type: string
          description: 'The home city of the user (based on their profile).

            Only returned when requested through the optional_fields param.'
        classification:
          type: string
          description: 'Indicates whether a user is Internal or External.

            Only returned when requested through the optional_fields param.'
        country:
          type: string
          description: 'The home country of the user (based on their profile).

            Only returned when requested through the optional_fields param.'
        custom_field_value_ids:
          type: array
          items:
            type: string
          description: '`custom_field_value_ids` will only be included in the response if `custom_field_values` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        email_address:
          type: string
          description: The email address of the user.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        full_name:
          type: string
          description: The full name of the user.
        headline:
          type: string
          description: A short description of the user.
        last_site_activity:
          type: string
          format: date-time
          description: 'The last time a user logged in. This field is only available in conjunction with the `on_my_account` filter option. Only visible when the API user is an Account Administrator.

            Only returned when requested through the optional_fields param.'
        manager_id:
          type: string
          description: '`manager_id` will only be included in the response if `manager` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        photo_path:
          type: string
          description: The URL of the user's profile photo.
        role_id:
          type: string
          description: '`role_id` will only be included in the response if `role` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        skill_ids:
          type: array
          items:
            type: string
          description: '`skill_ids` will only be included in the response if `skills` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        skill_membership_ids:
          type: array
          items:
            type: string
          description: '`skill_membership_ids` will only be included in the response if `skill_memberships` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        state:
          type: string
          description: 'The home state of the user (based on their profile).

            Only returned when requested through the optional_fields param.'
        website:
          type: string
          description: 'A website (defined by the user).

            Only returned when requested through the optional_fields param.'
        work_sample_ids:
          type: array
          items:
            type: string
          description: '`work_sample_ids` will only be included in the response if `work_samples` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    Errors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    WorkspaceInvitation:
      title: Workspace Invitation
      type: object
      properties:
        email_address:
          type: string
        full_name:
          type: string
        invitee_role:
          type: string
        message:
          type: string
        subject:
          type: string
    WorkweekMembership:
      title: Workweek Membership
      description: A Workweek Membership represents the relationship of a user to a workweek.
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          description: The date and time the workweek membership was last updated.
        end_date:
          type: string
          format: date
          description: The end date of the workweek.
        start_date:
          type: string
          format: date
          description: The start date of the workweek.
        updated_at:
          type: string
          format: date-time
          description: The date and time the workweek membership was created.
        user_id:
          type: integer
          format: int32
          description: The ID of the associated user.
        workweek_id:
          type: string
          description: '`workweek_id` will only be included in the response if `workweek` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    EstimateScenario:
      title: Estimate Scenario
      description: 'An Estimate Scenario represents a possible project configuration. It includes a rate card, budget, and

        associated resources and allocations.'
      type: object
      properties:
        budget_in_cents:
          type: integer
          format: int32
          description: The maximum budget, in cents, available for the project.
        created_at:
          type: string
          format: date-time
        estimate_id:
          type: integer
          format: int32
          description: The ID of the estimate for the scenario.
        estimate_scenario_resource_ids:
          type: array
          items:
            type: string
          description: '`estimate_scenario_resource_ids` will only be included in the response if `estimate_scenario_resources` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        name:
          type: string
          description: The name of the estimate scenario.
        rate_card_id:
          type: string
          description: '`rate_card_id` will only be included in the response if `rate_card` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        start_date:
          type: string
          format: date-time
          description: The estimated date when the project will start.
        target_margin_percent:
          type: integer
          format: int32
          description: The target profit margin, in percentage, for the project.
        updated_at:
          type: string
          format: date-time
    CostRate:
      title: Cost Rate
      description: 'A Cost Rate represents the hourly cost of an account member, specified in a specific currency. A Cost Rate with the same currency

        as the account default currency is called the `default cost rate`. This data can only be accessed by including

        it when querying Account Membership.'
      type: object
      properties:
        account_membership_id:
          type: integer
          format: int32
          description: The ID of the associated account membership.
        amount_in_subunits:
          type: integer
          format: int32
          description: The amount of the cost rate in the subunits of the currency (i.e. cents for US Dollars).
        created_at:
          type: string
          format: date-time
        currency:
          type: string
          description: The ISO code of the cost rate currency.
        in_use:
          type: boolean
          description: 'Indicates whether the account member associated with the cost rate is participating in a workspace

            on the account that uses the same currency as the cost rate.'
        updated_at:
          type: string
          format: date-time
    AccountLocation:
      title: Account Location
      description: Represents a location associated with an account.
      type: object
      properties:
        archived:
          type: boolean
          description: Whether the Account Location is archived.
        in_use:
          type: boolean
          description: Whether the Account Location is in use.
        name:
          type: string
          description: The location the Account Location represents.
    WorkspaceResource:
      title: Workspace Resource
      description: 'With workspace resources it is possible for a user to have many resources with different roles

        within a single workspace. Workspace resource can be assigned to tasks via Assignments which

        enables specifying a specific role / rate per assigned task.'
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        custom_field_value_ids:
          type: array
          items:
            type: string
          description: '`custom_field_value_ids` will only be included in the response if `custom_field_values` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        display_label:
          type: string
          description: User facing Identifer for the Resource.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        full_name:
          type: string
          description: Full Name of the Resource's user if any.
        label:
          type: string
        organization_membership_id:
          type: string
          description: '`organization_membership_id` will only be included in the response if `organization_membership` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        participation_id:
          type: string
          description: '`participation_id` will only be included in the response if `participation` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        photo_path:
          type: string
          description: URI of the Workspace Resource User Profile Photo if there is an user of the Resource.
        resource_bill_rate:
          type: integer
          format: int32
          description: 'The bill rate of the resource in a project, in the subunits of the currency (e.g. cents for USD).

            If the resource''s bill rate was overridden for the project, this field returns the overridden rate.


            Including this field in your request may result in a slower response. We recommend including this field only if necessary.

            Visible when the authenticated user has financial access in the project and is on the provider team.


            Only returned when requested through the optional_fields param.'
        resource_cost_rate:
          type: integer
          format: int32
          description: 'The cost rate of the resource in a project, in the subunits of the currency (e.g. cents for USD).

            If the resource''s cost rate was overridden for the project, this field returns the overridden rate.


            Including this field in your request may result in a slower response. We recommend including this field only if necessary.

            Visible when the authenticated user has financial access in the project and is on the provider team.


            Only returned when requested through the optional_fields param.'
        role_id:
          type: string
          description: '`role_id` will only be included in the response if `role` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        role_initials:
          type: string
          description: Three letter initals for the Resource's Role if any.
        role_name:
          type: string
          description: Name of the Resource's role if any.
        updated_at:
          type: string
          format: date-time
        user_id:
          type: string
          description: '`user_id` will only be included in the response if `user` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        workspace_id:
          type: integer
          format: int32
          description: Id of the Workspace that the Resource belongs to.
        workspace_title:
          type: string
          description: Title of the Workspace that the Resource belongs to.
    Expense:
      title: Expense
      description: 'Expenses are non-time related costs incurred in a project. Once created, expenses can

        be included in generated invoices.'
      type: object
      properties:
        active_submission_id:
          type: string
          description: '`active_submission_id` will only be included in the response if `active_submission` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        amount_in_cents:
          type: integer
          format: int32
          description: The amount, in cents, of the expense.
        category:
          type: string
          description: 'The category of the expense (can be any string). Built-in categories are:

            Travel, Mileage, Lodging, Food, Entertainment, and Other.'
        created_at:
          type: string
          format: date-time
        currency:
          type: string
          description: The currency of the expense.
        currency_base_unit:
          type: integer
          format: int32
          description: The number of the units in the `amount_as_cents` attribute that are required to make up a single unit of the `currency`.
        currency_symbol:
          type: string
          description: The symbol that represents the currency of the expense.
        date:
          type: string
          format: date
          description: The date the expense was incurred.
        expense_budget_id:
          type: string
          description: '`expense_budget_id` will only be included in the response if `expense_budget` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        expense_category_id:
          type: string
          description: '`expense_category_id` will only be included in the response if `expense_category` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        foreign_exchange_amount:
          type: object
          description: The currency conversion data for a converted expense.
          properties:
            date:
              type: string
              format: date-time
              description: The date the expense was converted.
            rate:
              type: number
              format: float
              description: The exchange rate used to convert the expense.
            source_currency:
              type: string
              description: The [ISO code](https://mavenlink.zendesk.com/hc/en-us/articles/360041576473-Supported-Currency-ISO-Codes) of the foreign currency in which the expense was incurred.
            source_value:
              type: number
              format: float
              description: The amount of the expense, in foreign currency units.
        is_billable:
          type: boolean
          description: Whether this is a billable expense.
        is_invoiced:
          type: boolean
          description: Whether this expense has been included on an invoice.
        notes:
          type: string
          description: All notes that have been added to the expense.
        receipt_id:
          type: string
          description: '`receipt_id` will only be included in the response if `receipt` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        recent_submission_id:
          type: string
          description: '`recent_submission_id` will only be included in the response if `recent_submission` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        reimbursable:
          type: boolean
          description: Whether this expense is reimbursable to the creator or to a vendor.
        role_id:
          type: string
          description: '`role_id` will only be included in the response if `role` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        story_id:
          type: string
          description: '`story_id` will only be included in the response if `story` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        taxable:
          type: boolean
          description: Whether this expense is marked as taxable when invoiced.
        updated_at:
          type: string
          format: date-time
        user_can_edit:
          type: boolean
          description: 'Whether the viewing user can edit this expense.

            Only returned when requested through the optional_fields param.'
        user_id:
          type: string
          description: '`user_id` will only be included in the response if `user` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        vendor_id:
          type: string
          description: '`vendor_id` will only be included in the response if `vendor` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        workspace_id:
          type: string
          description: '`workspace_id` will only be included in the response if `workspace` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    LineItemLock:
      title: Line Item Lock
      description: "LineItemLocks provide a way for you to lock time in the past so that previous time entries \ncannot be edited or updated and new time entries cannot be created before the selected lock date.\n\nLine Items can be locked to any Saturday in the past on a per account basis.\n\nKeep in mind that this feature does not lock the ability to invoice approved time entries,\nnor does it lock the submission or approval of expenses."
      type: object
      properties:
        account_id:
          type: integer
          format: int32
          description: The account for which line items will be locked.
        creator_id:
          type: string
          description: '`creator_id` will only be included in the response if `creator` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        locked_to:
          type: string
          format: date
          description: The date before which you would like line items to be locked.
    WorkspaceStatusSet:
      title: Workspace Task Status Sets
      description: Workspace Task Status Sets represent the connection between workspaces (projects) and task (story) status sets, which enable the use of custom task statuses.
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        status_set_id:
          type: integer
          format: int32
          description: The id of the status set that belongs to a project.
        updated_at:
          type: string
          format: date-time
        workspace_id:
          type: integer
          format: int32
          description: The id of the workspace with a status set.
    AccountColor:
      title: Account Color
      description: A color on the user's account that can be associated with a project.
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        default_color:
          type: boolean
          description: Whether the color is the account default. Each account can only have one default color.
        enabled:
          type: boolean
          description: Whether the color is enabled on the account.
        hex:
          type: string
          description: 'The hex value of the color in the format #XXXXXX.'
        name:
          type: string
          description: The human readable color name.
        updated_at:
          type: string
          format: date-time
    Skill:
      title: Skill
      description: 'Skills are used in Kantata OX to describe capabilities of users for the purposes of resource planning.

        They can be associated with a user through a Skill Membership.

        This model includes categories such as ''Skill'', ''Language'', ''Certification'' and ''Other''.'
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          description: The date and time a skill was last updated.
        description:
          type: string
          description: The description of the skill.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        max_level:
          type: string
          description: The max level allowed for the skill.
        name:
          type: string
          description: The name of the skill.
        skill_category_id:
          type: string
          description: '`skill_category_id` will only be included in the response if `skill_category` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        updated_at:
          type: string
          format: date-time
          description: The date and time at skill a workweek was created.
    StoryAllocationDay:
      title: Daily Scheduled Hours (Story Allocation Day)
      description: 'Daily Scheduled Hours (Story Allocation Day) is the planned amount of time for a project resource

        on a specific task for a specified day. Daily Scheduled Hours in Kantata OX are owned by an Assignment.'
      type: object
      properties:
        assignment_id:
          type: string
          description: '`assignment_id` will only be included in the response if `assignment` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        created_at:
          type: string
          format: date-time
        current:
          type: boolean
          description: Whether or not the Story Allocation Day's Assignment is active.
        date:
          type: string
          format: date
          description: The date of the Story Allocation Day.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        minutes:
          type: integer
          format: int32
          description: The number of minutes allocated for the Story Allocation Day.
        story_id:
          type: string
          description: '`story_id` will only be included in the response if `story` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        updated_at:
          type: string
          format: date-time
        workspace_id:
          type: string
          description: '`workspace_id` will only be included in the response if `workspace` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    WorkspaceAllocation:
      title: Workspace Allocation
      description: 'A workspace allocation represents a resource’s allocation over a specific period of time,

        and is always associated with a workspace resource.


        *Note:* When an allocation is split, two allocations are returned in the response.'
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        creator_id:
          type: string
          description: '`creator_id` will only be included in the response if `creator` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        end_date:
          type: string
          format: date
          description: The date the allocation ends on.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        hard:
          type: boolean
          description: Indicates if the allocation is a Hard Allocation (“true”) or Soft (“false”).
        minutes:
          type: integer
          format: int32
          description: Total minutes the resource is allocated over the date range.
        notes:
          type: string
          description: User entered notes about the allocation.
        percentage:
          type: number
          format: float
          description: Percentage that a user is allocated compared to their capacity between the start and end date of the allocation.
        start_date:
          type: string
          format: date
          description: The date the allocation starts on.
        updated_at:
          type: string
          format: date-time
        updater_id:
          type: string
          description: '`updater_id` will only be included in the response if `updater` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        workspace_id:
          type: string
          description: '`workspace_id` will only be included in the response if `workspace` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        workspace_resource_id:
          type: string
          description: The ID of the workspace resource that the allocation will be associated with.
    OrganizationMembership:
      title: Organization Membership
      description: An Organization Membership represents the connection of a user and project to an organization.
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        department_id:
          type: string
          description: '`department_id` will only be included in the response if `department` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        geography_id:
          type: string
          description: '`geography_id` will only be included in the response if `geography` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        member_id:
          type: string
          description: The ID of the project or user.
        member_type:
          type: string
          description: The type of object that describes the member (workspace or user).
        primary:
          type: boolean
          description: 'Indicates whether this is the primary organization for the member (user or workspace).

            Visible when the primary organization feature is enabled.'
        updated_at:
          type: string
          format: date-time
    StatusSet:
      title: Task Status Set
      description: Task Status Sets allow you to create custom statuses for tasks (stories) that can then be applied to projects (workspaces).
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        custom_task_status_ids:
          type: array
          items:
            type: string
          description: '`custom_task_status_ids` will only be included in the response if `custom_task_statuses` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        name:
          type: string
          description: The name of this status set.
        updated_at:
          type: string
          format: date-time
    WorkspaceGroup:
      title: Workspace Group
      description: 'Workspace Groups (also known as groups) allow for the categorization of Kantata OX Workspaces and Users. Workspace Groups are unique to each Kantata OX Account. These endpoints allow you to fetch, create, update, and delete Workspace Groups.


        To add a workspace to a Workspace Group, use the [create workspace](/tag/Workspaces#operation/create-workspace) or [update workspace](/tag/Workspaces#operation/update-workspace) endpoint and set the `workspace_group_ids` field.


        To add a user to a Workspace Group, use the [create user group membership](/tag/User-Group-Memberships#operation/create-user-group-memberships) endpoint.'
      type: object
      properties:
        address:
          type: string
          description: The address of the company contact.
        company:
          type: boolean
          description: Whether the group represents a company.
        contact_name:
          type: string
          description: The name of the company contact.
        created_at:
          type: string
          format: date-time
          description: When the group was created.
        email:
          type: string
          description: The email of the company contact.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        name:
          type: string
          description: The name of the group.
        notes:
          type: string
          description: Notes on the group.
        phone_number:
          type: string
          description: The phone number of the company contact.
        rate_card_set_ids:
          type: array
          items:
            type: string
          description: '`rate_card_set_ids` will only be included in the response if `rate_card_sets` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        updated_at:
          type: string
          format: date-time
          description: When the group was last updated.
        website:
          type: string
          description: The website of the company contact.
        workspace_ids:
          type: array
          items:
            type: string
          description: '`workspace_ids` will only be included in the response if `workspaces` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    Estimate:
      title: Estimate
      description: 'An Estimate represents a potential project. Estimates allow you to plan out a project''s budget, resources,

        and allocations through associated estimate scenarios.'
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          description: The time the estimate was created.
        creator_id:
          type: string
          description: '`creator_id` will only be included in the response if `creator` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        currency:
          type: string
          description: The currency of the estimate, used in all associated estimate scenarios.
        custom_field_value_ids:
          type: array
          items:
            type: string
          description: '`custom_field_value_ids` will only be included in the response if `custom_field_values` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        description:
          type: string
          description: The description of the estimate.
        estimate_scenario_ids:
          type: array
          items:
            type: string
          description: '`estimate_scenario_ids` will only be included in the response if `estimate_scenarios` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        is_locked:
          type: boolean
          description: Whether a project has been created from the estimate. If so, the estimate can no longer be updated.
        name:
          type: string
          description: The name of the estimate.
        updated_at:
          type: string
          format: date-time
        workspace_group_id:
          type: string
          description: '`workspace_group_id` will only be included in the response if `workspace_group` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        workspace_id:
          type: string
          description: '`workspace_id` will only be included in the response if `workspace` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    ExpenseReportSubmission:
      title: Expense Report Submission
      description: "Expense report submissions contain a set of expense line items. These expenses must be approved through\nan expense report submission before they can be added to an invoice. All submission expenses must be in the \nsame workspace (project)."
      type: object
      properties:
        comment:
          type: string
          description: Additional comments on the submission.
        created_at:
          type: string
          format: date-time
          description: The date and time that the submission was created.
        currency:
          type: string
          description: The currency of the submission.
        currency_base_unit:
          type: integer
          format: int32
          description: The base unit of the submission's currency.
        currency_symbol:
          type: string
          description: The symbol of the submission's currency.
        current_resolution_created_at_date:
          type: string
          format: date-time
          description: The date and time that the submission's current resolution was created.
        current_resolution_creator_id:
          type: integer
          format: int32
          description: The creator id on the submission's current resolution.
        current_resolution_description:
          type: string
          description: The description on the submission's current resolution.
        expense_ids:
          type: array
          items:
            type: string
          description: '`expense_ids` will only be included in the response if `expenses` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        line_item_total_formatted:
          type: string
          description: A formatted total of the line items (time entries or expenses) on the submission.
        line_item_total_in_cents:
          type: integer
          format: int32
          description: A total in cents of the line items (time entries or expenses) on the submission.
[...]
