openapi: 3.2.0
info:
  version: 1.0.0
  title: Kantata OX API Documentation Cost Rates API
  description: Kantata OX's API provides access to the majority of Kantata OX's data model.
  termsOfService: https://www.kantata.com/terms-of-use
  contact:
    name: Kantata OX Support
    url: https://knowledge.kantata.com/hc/en-us
  license:
    name: COPYRIGHT © 2026 Kantata, Inc.
    url: https://www.kantata.com/terms-of-use
  x-logo:
    url: https://theme.zdassets.com/theme_assets/56104/04e93064d309f75d054b8cee885d1ea51e9be8f7.png
    backgroundColor: '#FFFFFF'
    altText: Kantata OX API Documentation
    href: https://developer.kantata.com
servers:
- url: https://api.mavenlink.com/api/v1
tags:
- name: Cost Rates
  description: 'Cost Rate represents the hourly cost for an account member, specified in a specific currency. A cost rate

    with the same currency as the account default currency is called the `default cost rate`.'
paths:
  /cost_rates:
    get:
      summary: Get Cost Rates
      description: 'This endpoint returns structured Cost Rate objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `cost_rates` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Cost Rates
      tags:
      - Cost Rates
      parameters:
      - in: query
        name: created_after
        description: Filter for records created after a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: created_before
        description: Filter for records created before a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `account_membership` (AccountMembership) - The account membership associated with the cost rate.'
        schema:
          type: string
      - in: query
        name: only
        description: 'Allows you to request one or more resources directly by ID. Multiple IDs can be supplied

          in a comma separated list, like `GET /api/v1/workspaces.json?only=5,6,7`.'
        schema:
          type: string
      - in: query
        name: order
        description: 'Supply `order` with the name of a valid sort field for the endpoint and a direction.


          Valid values: `created_at:asc` and `created_at:desc`.'
        schema:
          type: string
          default: created_at:asc
      - in: query
        name: page
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        schema:
          type: integer
          format: int32
          default: 20
          maximum: 200
      - in: query
        name: updated_after
        description: Filter for records updated after a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: updated_before
        description: Filter for records updated before a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: A list of Cost Rates have been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  cost_rates:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/CostRate'
                  account_memberships:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/AccountMembership'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    post:
      summary: Creating one or many Cost Rates
      description: 'Creates a new cost rate for a specified account membership and currency. If a cost rate already exists

        for the specified account membership and currency, it will be overridden, effectively making this an

        update request as well. Up to 100 cost rates can be created or updated at once.


        **Note**: Updating a cost rate will set the cost rate for future work. Existing time entries will not be affected.


        This endpoint returns structured Cost Rate objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `cost_rates` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Create Cost Rate
      tags:
      - Cost Rates
      parameters:
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `account_membership` (AccountMembership) - The account membership associated with the cost rate.'
        schema:
          type: string
      responses:
        '200':
          description: Cost Rate has been created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  cost_rates:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/CostRate'
                  account_memberships:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/AccountMembership'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                cost_rate:
                  type: object
                  properties:
                    account_membership_id:
                      type: integer
                      format: int32
                      description: The ID of the account membership associated to the cost rate.
                    currency:
                      type: string
                      description: The ISO currency code for the cost rate currency.
                    amount_in_subunits:
                      type: integer
                      format: int32
                      description: The cost amount, in subunits of the currency (for example, cents for US dollars).
                  required:
                  - account_membership_id
                  - currency
                  - amount_in_subunits
                cost_rates:
                  type: array
                  description: Multiple cost rates and their attributes in an array.
                  items:
                    type: object
                    properties:
                      account_membership_id:
                        type: integer
                        format: int32
                        description: The ID of the account membership associated to the cost rate.
                      currency:
                        type: string
                        description: The ISO currency code for the cost rate currency.
                      amount_in_subunits:
                        type: integer
                        format: int32
                        description: The cost amount, in subunits of the currency (for example, cents for US dollars).
                    required:
                    - account_membership_id
                    - currency
                    - amount_in_subunits
        required: true
  /cost_rates/{id}:
    put:
      summary: Updating an existing Cost Rate
      description: 'This endpoint returns structured Cost Rate objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `cost_rates` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Update Cost Rate
      tags:
      - Cost Rates
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `account_membership` (AccountMembership) - The account membership associated with the cost rate.'
        schema:
          type: string
      responses:
        '200':
          description: Cost Rate has been updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  cost_rates:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/CostRate'
                  account_memberships:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/AccountMembership'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                cost_rate:
                  type: object
                  properties:
                    amount_in_subunits:
                      type: integer
                      format: int32
                      description: The cost amount, in subunits of the currency (for example, cents for US dollars).
                  required:
                  - amount_in_subunits
        required: true
    delete:
      summary: Deleting an existing Cost Rate
      description: 'The response will contain no content and an HTTP 204 status code if the request was

        successful, or a standard Kantata OX error message explaining why the object could not be deleted.'
      operationId: Delete Cost Rate
      tags:
      - Cost Rates
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      responses:
        '204':
          description: Cost Rate has been deleted.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
components:
  schemas:
    Error:
      type: object
      properties:
        type:
          type: string
        message:
          type: string
    Errors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    CostRate:
      title: Cost Rate
      description: 'A Cost Rate represents the hourly cost of an account member, specified in a specific currency. A Cost Rate with the same currency

        as the account default currency is called the `default cost rate`. This data can only be accessed by including

        it when querying Account Membership.'
      type: object
      properties:
        account_membership_id:
          type: integer
          format: int32
          description: The ID of the associated account membership.
        amount_in_subunits:
          type: integer
          format: int32
          description: The amount of the cost rate in the subunits of the currency (i.e. cents for US Dollars).
        created_at:
          type: string
          format: date-time
        currency:
          type: string
          description: The ISO code of the cost rate currency.
        in_use:
          type: boolean
          description: 'Indicates whether the account member associated with the cost rate is participating in a workspace

            on the account that uses the same currency as the cost rate.'
        updated_at:
          type: string
          format: date-time
    AccountMembership:
      title: Account Membership
      description: An Account Membership represents the relationship of a user to an account.
      type: object
      properties:
        backup_approver_association_ids:
          type: array
          items:
            type: string
          description: '`backup_approver_association_ids` will only be included in the response if `backup_approver_associations` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        bill_rate_in_cents:
          type: integer
          format: int32
          description: 'The default billing rate, in cents, for the user in a workspace on this account when the workspace

            does not use rate card. This attribute is only accessible if the current user is a Project Lead.

            Visible when the account membership is on the same account as the API user. and the API user is an Account Project Lead..'
        billability_target:
          type: integer
          format: int32
          description: '

            Visible when the account membership is on the same account as the API user. and the API user is an Account Project Lead..'
        can_create_workspace:
          type: boolean
          description: Whether the user can create projects.
        can_log_in:
          type: boolean
          description: 'Whether the user can log in.

            Only returned when requested through the optional_fields param.'
        can_view_reports:
          type: boolean
          description: Whether the user can view reports.
        collaborator_only_license:
          type: boolean
          description: 'Whether the user is always a Collaborator in projects.

            Visible when the account membership is on the same account as the API user..'
        cost_rate_ids:
          type: array
          items:
            type: string
          description: '`cost_rate_ids` will only be included in the response if `cost_rates` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        cost_rate_in_cents:
          type: integer
          format: int32
          description: 'The default cost rate, in cents, for the user in a workspace on this account. This attribute is only

            accessible if the current user is an Administrator on the account.

            Visible when the account membership is on the same account as the API user. and the API user is an Account Administrator..'
        created_at:
          type: string
          format: date-time
        default_read_only:
          type: boolean
          description: Whether the user is always read-only in projects.
        default_role_id:
          type: string
          description: '`default_role_id` will only be included in the response if `default_role` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        disabled_at:
          type: string
          format: date-time
          description: The date when the account membership was disabled.
        effective_workweek_id:
          type: string
          description: '`effective_workweek_id` will only be included in the response if `effective_workweek` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        future_billable_utilization_ids:
          type: array
          items:
            type: string
          description: '`future_billable_utilization_ids` will only be included in the response if `future_billable_utilizations` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        is_administrator:
          type: boolean
          description: Whether the user is an Administrator.
        is_backup_approver:
          type: boolean
          description: Whether the user is a backup approver for others users on the account.
        is_owner:
          type: boolean
          description: The owner of the account.
        is_project_lead:
          type: boolean
          description: Whether the user is a Project Lead.
        is_punch_clock_user:
          type: boolean
          description: Whether the user is a Punch Clock User.
        managee_ids:
          type: array
          items:
            type: string
          description: '`managee_ids` will only be included in the response if `managees` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        manager_can_approve:
          type: boolean
          description: If present, the assigned manager can approve submitted time and expenses.
        manager_can_edit_skills:
          type: boolean
          description: If present, the assigned manager can edit the user's skills.
        manager_id:
          type: string
          description: '`manager_id` will only be included in the response if `manager` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        non_participant:
          type: boolean
          description: '

            Visible when the account membership is on the same account as the API user..


            Only returned when requested through the optional_fields param.'
        permission:
          type: string
          description: The user's access level. Options are administrator, reports_viewer_with_cost, reports_viewer, project_lead, project_creator, collaborator, external_collaborator, and punch_clock.
        possible_managee_ids:
          type: array
          items:
            type: string
          description: '`possible_managee_ids` will only be included in the response if `possible_managees` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        possible_manager_ids:
          type: array
          items:
            type: string
          description: '`possible_manager_ids` will only be included in the response if `possible_managers` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        should_show_alert_on_timesheet_submission:
          type: boolean
          description: Show an alert on a user's timesheet submission.
        skill_membership_ids:
          type: array
          items:
            type: string
          description: '`skill_membership_ids` will only be included in the response if `skill_memberships` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        updated_at:
          type: string
          format: date-time
        user_id:
          type: string
          description: '`user_id` will only be included in the response if `user` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
  securitySchemes:
    BearerToken:
      type: apiKey
      name: Bearer
      in: header
    OauthSecurity:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://app.mavenlink.com/oauth/authorize
          tokenUrl: https://app.mavenlink.com/oauth/token
x-tagGroups:
- name: '# Subscribed Events'
  tags:
  - Event Types
  - Events
- name: Account Locations
  tags:
  - Account Locations
- name: Account Settings & Members
  tags:
  - Access Group Memberships
  - Account Colors
  - Account Invitations
  - Account Memberships
  - Backup Approver Associations
  - Billable Utilizations
  - Cost Rates
  - Custom Branding
  - Organization Memberships
  - Organizations
  - Roles
  - Skill Categories
  - Skill Memberships
  - Skills
  - Task Status Sets
  - Task Statuses
  - User Group Memberships
  - Users
- name: Currencies
  tags:
  - Currencies
- name: Custom Fields
  tags:
  - Custom Field Choices
  - Custom Field Sets
  - Custom Field Values
  - Custom Fields
- name: Data Exporter
  tags:
  - Data Export Schema
  - Data Exports
- name: Estimates
  tags:
  - Estimate Scenario Resource Allocations
  - Estimate Scenario Resources
  - Estimate Scenarios
  - Estimates
- name: Expense Budgets
  tags:
  - Expense Budgets
- name: Expense Tracking
  tags:
  - Attachments
  - Expense Categories
  - Expense Report Submissions
  - Expenses
  - Vendors
- name: External References
  tags:
  - External References
- name: Financials
  tags:
  - Billing Milestones
  - Revenue Recognition Methods
- name: Foreign Exchange
  tags:
  - Exchange Tables
- name: Insights & Analytics
  tags:
  - Insights Access Group Memberships
  - Insights Dynamic Dashboards
  - Insights Report Exports
  - Insights Reports
- name: Invoices
  tags:
  - Client Invoice Defaults
  - External Payments
  - Invoices
  - Workspace Invoice Preferences
- name: Personal Settings
  tags:
  - Users
- name: Posts & Replies
  tags:
  - Attachments
  - Posts
  - User File Associations
- name: Project Snapshots
  tags:
  - Project Snapshots
- name: Project Templates
  tags:
  - Project Template Additional Tabs
  - Project Template Assignments
  - Project Template Expense Budgets
  - Project Templates
- name: Projects
  tags:
  - Participations
  - Project Accounting Records
  - Status Reports
  - Workspace Allocations
  - Workspace Baselines
  - Workspace Groups
  - Workspace Invoice Preferences
  - Workspace Resource Skills
  - Workspace Resources
  - Workspace Status Changes
  - Workspace Task Status Sets
  - Workspaces
- name: Rate Cards
  tags:
  - Activations
  - Rate Card Role (Rate for a Role)
  - Rate Card Set Version (Effective version by Date)
  - Rate Card Sets (Group of Rate Cards)
  - Rate Card Table Rows
  - Rate Card Versions
  - Rate Cards (Multiple Currencies)
- name: Recommendations
  tags:
  - Recommendations
- name: Resource Requests
  tags:
  - Resource Requests
- name: Scheduling
  tags:
  - Holiday Calendar Associations
  - Holiday Calendar Memberships
  - Holiday Calendars
  - Holidays
  - Time Off Entries
  - Workweek Memberships
  - Workweeks
- name: Surveys (Legacy)
  tags:
  - Survey Answers (Legacy)
  - Survey Questions (Legacy)
  - Survey Templates (Legacy)
  - Surveys Responses (Legacy)
- name: Tasks
  tags:
  - Assignments
  - Daily Scheduled Hours (Story Allocation Days)
  - Followers
  - Stories
  - Story Dependencies
  - Story State Changes
  - Story Tasks
- name: Time Tracking
  tags:
  - Line Item Locks
  - Time Entries
  - Timesheet Approvals
  - Timesheet Cancellations
  - Timesheet Rejections
  - Timesheet Submissions
