openapi: 3.2.0
info:
  version: 1.0.0
  title: Kantata OX API Documentation Organizations API
  description: Kantata OX's API provides access to the majority of Kantata OX's data model.
  termsOfService: https://www.kantata.com/terms-of-use
  contact:
    name: Kantata OX Support
    url: https://knowledge.kantata.com/hc/en-us
  license:
    name: COPYRIGHT © 2026 Kantata, Inc.
    url: https://www.kantata.com/terms-of-use
  x-logo:
    url: https://theme.zdassets.com/theme_assets/56104/04e93064d309f75d054b8cee885d1ea51e9be8f7.png
    backgroundColor: '#FFFFFF'
    altText: Kantata OX API Documentation
    href: https://developer.kantata.com
servers:
- url: https://api.mavenlink.com/api/v1
tags:
- name: Organizations
  description: 'The Organizations feature in Kantata OX is composed of two independent trees:

    Department and Geography.'
paths:
  /organizations:
    get:
      summary: Fetching a list of Organizations
      description: 'This endpoint returns structured Organization objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `organizations` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Organizations
      tags:
      - Organizations
      parameters:
      - in: query
        name: created_after
        description: Filter for records created after a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: created_before
        description: Filter for records created before a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: for_current_user
        description: Filter for organizations the current user belongs to. The parameter value is ignored (i.e. regardless of the value you supply, including this filter will always filter by organizations the current user belongs to).
        schema:
          type: boolean
      - in: query
        name: matching
        description: Where organization name is like specified parameter.
        schema:
          type: string
      - in: query
        name: only
        description: 'Allows you to request one or more resources directly by ID. Multiple IDs can be supplied

          in a comma separated list, like `GET /api/v1/workspaces.json?only=5,6,7`.'
        schema:
          type: string
      - in: query
        name: order
        description: 'Supply `order` with the name of a valid sort field for the endpoint and a direction.


          Valid values: `alphabetical:asc`, `alphabetical:desc`, `created_at:asc`, and `created_at:desc`.'
        schema:
          type: string
          default: alphabetical:asc
      - in: query
        name: page
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        schema:
          type: integer
          format: int32
          default: 20
          maximum: 200
      - in: query
        name: type
        description: Where the organization is of a specified type.
        schema:
          type: string
      - in: query
        name: updated_after
        description: Filter for records updated after a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: updated_before
        description: Filter for records updated before a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: A list of Organizations have been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  organizations:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Organization'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    post:
      summary: Creating a new Organization
      description: 'Creates an organization.


        **Bulk Create**


        This endpoint supports bulk creating up to 100 objects. In the request body, set the top-level key to its plural form and place the objects in an array. Example:


        ```

        {

        "organizations": [

        {

        "name": "Organization",

        "parent_id": 123

        },

        {

        "name": "Organization",

        "parent_id": 123

        }

        ]

        }

        ```


        This endpoint returns structured Organization objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `organizations` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Create Organization
      tags:
      - Organizations
      responses:
        '200':
          description: Organization has been created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  organizations:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Organization'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                organization:
                  type: object
                  properties:
                    name:
                      type: string
                      description: The name of the organization.
                    parent_id:
                      type: integer
                      format: int32
                      description: The id of the parent organization.
                  required:
                  - name
                  - parent_id
        required: true
  /organizations/{id}:
    get:
      summary: Fetching a single Organization
      description: 'This endpoint returns structured Organization objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `organizations` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Organization
      tags:
      - Organizations
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      responses:
        '200':
          description: The Organization has been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  organizations:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Organization'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    put:
      summary: Updating an existing Organization
      description: 'This endpoint returns structured Organization objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `organizations` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Update Organization
      tags:
      - Organizations
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      responses:
        '200':
          description: Organization has been updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  organizations:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Organization'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                organization:
                  type: object
                  properties:
                    name:
                      type: string
                      description: The name of the organization.
                    parent_id:
                      type: integer
                      format: int32
                      description: The id of the parent organization being created.
        required: true
    delete:
      summary: Deleting an existing Organization
      description: 'The response will contain no content and an HTTP 204 status code if the request was

        successful, or a standard Kantata OX error message explaining why the object could not be deleted.'
      operationId: Delete Organization
      tags:
      - Organizations
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      responses:
        '204':
          description: Organization has been deleted.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
components:
  schemas:
    Organization:
      title: Organization
      description: 'An Organization allows you to structure and group your projects and account members by

        departments and geographies.'
      type: object
      properties:
        ancestor_ids:
          type: array
          items:
            type: string
          description: The ids of all ancestors of the organization.
        created_at:
          type: string
          format: date-time
        name:
          type: string
          description: The unique name of the organization.
        parent_id:
          type: string
          description: The id of the parent organization.
        type:
          type: string
          description: The type of the organization, either 'Geography' or 'Department'.
        updated_at:
          type: string
          format: date-time
    Errors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    Error:
      type: object
      properties:
        type:
          type: string
        message:
          type: string
  securitySchemes:
    BearerToken:
      type: apiKey
      name: Bearer
      in: header
    OauthSecurity:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://app.mavenlink.com/oauth/authorize
          tokenUrl: https://app.mavenlink.com/oauth/token
x-tagGroups:
- name: '# Subscribed Events'
  tags:
  - Event Types
  - Events
- name: Account Locations
  tags:
  - Account Locations
- name: Account Settings & Members
  tags:
  - Access Group Memberships
  - Account Colors
  - Account Invitations
  - Account Memberships
  - Backup Approver Associations
  - Billable Utilizations
  - Cost Rates
  - Custom Branding
  - Organization Memberships
  - Organizations
  - Roles
  - Skill Categories
  - Skill Memberships
  - Skills
  - Task Status Sets
  - Task Statuses
  - User Group Memberships
  - Users
- name: Currencies
  tags:
  - Currencies
- name: Custom Fields
  tags:
  - Custom Field Choices
  - Custom Field Sets
  - Custom Field Values
  - Custom Fields
- name: Data Exporter
  tags:
  - Data Export Schema
  - Data Exports
- name: Estimates
  tags:
  - Estimate Scenario Resource Allocations
  - Estimate Scenario Resources
  - Estimate Scenarios
  - Estimates
- name: Expense Budgets
  tags:
  - Expense Budgets
- name: Expense Tracking
  tags:
  - Attachments
  - Expense Categories
  - Expense Report Submissions
  - Expenses
  - Vendors
- name: External References
  tags:
  - External References
- name: Financials
  tags:
  - Billing Milestones
  - Revenue Recognition Methods
- name: Foreign Exchange
  tags:
  - Exchange Tables
- name: Insights & Analytics
  tags:
  - Insights Access Group Memberships
  - Insights Dynamic Dashboards
  - Insights Report Exports
  - Insights Reports
- name: Invoices
  tags:
  - Client Invoice Defaults
  - External Payments
  - Invoices
  - Workspace Invoice Preferences
- name: Personal Settings
  tags:
  - Users
- name: Posts & Replies
  tags:
  - Attachments
  - Posts
  - User File Associations
- name: Project Snapshots
  tags:
  - Project Snapshots
- name: Project Templates
  tags:
  - Project Template Additional Tabs
  - Project Template Assignments
  - Project Template Expense Budgets
  - Project Templates
- name: Projects
  tags:
  - Participations
  - Project Accounting Records
  - Status Reports
  - Workspace Allocations
  - Workspace Baselines
  - Workspace Groups
  - Workspace Invoice Preferences
  - Workspace Resource Skills
  - Workspace Resources
  - Workspace Status Changes
  - Workspace Task Status Sets
  - Workspaces
- name: Rate Cards
  tags:
  - Activations
  - Rate Card Role (Rate for a Role)
  - Rate Card Set Version (Effective version by Date)
  - Rate Card Sets (Group of Rate Cards)
  - Rate Card Table Rows
  - Rate Card Versions
  - Rate Cards (Multiple Currencies)
- name: Recommendations
  tags:
  - Recommendations
- name: Resource Requests
  tags:
  - Resource Requests
- name: Scheduling
  tags:
  - Holiday Calendar Associations
  - Holiday Calendar Memberships
  - Holiday Calendars
  - Holidays
  - Time Off Entries
  - Workweek Memberships
  - Workweeks
- name: Surveys (Legacy)
  tags:
  - Survey Answers (Legacy)
  - Survey Questions (Legacy)
  - Survey Templates (Legacy)
  - Surveys Responses (Legacy)
- name: Tasks
  tags:
  - Assignments
  - Daily Scheduled Hours (Story Allocation Days)
  - Followers
  - Stories
  - Story Dependencies
  - Story State Changes
  - Story Tasks
- name: Time Tracking
  tags:
  - Line Item Locks
  - Time Entries
  - Timesheet Approvals
  - Timesheet Cancellations
  - Timesheet Rejections
  - Timesheet Submissions
