openapi: 3.2.0
info:
  version: 1.0.0
  title: Kantata OX API Documentation Workspace Resources API
  description: Kantata OX's API provides access to the majority of Kantata OX's data model.
  termsOfService: https://www.kantata.com/terms-of-use
  contact:
    name: Kantata OX Support
    url: https://knowledge.kantata.com/hc/en-us
  license:
    name: COPYRIGHT © 2026 Kantata, Inc.
    url: https://www.kantata.com/terms-of-use
  x-logo:
    url: https://theme.zdassets.com/theme_assets/56104/04e93064d309f75d054b8cee885d1ea51e9be8f7.png
    backgroundColor: '#FFFFFF'
    altText: Kantata OX API Documentation
    href: https://developer.kantata.com
servers:
- url: https://api.mavenlink.com/api/v1
tags:
- name: Workspace Resources
  description: A workspace resource is the object that is tied to assignments and allocations within a Workspace.
paths:
  /workspace_resources:
    get:
      summary: Fetching a list of Workspace Resources
      description: 'This endpoint returns structured Workspace Resource objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `workspace_resources` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Workspace Resources
      tags:
      - Workspace Resources
      parameters:
      - in: query
        name: by_custom_choice_value
        description: 'Filter by a custom field choice value, represented as a string with the custom field ID, followed by a

          colon, and then comma-separated custom field choice value IDs. The custom field choice value can also be

          the word `blank`. Multiple custom fields can be delimited by semicolons or by parentheses and colons.


          The following formats are supported:


          - `custom_field_ID:choice_value_ID`

          - `custom_field_ID:choice_value_1_ID,choice_value_2_ID`

          - `custom_field_ID:blank`

          - `(custom_field_1_ID:choice_value_1_ID,choice_value_2_ID):(custom_field_2_ID:choice_value_3_ID)`.'
        schema:
          type: string
      - in: query
        name: by_custom_currency_value
        description: 'Filter by a custom field currency value, represented as a string with the custom field ID, followed by a

          colon, and then the currency value. Optionally, the currency [ISO code](https://mavenlink.zendesk.com/hc/en-us/articles/360041576473) can be supplied as well, separated

          from the currency value by another colon. Multiple custom fields can be delimited by semicolons or by parentheses and colons.

          The following formats are supported:


          - `(1:200.2:USD):(2:100)`.'
        schema:
          type: string
      - in: query
        name: by_custom_date_value
        description: 'Filter by a custom field date value, represented as a string with the custom field ID, followed by a

          colon, the starting date, another colon, and then the ending date. You can provide both a starting date

          and ending date, or provide just one. Multiple custom fields can be delimited by semicolons or by parentheses and colons.

          The following formats are supported:


          - `(1:2014-12-05:2014-12-25):(2:2014-12-05)`.'
        schema:
          type: string
      - in: query
        name: by_custom_number_value
        description: 'Filter by a custom field number value, represented as a string with the custom field ID, followed by a

          colon, and then the number value. Multiple custom fields can be delimited by semicolons or by parentheses and colons.

          The following formats are supported:


          - `(1:200):(2:101)`.'
        schema:
          type: string
      - in: query
        name: by_custom_text_value
        description: 'Filter by a custom field text value, represented as a string with the custom field ID, followed by a

          colon, and then the text value. Multiple custom fields can be delimited by semicolons or by parentheses and colons.

          The following formats are supported:


          - `(1:something):(2:else)`

          - `(1:something):(1:else)` (multiple values for the same field, returns objects matching any value)

          - `1` (bare field ID with no value, returns all objects that have any value for that field).'
        schema:
          type: string
      - in: query
        name: created_after
        description: Filter for records created after a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: created_before
        description: Filter for records created before a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: external_reference_external_message
        description: Filter the objects based on the external message of their associated external references. This is an exact match.
        schema:
          type: string
      - in: query
        name: external_reference_external_status
        description: Filter by the status of the external object in the external system.
        schema:
          type: string
      - in: query
        name: external_reference_service_model
        description: Filter by the type of the external object this external reference belongs to.
        schema:
          type: string
      - in: query
        name: external_reference_service_model_ref
        description: Filter by the id of the external object this external reference belongs to.
        schema:
          type: integer
          format: int32
      - in: query
        name: external_reference_service_model_refs
        description: Filter for objects that correlate to the specified external object IDs. Provide a comma-separated list of up to 200 external IDs.
        schema:
          type: string
      - in: query
        name: external_reference_service_name
        description: Filter by the name of the provider for integration.
        schema:
          type: string
      - in: query
        name: external_reference_status
        description: Filter by the status of the integration, this can be successful or fail.
        schema:
          type: string
      - in: query
        name: has_external_references
        description: Filter by whether or not the object has external references.
        schema:
          type: boolean
      - in: query
        name: has_value_for_custom_field_ids
        description: Filter by the presence of a custom field value for the specified comma-separated custom field ID(s).
        schema:
          type: string
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `custom_field_values` (CustomFieldValue) - Retrieves the custom field values for the resource. The response will include `custom_field_value_ids`, which references the data in the `custom_field_values` top-level key.

          - `external_references` (ExternalReference) - Includes references to external integrations for this object.

          - `organization_membership` (OrganizationMembership) - Retrieves the organization memberships for the resource. The response will include `organization_membership_id`, which references the data in the `organization_memberships` top-level key.

          - `participation` (Participation) - Retrieves the participation associated with the resource. The response will include `participation_id`, which references the data in the `participations` top-level key.

          - `role` (Role) - Retrieves the role for this resource. The response will include `role_id`, which references the data in the `roles` top-level key.

          - `user` (User) - Retrieves the user associated with the resource. The response will include `user_id`, which references the data in the `users` top-level key. For unnamed resources, the `user_id` will be `null`.

          - `workspace` (Workspace) - Retrieves the workspace (project) the resource is in. The response will include `workspace_id`, which references the data in the `workspaces` top-level key.'
        schema:
          type: string
      - in: query
        name: include_unnamed
        required: false
        description: Returns Unnamed Resources in addition to Named Resources.
        schema:
          type: boolean
      - in: query
        name: matching
        description: Show Resources associated with a User that matches the specified parameter or has a Role that matches the specified parameter.
        schema:
          type: string
      - in: query
        name: only
        description: 'Allows you to request one or more resources directly by ID. Multiple IDs can be supplied

          in a comma separated list, like `GET /api/v1/workspaces.json?only=5,6,7`.'
        schema:
          type: string
      - in: query
        name: only_unnamed
        required: false
        description: Returns only Unnamed Resources.
        schema:
          type: boolean
      - in: query
        name: optional_fields
        description: Allows you to request one or more optional fields as an array.
        schema:
          type: array
          items:
            type: string
            enum:
            - resource_bill_rate
            - resource_cost_rate
      - in: query
        name: order
        description: 'Supply `order` with the name of a valid sort field for the endpoint and a direction.


          Valid values: `alphabetical`, `alphabetically:asc`, `alphabetically:desc`, `created_at:asc`, `created_at:desc`, `updated_at:asc`, and `updated_at:desc`.'
        schema:
          type: string
          default: updated_at:desc
      - in: query
        name: page
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        schema:
          type: integer
          format: int32
          default: 20
          maximum: 200
      - in: query
        name: potential_workspace_resource_for_story_with_unnamed_resources
        description: Takes a Reference to a Story Id. Show only Resources that are available to assign for specified Story.
        schema:
          type: integer
          format: int32
      - in: query
        name: potential_workspace_resources_for_reassignment
        description: Takes an Assignment Id. Shows only Resources that can be reassigned to the specified assignment.
        schema:
          type: integer
          format: int32
      - in: query
        name: potential_workspace_resources_for_story
        description: Takes a Reference to a Story Id Show only Resources that have an user assigned, and are available to assign for specified Story.
        schema:
          type: integer
          format: int32
      - in: query
        name: providers
        description: Show only Resources that have an user assigned, and are consultants in the workspace.
        schema:
          type: boolean
      - in: query
        name: providers_with_unnamed
        description: Show only Resources that have consultant users or no users at all.
        schema:
          type: boolean
      - in: query
        name: role_id
        required: false
        description: Returns workspace resources for a specified role in a workspace. Returns workspace resources for a specified role when only the role is provided.
        schema:
          type: integer
          format: int32
      - in: query
        name: updated_after
        description: Filter for records updated after a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: updated_before
        description: Filter for records updated before a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: user_id
        required: false
        description: Returns workspace resources for a specified user in a workspace. Returns workspace resources for a specified user when only the user is provided.
        schema:
          type: integer
          format: int32
      - in: query
        name: with_organizations
        description: Only includes Resources that have an organization (true) or only includes Resources that do not have an organization (false).
        schema:
          type: boolean
      - in: query
        name: without_external_reference_service_name
        description: Exclude by the existence of an external reference with the specified service name.
        schema:
          type: string
      - in: query
        name: workspace_id
        required: false
        description: Id for a specified workspace you wish to retrieve.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: A list of Workspace Resources have been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  workspace_resources:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkspaceResource'
                  external_references:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ExternalReference'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  roles:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Role'
                  organization_memberships:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/OrganizationMembership'
                  participations:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Participation'
                  workspaces:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Workspace'
                  custom_field_values:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/CustomFieldValue'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    post:
      summary: Creating a new Workspace Resource
      description: 'Adds a named or unnamed resource to a project (workspace).


        **Bulk Create**


        This endpoint supports bulk creating up to 200 objects. In the request body, set the top-level key to its plural form and place the objects in an array. Example:


        ```

        {

        "workspace_resources": [

        {

        "workspace_id": 123,

        "user_id": 111,

        "role_id": 555

        },

        {

        "workspace_id": 123,

        "user_id": 222,

        "role_id": 666

        }

        ]

        }

        ```


        This endpoint returns structured Workspace Resource objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `workspace_resources` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Create Workspace Resource
      tags:
      - Workspace Resources
      parameters:
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `custom_field_values` (CustomFieldValue) - Retrieves the custom field values for the resource. The response will include `custom_field_value_ids`, which references the data in the `custom_field_values` top-level key.

          - `external_references` (ExternalReference) - Includes references to external integrations for this object.

          - `organization_membership` (OrganizationMembership) - Retrieves the organization memberships for the resource. The response will include `organization_membership_id`, which references the data in the `organization_memberships` top-level key.

          - `participation` (Participation) - Retrieves the participation associated with the resource. The response will include `participation_id`, which references the data in the `participations` top-level key.

          - `role` (Role) - Retrieves the role for this resource. The response will include `role_id`, which references the data in the `roles` top-level key.

          - `user` (User) - Retrieves the user associated with the resource. The response will include `user_id`, which references the data in the `users` top-level key. For unnamed resources, the `user_id` will be `null`.

          - `workspace` (Workspace) - Retrieves the workspace (project) the resource is in. The response will include `workspace_id`, which references the data in the `workspaces` top-level key.'
        schema:
          type: string
      - in: query
        name: optional_fields
        description: Allows you to request one or more optional fields as an array.
        schema:
          type: array
          items:
            type: string
            enum:
            - resource_bill_rate
            - resource_cost_rate
      responses:
        '200':
          description: Workspace Resource has been created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  workspace_resources:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkspaceResource'
                  external_references:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ExternalReference'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  roles:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Role'
                  organization_memberships:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/OrganizationMembership'
                  participations:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Participation'
                  workspaces:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Workspace'
                  custom_field_values:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/CustomFieldValue'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                workspace_resource:
                  type: object
                  properties:
                    workspace_id:
                      type: integer
                      format: int32
                      description: The workspace ID associated with this resource.
                    user_id:
                      type: integer
                      format: int32
                      description: The user ID associated with this resource. A null value indicates that this is an unnamed resource.
                    role_id:
                      type: integer
                      format: int32
                      description: 'The role ID associated with this resource. The role ID is a required attribute to create unnamed

                        resources. This defaults to the user''s primary project role if the user is specified.'
                    external_reference:
                      type: object
                      description: 'Typically populated programmatically by a third party system via an integration, this is an optional

                        object that holds data from an external system. It connects objects in an external system with objects in

                        Kantata OX (for example, to connect a Jira issue to a Kantata OX Project).'
                      properties:
                        service_name:
                          type: string
                          description: The provider name of the integration. If you are adding multiple external references to the same object, the `service_name` must be unique.
                        service_model:
                          type: string
                          description: The object type of the external object this external reference belongs to.
                        service_model_ref:
                          type: string
                          description: The object ID of the external object this external reference belongs to.
                        status:
                          type: string
                          description: The status of the integration. Options are `successful`, `pending`,  or `failed`.
                        external_message:
                          type: string
                          description: The message on the external object.
                        external_link:
                          type: string
                          description: The link to the external object.
                        external_status:
                          type: string
                          description: The status of the external object in the external system.
                        locked:
                          type: boolean
                          description: Whether the subject is locked.
                      required:
                      - service_name
                      - service_model
                      - service_model_ref
                  required:
                  - workspace_id
        required: true
  /workspace_resources/allocations_matching_scheduled_hours:
    post:
      summary: Creating Allocations from Scheduled Hours for Resources
      description: 'This will create allocations for workspace resources based on their scheduled hours.

        This endpoint is only usable for Account Administrators and users with `Users can edit

        allocations for unnamed resources` or `Users can edit allocations for named resources`

        access in the `Edit Allocations` section of the `Resource Management` Access Group Set.


        This endpoint returns structured Workspace Resource objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `workspace_resources` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Create Workspace Resource Allocations From Scheduled Hours
      tags:
      - Workspace Resources
      parameters:
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `custom_field_values` (CustomFieldValue) - Retrieves the custom field values for the resource. The response will include `custom_field_value_ids`, which references the data in the `custom_field_values` top-level key.

          - `external_references` (ExternalReference) - Includes references to external integrations for this object.

          - `organization_membership` (OrganizationMembership) - Retrieves the organization memberships for the resource. The response will include `organization_membership_id`, which references the data in the `organization_memberships` top-level key.

          - `participation` (Participation) - Retrieves the participation associated with the resource. The response will include `participation_id`, which references the data in the `participations` top-level key.

          - `role` (Role) - Retrieves the role for this resource. The response will include `role_id`, which references the data in the `roles` top-level key.

          - `user` (User) - Retrieves the user associated with the resource. The response will include `user_id`, which references the data in the `users` top-level key. For unnamed resources, the `user_id` will be `null`.

          - `workspace` (Workspace) - Retrieves the workspace (project) the resource is in. The response will include `workspace_id`, which references the data in the `workspaces` top-level key.'
        schema:
          type: string
      - in: query
        name: optional_fields
        description: Allows you to request one or more optional fields as an array.
        schema:
          type: array
          items:
            type: string
            enum:
            - resource_bill_rate
            - resource_cost_rate
      responses:
        '200':
          description: Workspace Resource has been created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Indicates if workspace allocations were created.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  description: An array of objects representing allocations to create for the specified resources.
                  items:
                    type: object
                    properties:
                      resource_ids:
                        type: array
                        items:
                          type: integer
                          format: int32
                        description: "An array of IDs of the resources to create allocations for. NOTE: This is only applicable when updating multiple resources via\n                        `workspace_resources/allocations_matching_scheduled_hours`."
                      hard:
                        type: boolean
                        description: Whether the allocation is a Hard Allocation (“true”) or Soft (“false”). This value must be set to `false` if you are including any unnamed resources in your request.
                      occurrence:
                        type: object
                        description: The timeframe of scheduled hours in which to create allocations for.
                        properties:
                          type:
                            type: string
                            description: The timeframe in which to allocate the scheduled hours. Accepted values are `anytime`, `after`, `before`, and `between`.
                            enum:
                            - anytime
                            - after
                            - before
                            - between
                          after_date:
                            type: string
                            format: date-time
                            description: Sets the date on and after which the scheduled hours will be distributed as allocations. This value must be provided when the `type` is `after`. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
                          before_date:
                            type: string
                            format: date-time
                            description: Sets the date on and before which the scheduled hours will be distributed as allocations. This value must be provided when the `type` is `before`. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
                          start_date:
                            type: string
                            format: date-time
                            description: Sets the start of the date range which the scheduled hours will be distributed as allocations. This value must be provided when the `type` is `between`. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
                          end_date:
                            type: string
                            format: date-time
                            description: Sets the end of the date range which the scheduled hours will be distributed as allocations. This value must be provided when the `type` is `between`. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
                        required:
                        - type
                    required:
                    - resource_ids
                    - hard
                    - occurrence
        required: true
  /workspace_resources/{id}:
    get:
      summary: Fetching a single Workspace Resource
      description: 'This endpoint returns structured Workspace Resource objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `workspace_resources` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Workspace Resource
      tags:
      - Workspace Resources
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `custom_field_values` (CustomFieldValue) - Retrieves the custom field values for the resource. The response will include `custom_field_value_ids`, which references the data in the `custom_field_values` top-level key.

          - `external_references` (ExternalReference) - Includes references to external integrations for this object.

          - `organization_membership` (OrganizationMembership) - Retrieves the organization memberships for the resource. The response will include `organization_membership_id`, which references the data in the `organization_memberships` top-level key.

          - `participation` (Participation) - Retrieves the participation associated with the resource. The response will include `participation_id`, which references the data in the `participations` top-level key.

          - `role` (Role) - Retrieves the role for this resource. The response will include `role_id`, which references the data in the `roles` top-level key.

          - `user` (User) - Retrieves the user associated with the resource. The response will include `user_id`, which references the data in the `users` top-level key. For unnamed resources, the `user_id` will be `null`.

          - `workspace` (Workspace) - Retrieves the workspace (project) the resource is in. The response will include `workspace_id`, which references the data in the `workspaces` top-level key.'
        schema:
          type: string
      - in: query
        name: optional_fields
        description: Allows you to request one or more optional fields as an array.
        schema:
          type: array
          items:
            type: string
            enum:
            - resource_bill_rate
            - resource_cost_rate
      responses:
        '200':
          description: The Workspace Resource has been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  workspace_resources:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkspaceResource'
                  external_references:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ExternalReference'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  roles:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Role'
                  organization_memberships:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/OrganizationMembership'
                  participations:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Participation'
                  workspaces:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Workspace'
                  custom_field_values:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/CustomFieldValue'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    put:
      summary: Updating an existing Workspace Resource
      description: 'This endpoint returns structured Workspace Resource objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `workspace_resources` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Update Workspace Resource
      tags:
      - Workspace Resources
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `custom_field_values` (CustomFieldValue) - Retrieves the custom field values for the resource. The response will include `custom_field_value_ids`, which references the data in the `custom_field_values` top-level key.

          - `external_references` (ExternalReference) - Includes references to external integrations for this object.

          - `organization_membership` (OrganizationMembership) - Retrieves the organization memberships for the resource. The response will include `organization_membership_id`, which references the data in the `organization_memberships` top-level key.

          - `participation` (Participation) - Retrieves the participation associated with the resource. The response will include `participation_id`, which references the data in the `participations` top-level key.

          - `role` (Role) - Retrieves the role for this resource. The response will include `role_id`, which references the data in the `roles` top-level key.

          - `user` (User) - Retrieves the user associated with the resource. The response will include `user_id`, which references the data in the `users` top-level key. For unnamed resources, the `user_id` will be `null`.

          - `workspace` (Workspace) - Retrieves the workspace (project) the resource is in. The response will include `workspace_id`, which references the data in the `workspaces` top-level key.'
        schema:
          type: string
      - in: query
        name: optional_fields
        description: Allows you to request one or more optional fields as an array.
        schema:
          type: array
          items:
            type: string
            enum:
            - resource_bill_rate
            - resource_cost_rate
      responses:
        '200':
          description: Workspace Resource has been updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  workspace_resources:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/WorkspaceResource'
                  external_references:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ExternalReference'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  roles:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Role'
                  organization_memberships:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/OrganizationMembership'
                  participations:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Participation'
                  workspaces:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Workspace'
                  custom_field_values:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/CustomFieldValue'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                workspace_resource:
                  type: object
                  properties:
                    label:
                      type: string
                      description: A unique label that is automatically generated for a resource when it is created. Default resource labels in Kantata OX are based on role name and numerical order, but can be renamed by you.
                    user_id:
                      type: integer
                      format: int32
                      description: The user ID associated with this resource.
                    role_id:
                      type: integer
                      format: int32
                      description: The role ID associated with this resource. The role ID is a required attribute for unnamed resources.
                    auto_update_label:
                      type: boolean
                      description: If true, automatically updates resource labels to match roles associated with updated role IDs when labels are not provided. When a label is provided, that overrides this setting.
                    external_reference:
                      type: object
                      description: 'Typically populated programmatically by a third party system via an integration, this is an optional

                        object that holds data from an external system. It connects objects in an external system with objects in

                        Kantata OX (for example, to connect a Jira issue to a Kantata OX Project).'
                      properties:
                        service_name:
                          type: string
                          description: The provider name of the integration. If you are adding multiple external references to the same object, the `service_name` must be unique.
                        service_model:
                          type: string
                          description: The object type of the external object this external reference belongs to.
                        service_model_ref:
                          type: string
                          description: The object ID of the external object this external reference belongs to.
                        status:
                          type: string
                          description: The status of the integration. Options are `successful`, `pending`,  or `failed`.
                        external_message:
                          type: string
                          description: The message on the external object.
                        external_link:
                          type: string
                          description: The link to the external object.
                        external_status:
                          type: string
                          description: The status of the external object in the external system.
                        locked:
                          type: boolean
                          description: Whether the subject is locked.
                      required:
                      - service_name
                      - service_model
                      - service_model_ref
        required: true
    delete:
      summary: Deleting an existing Workspace Resource
      description: 'This will delete a workspace resource and their assignments if the resource is deletable.

        A workspace resource is not deletable if it is the last resource for a user''s primary

        role within a workspace.


        The response will contain no content and an HTTP 204 status code if the request was

        successful, or a standard Kantata OX error message explaining why the object could not be deleted.'
      operationId: Delete Workspace Resource
      tags:
      - Workspace Resources
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      responses:
        '204':
          description: Workspace Resource has been deleted.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /workspace_resources/{id}/allocations_matching_scheduled_hours:
    post:
      summary: Creating Allocations from Scheduled Hours for Resources
      description: 'This will create allocations for workspace resources based on their scheduled hours.

        This endpoint is only usable for Account Administrators and users with `Users can edit

        allocations for unnamed resources` or `Users can edit allocations for named resources`

        access in the `Edit Allocations` section of the `Resource Management` Access Group Set.


        This endpoint returns structured Workspace Resource objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `workspace_resources` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Create Workspace Resource Allocations From Scheduled Hours By Id
      tags:
      - Workspace Resources
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `custom_field_values` (CustomFieldValue) - Retrieves the custom field values for the resource. The response will include `custom_field_value_ids`, which references the data in the `custom_field_values` top-level key.

          - `external_references` (ExternalReference) - Includes references to external integrations for this object.

          - `organization_membership` (OrganizationMembership) - Retrieves the organization memberships for the resource. The response will include `organization_membership_id`, which references the data in the `organization_memberships` top-level key.

          - `participation` (Participation) - Retrieves the participation associated with the resource. The response will include `participation_id`, which references the data in the `participations` top-level key.

          - `role` (Role) - Retrieves the role for this resource. The response will include `role_id`, which references the data in the `roles` top-level key.

          - `user` (User) - Retrieves the user associated with the resource. The response will include `user_id`, which references the data in the `users` top-level key. For unnamed resources, the `user_id` will be `null`.

          - `workspace` (Workspace) - Retrieves the workspace (project) the resource is in. The response will include `workspace_id`, which references the data in the `workspaces` top-level key.'
        schema:
          type: string
      - in: query
        name: optional_fields
        description: Allows you to request one or more optional fields as an array.
        schema:
          type: array
          items:
            type: string
            enum:
            - resource_bill_rate
            - resource_cost_rate
      responses:
        '200':
          description: Workspace Resource has been created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Indicates if workspace allocations were created.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  description: An array of objects representing allocations to create for the specified resources.
                  items:
                    type: object
                    properties:
                      resource_ids:
                        type: array
                        items:
                          type: integer
                          format: int32
                        description: "An array of IDs of the resources to create allocations for. NOTE: This is only applicable when updating multiple resources via\n                        `workspace_resources/allocations_matching_scheduled_hours`."
                      hard:
                        type: boolean
                        description: Whether the allocation is a Hard Allocation (“true”) or Soft (“false”). This value must be set to `false` if you are including any unnamed resources in your request.
                      occurrence:
                        type: object
                        description: The timeframe of scheduled hours in which to create allocations for.
                        properties:
                          type:
                            type: string
                            description: The timeframe in which to allocate the scheduled hours. Accepted values are `anytime`, `after`, `before`, and `between`.
                            enum:
                            - anytime
                            - after
                            - before
                            - between
                          after_date:
                            type: string
                            format: date-time
                            description: Sets the date on and after which the scheduled hours will be distributed as allocations. This value must be provided when the `type` is `after`. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
                          before_date:
                            type: string
                            format: date-time
                            description: Sets the date on and before which the scheduled hours will be distributed as allocations. This value must be provided when the `type` is `before`. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
                          start_date:
                            type: string
                            format: date-time
                            description: Sets the start of the date range which the scheduled hours will be distributed as allocations. This value must be provided when the `type` is `between`. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
                          end_date:
                            type: string
                            format: date-time
                            description: Sets the end of the date range which the scheduled hours will be distributed as allocations. This value must be provided when the `type` is `between`. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
                        required:
                        - type
                    required:
                    - resource_ids
                    - hard
                    - occurrence
        required: true
components:
  schemas:
    ExternalReference:
      title: External Reference
      description: 'External References allows users see which objects (one of `Assignment`, `BillingMilestone`, `CustomField`, `CustomFieldChoice`, `CustomFieldSet`, `CustomFieldValue`, `Estimate`, `EstimateScenario`, `EstimateScenarioResource`, `Expense`, `ExpenseBudget`, `Invoice`, `Participation`, `Post`, `RateCard`, `Role`, `Skill`, `StatusReport`, `Story`, `StoryAllocationDay`, `Submission`, `SurveyAnswer`, `SurveyQuestion`, `SurveyResponse`, `SurveyTemplate`, `TimeEntry`, `TimeOffEntry`, `User`, `Vendor`, `Workspace`, `WorkspaceAllocation`, `WorkspaceGroup`, or `WorkspaceResource`

        are synced with third party systems. This allows you to view the sync status of items in addition to the integration

        specifics for a synced object.


        Objects that are synced with a third party system have external integration

        attributes that include the corresponding ID of the third party object with

        which it is synced, a link that allows you to view the object in the third

        party system, the status of the external object in the external system,

        the status of the sync, and a link to exceptions.'
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          description: The date and time the reference was created.
        external_link:
          type: string
          description: A URL that links to either the external object or event.
        external_message:
          type: string
          description: An optional message about the external object.
        external_status:
          type: string
          description: The status of the external object in the external system.
        last_synced_at:
          type: string
          format: date-time
        locked:
          type: boolean
          description: 'An optional field, indicating whether the subject should be locked. To prevent changes to the

            object in Kantata OX, set this to true. This currently only applies to expense report rejections.'
        service_model:
          type: string
          description: The type of the external object to which this reference belongs.
        service_model_ref:
          type: string
          description: The ID of the external object to which this reference belongs.
        service_name:
          type: string
          description: The provider name of the integration.
        status:
          type: string
          description: The status of the integration. Options are 'pending', 'successful', or 'failed'.
        subject_id:
          type: integer
          format: int32
          description: The ID of the Kantata OX object to which this external reference belongs.
        subject_ref:
          type: object
          description: '`subject_ref` will only be included in the response if `subject` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
          properties:
            key:
              type: string
            id:
              type: string
        subject_type:
          type: string
          description: 'The type of Kantata OX object to which this external reference belongs.

            One of `Assignment`, `BillingMilestone`, `CustomField`, `CustomFieldChoice`, `CustomFieldSet`, `CustomFieldValue`, `Estimate`, `EstimateScenario`, `EstimateScenarioResource`, `Expense`, `ExpenseBudget`, `Invoice`, `Participation`, `Post`, `RateCard`, `Role`, `Skill`, `StatusReport`, `Story`, `StoryAllocationDay`, `Submission`, `SurveyAnswer`, `SurveyQuestion`, `SurveyResponse`, `SurveyTemplate`, `TimeEntry`, `TimeOffEntry`, `User`, `Vendor`, `Workspace`, `WorkspaceAllocation`, `WorkspaceGroup`, or `WorkspaceResource`.'
        updated_at:
          type: string
          format: date-time
          description: The date and time the reference was last updated.
    Role:
      title: Role
      description: 'A Role represents the main position or title assigned to members on an account. Roles may be associated with account memberships, account invitations,

        participation, project template assignments, rate card roles, rate card versions, resources, or time adjustments.'
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        deleted_at:
          type: string
          format: date-time
          description: The time the role was deleted.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        name:
          type: string
          description: The name of the role.
        updated_at:
          type: string
          format: date-time
    OrganizationMembership:
      title: Organization Membership
      description: An Organization Membership represents the connection of a user and project to an organization.
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        department_id:
          type: string
          description: '`department_id` will only be included in the response if `department` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        geography_id:
          type: string
          description: '`geography_id` will only be included in the response if `geography` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        member_id:
          type: string
          description: The ID of the project or user.
        member_type:
          type: string
          description: The type of object that describes the member (workspace or user).
        primary:
          type: boolean
          description: 'Indicates whether this is the primary organization for the member (user or workspace).

            Visible when the primary organization feature is enabled.'
        updated_at:
          type: string
          format: date-time
    WorkspaceResource:
      title: Workspace Resource
      description: 'With workspace resources it is possible for a user to have many resources with different roles

        within a single workspace. Workspace resource can be assigned to tasks via Assignments which

        enables specifying a specific role / rate per assigned task.'
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        custom_field_value_ids:
          type: array
          items:
            type: string
          description: '`custom_field_value_ids` will only be included in the response if `custom_field_values` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        display_label:
          type: string
          description: User facing Identifer for the Resource.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        full_name:
          type: string
          description: Full Name of the Resource's user if any.
        label:
          type: string
        organization_membership_id:
          type: string
          description: '`organization_membership_id` will only be included in the response if `organization_membership` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        participation_id:
          type: string
          description: '`participation_id` will only be included in the response if `participation` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        photo_path:
          type: string
          description: URI of the Workspace Resource User Profile Photo if there is an user of the Resource.
        resource_bill_rate:
          type: integer
          format: int32
          description: 'The bill rate of the resource in a project, in the subunits of the currency (e.g. cents for USD).

            If the resource''s bill rate was overridden for the project, this field returns the overridden rate.


            Including this field in your request may result in a slower response. We recommend including this field only if necessary.

            Visible when the authenticated user has financial access in the project and is on the provider team.


            Only returned when requested through the optional_fields param.'
        resource_cost_rate:
          type: integer
          format: int32
          description: 'The cost rate of the resource in a project, in the subunits of the currency (e.g. cents for USD).

            If the resource''s cost rate was overridden for the project, this field returns the overridden rate.


            Including this field in your request may result in a slower response. We recommend including this field only if necessary.

            Visible when the authenticated user has financial access in the project and is on the provider team.


            Only returned when requested through the optional_fields param.'
        role_id:
          type: string
          description: '`role_id` will only be included in the response if `role` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        role_initials:
          type: string
          description: Three letter initals for the Resource's Role if any.
        role_name:
          type: string
          description: Name of the Resource's role if any.
        updated_at:
          type: string
          format: date-time
        user_id:
          type: string
          description: '`user_id` will only be included in the response if `user` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        workspace_id:
          type: integer
          format: int32
          description: Id of the Workspace that the Resource belongs to.
        workspace_title:
          type: string
          description: Title of the Workspace that the Resource belongs to.
    Error:
      type: object
      properties:
        type:
          type: string
        message:
          type: string
    User:
      title: User
      description: 'Users represent the individuals that are participating in Kantata OX projects. User objects are often returned as

        nested JSON objects within other returned items such as Posts or Stories.'
      type: object
      properties:
        abbreviated_timezone:
          type: string
          description: 'The abbreviation for the user''s time zone.

            Only returned when requested through the optional_fields param.'
        account_membership_id:
          type: string
          description: '`account_membership_id` will only be included in the response if `account_membership` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        bio:
          type: string
          description: 'A biography (defined by the user).

            Only returned when requested through the optional_fields param.'
        city:
          type: string
          description: 'The home city of the user (based on their profile).

            Only returned when requested through the optional_fields param.'
        classification:
          type: string
          description: 'Indicates whether a user is Internal or External.

            Only returned when requested through the optional_fields param.'
        country:
          type: string
          description: 'The home country of the user (based on their profile).

            Only returned when requested through the optional_fields param.'
        custom_field_value_ids:
          type: array
          items:
            type: string
          description: '`custom_field_value_ids` will only be included in the response if `custom_field_values` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        email_address:
          type: string
          description: The email address of the user.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        full_name:
          type: string
          description: The full name of the user.
        headline:
          type: string
          description: A short description of the user.
        last_site_activity:
          type: string
          format: date-time
          description: 'The last time a user logged in. This field is only available in conjunction with the `on_my_account` filter option. Only visible when the API user is an Account Administrator.

            Only returned when requested through the optional_fields param.'
        manager_id:
          type: string
          description: '`manager_id` will only be included in the response if `manager` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        photo_path:
          type: string
          description: The URL of the user's profile photo.
        role_id:
          type: string
          description: '`role_id` will only be included in the response if `role` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        skill_ids:
          type: array
          items:
            type: string
          description: '`skill_ids` will only be included in the response if `skills` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        skill_membership_ids:
          type: array
          items:
            type: string
          description: '`skill_membership_ids` will only be included in the response if `skill_memberships` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        state:
          type: string
          description: 'The home state of the user (based on their profile).

            Only returned when requested through the optional_fields param.'
        website:
          type: string
          description: 'A website (defined by the user).

            Only returned when requested through the optional_fields param.'
        work_sample_ids:
          type: array
          items:
            type: string
          description: '`work_sample_ids` will only be included in the response if `work_samples` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    Workspace:
      title: Workspace
      description: Workspaces (also called projects) represent the space in which Kantata OX users plan, communicate, and collaborate.
      type: object
      properties:
        access_level:
          type: string
          description: Whether the project is open, and who can join it. Possible values are `invitation`, `open`, and `admin`.
        account_color_id:
          type: string
          description: '`account_color_id` will only be included in the response if `account_color` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        account_id:
          type: integer
          format: int32
          description: The ID of the account which the project is in.
        account_insights_mapping_ids:
          type: array
          items:
            type: string
          description: '`account_insights_mapping_ids` will only be included in the response if `account_insights_mappings` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        actual_fees_includes_additional_line_items:
          type: boolean
          description: 'Whether invoice additional items are included in actual fees calculations for the project.

            Visible when the authenticated user is a project administrator and is on the account that the project is on.'
        actual_fees_includes_expenses:
          type: boolean
          description: 'Whether expenses are included in actual fees calculations for the project.

            Visible when the authenticated user is a project administrator and is on the account that the project is on.'
        approver_id:
          type: string
          description: '`approver_id` will only be included in the response if `approver` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        approver_ids:
          type: array
          items:
            type: string
          description: '`approver_ids` will only be included in the response if `approvers` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        archived:
          type: boolean
          description: Whether the project is archived.
        billable_minutes:
          type: integer
          format: int32
          description: 'The total amount of billable time entries, in minutes. Only visible if the authenticated user has financial access in the project and is on the provider team.

            Visible when the authenticated user can see total time approved in the project.


            Only returned when requested through the optional_fields param.'
        billing_milestone_ids:
          type: array
          items:
            type: string
          description: '`billing_milestone_ids` will only be included in the response if `billing_milestones` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        budget_remaining:
          type: string
          description: 'The amount of the project budget remaining.

            Visible when the authenticated user is on the provider team and can either see reports on the account or has financial access in the project.'
        budget_used:
          type: string
          description: 'The amount of the project budget that has been used.

            Visible when the authenticated user is on the provider team and can either see reports on the account or has financial access in the project.'
        budget_used_in_cents:
          type: integer
          format: int32
          description: 'The amount of the project budget that has been used, in the subunits of the currency (e.g. cents for USD).

            Visible when the authenticated user is on the provider team and can either see reports on the account or has financial access in the project.'
        budgeted:
          type: boolean
          description: Whether the project is budgeted.
        can_create_line_items:
          type: boolean
          description: Whether the authenticated user can create line items in the project (i.e. time entries, expenses, fixed fee items, or additional items).
        can_invite:
          type: boolean
          description: Whether the authenticated user can invite others to the project.
        change_orders_enabled:
          type: boolean
          description: Whether change orders are enabled in the project.
        client_lead_name:
          type: string
          description: 'The name of the team lead for the client side of the project.

            Only returned when requested through the optional_fields param.'
        client_role_name:
          type: string
          description: The client team name.
        consultant_role_name:
          type: string
          description: The provider team name.
        created_at:
          type: string
          format: date-time
          description: The date the project was created.
        creator_id:
          type: string
          description: '`creator_id` will only be included in the response if `creator` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        currency:
          type: string
          description: The currency of the project. Only visible if the authenticated user has financial access in the project.
        currency_base_unit:
          type: integer
          format: int32
          description: The base unit of the currency of the project. For example, the base unit for USD is 100.
        currency_symbol:
          type: string
          description: The [ISO symbol](https://knowledge.kantata.com/hc/en-us/articles/360041576473) for the currency of the project. For example, `USD`.
        current_status_report_id:
          type: string
          description: '`current_status_report_id` will only be included in the response if `current_status_report` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        current_user_participation_id:
          type: string
          description: '`current_user_participation_id` will only be included in the response if `current_user_participation` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        custom_field_value_ids:
          type: array
          items:
            type: string
          description: '`custom_field_value_ids` will only be included in the response if `custom_field_values` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        default_rate:
          type: string
          description: The default billing rate for the project.
        description:
          type: string
          description: The description of the project.
        due_date:
          type: string
          format: date
          description: The due date of the project.
        effective_due_date:
          type: string
          format: date
          description: The due date of the project (deprecated).
        estimated_minutes:
          type: integer
          format: int32
          description: 'The total task estimated minutes of the project.

            Visible when the authenticated user can see reports on the account or has financial access in the project.


            Only returned when requested through the optional_fields param.'
        exclude_archived_stories_percent_complete:
          type: boolean
          description: Whether archived tasks are excluded from the calculation of the project completion percentage.
        expenses_in_burn_rate:
          type: boolean
          description: 'Whether both expenses and invoice additional items are included in the actual fees calculation for the project. This field is the `AND` of `actual_fees_includes_expenses` and `actual_fees_includes_additional_line_items`.

            Visible when the authenticated user is a project administrator and is on the account that the project is on.'
        external_link:
          type: object
          description: 'A link that displays within the project workspace. Requires the Project Button facilitated feature.

            Visible when the workspace has the project button feature enabled.'
          properties:
            url:
              type: string
              description: 'The URL of the link.

                Visible when the workspace has the project button feature enabled.'
            text:
              type: string
              description: 'The button text.

                Visible when the workspace has the project button feature enabled.'
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        financial_viewer_ids:
          type: array
          items:
            type: string
          description: '`financial_viewer_ids` will only be included in the response if `financial_viewers` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        has_active_expense_report_submissions:
          type: boolean
          description: Whether the project has active expense report submissions.
        has_active_timesheet_submissions:
          type: boolean
          description: Whether the project has active timesheet submissions.
        has_budget_access:
          type: boolean
          description: Whether the authenticated user has budget access in the project.
        incoming_email_address:
          type: string
          description: 'The email address for the project—unique to the authenticated user—which can be used to post to the project''s Activity Feed via email.

            Visible when the authenticated user is a project administrator and is on the account that the project is on.


            Only returned when requested through the optional_fields param.'
        lock_date:
          type: string
          format: date
          description: 'The line item lock date for the account the project is on, if any.

            Only returned when requested through the optional_fields param.'
        minutes_logged:
          type: integer
          format: int32
          description: 'The total minutes logged on the project, including time adjustments. Only visible if the authenticated user has financial access in the project and is on the provider team.

            Visible when the authenticated user can see total time approved in the project.


            Only returned when requested through the optional_fields param.'
        next_uncompleted_milestone_id:
          type: string
          description: '`next_uncompleted_milestone_id` will only be included in the response if `next_uncompleted_milestone` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        non_billable_minutes:
          type: integer
          format: int32
          description: 'The total of all non-billable time entries in minutes, only included if the current user has financial access and is a maven in the project.

            Visible when the authenticated user can see total time approved in the project.


            Only returned when requested through the optional_fields param.'
        over_budget:
          type: boolean
          description: 'Whether the project is over budget. Only visible if the authenticated user has financial access in the project.

            Visible when the authenticated user is a project administrator and is on the account that the project is on.'
        participant_ids:
          type: array
          items:
            type: string
          description: '`participant_ids` will only be included in the response if `participants` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        participation_ids:
          type: array
          items:
            type: string
          description: '`participation_ids` will only be included in the response if `participations` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        percent_of_budget_used:
          type: integer
          format: int32
          description: 'The percent of the project budget used.

            Visible when the authenticated user is on the provider team and can either see reports on the account or has financial access in the project.'
        percentage_complete:
          type: integer
          format: int32
          description: The completion percentage of the project, calculated from the completion percentage of the stories (tasks), including archived stories.
        permissions:
          type: object
          description: Various project permissions for the authenticated user.
          properties:
            can_upload_files:
              type: boolean
              description: Whether the authenticated user can upload files to the project.
            can_private_message:
              type: boolean
              description: Whether the authenticated user can send private messages in the project.
            can_join:
              type: boolean
              description: Whether the authenticated user can join the project.
            is_participant:
              type: boolean
              description: Whether the authenticated user is participating in the project.
            access_level:
              type: string
              description: The authenticated user’s permission level in the project.
            team_lead:
              type: boolean
              description: Whether the authenticated user is a team lead in the project.
            user_is_client:
              type: boolean
              description: Whether the authenticated user is a client in the project.
            can_change_price:
              type: boolean
              description: Whether the authenticated user can change the price (budget) of the project.
            can_change_story_billable:
              type: boolean
              description: Whether the authenticated user can change the billable status of stories (tasks) in the project.
            can_post:
              type: boolean
              description: Whether the authenticated user has post permissions in the project.
            can_edit:
              type: boolean
              description: Whether the authenticated user has edit permissions in the project.
            restricted:
              type: boolean
              description: Whether the authenticated user is a restricted user in the project.
            can_see_financials:
              type: boolean
              description: Whether the authenticated user has financial access in the project.
            is_guest_on_project:
              type: boolean
              description: Returns true if the authenticated user can view projects without joining. Otherwise, returns false.
        possible_approver_ids:
          type: array
          items:
            type: string
          description: '`possible_approver_ids` will only be included in the response if `possible_approvers` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        posts_require_privacy_decision:
          type: boolean
          description: Whether posts are private (`true`) or shared with all project participants (`false`) by default.
        price:
          type: string
          description: 'The project budget.

            Visible when the authenticated user can see reports on the account or has financial access in the project.'
        price_in_cents:
          type: integer
          format: int32
          description: 'The project budget, in the subunits of the currency (e.g. cents for USD).

            Visible when the authenticated user can see reports on the account or has financial access in the project.'
        primary_counterpart_id:
          type: string
          description: '`primary_counterpart_id` will only be included in the response if `primary_counterpart` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        primary_maven_id:
          type: string
          description: '`primary_maven_id` will only be included in the response if `primary_maven` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        primary_workspace_group_id:
          type: string
          description: '`primary_workspace_group_id` will only be included in the response if `primary_workspace_group` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        provider_lead_name:
          type: string
          description: 'The name of the team lead for the provider side of the project.

            Only returned when requested through the optional_fields param.'
        rate_card_id:
          type: integer
          format: int32
          description: The ID of the rate card for the project.
        require_expense_approvals:
          type: boolean
          description: Whether expense approvals are required in the project.
        require_notes_on_time_entries:
          type: boolean
          description: Whether notes are required on time entries logged against this project.
        require_time_approvals:
          type: boolean
          description: Whether time approvals are required in the project.
        revenue_recognition_method_id:
          type: string
          description: 'The ID of the project''s revenue recognition method, which determines how the project''s revenue is recognized and accounted for. The ID is a composite ID made up of a numerical ID (unique to each account), a colon, and the method type. For example `123:percent_complete`.

            Only returned when requested through the optional_fields param.'
        revenue_recognition_method_name:
          type: string
          description: 'The name of the project''s revenue recognition method, which determines how the project''s revenue is recognized and accounted for.

            Only returned when requested through the optional_fields param.'
        stage:
          type: string
          description: 'The stage of the project. Possible values are `estimate` or `project`.

            Only returned when requested through the optional_fields param.'
        start_date:
          type: string
          format: date
          description: The start date of the project.
        status:
          type: object
          description: 'A hash containing the status of the project.

            Visible when the authenticated user can view the project status.'
          properties:
            color:
              type: string
              description: 'The status color of the project (e.g. ''red'').

                Visible when the authenticated user can view the project status.'
            key:
              type: string
              description: 'The status key of the project (e.g. ''501'').

                Visible when the authenticated user can view the project status.'
            message:
              type: string
              description: 'The status message of the project (e.g. ''Cancelled'').

                Visible when the authenticated user can view the project status.'
        status_report_ids:
          type: array
          items:
            type: string
          description: '`status_report_ids` will only be included in the response if `status_reports` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        stories_are_fixed_fee_by_default:
          type: boolean
          description: 'Whether stories (tasks) are fixed fee by default.

            Visible when the authenticated user is a project administrator and is on the account that the project is on.'
        target_margin:
          type: number
          format: float
          description: 'The target margin of the project.

            Visible when the authenticated user is on the provider team and can either see reports on the account or has financial access in the project.'
        task_status_set_id:
          type: string
          description: The ID of the task status set assigned to the workspace.
        task_status_set_name:
          type: string
          description: The name of the task status set assigned to the workspace.
        task_statuses:
          type: array
          items:
            type: string
          description: The task statuses available in the workspace.
        tasks_default_non_billable:
          type: boolean
          description: Whether stories (tasks) are non-billable by default.
        time_trackable:
          type: boolean
          description: Whether time can be tracked against this project and its tasks.
        timesheet_submission_ids:
          type: array
          items:
            type: string
          description: '`timesheet_submission_ids` will only be included in the response if `timesheet_submissions` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        title:
          type: string
          description: The title of the project.
        total_expenses_in_cents:
          type: integer
          format: int32
          description: 'The total amount of expenses on the project, in the subunits of the currency (e.g. cents for USD).

            Visible when the authenticated user is a project administrator and is on the account that the project is on.'
        total_invoiced:
          type: string
          description: 'The total amount invoiced, in the subunits of the currency (e.g. cents for USD).

            Visible when the authenticated user can see reports on the account or has financial access in the project.


            Only returned when requested through the optional_fields param.'
        total_minutes_approved:
          type: integer
          format: int32
          description: 'The total amount of approved time entries, in minutes. Only visible if the authenticated user has financial access in the project and is on the provider team.

            Visible when the authenticated user can see total time approved in the project.


            Only returned when requested through the optional_fields param.'
        updated_at:
          type: string
          format: date-time
          description: The date that the project was last updated.
        workspace_group_ids:
          type: array
          items:
            type: string
          description: '`workspace_group_ids` will only be included in the response if `workspace_groups` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        workspace_invoice_preference_id:
          type: integer
          format: int32
          description: The ID of the workspace invoice preference which the project is associated with.
        workspace_resource_ids:
          type: array
          items:
            type: string
          description: '`workspace_resource_ids` will only be included in the response if `workspace_resources` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        workspace_resources_with_unnamed_ids:
          type: array
          items:
            type: string
[...]
