openapi: 3.2.0
info:
  version: 1.0.0
  title: Kantata OX API Documentation Holiday Calendar Associations…
  description: Kantata OX's API provides access to the majority of Kantata OX's data model.
  termsOfService: https://www.kantata.com/terms-of-use
  contact:
    name: Kantata OX Support
    url: https://knowledge.kantata.com/hc/en-us
  license:
    name: COPYRIGHT © 2026 Kantata, Inc.
    url: https://www.kantata.com/terms-of-use
  x-logo:
    url: https://theme.zdassets.com/theme_assets/56104/04e93064d309f75d054b8cee885d1ea51e9be8f7.png
    backgroundColor: '#FFFFFF'
    altText: Kantata OX API Documentation
    href: https://developer.kantata.com
servers:
- url: https://api.mavenlink.com/api/v1
tags:
- name: Holiday Calendar Associations
  description: 'A Holiday Calendar Association represents the relationship between holiday objects and calendar objects.

    A Holiday can be associated with several different calendars. To associate a holiday with a calendar,

    create a Holiday Calendar Assocation.'
paths:
  /holiday_calendar_associations:
    get:
      summary: Fetching a list of Holiday Calendar Associations
      description: 'This endpoint returns structured Holiday Calendar Association objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `holiday_calendar_associations` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Holiday Calendar Associations
      tags:
      - Holiday Calendar Associations
      parameters:
      - in: query
        name: by_holiday_calendar_id
        description: Show only Holiday Calendar Associations that are associated with a specific Holiday Calendar.
        schema:
          type: integer
          format: int32
      - in: query
        name: by_holiday_name
        description: Show only Holiday Calendar Associations associated with Holidays that have a name which matches the search parameter.
        schema:
          type: string
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `holiday` (Holiday) - The Holiday associated with this HolidayCalendarAssociation.

          - `holiday_calendar` (HolidayCalendar) - The Holiday Calendar associated with this HolidayCalendarAssociation.'
        schema:
          type: string
      - in: query
        name: only
        description: 'Allows you to request one or more resources directly by ID. Multiple IDs can be supplied

          in a comma separated list, like `GET /api/v1/workspaces.json?only=5,6,7`.'
        schema:
          type: string
      - in: query
        name: page
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        schema:
          type: integer
          format: int32
          default: 20
          maximum: 200
      responses:
        '200':
          description: A list of Holiday Calendar Associations have been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  holiday_calendar_associations:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/HolidayCalendarAssociation'
                  holidays:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Holiday'
                  holiday_calendars:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/HolidayCalendar'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    post:
      summary: Creating a new Holiday Calendar Association
      description: 'This endpoint returns structured Holiday Calendar Association objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `holiday_calendar_associations` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Create Holiday Calendar Association
      tags:
      - Holiday Calendar Associations
      parameters:
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `holiday` (Holiday) - The Holiday associated with this HolidayCalendarAssociation.

          - `holiday_calendar` (HolidayCalendar) - The Holiday Calendar associated with this HolidayCalendarAssociation.'
        schema:
          type: string
      responses:
        '200':
          description: Holiday Calendar Association has been created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  holiday_calendar_associations:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/HolidayCalendarAssociation'
                  holidays:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Holiday'
                  holiday_calendars:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/HolidayCalendar'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                holiday_calendar_association:
                  type: object
                  properties:
                    holiday_id:
                      type: integer
                      format: int32
                      description: The ID of the holiday to be associated with a calendar.
                    holiday_calendar_id:
                      type: integer
                      format: int32
                      description: The ID of the calendar to be associated with a holiday.
                  required:
                  - holiday_id
                  - holiday_calendar_id
        required: true
  /holiday_calendar_associations/{id}:
    get:
      summary: Fetching a single Holiday Calendar Association
      description: 'This endpoint returns structured Holiday Calendar Association objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `holiday_calendar_associations` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Holiday Calendar Association
      tags:
      - Holiday Calendar Associations
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `holiday` (Holiday) - The Holiday associated with this HolidayCalendarAssociation.

          - `holiday_calendar` (HolidayCalendar) - The Holiday Calendar associated with this HolidayCalendarAssociation.'
        schema:
          type: string
      responses:
        '200':
          description: The Holiday Calendar Association has been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  holiday_calendar_associations:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/HolidayCalendarAssociation'
                  holidays:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Holiday'
                  holiday_calendars:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/HolidayCalendar'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    delete:
      summary: Deleting an existing Holiday Calendar Association
      description: 'The response will contain no content and an HTTP 204 status code if the request was

        successful, or a standard Kantata OX error message explaining why the object could not be deleted.'
      operationId: Delete Holiday Calendar Association
      tags:
      - Holiday Calendar Associations
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      responses:
        '204':
          description: Holiday Calendar Association has been deleted.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
components:
  schemas:
    HolidayCalendar:
      title: Holiday Calendar
      description: A Holiday Calendar defines the days in which account members are unavailable to work due to company-wide days off.
      type: object
      properties:
        default:
          type: boolean
          description: Whether the holiday calendar is the account default.
        name:
          type: string
          description: The name of the holiday calendar.
    Holiday:
      title: Holiday
      description: A holiday is a day (or range of days) representing company-wide time off. Holidays are associated with a calendar for scheduling purposes.".
      type: object
      properties:
        calendar_names_list:
          type: string
          description: 'A comma separated list of calendar names to which the holiday belongs.

            Only returned when requested through the optional_fields param.'
        end_date:
          type: string
          format: date
          description: The date the holiday ends.
        holiday_calendar_association_ids:
          type: array
          items:
            type: string
          description: '`holiday_calendar_association_ids` will only be included in the response if `holiday_calendar_associations` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        name:
          type: string
          description: The name of the holiday.
        paid:
          type: boolean
          description: Whether the holiday is paid.
        start_date:
          type: string
          format: date
          description: The date the holiday begins.
        total_hours:
          type: integer
          format: int32
          description: The number of workweek hours that the holiday includes.
    HolidayCalendarAssociation:
      title: Holiday Calendar Association
      description: 'A Holiday Calendar Association represents the relationship between Holiday objects and Holiday Calendar objects.

        A Holiday can be associated with several different Holiday Calendars.

        To associate a Holiday with a Holiday Calendar create a Holiday Calendar Assocation.'
      type: object
      properties:
        holiday_calendar_id:
          type: string
          description: '`holiday_calendar_id` will only be included in the response if `holiday_calendar` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        holiday_calendar_name:
          type: string
          description: Returns the name of the associated Holiday Calendar.
        holiday_id:
          type: string
          description: '`holiday_id` will only be included in the response if `holiday` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        holiday_name:
          type: string
          description: Returns the name of the associated Holiday.
    Error:
      type: object
      properties:
        type:
          type: string
        message:
          type: string
    Errors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    BearerToken:
      type: apiKey
      name: Bearer
      in: header
    OauthSecurity:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://app.mavenlink.com/oauth/authorize
          tokenUrl: https://app.mavenlink.com/oauth/token
x-tagGroups:
- name: '# Subscribed Events'
  tags:
  - Event Types
  - Events
- name: Account Locations
  tags:
  - Account Locations
- name: Account Settings & Members
  tags:
  - Access Group Memberships
  - Account Colors
  - Account Invitations
  - Account Memberships
  - Backup Approver Associations
  - Billable Utilizations
  - Cost Rates
  - Custom Branding
  - Organization Memberships
  - Organizations
  - Roles
  - Skill Categories
  - Skill Memberships
  - Skills
  - Task Status Sets
  - Task Statuses
  - User Group Memberships
  - Users
- name: Currencies
  tags:
  - Currencies
- name: Custom Fields
  tags:
  - Custom Field Choices
  - Custom Field Sets
  - Custom Field Values
  - Custom Fields
- name: Data Exporter
  tags:
  - Data Export Schema
  - Data Exports
- name: Estimates
  tags:
  - Estimate Scenario Resource Allocations
  - Estimate Scenario Resources
  - Estimate Scenarios
  - Estimates
- name: Expense Budgets
  tags:
  - Expense Budgets
- name: Expense Tracking
  tags:
  - Attachments
  - Expense Categories
  - Expense Report Submissions
  - Expenses
  - Vendors
- name: External References
  tags:
  - External References
- name: Financials
  tags:
  - Billing Milestones
  - Revenue Recognition Methods
- name: Foreign Exchange
  tags:
  - Exchange Tables
- name: Insights & Analytics
  tags:
  - Insights Access Group Memberships
  - Insights Dynamic Dashboards
  - Insights Report Exports
  - Insights Reports
- name: Invoices
  tags:
  - Client Invoice Defaults
  - External Payments
  - Invoices
  - Workspace Invoice Preferences
- name: Personal Settings
  tags:
  - Users
- name: Posts & Replies
  tags:
  - Attachments
  - Posts
  - User File Associations
- name: Project Snapshots
  tags:
  - Project Snapshots
- name: Project Templates
  tags:
  - Project Template Additional Tabs
  - Project Template Assignments
  - Project Template Expense Budgets
  - Project Templates
- name: Projects
  tags:
  - Participations
  - Project Accounting Records
  - Status Reports
  - Workspace Allocations
  - Workspace Baselines
  - Workspace Groups
  - Workspace Invoice Preferences
  - Workspace Resource Skills
  - Workspace Resources
  - Workspace Status Changes
  - Workspace Task Status Sets
  - Workspaces
- name: Rate Cards
  tags:
  - Activations
  - Rate Card Role (Rate for a Role)
  - Rate Card Set Version (Effective version by Date)
  - Rate Card Sets (Group of Rate Cards)
  - Rate Card Table Rows
  - Rate Card Versions
  - Rate Cards (Multiple Currencies)
- name: Recommendations
  tags:
  - Recommendations
- name: Resource Requests
  tags:
  - Resource Requests
- name: Scheduling
  tags:
  - Holiday Calendar Associations
  - Holiday Calendar Memberships
  - Holiday Calendars
  - Holidays
  - Time Off Entries
  - Workweek Memberships
  - Workweeks
- name: Surveys (Legacy)
  tags:
  - Survey Answers (Legacy)
  - Survey Questions (Legacy)
  - Survey Templates (Legacy)
  - Surveys Responses (Legacy)
- name: Tasks
  tags:
  - Assignments
  - Daily Scheduled Hours (Story Allocation Days)
  - Followers
  - Stories
  - Story Dependencies
  - Story State Changes
  - Story Tasks
- name: Time Tracking
  tags:
  - Line Item Locks
  - Time Entries
  - Timesheet Approvals
  - Timesheet Cancellations
  - Timesheet Rejections
  - Timesheet Submissions
