openapi: 3.2.0
info:
  version: 1.0.0
  title: Kantata OX API Documentation Invoices API
  description: Kantata OX's API provides access to the majority of Kantata OX's data model.
  termsOfService: https://www.kantata.com/terms-of-use
  contact:
    name: Kantata OX Support
    url: https://knowledge.kantata.com/hc/en-us
  license:
    name: COPYRIGHT © 2026 Kantata, Inc.
    url: https://www.kantata.com/terms-of-use
  x-logo:
    url: https://theme.zdassets.com/theme_assets/56104/04e93064d309f75d054b8cee885d1ea51e9be8f7.png
    backgroundColor: '#FFFFFF'
    altText: Kantata OX API Documentation
    href: https://developer.kantata.com
servers:
- url: https://api.mavenlink.com/api/v1
tags:
- name: Invoices
  description: 'Users can create Invoices in a Kantata OX project. An Invoice must have at least one line item (a time entry,

    expense, fixed fee item, or additional item). By default, the recipient of an invoice is the primary client

    in the project. Manual formatting options are available to define the format and information that should be displayed on an

    invoice.


    Invoices can only be created and viewed by participants with financial permission in a project.'
paths:
  /invoices:
    get:
      summary: Fetching a list of Invoices
      description: 'This endpoint returns structured Invoice objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `invoices` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Invoices
      tags:
      - Invoices
      parameters:
      - in: query
        name: created_after
        description: Filter for records created after a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: created_before
        description: Filter for records created before a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: external_reference_external_message
        description: Filter the objects based on the external message of their associated external references. This is an exact match.
        schema:
          type: string
      - in: query
        name: external_reference_external_status
        description: Filter by the status of the external object in the external system.
        schema:
          type: string
      - in: query
        name: external_reference_service_model
        description: Filter by the type of the external object this external reference belongs to.
        schema:
          type: string
      - in: query
        name: external_reference_service_model_ref
        description: Filter by the id of the external object this external reference belongs to.
        schema:
          type: integer
          format: int32
      - in: query
        name: external_reference_service_model_refs
        description: Filter for objects that correlate to the specified external object IDs. Provide a comma-separated list of up to 200 external IDs.
        schema:
          type: string
      - in: query
        name: external_reference_service_name
        description: Filter by the name of the provider for integration.
        schema:
          type: string
      - in: query
        name: external_reference_status
        description: Filter by the status of the integration, this can be successful or fail.
        schema:
          type: string
      - in: query
        name: has_external_references
        description: Filter by whether or not the object has external references.
        schema:
          type: boolean
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `additional_items` (AdditionalItem) - When included, the `additional_item_ids` array will reference all additional items included in the invoice.

          - `billing_milestones` (BillingMilestone) - When included, the `billing_milestone_ids` array will reference all billing milestones included in the invoice.

          - `expenses` (Expense) - When included, the `expense_ids` array will reference all expenses included in the invoice.

          - `external_references` (ExternalReference) - Includes references to external integrations for this object.

          - `fixed_fee_items` (FixedFeeItem) - When included, the `fixed_fee_items` array will reference all fixed fee items included in the invoice.

          - `recipient` (User) - The User who received the invoice. Namely, the client lead at the time that the invoice

          was created (or null, if no lead client existed at the time).

          - `time_entries` (TimeEntry) - When included, the `time_entry_ids` array will reference all time entries included in the invoice.

          - `user` (User) - The user who created the invoice.

          - `workspaces` (Workspace) - When included, the `workspace_ids` array will reference all projects covered by the invoice.'
        schema:
          type: string
      - in: query
        name: only
        description: 'Allows you to request one or more resources directly by ID. Multiple IDs can be supplied

          in a comma separated list, like `GET /api/v1/workspaces.json?only=5,6,7`.'
        schema:
          type: string
      - in: query
        name: order
        description: 'Supply `order` with the name of a valid sort field for the endpoint and a direction.


          Valid values: `created_at:asc`, `created_at:desc`, `id:asc`, `id:desc`, `invoice_date:asc`, `invoice_date:desc`, `updated_at:asc`, and `updated_at:desc`.'
        schema:
          type: string
          default: created_at:desc
      - in: query
        name: page
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: paid
        description: When `true` is passed, only paid invoices are returned.
        schema:
          type: boolean
          default: false
      - in: query
        name: pending
        description: When `true` is passed, only non-accepted, non-draft invoices are returned.
        schema:
          type: boolean
          default: false
      - in: query
        name: per_page
        schema:
          type: integer
          format: int32
          default: 20
          maximum: 200
      - in: query
        name: updated_after
        description: Filter for records updated after a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: updated_before
        description: Filter for records updated before a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: user_invoice_number
        description: "Provide one or more user invoice numbers, separated by commas. When provided, only invoices\n              with the specified user invoice numbers will be returned."
        schema:
          type: string
      - in: query
        name: within_dates
        description: "Provide a date range in 2000-01-01:2000-12-31 format. When provided, only invoices created\n              within the specified range will be returned."
        schema:
          type: string
      - in: query
        name: without_drafts
        description: When `true` is passed, draft invoices will not be returned.
        schema:
          type: boolean
          default: false
      - in: query
        name: without_external_reference_service_name
        description: Exclude by the existence of an external reference with the specified service name.
        schema:
          type: string
      - in: query
        name: workspace_id
        description: "Provide one or more workspace IDs, separated by commas. If present, only invoices\n              in the provided projects will be returned."
        schema:
          type: string
      responses:
        '200':
          description: A list of Invoices have been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  invoices:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Invoice'
                  external_references:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ExternalReference'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  workspaces:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Workspace'
                  additional_items:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/AdditionalItem'
                  time_entries:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/TimeEntry'
                  expenses:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Expense'
                  fixed_fee_items:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/FixedFeeItem'
                  billing_milestones:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/BillingMilestone'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    post:
      summary: Creating a new Invoice
      description: 'This endpoint returns structured Invoice objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `invoices` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Create Invoice
      tags:
      - Invoices
      parameters:
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `additional_items` (AdditionalItem) - When included, the `additional_item_ids` array will reference all additional items included in the invoice.

          - `billing_milestones` (BillingMilestone) - When included, the `billing_milestone_ids` array will reference all billing milestones included in the invoice.

          - `expenses` (Expense) - When included, the `expense_ids` array will reference all expenses included in the invoice.

          - `external_references` (ExternalReference) - Includes references to external integrations for this object.

          - `fixed_fee_items` (FixedFeeItem) - When included, the `fixed_fee_items` array will reference all fixed fee items included in the invoice.

          - `recipient` (User) - The User who received the invoice. Namely, the client lead at the time that the invoice

          was created (or null, if no lead client existed at the time).

          - `time_entries` (TimeEntry) - When included, the `time_entry_ids` array will reference all time entries included in the invoice.

          - `user` (User) - The user who created the invoice.

          - `workspaces` (Workspace) - When included, the `workspace_ids` array will reference all projects covered by the invoice.'
        schema:
          type: string
      responses:
        '200':
          description: Invoice has been created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  invoices:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Invoice'
                  external_references:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ExternalReference'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  workspaces:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Workspace'
                  additional_items:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/AdditionalItem'
                  time_entries:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/TimeEntry'
                  expenses:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Expense'
                  fixed_fee_items:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/FixedFeeItem'
                  billing_milestones:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/BillingMilestone'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                invoice:
                  type: object
                  properties:
                    time_entry_ids:
                      type: array
                      items:
                        type: integer
                        format: int32
                      description: '[Time Entry](/tag/Time-Entries) IDs. (At least one of the following is required: time_entry_ids, expense_ids, additional_items, fixed_fee_items, or billing_milestone_ids.).'
                    expense_ids:
                      type: array
                      items:
                        type: integer
                        format: int32
                      description: '[Expense](/tag/Expenses) IDs. (At least one of the following is required: time_entry_ids, expense_ids, additional_items, fixed_fee_items, or billing_milestone_ids.).'
                    fixed_fee_items:
                      type: array
                      description: 'Fixed fee item objects to create (At least one of the following is required: time_entry_ids, expense_ids, additional_items, fixed_fee_items, or billing_milestone_ids.).'
                      items:
                        type: object
                        properties:
                          notes:
                            type: string
                            description: Notes to display on the fixed fee item.
                          amount:
                            type: integer
                            format: int32
                            description: The value of the fixed fee item, in the currency's main unit. Dollars, for example.
                          taxable:
                            type: boolean
                            description: Whether the fixed fee item is taxable.
                          story_id:
                            type: integer
                            format: int32
                            description: The ID of the [Story](/tag/Stories) associated with the fixed fee item.
                          workspace_id:
                            type: integer
                            format: int32
                            description: The ID of the [Workspace](/tag/Workspaces) associated with the fixed fee item.
                    additional_items:
                      type: array
                      description: 'Additional item objects to create (At least one of the following is required: time_entry_ids, expense_ids, additional_items, fixed_fee_items, or billing_milestone_ids.).'
                      items:
                        type: object
                        properties:
                          notes:
                            type: string
                            description: Notes to be displayed on the additional item.
                          amount:
                            type: integer
                            format: int32
                            description: The value of the additional item, in the currency's main unit. Dollars, for example.
                          taxable:
                            type: boolean
                            description: Whether the additional item is taxable.
                          workspace_id:
                            type: integer
                            format: int32
                            description: The ID of the [Workspace](/tag/Workspaces) associated with the additional item.
                    workspace_id:
                      type: integer
                      format: int32
                      description: The ID of the [Workspace](/tag/Workspaces) in which to create the invoice. (Either `workspace_id` or `workspace_ids` is required.).
                    workspace_ids:
                      type: array
                      items:
                        type: integer
                        format: int32
                      description: The IDs of the [Workspaces](/tag/Workspaces) in which to create the (multi-project) invoice. (Either `workspace_id` or `workspace_ids` is required.).
                    payment_schedule:
                      type: integer
                      format: int32
                      description: The number of days within which the total amount of the invoice is expected to be paid. For example, use `30` for a Net 30 payment schedule. See https://en.wikipedia.org/wiki/Net_D.
                    invoice_date:
                      type: string
                      format: date
                      description: The invoice date. The date must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
                    user_invoice_number:
                      type: integer
                      format: int32
                      description: The invoice number (defined by the user).
                    draft:
                      type: boolean
                      description: Whether the invoice is a draft.
                    message:
                      type: string
                      description: Notes to be displayed on the invoice.
                    user_invoice_title:
                      type: string
                      description: The invoice title (defined by the user).
                    purchase_order:
                      type: string
                      description: The invoice purchase order (defined by the user).
                    project_code:
                      type: string
                      description: The invoice project code (defined by the user).
                    suppress_emails:
                      type: boolean
                      description: Setting suppress_emails to true will prevent creation emails from being sent.
                    billing_milestone_ids:
                      type: array
                      items:
                        type: integer
                        format: int32
                      description: 'The IDs of [billing milestones](/tag/Billing-Milestones) to add to the invoice. (At least one of the following is required: time_entry_ids, expense_ids, additional_items, fixed_fee_items, or billing_milestone_ids.).'
                    external_reference:
                      type: object
                      description: 'Typically populated programmatically by a third party system via an integration, this is an optional

                        object that holds data from an external system. It connects objects in an external system with objects in

                        Kantata OX (for example, to connect a Jira issue to a Kantata OX Project).'
                      properties:
                        service_name:
                          type: string
                          description: The provider name of the integration. If you are adding multiple external references to the same object, the `service_name` must be unique.
                        service_model:
                          type: string
                          description: The object type of the external object this external reference belongs to.
                        service_model_ref:
                          type: string
                          description: The object ID of the external object this external reference belongs to.
                        status:
                          type: string
                          description: The status of the integration. Options are `successful`, `pending`,  or `failed`.
                        external_message:
                          type: string
                          description: The message on the external object.
                        external_link:
                          type: string
                          description: The link to the external object.
                        external_status:
                          type: string
                          description: The status of the external object in the external system.
                        locked:
                          type: boolean
                          description: Whether the subject is locked.
                      required:
                      - service_name
                      - service_model
                      - service_model_ref
                  required:
                  - payment_schedule
        required: true
  /invoices/next_invoice_number:
    get:
      summary: Retrieve the next available invoice number
      operationId: Get Next Invoice Number
      tags:
      - Invoices
      responses:
        '200':
          description: A list of Invoices have been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  next_invoice_number:
                    type: string
                    description: The next invoice number.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /invoices/{id}:
    get:
      summary: Fetching a single Invoice
      description: 'This endpoint returns structured Invoice objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `invoices` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Invoice
      tags:
      - Invoices
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `additional_items` (AdditionalItem) - When included, the `additional_item_ids` array will reference all additional items included in the invoice.

          - `billing_milestones` (BillingMilestone) - When included, the `billing_milestone_ids` array will reference all billing milestones included in the invoice.

          - `expenses` (Expense) - When included, the `expense_ids` array will reference all expenses included in the invoice.

          - `external_references` (ExternalReference) - Includes references to external integrations for this object.

          - `fixed_fee_items` (FixedFeeItem) - When included, the `fixed_fee_items` array will reference all fixed fee items included in the invoice.

          - `recipient` (User) - The User who received the invoice. Namely, the client lead at the time that the invoice

          was created (or null, if no lead client existed at the time).

          - `time_entries` (TimeEntry) - When included, the `time_entry_ids` array will reference all time entries included in the invoice.

          - `user` (User) - The user who created the invoice.

          - `workspaces` (Workspace) - When included, the `workspace_ids` array will reference all projects covered by the invoice.'
        schema:
          type: string
      responses:
        '200':
          description: The Invoice has been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  invoices:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Invoice'
                  external_references:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ExternalReference'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  workspaces:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Workspace'
                  additional_items:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/AdditionalItem'
                  time_entries:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/TimeEntry'
                  expenses:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Expense'
                  fixed_fee_items:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/FixedFeeItem'
                  billing_milestones:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/BillingMilestone'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    put:
      summary: Updating an existing Invoice
      description: 'This endpoint returns structured Invoice objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `invoices` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Update Invoice
      tags:
      - Invoices
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `additional_items` (AdditionalItem) - When included, the `additional_item_ids` array will reference all additional items included in the invoice.

          - `billing_milestones` (BillingMilestone) - When included, the `billing_milestone_ids` array will reference all billing milestones included in the invoice.

          - `expenses` (Expense) - When included, the `expense_ids` array will reference all expenses included in the invoice.

          - `external_references` (ExternalReference) - Includes references to external integrations for this object.

          - `fixed_fee_items` (FixedFeeItem) - When included, the `fixed_fee_items` array will reference all fixed fee items included in the invoice.

          - `recipient` (User) - The User who received the invoice. Namely, the client lead at the time that the invoice

          was created (or null, if no lead client existed at the time).

          - `time_entries` (TimeEntry) - When included, the `time_entry_ids` array will reference all time entries included in the invoice.

          - `user` (User) - The user who created the invoice.

          - `workspaces` (Workspace) - When included, the `workspace_ids` array will reference all projects covered by the invoice.'
        schema:
          type: string
      responses:
        '200':
          description: Invoice has been updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  invoices:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Invoice'
                  external_references:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ExternalReference'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  workspaces:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Workspace'
                  additional_items:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/AdditionalItem'
                  time_entries:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/TimeEntry'
                  expenses:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Expense'
                  fixed_fee_items:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/FixedFeeItem'
                  billing_milestones:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/BillingMilestone'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                invoice:
                  type: object
                  properties:
                    time_entry_ids:
                      type: array
                      items:
                        type: integer
                        format: int32
                      description: An array of [Time Entry](/tag/Time-Entries) IDs. Setting this field updates the invoice's complete list of time entries; it behaves as an overwrite. Any time entries not included in your request will be removed from the invoice. Additionally, sending an empty array will remove all time entries from the invoice. At least one time entry, expense, fixed fee item, additional item, or billing milestone must be on the invoice.
                    expense_ids:
                      type: array
                      items:
                        type: integer
                        format: int32
                      description: An array of [Expense](/tag/Expenses) IDs. Setting this field updates the invoice's complete list of expenses; it behaves as an overwrite. Any expenses not included in your request will be removed from the invoice. Additionally, sending an empty array will remove all expenses from the invoice. At least one time entry, expense, fee item, additional item, or billing milestone must be on the invoice.
                    payment_schedule:
                      type: integer
                      format: int32
                      description: The number of days within which the total amount of the invoice is expected to be paid. For example, use `30` for a Net 30 payment schedule. See https://en.wikipedia.org/wiki/Net_D.
                    invoice_date:
                      type: string
                      format: date
                      description: The invoice date.  Determines the date from which the payment schedule will start. The date must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
                    user_invoice_number:
                      type: integer
                      format: int32
                      description: The invoice number (defined by the user).
                    draft:
                      type: boolean
                      description: Whether the invoice is a draft.
                    message:
                      type: string
                      description: Notes to be displayed on the invoice.
                    user_invoice_title:
                      type: string
                      description: The invoice title (defined by the user).
                    purchase_order:
                      type: string
                      description: The invoice purchase order (defined by the user).
                    project_code:
                      type: string
                      description: The invoice project code (defined by the user).
                    billing_milestone_ids:
                      type: array
                      items:
                        type: integer
                        format: int32
                      description: The IDs of [billing milestones](/tag/Billing-Milestones) to add to the invoice. Setting this field updates the invoice's complete list of billing milestones; it behaves as an overwrite. Any billing milestones not included in your request will be removed from the invoice. Additionally, sending an empty array will remove all billing milestones from the invoice. At least one time entry, expense, fixed fee item, additional item, or billing milestone must be on the invoice.
                    external_reference:
                      type: object
                      description: 'Typically populated programmatically by a third party system via an integration, this is an optional

                        object that holds data from an external system. It connects objects in an external system with objects in

                        Kantata OX (for example, to connect a Jira issue to a Kantata OX Project).'
                      properties:
                        service_name:
                          type: string
                          description: The provider name of the integration. If you are adding multiple external references to the same object, the `service_name` must be unique.
                        service_model:
                          type: string
                          description: The object type of the external object this external reference belongs to.
                        service_model_ref:
                          type: string
                          description: The object ID of the external object this external reference belongs to.
                        status:
                          type: string
                          description: The status of the integration. Options are `successful`, `pending`,  or `failed`.
                        external_message:
                          type: string
                          description: The message on the external object.
                        external_link:
                          type: string
                          description: The link to the external object.
                        external_status:
                          type: string
                          description: The status of the external object in the external system.
                        locked:
                          type: boolean
                          description: Whether the subject is locked.
                      required:
                      - service_name
                      - service_model
                      - service_model_ref
        required: true
    delete:
      summary: Deleting an existing Invoice
      description: 'You can delete draft invoices with this endpoint. Active invoices cannot be

        deleted. They must be cancelled instead.


        The response will contain no content and an HTTP 204 status code if the request was

        successful, or a standard Kantata OX error message explaining why the object could not be deleted.'
      operationId: Delete Invoice
      tags:
      - Invoices
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      responses:
        '204':
          description: Invoice has been deleted.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /invoices/{id}/cancel:
    put:
      summary: Cancel an existing invoice
      description: 'You can cancel active invoices with this endpoint.


        This endpoint returns structured Invoice objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `invoices` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Cancel Invoice
      tags:
      - Invoices
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `additional_items` (AdditionalItem) - When included, the `additional_item_ids` array will reference all additional items included in the invoice.

          - `billing_milestones` (BillingMilestone) - When included, the `billing_milestone_ids` array will reference all billing milestones included in the invoice.

          - `expenses` (Expense) - When included, the `expense_ids` array will reference all expenses included in the invoice.

          - `external_references` (ExternalReference) - Includes references to external integrations for this object.

          - `fixed_fee_items` (FixedFeeItem) - When included, the `fixed_fee_items` array will reference all fixed fee items included in the invoice.

          - `recipient` (User) - The User who received the invoice. Namely, the client lead at the time that the invoice

          was created (or null, if no lead client existed at the time).

          - `time_entries` (TimeEntry) - When included, the `time_entry_ids` array will reference all time entries included in the invoice.

          - `user` (User) - The user who created the invoice.

          - `workspaces` (Workspace) - When included, the `workspace_ids` array will reference all projects covered by the invoice.'
        schema:
          type: string
      responses:
        '200':
          description: Invoice has been updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  invoices:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Invoice'
                  external_references:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ExternalReference'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
                  workspaces:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Workspace'
                  additional_items:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/AdditionalItem'
                  time_entries:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/TimeEntry'
                  expenses:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Expense'
                  fixed_fee_items:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/FixedFeeItem'
                  billing_milestones:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/BillingMilestone'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
components:
  schemas:
    ExternalReference:
      title: External Reference
      description: 'External References allows users see which objects (one of `Assignment`, `BillingMilestone`, `CustomField`, `CustomFieldChoice`, `CustomFieldSet`, `CustomFieldValue`, `Estimate`, `EstimateScenario`, `EstimateScenarioResource`, `Expense`, `ExpenseBudget`, `Invoice`, `Participation`, `Post`, `RateCard`, `Role`, `Skill`, `StatusReport`, `Story`, `StoryAllocationDay`, `Submission`, `SurveyAnswer`, `SurveyQuestion`, `SurveyResponse`, `SurveyTemplate`, `TimeEntry`, `TimeOffEntry`, `User`, `Vendor`, `Workspace`, `WorkspaceAllocation`, `WorkspaceGroup`, or `WorkspaceResource`

        are synced with third party systems. This allows you to view the sync status of items in addition to the integration

        specifics for a synced object.


        Objects that are synced with a third party system have external integration

        attributes that include the corresponding ID of the third party object with

        which it is synced, a link that allows you to view the object in the third

        party system, the status of the external object in the external system,

        the status of the sync, and a link to exceptions.'
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          description: The date and time the reference was created.
        external_link:
          type: string
          description: A URL that links to either the external object or event.
        external_message:
          type: string
          description: An optional message about the external object.
        external_status:
          type: string
          description: The status of the external object in the external system.
        last_synced_at:
          type: string
          format: date-time
        locked:
          type: boolean
          description: 'An optional field, indicating whether the subject should be locked. To prevent changes to the

            object in Kantata OX, set this to true. This currently only applies to expense report rejections.'
        service_model:
          type: string
          description: The type of the external object to which this reference belongs.
        service_model_ref:
          type: string
          description: The ID of the external object to which this reference belongs.
        service_name:
          type: string
          description: The provider name of the integration.
        status:
          type: string
          description: The status of the integration. Options are 'pending', 'successful', or 'failed'.
        subject_id:
          type: integer
          format: int32
          description: The ID of the Kantata OX object to which this external reference belongs.
        subject_ref:
          type: object
          description: '`subject_ref` will only be included in the response if `subject` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
          properties:
            key:
              type: string
            id:
              type: string
        subject_type:
          type: string
          description: 'The type of Kantata OX object to which this external reference belongs.

            One of `Assignment`, `BillingMilestone`, `CustomField`, `CustomFieldChoice`, `CustomFieldSet`, `CustomFieldValue`, `Estimate`, `EstimateScenario`, `EstimateScenarioResource`, `Expense`, `ExpenseBudget`, `Invoice`, `Participation`, `Post`, `RateCard`, `Role`, `Skill`, `StatusReport`, `Story`, `StoryAllocationDay`, `Submission`, `SurveyAnswer`, `SurveyQuestion`, `SurveyResponse`, `SurveyTemplate`, `TimeEntry`, `TimeOffEntry`, `User`, `Vendor`, `Workspace`, `WorkspaceAllocation`, `WorkspaceGroup`, or `WorkspaceResource`.'
        updated_at:
          type: string
          format: date-time
          description: The date and time the reference was last updated.
    TimeEntry:
      title: Time Entry
      description: 'This object allows you to manage Kantata OX time entries, depending on your permissions.

        Creating and updating time entries allows you to include time when invoicing clients.'
      type: object
      properties:
        active_submission_id:
          type: string
          description: '`active_submission_id` will only be included in the response if `active_submission` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        approved:
          type: boolean
          description: Specifies whether the time entry has been approved.
        billable:
          type: boolean
          description: Whether the work for the time entry is billable.
        cost_rate_in_cents:
          type: integer
          format: int32
          description: Cost to perform the work in time entry's currency per hour.
        created_at:
          type: string
          format: date-time
          description: "Date the time entry was created, but not necessarily when the work was performed.\n        The work can be performed at a different time."
        currency:
          type: string
          description: Currency of the project when the time entry was made.
        currency_base_unit:
          type: integer
          format: int32
          description: The number of subunits to make a regular unit of time entries currency.
        currency_symbol:
          type: string
          description: Symbol for the currency of the time entry.
        date_performed:
          type: string
          format: date
          description: Date the time entry work was performed by the specified user.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        invoice_id:
          type: string
          description: '`invoice_id` will only be included in the response if `invoice` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        is_invoiced:
          type: boolean
          description: Specifies whether the time entry has been invoiced.
        location:
          type: string
          description: 'The location of the time entry.

            Visible when the account has locations.'
        location_id:
          type: integer
          format: int32
          description: 'The location id of the time entry.

            Visible when the account has locations.


            Only returned when requested through the optional_fields param.'
        notes:
          type: string
          description: Notes about the time entries work.
        rate_in_cents:
          type: integer
          format: int32
          description: Billable rate for the work in time entry currency's cents per hour.
        recent_submission_id:
          type: string
          description: '`recent_submission_id` will only be included in the response if `recent_submission` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        role_id:
          type: string
          description: '`role_id` will only be included in the response if `role` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        story_id:
          type: string
          description: '`story_id` will only be included in the response if `story` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        taxable:
          type: boolean
          description: Specifies whether the time entry is taxable.
        time_in_minutes:
          type: integer
          format: int32
          description: Amount of work that was performed in minutes.
        updated_at:
          type: string
          format: date-time
          description: Date the time entry was last updated.
        user_can_edit:
          type: boolean
          description: 'Returns true if the requesting user can edit the time entry.

            Only returned when requested through the optional_fields param.'
        user_id:
          type: string
          description: '`user_id` will only be included in the response if `user` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        workspace_id:
          type: string
          description: '`workspace_id` will only be included in the response if `workspace` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    Error:
      type: object
      properties:
        type:
          type: string
        message:
          type: string
    Expense:
      title: Expense
      description: 'Expenses are non-time related costs incurred in a project. Once created, expenses can

        be included in generated invoices.'
      type: object
      properties:
        active_submission_id:
          type: string
          description: '`active_submission_id` will only be included in the response if `active_submission` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        amount_in_cents:
          type: integer
          format: int32
          description: The amount, in cents, of the expense.
        category:
          type: string
          description: 'The category of the expense (can be any string). Built-in categories are:

            Travel, Mileage, Lodging, Food, Entertainment, and Other.'
        created_at:
          type: string
          format: date-time
        currency:
          type: string
          description: The currency of the expense.
        currency_base_unit:
          type: integer
          format: int32
          description: The number of the units in the `amount_as_cents` attribute that are required to make up a single unit of the `currency`.
        currency_symbol:
          type: string
          description: The symbol that represents the currency of the expense.
        date:
          type: string
          format: date
          description: The date the expense was incurred.
        expense_budget_id:
          type: string
          description: '`expense_budget_id` will only be included in the response if `expense_budget` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        expense_category_id:
          type: string
          description: '`expense_category_id` will only be included in the response if `expense_category` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        foreign_exchange_amount:
          type: object
          description: The currency conversion data for a converted expense.
          properties:
            date:
              type: string
              format: date-time
              description: The date the expense was converted.
            rate:
              type: number
              format: float
              description: The exchange rate used to convert the expense.
            source_currency:
              type: string
              description: The [ISO code](https://mavenlink.zendesk.com/hc/en-us/articles/360041576473-Supported-Currency-ISO-Codes) of the foreign currency in which the expense was incurred.
            source_value:
              type: number
              format: float
              description: The amount of the expense, in foreign currency units.
        is_billable:
          type: boolean
          description: Whether this is a billable expense.
        is_invoiced:
          type: boolean
          description: Whether this expense has been included on an invoice.
        notes:
          type: string
          description: All notes that have been added to the expense.
        receipt_id:
          type: string
          description: '`receipt_id` will only be included in the response if `receipt` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        recent_submission_id:
          type: string
          description: '`recent_submission_id` will only be included in the response if `recent_submission` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        reimbursable:
          type: boolean
          description: Whether this expense is reimbursable to the creator or to a vendor.
        role_id:
          type: string
          description: '`role_id` will only be included in the response if `role` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        story_id:
          type: string
          description: '`story_id` will only be included in the response if `story` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        taxable:
          type: boolean
          description: Whether this expense is marked as taxable when invoiced.
        updated_at:
          type: string
          format: date-time
        user_can_edit:
          type: boolean
          description: 'Whether the viewing user can edit this expense.

            Only returned when requested through the optional_fields param.'
        user_id:
          type: string
          description: '`user_id` will only be included in the response if `user` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        vendor_id:
          type: string
          description: '`vendor_id` will only be included in the response if `vendor` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        workspace_id:
          type: string
          description: '`workspace_id` will only be included in the response if `workspace` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    User:
      title: User
      description: 'Users represent the individuals that are participating in Kantata OX projects. User objects are often returned as

        nested JSON objects within other returned items such as Posts or Stories.'
      type: object
      properties:
        abbreviated_timezone:
          type: string
          description: 'The abbreviation for the user''s time zone.

            Only returned when requested through the optional_fields param.'
        account_membership_id:
          type: string
          description: '`account_membership_id` will only be included in the response if `account_membership` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        bio:
          type: string
          description: 'A biography (defined by the user).

            Only returned when requested through the optional_fields param.'
        city:
          type: string
          description: 'The home city of the user (based on their profile).

            Only returned when requested through the optional_fields param.'
        classification:
          type: string
          description: 'Indicates whether a user is Internal or External.

            Only returned when requested through the optional_fields param.'
        country:
          type: string
          description: 'The home country of the user (based on their profile).

            Only returned when requested through the optional_fields param.'
        custom_field_value_ids:
          type: array
          items:
            type: string
          description: '`custom_field_value_ids` will only be included in the response if `custom_field_values` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        email_address:
          type: string
          description: The email address of the user.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        full_name:
          type: string
          description: The full name of the user.
        headline:
          type: string
          description: A short description of the user.
        last_site_activity:
          type: string
          format: date-time
          description: 'The last time a user logged in. This field is only available in conjunction with the `on_my_account` filter option. Only visible when the API user is an Account Administrator.

            Only returned when requested through the optional_fields param.'
        manager_id:
          type: string
          description: '`manager_id` will only be included in the response if `manager` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        photo_path:
          type: string
          description: The URL of the user's profile photo.
        role_id:
          type: string
          description: '`role_id` will only be included in the response if `role` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        skill_ids:
          type: array
          items:
            type: string
          description: '`skill_ids` will only be included in the response if `skills` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        skill_membership_ids:
          type: array
          items:
            type: string
          description: '`skill_membership_ids` will only be included in the response if `skill_memberships` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        state:
          type: string
          description: 'The home state of the user (based on their profile).

            Only returned when requested through the optional_fields param.'
        website:
          type: string
          description: 'A website (defined by the user).

            Only returned when requested through the optional_fields param.'
        work_sample_ids:
          type: array
          items:
            type: string
          description: '`work_sample_ids` will only be included in the response if `work_samples` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    Workspace:
      title: Workspace
      description: Workspaces (also called projects) represent the space in which Kantata OX users plan, communicate, and collaborate.
      type: object
      properties:
        access_level:
          type: string
          description: Whether the project is open, and who can join it. Possible values are `invitation`, `open`, and `admin`.
        account_color_id:
          type: string
          description: '`account_color_id` will only be included in the response if `account_color` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        account_id:
          type: integer
          format: int32
          description: The ID of the account which the project is in.
        account_insights_mapping_ids:
          type: array
          items:
            type: string
          description: '`account_insights_mapping_ids` will only be included in the response if `account_insights_mappings` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        actual_fees_includes_additional_line_items:
          type: boolean
          description: 'Whether invoice additional items are included in actual fees calculations for the project.

            Visible when the authenticated user is a project administrator and is on the account that the project is on.'
        actual_fees_includes_expenses:
          type: boolean
          description: 'Whether expenses are included in actual fees calculations for the project.

            Visible when the authenticated user is a project administrator and is on the account that the project is on.'
        approver_id:
          type: string
          description: '`approver_id` will only be included in the response if `approver` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        approver_ids:
          type: array
          items:
            type: string
          description: '`approver_ids` will only be included in the response if `approvers` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        archived:
          type: boolean
          description: Whether the project is archived.
        billable_minutes:
          type: integer
          format: int32
          description: 'The total amount of billable time entries, in minutes. Only visible if the authenticated user has financial access in the project and is on the provider team.

            Visible when the authenticated user can see total time approved in the project.


            Only returned when requested through the optional_fields param.'
        billing_milestone_ids:
          type: array
          items:
            type: string
          description: '`billing_milestone_ids` will only be included in the response if `billing_milestones` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        budget_remaining:
          type: string
          description: 'The amount of the project budget remaining.

            Visible when the authenticated user is on the provider team and can either see reports on the account or has financial access in the project.'
        budget_used:
          type: string
          description: 'The amount of the project budget that has been used.

            Visible when the authenticated user is on the provider team and can either see reports on the account or has financial access in the project.'
        budget_used_in_cents:
          type: integer
          format: int32
          description: 'The amount of the project budget that has been used, in the subunits of the currency (e.g. cents for USD).

            Visible when the authenticated user is on the provider team and can either see reports on the account or has financial access in the project.'
        budgeted:
          type: boolean
          description: Whether the project is budgeted.
        can_create_line_items:
          type: boolean
          description: Whether the authenticated user can create line items in the project (i.e. time entries, expenses, fixed fee items, or additional items).
        can_invite:
          type: boolean
          description: Whether the authenticated user can invite others to the project.
        change_orders_enabled:
          type: boolean
          description: Whether change orders are enabled in the project.
        client_lead_name:
          type: string
          description: 'The name of the team lead for the client side of the project.

            Only returned when requested through the optional_fields param.'
        client_role_name:
          type: string
          description: The client team name.
        consultant_role_name:
          type: string
          description: The provider team name.
        created_at:
          type: string
          format: date-time
          description: The date the project was created.
        creator_id:
          type: string
          description: '`creator_id` will only be included in the response if `creator` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        currency:
          type: string
          description: The currency of the project. Only visible if the authenticated user has financial access in the project.
        currency_base_unit:
          type: integer
          format: int32
          description: The base unit of the currency of the project. For example, the base unit for USD is 100.
        currency_symbol:
          type: string
          description: The [ISO symbol](https://knowledge.kantata.com/hc/en-us/articles/360041576473) for the currency of the project. For example, `USD`.
        current_status_report_id:
          type: string
          description: '`current_status_report_id` will only be included in the response if `current_status_report` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        current_user_participation_id:
          type: string
          description: '`current_user_participation_id` will only be included in the response if `current_user_participation` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        custom_field_value_ids:
          type: array
          items:
            type: string
          description: '`custom_field_value_ids` will only be included in the response if `custom_field_values` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        default_rate:
          type: string
          description: The default billing rate for the project.
        description:
          type: string
          description: The description of the project.
        due_date:
          type: string
          format: date
          description: The due date of the project.
        effective_due_date:
          type: string
          format: date
          description: The due date of the project (deprecated).
        estimated_minutes:
          type: integer
          format: int32
          description: 'The total task estimated minutes of the project.

            Visible when the authenticated user can see reports on the account or has financial access in the project.


            Only returned when requested through the optional_fields param.'
        exclude_archived_stories_percent_complete:
          type: boolean
          description: Whether archived tasks are excluded from the calculation of the project completion percentage.
        expenses_in_burn_rate:
          type: boolean
          description: 'Whether both expenses and invoice additional items are included in the actual fees calculation for the project. This field is the `AND` of `actual_fees_includes_expenses` and `actual_fees_includes_additional_line_items`.

            Visible when the authenticated user is a project administrator and is on the account that the project is on.'
        external_link:
          type: object
          description: 'A link that displays within the project workspace. Requires the Project Button facilitated feature.

            Visible when the workspace has the project button feature enabled.'
          properties:
            url:
              type: string
              description: 'The URL of the link.

                Visible when the workspace has the project button feature enabled.'
            text:
              type: string
              description: 'The button text.

                Visible when the workspace has the project button feature enabled.'
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        financial_viewer_ids:
          type: array
          items:
            type: string
          description: '`financial_viewer_ids` will only be included in the response if `financial_viewers` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        has_active_expense_report_submissions:
          type: boolean
          description: Whether the project has active expense report submissions.
        has_active_timesheet_submissions:
          type: boolean
          description: Whether the project has active timesheet submissions.
        has_budget_access:
          type: boolean
          description: Whether the authenticated user has budget access in the project.
        incoming_email_address:
          type: string
          description: 'The email address for the project—unique to the authenticated user—which can be used to post to the project''s Activity Feed via email.

            Visible when the authenticated user is a project administrator and is on the account that the project is on.


            Only returned when requested through the optional_fields param.'
        lock_date:
          type: string
          format: date
          description: 'The line item lock date for the account the project is on, if any.

            Only returned when requested through the optional_fields param.'
        minutes_logged:
          type: integer
          format: int32
          description: 'The total minutes logged on the project, including time adjustments. Only visible if the authenticated user has financial access in the project and is on the provider team.

            Visible when the authenticated user can see total time approved in the project.


            Only returned when requested through the optional_fields param.'
        next_uncompleted_milestone_id:
          type: string
          description: '`next_uncompleted_milestone_id` will only be included in the response if `next_uncompleted_milestone` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        non_billable_minutes:
          type: integer
          format: int32
          description: 'The total of all non-billable time entries in minutes, only included if the current user has financial access and is a maven in the project.

            Visible when the authenticated user can see total time approved in the project.


            Only returned when requested through the optional_fields param.'
        over_budget:
          type: boolean
          description: 'Whether the project is over budget. Only visible if the authenticated user has financial access in the project.

            Visible when the authenticated user is a project administrator and is on the account that the project is on.'
        participant_ids:
          type: array
          items:
            type: string
          description: '`participant_ids` will only be included in the response if `participants` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        participation_ids:
          type: array
          items:
            type: string
          description: '`participation_ids` will only be included in the response if `participations` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        percent_of_budget_used:
          type: integer
          format: int32
          description: 'The percent of the project budget used.

            Visible when the authenticated user is on the provider team and can either see reports on the account or has financial access in the project.'
        percentage_complete:
          type: integer
          format: int32
          description: The completion percentage of the project, calculated from the completion percentage of the stories (tasks), including archived stories.
        permissions:
          type: object
          description: Various project permissions for the authenticated user.
          properties:
            can_upload_files:
              type: boolean
              description: Whether the authenticated user can upload files to the project.
            can_private_message:
              type: boolean
              description: Whether the authenticated user can send private messages in the project.
            can_join:
              type: boolean
              description: Whether the authenticated user can join the project.
            is_participant:
              type: boolean
              description: Whether the authenticated user is participating in the project.
            access_level:
              type: string
              description: The authenticated user’s permission level in the project.
            team_lead:
              type: boolean
              description: Whether the authenticated user is a team lead in the project.
            user_is_client:
              type: boolean
              description: Whether the authenticated user is a client in the project.
            can_change_price:
              type: boolean
              description: Whether the authenticated user can change the price (budget) of the project.
            can_change_story_billable:
              type: boolean
              description: Whether the authenticated user can change the billable status of stories (tasks) in the project.
            can_post:
              type: boolean
              description: Whether the authenticated user has post permissions in the project.
            can_edit:
              type: boolean
              description: Whether the authenticated user has edit permissions in the project.
            restricted:
              type: boolean
              description: Whether the authenticated user is a restricted user in the project.
            can_see_financials:
              type: boolean
              description: Whether the authenticated user has financial access in the project.
            is_guest_on_project:
              type: boolean
              description: Returns true if the authenticated user can view projects without joining. Otherwise, returns false.
        possible_approver_ids:
          type: array
          items:
            type: string
          description: '`possible_approver_ids` will only be included in the response if `possible_approvers` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        posts_require_privacy_decision:
          type: boolean
          description: Whether posts are private (`true`) or shared with all project participants (`false`) by default.
        price:
          type: string
          description: 'The project budget.

            Visible when the authenticated user can see reports on the account or has financial access in the project.'
        price_in_cents:
          type: integer
          format: int32
          description: 'The project budget, in the subunits of the currency (e.g. cents for USD).

            Visible when the authenticated user can see reports on the account or has financial access in the project.'
        primary_counterpart_id:
          type: string
          description: '`primary_counterpart_id` will only be included in the response if `primary_counterpart` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        primary_maven_id:
          type: string
          description: '`primary_maven_id` will only be included in the response if `primary_maven` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        primary_workspace_group_id:
          type: string
          description: '`primary_workspace_group_id` will only be included in the response if `primary_workspace_group` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        provider_lead_name:
          type: string
          description: 'The name of the team lead for the provider side of the project.

            Only returned when requested through the optional_fields param.'
        rate_card_id:
          type: integer
          format: int32
          description: The ID of the rate card for the project.
        require_expense_approvals:
          type: boolean
          description: Whether expense approvals are required in the project.
        require_notes_on_time_entries:
          type: boolean
          description: Whether notes are required on time entries logged against this project.
        require_time_approvals:
          type: boolean
          description: Whether time approvals are required in the project.
        revenue_recognition_method_id:
          type: string
          description: 'The ID of the project''s revenue recognition method, which determines how the project''s revenue is recognized and accounted for. The ID is a composite ID made up of a numerical ID (unique to each account), a colon, and the method type. For example `123:percent_complete`.

            Only returned when requested through the optional_fields param.'
        revenue_recognition_method_name:
          type: string
          description: 'The name of the project''s revenue recognition method, which determines how the project''s revenue is recognized and accounted for.

            Only returned when requested through the optional_fields param.'
        stage:
          type: string
          description: 'The stage of the project. Possible values are `estimate` or `project`.

            Only returned when requested through the optional_fields param.'
        start_date:
          type: string
          format: date
          description: The start date of the project.
        status:
          type: object
          description: 'A hash containing the status of the project.

            Visible when the authenticated user can view the project status.'
          properties:
            color:
              type: string
              description: 'The status color of the project (e.g. ''red'').

                Visible when the authenticated user can view the project status.'
            key:
              type: string
              description: 'The status key of the project (e.g. ''501'').

                Visible when the authenticated user can view the project status.'
            message:
              type: string
              description: 'The status message of the project (e.g. ''Cancelled'').

                Visible when the authenticated user can view the project status.'
        status_report_ids:
          type: array
          items:
            type: string
          description: '`status_report_ids` will only be included in the response if `status_reports` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        stories_are_fixed_fee_by_default:
          type: boolean
          description: 'Whether stories (tasks) are fixed fee by default.

            Visible when the authenticated user is a project administrator and is on the account that the project is on.'
        target_margin:
          type: number
          format: float
          description: 'The target margin of the project.

            Visible when the authenticated user is on the provider team and can either see reports on the account or has financial access in the project.'
        task_status_set_id:
          type: string
          description: The ID of the task status set assigned to the workspace.
        task_status_set_name:
          type: string
          description: The name of the task status set assigned to the workspace.
        task_statuses:
          type: array
          items:
            type: string
          description: The task statuses available in the workspace.
        tasks_default_non_billable:
          type: boolean
          description: Whether stories (tasks) are non-billable by default.
        time_trackable:
          type: boolean
          description: Whether time can be tracked against this project and its tasks.
        timesheet_submission_ids:
          type: array
          items:
            type: string
          description: '`timesheet_submission_ids` will only be included in the response if `timesheet_submissions` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        title:
          type: string
          description: The title of the project.
        total_expenses_in_cents:
          type: integer
          format: int32
          description: 'The total amount of expenses on the project, in the subunits of the currency (e.g. cents for USD).

            Visible when the authenticated user is a project administrator and is on the account that the project is on.'
        total_invoiced:
          type: string
          description: 'The total amount invoiced, in the subunits of the currency (e.g. cents for USD).

            Visible when the authenticated user can see reports on the account or has financial access in the project.


            Only returned when requested through the optional_fields param.'
        total_minutes_approved:
          type: integer
          format: int32
          description: 'The total amount of approved time entries, in minutes. Only visible if the authenticated user has financial access in the project and is on the provider team.

            Visible when the authenticated user can see total time approved in the project.


            Only returned when requested through the optional_fields param.'
        updated_at:
          type: string
          format: date-time
          description: The date that the project was last updated.
        workspace_group_ids:
          type: array
          items:
            type: string
          description: '`workspace_group_ids` will only be included in the response if `workspace_groups` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        workspace_invoice_preference_id:
          type: integer
          format: int32
          description: The ID of the workspace invoice preference which the project is associated with.
        workspace_resource_ids:
          type: array
          items:
            type: string
          description: '`workspace_resource_ids` will only be included in the response if `workspace_resources` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        workspace_resources_with_unnamed_ids:
          type: array
          items:
            type: string
          description: '`workspace_resources_with_unnamed_ids` will only be included in the response if `workspace_resources_with_unnamed` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    Errors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    FixedFeeItem:
      title: Fixed Fee Item
      type: object
      properties:
        amount_in_cents:
          type: integer
          format: int32
        created_at:
          type: string
          format: date-time
        currency:
          type: string
        notes:
          type: string
        story_id:
          type: integer
          format: int32
        taxable:
          type: boolean
        workspace_id:
          type: integer
          format: int32
    AdditionalItem:
      title: Additional Item
      type: object
      properties:
        amount_in_cents:
          type: integer
          format: int32
        created_at:
          type: string
          format: date-time
        currency:
          type: string
        notes:
          type: string
        taxable:
          type: boolean
        workspace_id:
          type: integer
          format: int32
    BillingMilestone:
      title: Billing Milestones
      description: 'Billing milestones allow you to set up billable items in a project that are separate from the Task Tracker work and have invoicing rules.

        A set of billing milestones in a project is known as the [Billing Schedule](https://knowledge.kantata.com/hc/en-us/articles/35123275585947).'
      type: object
      properties:
        amount_in_cents:
          type: integer
          format: int32
          description: The billing milestone amount, in the subunits of the currency (e.g. cents for USD).
        billing_type:
          type: string
          description: Determines how and when we bill clients for a particular billing milestone. Possible values are `fixed_date` and `upon_completion`.
        created_at:
          type: string
          format: date-time
        currency:
          type: string
          description: The [ISO code](https://knowledge.kantata.com/hc/en-us/articles/360041576473-Supported-Currency-ISO-Codes-and-Formats) of the currency of the billing milestone.
        date_to_invoice:
          type: string
          format: date
          description: When the billing milestone becomes invoiceable.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        invoice_id:
          type: string
          description: The ID of the invoice associated with the billing milestone.
        invoice_ids:
          type: array
          items:
            type: string
          description: '`invoice_ids` will only be included in the response if `invoices` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        story_id:
          type: string
          description: The ID of the story associated with the billing milestone. This field is required when the `billing_type` is set to `upon_completion`.
        title:
          type: string
          description: The title of the billing milestone.
        updated_at:
          type: string
[...]
