openapi: 3.2.0
info:
  version: 1.0.0
  title: Kantata OX API Documentation Rate Card Table Rows API
  description: Kantata OX's API provides access to the majority of Kantata OX's data model.
  termsOfService: https://www.kantata.com/terms-of-use
  contact:
    name: Kantata OX Support
    url: https://knowledge.kantata.com/hc/en-us
  license:
    name: COPYRIGHT © 2026 Kantata, Inc.
    url: https://www.kantata.com/terms-of-use
  x-logo:
    url: https://theme.zdassets.com/theme_assets/56104/04e93064d309f75d054b8cee885d1ea51e9be8f7.png
    backgroundColor: '#FFFFFF'
    altText: Kantata OX API Documentation
    href: https://developer.kantata.com
servers:
- url: https://api.mavenlink.com/api/v1
tags:
- name: Rate Card Table Rows
  description: 'Each Rate Card Table Row represents a role and its rates and currencies

    for a specific Rate Card Set Version).'
paths:
  /rate_card_set_versions/{rate_card_set_version_id}/rate_card_table_rows:
    get:
      summary: Fetch Rate Card Table Rows
      description: Returns all Rate Card Table Rows for a specified Rate Card Set Version.
      operationId: Get Rate Card Table Rows For Set Version
      tags:
      - Rate Card Table Rows
      parameters:
      - in: path
        name: rate_card_set_version_id
        required: true
        description: The ID of the Rate card set version.
        schema:
          type: integer
      responses:
        '200':
          description: A list of Rate Card Table Rows have been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                    description: The number of Rate Card Table Rows in the Rate Card Set Version.
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                        description: The number of Rate Card Table Rows in the Rate Card Set Version.
                      page_count:
                        type: integer
                        format: int32
                        description: The total number of pagination pages.
                      page_number:
                        type: integer
                        format: int32
                        description: The current pagination page.
                      page_size:
                        type: integer
                        format: int32
                        description: The number of Rate Card Table Rows in a pagination page.
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                          description: The ID of the Rate Card Table Row, defined as `<rate_card_set_version_id>`:`<role_id>`.
                  rate_card_table_rows:
                    type: object
                    description: Rate card table rows keyed by composite `<rate_card_set_version_id>:<role_id>`.
                    properties:
                      id:
                        type: string
                        description: The ID of the Rate Card Table Row, defined as `<rate_card_set_version_id>`:`<role_id>`.
                      rate_card_set_id:
                        type: integer
                        format: int32
                        description: The ID of the Rate Card Set.
                      rate_card_set_version_id:
                        type: integer
                        format: int32
                        description: The ID of the Rate Card Table Set Version.
                      role_id:
                        type: integer
                        format: int32
                        description: The ID of the Role.
                      name:
                        type: string
                        description: The name of the Role.
                      removable:
                        type: boolean
                        description: If `true`, this Rate Card Table Row is removable.
                      cells:
                        type: object
                        description: Per-currency rate cells keyed by ISO currency code.
                        properties:
                          rate_card_role_id:
                            type: integer
                            format: int32
                            description: The ID of the Rate Card Role for the specified currency.
                          rate:
                            type: integer
                            format: int32
                            description: The rate for the specified Rate Card Role.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /rate_card_set_versions/{rate_card_set_version_id}/rate_card_table_rows/{role_id}:
    delete:
      summary: Delete a Rate Card Table Row
      description: Deletes all Rate Card Roles for a specified Rate Card Set Version and Role.
      operationId: Delete Rate Card Table Row
      tags:
      - Rate Card Table Rows
      parameters:
      - in: path
        name: rate_card_set_version_id
        required: true
        description: The ID of the Rate card set version.
        schema:
          type: integer
      - in: path
        name: role_id
        required: true
        description: The ID of the Role.
        schema:
          type: integer
      responses:
        '204':
          description: Rate Card Table Row has been deleted.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    put:
      summary: Create or Update Rate Card Table Row
      description: Creates or updates a Rate Card Table Row for a specified Rate Card Set Version and Role.
      operationId: Create Or Update Rate Table Row
      tags:
      - Rate Card Table Rows
      parameters:
      - in: path
        name: rate_card_set_version_id
        required: true
        description: The ID of the Rate card set version.
        schema:
          type: integer
      - in: path
        name: role_id
        required: true
        description: The ID of the Role.
        schema:
          type: integer
      responses:
        '200':
          description: Rate Card Table Row has been updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                    description: The number of Rate Card Table Rows in the Rate Card Set Version.
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                        description: The number of Rate Card Table Rows in the Rate Card Set Version.
                      page_count:
                        type: integer
                        format: int32
                        description: The total number of pagination pages.
                      page_number:
                        type: integer
                        format: int32
                        description: The current pagination page.
                      page_size:
                        type: integer
                        format: int32
                        description: The number of Rate Card Table Rows in a pagination page.
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                          description: The ID of the Rate Card Table Row, defined as `<rate_card_set_version_id>`:`<role_id>`.
                  rate_card_table_rows:
                    type: object
                    description: Rate card table rows keyed by composite `<rate_card_set_version_id>:<role_id>`.
                    properties:
                      id:
                        type: string
                        description: The ID of the Rate Card Table Row, defined as `<rate_card_set_version_id>`:`<role_id>`.
                      rate_card_set_id:
                        type: integer
                        format: int32
                        description: The ID of the Rate Card Set.
                      rate_card_set_version_id:
                        type: integer
                        format: int32
                        description: The ID of the Rate Card Table Set Version.
                      role_id:
                        type: integer
                        format: int32
                        description: The ID of the Role.
                      name:
                        type: string
                        description: The name of the Role.
                      removable:
                        type: boolean
                        description: If `true`, this Rate Card Table Row is removable.
                      cells:
                        type: object
                        description: Per-currency rate cells keyed by ISO currency code.
                        properties:
                          rate_card_role_id:
                            type: integer
                            format: int32
                            description: The ID of the Rate Card Role for the specified currency.
                          rate:
                            type: integer
                            format: int32
                            description: The rate for the specified Rate Card Role.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rate_card_table_row:
                  type: object
                  properties:
                    rates:
                      type: array
                      description: The currencies and rates for each row.
                      items:
                        type: object
                        properties:
                          currency:
                            type: string
                            description: "The [ISO code](https://mavenlink.zendesk.com/hc/en-us/articles/360041576473)\n                of the currency."
                          rate:
                            type: integer
                            format: int32
                            description: The rate in subunits (e.g. 25000 cents = 250 dollars).
                        required:
                        - currency
                        - rate
                  required:
                  - rates
        required: true
components:
  schemas:
    Errors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    Error:
      type: object
      properties:
        type:
          type: string
        message:
          type: string
  securitySchemes:
    BearerToken:
      type: apiKey
      name: Bearer
      in: header
    OauthSecurity:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://app.mavenlink.com/oauth/authorize
          tokenUrl: https://app.mavenlink.com/oauth/token
x-tagGroups:
- name: '# Subscribed Events'
  tags:
  - Event Types
  - Events
- name: Account Locations
  tags:
  - Account Locations
- name: Account Settings & Members
  tags:
  - Access Group Memberships
  - Account Colors
  - Account Invitations
  - Account Memberships
  - Backup Approver Associations
  - Billable Utilizations
  - Cost Rates
  - Custom Branding
  - Organization Memberships
  - Organizations
  - Roles
  - Skill Categories
  - Skill Memberships
  - Skills
  - Task Status Sets
  - Task Statuses
  - User Group Memberships
  - Users
- name: Currencies
  tags:
  - Currencies
- name: Custom Fields
  tags:
  - Custom Field Choices
  - Custom Field Sets
  - Custom Field Values
  - Custom Fields
- name: Data Exporter
  tags:
  - Data Export Schema
  - Data Exports
- name: Estimates
  tags:
  - Estimate Scenario Resource Allocations
  - Estimate Scenario Resources
  - Estimate Scenarios
  - Estimates
- name: Expense Budgets
  tags:
  - Expense Budgets
- name: Expense Tracking
  tags:
  - Attachments
  - Expense Categories
  - Expense Report Submissions
  - Expenses
  - Vendors
- name: External References
  tags:
  - External References
- name: Financials
  tags:
  - Billing Milestones
  - Revenue Recognition Methods
- name: Foreign Exchange
  tags:
  - Exchange Tables
- name: Insights & Analytics
  tags:
  - Insights Access Group Memberships
  - Insights Dynamic Dashboards
  - Insights Report Exports
  - Insights Reports
- name: Invoices
  tags:
  - Client Invoice Defaults
  - External Payments
  - Invoices
  - Workspace Invoice Preferences
- name: Personal Settings
  tags:
  - Users
- name: Posts & Replies
  tags:
  - Attachments
  - Posts
  - User File Associations
- name: Project Snapshots
  tags:
  - Project Snapshots
- name: Project Templates
  tags:
  - Project Template Additional Tabs
  - Project Template Assignments
  - Project Template Expense Budgets
  - Project Templates
- name: Projects
  tags:
  - Participations
  - Project Accounting Records
  - Status Reports
  - Workspace Allocations
  - Workspace Baselines
  - Workspace Groups
  - Workspace Invoice Preferences
  - Workspace Resource Skills
  - Workspace Resources
  - Workspace Status Changes
  - Workspace Task Status Sets
  - Workspaces
- name: Rate Cards
  tags:
  - Activations
  - Rate Card Role (Rate for a Role)
  - Rate Card Set Version (Effective version by Date)
  - Rate Card Sets (Group of Rate Cards)
  - Rate Card Table Rows
  - Rate Card Versions
  - Rate Cards (Multiple Currencies)
- name: Recommendations
  tags:
  - Recommendations
- name: Resource Requests
  tags:
  - Resource Requests
- name: Scheduling
  tags:
  - Holiday Calendar Associations
  - Holiday Calendar Memberships
  - Holiday Calendars
  - Holidays
  - Time Off Entries
  - Workweek Memberships
  - Workweeks
- name: Surveys (Legacy)
  tags:
  - Survey Answers (Legacy)
  - Survey Questions (Legacy)
  - Survey Templates (Legacy)
  - Surveys Responses (Legacy)
- name: Tasks
  tags:
  - Assignments
  - Daily Scheduled Hours (Story Allocation Days)
  - Followers
  - Stories
  - Story Dependencies
  - Story State Changes
  - Story Tasks
- name: Time Tracking
  tags:
  - Line Item Locks
  - Time Entries
  - Timesheet Approvals
  - Timesheet Cancellations
  - Timesheet Rejections
  - Timesheet Submissions
