openapi: 3.2.0
info:
  version: 1.0.0
  title: Kantata OX API Documentation Rate Card Set Version…
  description: Kantata OX's API provides access to the majority of Kantata OX's data model.
  termsOfService: https://www.kantata.com/terms-of-use
  contact:
    name: Kantata OX Support
    url: https://knowledge.kantata.com/hc/en-us
  license:
    name: COPYRIGHT © 2026 Kantata, Inc.
    url: https://www.kantata.com/terms-of-use
  x-logo:
    url: https://theme.zdassets.com/theme_assets/56104/04e93064d309f75d054b8cee885d1ea51e9be8f7.png
    backgroundColor: '#FFFFFF'
    altText: Kantata OX API Documentation
    href: https://developer.kantata.com
servers:
- url: https://api.mavenlink.com/api/v1
tags:
- name: Rate Card Set Version (Effective version by Date)
  description: 'In the Rate Card system, Rate Card Set Versions represent snapshots of a Rate Card Set,

    that take effect on the set published date.'
paths:
  /rate_card_set_versions:
    get:
      summary: Fetching a list of Rate Card Set Versions
      description: 'Rate Card Set Versions are only accessible to Administrators on the account.


        This endpoint returns structured Rate Card Set Version objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `rate_card_set_versions` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Rate Card Set Versions
      tags:
      - Rate Card Set Version (Effective version by Date)
      parameters:
      - in: query
        name: created_after
        description: Filter for records created after a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: created_before
        description: Filter for records created before a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: effective_on_date
        description: 'Returns Rate Card Set Versions that are effective on the requested date.

          The date should be in `<ISO_8601 Date Format>` eg. `''2014-02-25''`. The date must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.'
        schema:
          type: string
          format: date
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `rate_card_set` (RateCardSet) - The Rate Card Set this version belongs to.

          - `rate_card_versions` (RateCardVersion) - The Rate Card Version of each Rate Card defined on the Rate Card Set.'
        schema:
          type: string
      - in: query
        name: only
        description: 'Allows you to request one or more resources directly by ID. Multiple IDs can be supplied

          in a comma separated list, like `GET /api/v1/workspaces.json?only=5,6,7`.'
        schema:
          type: string
      - in: query
        name: order
        description: 'Supply `order` with the name of a valid sort field for the endpoint and a direction.


          Valid values: `created_at:asc` and `created_at:desc`.'
        schema:
          type: string
          default: created_at:asc
      - in: query
        name: page
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        schema:
          type: integer
          format: int32
          default: 20
          maximum: 200
      - in: query
        name: rate_card_set_id
        description: Restricts Rate Card Set Versions to the specified Rate Card Set.
        schema:
          type: integer
          format: int32
      - in: query
        name: updated_after
        description: Filter for records updated after a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: updated_before
        description: Filter for records updated before a specified datetime. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: A list of Rate Card Set Versions have been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  rate_card_set_versions:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardSetVersion'
                  rate_card_sets:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardSet'
                  rate_card_versions:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardVersion'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    post:
      summary: Creating a new Rate Card Set Version
      description: 'Rate Card Set Versions can only created by an Administrator on the account.


        Creating/Cloning a Rate Card Set Version on a Rate Card Set, does the following:

        - Creates/Clones a Rate Card Version for each existing Rate Card on the associated Rate Card Set.

        - Creates/Clones necessary associations for each Rate Card Version.


        This endpoint returns structured Rate Card Set Version objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `rate_card_set_versions` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Create Rate Card Set Version
      tags:
      - Rate Card Set Version (Effective version by Date)
      parameters:
      - in: query
        name: clone_id
        required: false
        description: The ID of the Rate Card Set Version to be cloned.
        schema:
          type: integer
          format: int32
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `rate_card_set` (RateCardSet) - The Rate Card Set this version belongs to.

          - `rate_card_versions` (RateCardVersion) - The Rate Card Version of each Rate Card defined on the Rate Card Set.'
        schema:
          type: string
      responses:
        '200':
          description: Rate Card Set Version has been created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  rate_card_set_versions:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardSetVersion'
                  rate_card_sets:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardSet'
                  rate_card_versions:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardVersion'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rate_card_set_version:
                  type: object
                  properties:
                    rate_card_set_id:
                      type: integer
                      format: int32
                      description: The ID of the Rate Card Set to which this version belongs.
                    effective_date:
                      type: string
                      format: date
                      description: The date from the which the current rate card set version takes effect. This will default to today. The date must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
                  required:
                  - rate_card_set_id
        required: true
  /rate_card_set_versions/{id}:
    get:
      summary: Fetching a single Rate Card Set Version
      description: 'A Rate Card Set Version is only accessible to an Administrator on the account.


        This endpoint returns structured Rate Card Set Version objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `rate_card_set_versions` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Rate Card Set Version
      tags:
      - Rate Card Set Version (Effective version by Date)
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `rate_card_set` (RateCardSet) - The Rate Card Set this version belongs to.

          - `rate_card_versions` (RateCardVersion) - The Rate Card Version of each Rate Card defined on the Rate Card Set.'
        schema:
          type: string
      responses:
        '200':
          description: The Rate Card Set Version has been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  rate_card_set_versions:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardSetVersion'
                  rate_card_sets:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardSet'
                  rate_card_versions:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardVersion'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    put:
      summary: Updating an existing Rate Card Set Version
      description: 'A Rate Card Set Version can only be modified when the effective date is in the future, or when it is not yet

        published.


        This endpoint returns structured Rate Card Set Version objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `rate_card_set_versions` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Update Rate Card Set Version
      tags:
      - Rate Card Set Version (Effective version by Date)
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `rate_card_set` (RateCardSet) - The Rate Card Set this version belongs to.

          - `rate_card_versions` (RateCardVersion) - The Rate Card Version of each Rate Card defined on the Rate Card Set.'
        schema:
          type: string
      responses:
        '200':
          description: Rate Card Set Version has been updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  rate_card_set_versions:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardSetVersion'
                  rate_card_sets:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardSet'
                  rate_card_versions:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/RateCardVersion'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rate_card_set_version:
                  type: object
                  properties:
                    effective_date:
                      type: string
                      format: date
                      description: The date from the which the current Rate Card Set Version takes effect. The date must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        required: true
    delete:
      summary: Deleting an existing Rate Card Set Version
      description: 'The response will contain no content and an HTTP 204 status code if the request was

        successful, or a standard Kantata OX error message explaining why the object could not be deleted.'
      operationId: Delete Rate Card Set Version
      tags:
      - Rate Card Set Version (Effective version by Date)
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      responses:
        '204':
          description: Rate Card Set Version has been deleted.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /rate_card_set_versions/{id}/publish:
    put:
      summary: Publish a Rate Card Set Version
      description: 'Publishing a Rate Card Set Version means activating the version from the set effective date.

        A Rate Card Set Version can be published to any future date, but cannot be published on the same

        effective date as another Rate Card Set Version on the same Rate Card Set. Once published, a Rate Card

        Set Version cannot be unpublished.


        This endpoint returns structured Rate Card Set Version objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `rate_card_set_versions` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Publish Rate Card Set Version
      tags:
      - Rate Card Set Version (Effective version by Date)
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: 'Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.

          - `rate_card_set` (RateCardSet) - The Rate Card Set this version belongs to.

          - `rate_card_versions` (RateCardVersion) - The Rate Card Version of each Rate Card defined on the Rate Card Set.'
        schema:
          type: string
      responses:
        '200':
          description: Rate Card Set Version has been updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  activated:
                    type: boolean
                    description: Indicates whether the Rate Card Set Version has been published.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
components:
  schemas:
    RateCardSet:
      title: Rate Card Set
      description: 'A Rate Card Set represents a group of Rate Cards with multiple currencies, that

        can be bundled together. A Rate Card Set belongs to an account, and can have several Rate Card Set Versions, each representing the

        the effective version for a specified date.'
      type: object
      properties:
        account_default:
          type: boolean
          description: Whether the Rate Card Set is an account default.
        active_currencies:
          type: array
          items:
            type: string
          description: Includes only currencies that belong to published Rate Card Set Versions.
        created_at:
          type: string
          format: date-time
        default_currencies:
          type: array
          items:
            type: string
          description: Includes only currencies that belong to published Rate Card Set Versions on the account default Rate Card Set.
        destroyable:
          type: boolean
          description: Whether the Rate Card Set can be deleted.
        rate_card_ids:
          type: array
          items:
            type: string
          description: '`rate_card_ids` will only be included in the response if `rate_cards` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        rate_card_set_version_ids:
          type: array
          items:
            type: string
          description: '`rate_card_set_version_ids` will only be included in the response if `rate_card_set_versions` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        title:
          type: string
          description: The title of the Rate Card Set.
        updated_at:
          type: string
          format: date-time
        workspace_group_ids:
          type: array
          items:
            type: string
          description: '`workspace_group_ids` will only be included in the response if `workspace_groups` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    Error:
      type: object
      properties:
        type:
          type: string
        message:
          type: string
    Errors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    RateCardSetVersion:
      title: Rate Card Set Version
      description: "Rate Card Set Versions represent a snapshot of a Rate Card Set\n  which takes effect on the set published date. A Rate Card Set Version owns a copy of each Rate Card Version\n   of a Rate Card on the associated Rate Card Set.\nRate Card Set Versions are only accessible, editable and publishable by Administrators on the account."
      type: object
      properties:
        active:
          type: boolean
          description: Whether the Rate Card Set Version is published.
        created_at:
          type: string
          format: date-time
        effective_date:
          type: string
          format: date
          description: The date on which the Rate Card Set Version take effect.
        rate_card_set_id:
          type: string
          description: '`rate_card_set_id` will only be included in the response if `rate_card_set` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        rate_card_version_ids:
          type: array
          items:
            type: string
          description: '`rate_card_version_ids` will only be included in the response if `rate_card_versions` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        updated_at:
          type: string
          format: date-time
        used_currencies:
          type: array
          items:
            type: string
          description: Available currencies on Rate Cards associated with this Rate Card Set Version.
    RateCardVersion:
      title: Rate Card Version
      description: 'A Rate Card Version represents a snapshot of a Rate Card at a specified point in time and is used to set the

        default rate. It belongs to a Rate Card Set Version and can own many Rate Card Roles.


        The default Rate is the Rate applied for any Roles that do not explicitly have a Rate set.'
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        default_rate:
          type: integer
          format: int32
          description: The default Rate for any Role that does not explicitly have a Rate associated with it.
        rate_card_id:
          type: string
          description: '`rate_card_id` will only be included in the response if `rate_card` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        rate_card_role_ids:
          type: array
          items:
            type: string
          description: '`rate_card_role_ids` will only be included in the response if `rate_card_roles` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        rate_card_set_version_id:
          type: string
          description: '`rate_card_set_version_id` will only be included in the response if `rate_card_set_version` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        updated_at:
          type: string
          format: date-time
  securitySchemes:
    BearerToken:
      type: apiKey
      name: Bearer
      in: header
    OauthSecurity:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://app.mavenlink.com/oauth/authorize
          tokenUrl: https://app.mavenlink.com/oauth/token
x-tagGroups:
- name: '# Subscribed Events'
  tags:
  - Event Types
  - Events
- name: Account Locations
  tags:
  - Account Locations
- name: Account Settings & Members
  tags:
  - Access Group Memberships
  - Account Colors
  - Account Invitations
  - Account Memberships
  - Backup Approver Associations
  - Billable Utilizations
  - Cost Rates
  - Custom Branding
  - Organization Memberships
  - Organizations
  - Roles
  - Skill Categories
  - Skill Memberships
  - Skills
  - Task Status Sets
  - Task Statuses
  - User Group Memberships
  - Users
- name: Currencies
  tags:
  - Currencies
- name: Custom Fields
  tags:
  - Custom Field Choices
  - Custom Field Sets
  - Custom Field Values
  - Custom Fields
- name: Data Exporter
  tags:
  - Data Export Schema
  - Data Exports
- name: Estimates
  tags:
  - Estimate Scenario Resource Allocations
  - Estimate Scenario Resources
  - Estimate Scenarios
  - Estimates
- name: Expense Budgets
  tags:
  - Expense Budgets
- name: Expense Tracking
  tags:
  - Attachments
  - Expense Categories
  - Expense Report Submissions
  - Expenses
  - Vendors
- name: External References
  tags:
  - External References
- name: Financials
  tags:
  - Billing Milestones
  - Revenue Recognition Methods
- name: Foreign Exchange
  tags:
  - Exchange Tables
- name: Insights & Analytics
  tags:
  - Insights Access Group Memberships
  - Insights Dynamic Dashboards
  - Insights Report Exports
  - Insights Reports
- name: Invoices
  tags:
  - Client Invoice Defaults
  - External Payments
  - Invoices
  - Workspace Invoice Preferences
- name: Personal Settings
  tags:
  - Users
- name: Posts & Replies
  tags:
  - Attachments
  - Posts
  - User File Associations
- name: Project Snapshots
  tags:
  - Project Snapshots
- name: Project Templates
  tags:
  - Project Template Additional Tabs
  - Project Template Assignments
  - Project Template Expense Budgets
  - Project Templates
- name: Projects
  tags:
  - Participations
  - Project Accounting Records
  - Status Reports
  - Workspace Allocations
  - Workspace Baselines
  - Workspace Groups
  - Workspace Invoice Preferences
  - Workspace Resource Skills
  - Workspace Resources
  - Workspace Status Changes
  - Workspace Task Status Sets
  - Workspaces
- name: Rate Cards
  tags:
  - Activations
  - Rate Card Role (Rate for a Role)
  - Rate Card Set Version (Effective version by Date)
  - Rate Card Sets (Group of Rate Cards)
  - Rate Card Table Rows
  - Rate Card Versions
  - Rate Cards (Multiple Currencies)
- name: Recommendations
  tags:
  - Recommendations
- name: Resource Requests
  tags:
  - Resource Requests
- name: Scheduling
  tags:
  - Holiday Calendar Associations
  - Holiday Calendar Memberships
  - Holiday Calendars
  - Holidays
  - Time Off Entries
  - Workweek Memberships
  - Workweeks
- name: Surveys (Legacy)
  tags:
  - Survey Answers (Legacy)
  - Survey Questions (Legacy)
  - Survey Templates (Legacy)
  - Surveys Responses (Legacy)
- name: Tasks
  tags:
  - Assignments
  - Daily Scheduled Hours (Story Allocation Days)
  - Followers
  - Stories
  - Story Dependencies
  - Story State Changes
  - Story Tasks
- name: Time Tracking
  tags:
  - Line Item Locks
  - Time Entries
  - Timesheet Approvals
  - Timesheet Cancellations
  - Timesheet Rejections
  - Timesheet Submissions
