openapi: 3.2.0
info:
  version: 1.0.0
  title: Kantata OX API Documentation Project Accounting Records API
  description: Kantata OX's API provides access to the majority of Kantata OX's data model.
  termsOfService: https://www.kantata.com/terms-of-use
  contact:
    name: Kantata OX Support
    url: https://knowledge.kantata.com/hc/en-us
  license:
    name: COPYRIGHT © 2026 Kantata, Inc.
    url: https://www.kantata.com/terms-of-use
  x-logo:
    url: https://theme.zdassets.com/theme_assets/56104/04e93064d309f75d054b8cee885d1ea51e9be8f7.png
    backgroundColor: '#FFFFFF'
    altText: Kantata OX API Documentation
    href: https://developer.kantata.com
servers:
- url: https://api.mavenlink.com/api/v1
tags:
- name: Project Accounting Records
  description: 'The Project Accounting

    Records object allows you to view, create, and delete financial records

    related to revenue recognition, forecasting, and earned value.'
paths:
  /project_accounting_records:
    get:
      summary: Fetching a list of Project Accounting Records
      description: 'Returns all project accounting records (`Baseline`, `Earned Value`, `Earned Value Forecasting`,

        `Forecasting`, and `Recognition`), unless filter parameters have been applied.


        This endpoint returns structured Project Accounting Records objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `project_accounting_records` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Project Accounting Records
      tags:
      - Project Accounting Records
      parameters:
      - in: query
        name: created_at
        required: false
        description: Filters for records created on or after the specified date (e.g. `GET /api/v1/project_accounting_records.json?created_at=2014-02-25`). The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
        schema:
          type: string
          format: date-time
      - in: query
        name: end_date
        required: false
        description: 'Filters for records with accounting periods that end on specified dates.


          You can filter for records with an accounting period that ends...

          * within a date range, with a pair of semicolon-separated dates (e.g. `2019-09-14;2019-09-15`),

          * on or _after_ a date, with only the date before the semicolon (e.g. `2019-09-14;`),

          * on or _before_ a date, with only the date after the semicolon (e.g. `;2019-09-14`). The date must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.'
        schema:
          type: string
          format: date
      - in: query
        name: external_reference_external_message
        description: Filter the objects based on the external message of their associated external references. This is an exact match.
        schema:
          type: string
      - in: query
        name: external_reference_external_status
        description: Filter by the status of the external object in the external system.
        schema:
          type: string
      - in: query
        name: external_reference_service_model
        description: Filter by the type of the external object this external reference belongs to.
        schema:
          type: string
      - in: query
        name: external_reference_service_model_ref
        description: Filter by the id of the external object this external reference belongs to.
        schema:
          type: integer
          format: int32
      - in: query
        name: external_reference_service_model_refs
        description: Filter for objects that correlate to the specified external object IDs. Provide a comma-separated list of up to 200 external IDs.
        schema:
          type: string
      - in: query
        name: external_reference_service_name
        description: Filter by the name of the provider for integration.
        schema:
          type: string
      - in: query
        name: external_reference_status
        description: Filter by the status of the integration, this can be successful or fail.
        schema:
          type: string
      - in: query
        name: has_external_references
        description: Filter by whether or not the object has external references.
        schema:
          type: boolean
      - in: query
        name: ids
        required: false
        description: "Filters for records with the specified IDs. Give multiple record IDs\n            in a comma-separated list (e.g. `GET /api/v1/project_accounting_records.json?ids=55,16,73`)."
        schema:
          type: array
          items:
            type: integer
            format: int32
      - in: query
        name: include
        description: "Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.\n- `external_references` (ExternalReference) - Includes references to external integrations for this object.\n- `role` (Role) - Includes the ID of the role associated with the record.\n- `story` (Story) - Includes the ID of the task related to the record.\n- `user` (User) - Includes the ID(s) of user(s) associated with the record\n                    (e.g. who created the record, who the record was created for, etc.).\n- `workspace` (Workspace) - Includes the ID of the project the record belongs to."
        schema:
          type: string
      - in: query
        name: only
        description: 'Allows you to request one or more resources directly by ID. Multiple IDs can be supplied

          in a comma separated list, like `GET /api/v1/workspaces.json?only=5,6,7`.'
        schema:
          type: string
      - in: query
        name: page
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        schema:
          type: integer
          format: int32
          default: 20
          maximum: 200
      - in: query
        name: show_deleted
        required: false
        description: If `true`, returns only deleted project accounting records. Set to `false` by default.
        schema:
          type: boolean
      - in: query
        name: start_date
        required: false
        description: 'Filters for records with accounting periods that begin on specified dates.


          You can filter for records with an accounting period that begins...

          * within a date range, with a pair of semicolon-separated dates (e.g. `2019-09-14;2019-09-15`),

          * on or _after_ a date, with only the date before the semicolon (e.g. `2019-09-14;`),

          * on or _before_ a date, with only the date after the semicolon (e.g. `;2019-09-14`). The date must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.'
        schema:
          type: string
          format: date
      - in: query
        name: status
        required: false
        description: 'Filters for records with the specified status.


          Valid values: `Draft`, `Pending Approval`, `Approved`, `Cancelled`.


          *Note:* Records without a status cannot be returned with this filter.'
        schema:
          type: array
          items:
            type: string
      - in: query
        name: type
        description: "Only includes Project Accounting Records of the specified type.\n                    Valid values: `Baseline`, `Earned Value`, `Earned Value Forecasting`, `Forecasting`, `Recognition`."
        schema:
          type: string
      - in: query
        name: user_id
        description: Only includes Project Accounting Records for the specified user_id.
        schema:
          type: integer
          format: int32
      - in: query
        name: without_external_reference_service_name
        description: Exclude by the existence of an external reference with the specified service name.
        schema:
          type: string
      - in: query
        name: workspace_ids
        required: false
        description: "Filters for records from projects with the specified IDs. Give multiple project IDs\n            in a comma-separated list (e.g. `GET /api/v1/project_accounting_records.json?workspace_ids=25344,76545`)."
        schema:
          type: array
          items:
            type: integer
            format: int32
      responses:
        '200':
          description: A list of Project Accounting Records have been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  project_accounting_records:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ProjectAccounting__Models__ProjectAccountingRecord'
                  external_references:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ExternalReference'
                  workspaces:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Workspace'
                  stories:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Story'
                  roles:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Role'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    post:
      summary: Creating a new Project Accounting Records
      description: 'Creates a single or multiple project accounting records.


        This endpoint returns structured Project Accounting Records objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `project_accounting_records` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Create Project Accounting Record
      tags:
      - Project Accounting Records
      parameters:
      - in: query
        name: include
        description: "Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.\n- `external_references` (ExternalReference) - Includes references to external integrations for this object.\n- `role` (Role) - Includes the ID of the role associated with the record.\n- `story` (Story) - Includes the ID of the task related to the record.\n- `user` (User) - Includes the ID(s) of user(s) associated with the record\n                    (e.g. who created the record, who the record was created for, etc.).\n- `workspace` (Workspace) - Includes the ID of the project the record belongs to."
        schema:
          type: string
      responses:
        '200':
          description: Project Accounting Records has been created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  project_accounting_records:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ProjectAccounting__Models__ProjectAccountingRecord'
                  external_references:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ExternalReference'
                  workspaces:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Workspace'
                  stories:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Story'
                  roles:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Role'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                project_accounting_record:
                  type: object
                  description: A single project accounting record and its attributes.
                  properties:
                    workspace_id:
                      type: integer
                      format: int32
                      description: The ID of the project the record belongs to.
                    start_date:
                      type: string
                      format: date
                      description: "The date the accounting period begins,\n        in ISO8601 format (e.g. `2014-06-25`). The date must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format."
                    end_date:
                      type: string
                      format: date
                      description: "The date the accounting period ends,\n        in ISO8601 format (e.g. `2014-02-25`). The date must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format."
                    currency:
                      type: string
                      description: "The currency of the record. Valid values are\n        [ISO codes of currencies supported by Kantata OX](https://mavenlink.zendesk.com/hc/en-us/articles/360041576473)."
                    type:
                      type: string
                      description: 'The type of project accounting record:

                        * `Baseline`

                        * `Earned Value`

                        * `Earned Value Forecasting`

                        * `Forecasting`

                        * `Recognition` (Default)


                        If not specified, a `Recognition` record is created by default.


                        **Note:** Make sure to include the spaces in `Earned Value` and `Earned Value Forecasting`

                        when making a request.'
                    amount:
                      type: number
                      format: float
                      description: "The amount being calculated for baseline, forecasting,\n        earned value, earned value forecasting, or revenue recognition within the specified accounting period,\n        up to 2 decimal places (e.g. 575.75).\n        Values can also be negative (e.g. -96.75)."
                    amount_to_date:
                      type: number
                      format: float
                      description: "The total amount spent to date\n        (for all accounting periods), up to 2 decimal places (e.g. 1252.33).\n        Values can also be negative (e.g. -83.33)."
                    budget:
                      type: number
                      format: float
                      description: "The budget of the project or task,\n        up to 2 decimal places (e.g. 2457.52). Values can also be negative (e.g. -350.52)."
                    contract_date:
                      type: string
                      format: date
                      description: "This can be a contract's start or end date in ISO8601 format,\n        or any other date a user prefers. The date must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format."
                    cost:
                      type: number
                      format: float
                      description: "The cost of the project or task within the specified accounting period,\n        up to 2 decimal places (e.g. 3003.56). Values can also be negative (e.g. -350.72)."
                    cost_eac:
                      type: number
                      format: float
                      description: "The\n        [estimated cost](https://mavenlink.zendesk.com/hc/en-us/articles/360004619334-Project-Completion-Estimates)\n        of the project or task when it is completed, up to 2 decimal places (e.g. 8326.55).\n        Values can also be negative (e.g. -426.55).\n        This updates during the course of a project or task, as costs are logged."
                    description:
                      type: string
                      description: "This can be a brief description of the record,\n        or anything a user prefers."
                    fees:
                      type: number
                      format: float
                      description: "The fees from the specified accounting period,\n        up to 2 decimal places (e.g. 324.53). Values can also be negative (e.g. -41.53)."
                    hours:
                      type: number
                      format: float
                      description: "The [hours](https://mavenlink.zendesk.com/hc/en-us/articles/360059325413)\n        spent within the specified accounting period, up to 2 decimal places (e.g. 23.25).\n        Values can also be negative (e.g. -7.25)."
                    hours_eac:
                      type: number
                      format: float
                      description: "The\n        [estimated hours](https://mavenlink.zendesk.com/hc/en-us/articles/360004619334-Project-Completion-Estimates)\n        for the project or task when it is completed, up to 2 decimal places (e.g. 82.25).\n        Values can also be negative (e.g. -22.25).\n        This updates during the course of a project or task, as hours are logged."
                    hours_etc:
                      type: number
                      format: float
                      description: "The\n        [estimated hours](https://mavenlink.zendesk.com/hc/en-us/articles/360004619334-Project-Completion-Estimates)\n        until completion (`hours_eac` - `hours`) of the project or task, up to two decimal places (e.g. 53.25).\n        Values can also be negative (e.g. -10.25)."
                    total_estimated_hours:
                      type: number
                      format: float
                      description: "The hours initially estimated for the project or task,\n        up to 2 decimal places (e.g. 83.50). Values can also be negative (e.g. -12.25).\n        This value does not change over the course of a project."
                    total_hours_to_date:
                      type: number
                      format: float
                      description: "The total hours logged to date for the project or task,\n        up to 2 decimal places (e.g. 32.25). Values can also be negative (e.g. -5.75)."
                    labor_type:
                      type: string
                      description: "The type of cost associated with the record.\n        Valid values are `Labor` or `Non-Labor`."
                    notes:
                      type: string
                      description: This can be any extra information to note about the record.
                    percent_complete:
                      type: number
                      format: float
                      description: "How much of the project or task is complete\n        in decimal format, up to 2 places (e.g. 0.75). Values can also be negative (e.g. -.25)."
                    role_id:
                      type: integer
                      format: int32
                      description: The ID of the role associated with the record.
                    service_type:
                      type: string
                      description: "This can be an organization-specific category of services\n        that is related to the record (e.g. Branding, Campaigns, Photography, etc.)."
                    status:
                      type: string
                      description: "The status of the record.\n        Valid values: `Draft`, `Pending Approval`, `Approved`, `Cancelled`."
                    story_id:
                      type: integer
                      format: int32
                      description: The ID of the task related to the record.
                    user_id:
                      type: integer
                      format: int32
                      description: "The ID of the user associated with the record\n        (e.g. who created the record, who the record was created for, etc.)."
                    external_reference:
                      type: object
                      description: 'Typically populated programmatically by a third party system via an integration, this is an optional

                        object that holds data from an external system. It connects objects in an external system with objects in

                        Kantata OX (for example, to connect a Jira issue to a Kantata OX Project).'
                      properties:
                        service_name:
                          type: string
                          description: The provider name of the integration. If you are adding multiple external references to the same object, the `service_name` must be unique.
                        service_model:
                          type: string
                          description: The object type of the external object this external reference belongs to.
                        service_model_ref:
                          type: string
                          description: The object ID of the external object this external reference belongs to.
                        status:
                          type: string
                          description: The status of the integration. Options are `successful`, `pending`,  or `failed`.
                        external_message:
                          type: string
                          description: The message on the external object.
                        external_link:
                          type: string
                          description: The link to the external object.
                        external_status:
                          type: string
                          description: The status of the external object in the external system.
                        locked:
                          type: boolean
                          description: Whether the subject is locked.
                      required:
                      - service_name
                      - service_model
                      - service_model_ref
                  required:
                  - workspace_id
                  - start_date
                  - end_date
                  - currency
                project_accounting_records:
                  type: array
                  description: Multiple project accounting records and their attributes in an array.
                  items:
                    type: object
                    properties:
                      workspace_id:
                        type: integer
                        format: int32
                        description: The ID of the project the record belongs to.
                      start_date:
                        type: string
                        format: date
                        description: "The date the accounting period begins,\n        in ISO8601 format (e.g. `2014-06-25`). The date must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format."
                      end_date:
                        type: string
                        format: date
                        description: "The date the accounting period ends,\n        in ISO8601 format (e.g. `2014-02-25`). The date must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format."
                      currency:
                        type: string
                        description: "The currency of the record. Valid values are\n        [ISO codes of currencies supported by Kantata OX](https://mavenlink.zendesk.com/hc/en-us/articles/360041576473)."
                      type:
                        type: string
                        description: 'The type of project accounting record:

                          * `Baseline`

                          * `Earned Value`

                          * `Earned Value Forecasting`

                          * `Forecasting`

                          * `Recognition` (Default)


                          If not specified, a `Recognition` record is created by default.


                          **Note:** Make sure to include the spaces in `Earned Value` and `Earned Value Forecasting`

                          when making a request.'
                      amount:
                        type: number
                        format: float
                        description: "The amount being calculated for baseline, forecasting,\n        earned value, earned value forecasting, or revenue recognition within the specified accounting period,\n        up to 2 decimal places (e.g. 575.75).\n        Values can also be negative (e.g. -96.75)."
                      amount_to_date:
                        type: number
                        format: float
                        description: "The total amount spent to date\n        (for all accounting periods), up to 2 decimal places (e.g. 1252.33).\n        Values can also be negative (e.g. -83.33)."
                      budget:
                        type: number
                        format: float
                        description: "The budget of the project or task,\n        up to 2 decimal places (e.g. 2457.52). Values can also be negative (e.g. -350.52)."
                      contract_date:
                        type: string
                        format: date
                        description: "This can be a contract's start or end date in ISO8601 format,\n        or any other date a user prefers. The date must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format."
                      cost:
                        type: number
                        format: float
                        description: "The cost of the project or task within the specified accounting period,\n        up to 2 decimal places (e.g. 3003.56). Values can also be negative (e.g. -350.72)."
                      cost_eac:
                        type: number
                        format: float
                        description: "The\n        [estimated cost](https://mavenlink.zendesk.com/hc/en-us/articles/360004619334-Project-Completion-Estimates)\n        of the project or task when it is completed, up to 2 decimal places (e.g. 8326.55).\n        Values can also be negative (e.g. -426.55).\n        This updates during the course of a project or task, as costs are logged."
                      description:
                        type: string
                        description: "This can be a brief description of the record,\n        or anything a user prefers."
                      fees:
                        type: number
                        format: float
                        description: "The fees from the specified accounting period,\n        up to 2 decimal places (e.g. 324.53). Values can also be negative (e.g. -41.53)."
                      hours:
                        type: number
                        format: float
                        description: "The [hours](https://mavenlink.zendesk.com/hc/en-us/articles/360059325413)\n        spent within the specified accounting period, up to 2 decimal places (e.g. 23.25).\n        Values can also be negative (e.g. -7.25)."
                      hours_eac:
                        type: number
                        format: float
                        description: "The\n        [estimated hours](https://mavenlink.zendesk.com/hc/en-us/articles/360004619334-Project-Completion-Estimates)\n        for the project or task when it is completed, up to 2 decimal places (e.g. 82.25).\n        Values can also be negative (e.g. -22.25).\n        This updates during the course of a project or task, as hours are logged."
                      hours_etc:
                        type: number
                        format: float
                        description: "The\n        [estimated hours](https://mavenlink.zendesk.com/hc/en-us/articles/360004619334-Project-Completion-Estimates)\n        until completion (`hours_eac` - `hours`) of the project or task, up to two decimal places (e.g. 53.25).\n        Values can also be negative (e.g. -10.25)."
                      total_estimated_hours:
                        type: number
                        format: float
                        description: "The hours initially estimated for the project or task,\n        up to 2 decimal places (e.g. 83.50). Values can also be negative (e.g. -12.25).\n        This value does not change over the course of a project."
                      total_hours_to_date:
                        type: number
                        format: float
                        description: "The total hours logged to date for the project or task,\n        up to 2 decimal places (e.g. 32.25). Values can also be negative (e.g. -5.75)."
                      labor_type:
                        type: string
                        description: "The type of cost associated with the record.\n        Valid values are `Labor` or `Non-Labor`."
                      notes:
                        type: string
                        description: This can be any extra information to note about the record.
                      percent_complete:
                        type: number
                        format: float
                        description: "How much of the project or task is complete\n        in decimal format, up to 2 places (e.g. 0.75). Values can also be negative (e.g. -.25)."
                      role_id:
                        type: integer
                        format: int32
                        description: The ID of the role associated with the record.
                      service_type:
                        type: string
                        description: "This can be an organization-specific category of services\n        that is related to the record (e.g. Branding, Campaigns, Photography, etc.)."
                      status:
                        type: string
                        description: "The status of the record.\n        Valid values: `Draft`, `Pending Approval`, `Approved`, `Cancelled`."
                      story_id:
                        type: integer
                        format: int32
                        description: The ID of the task related to the record.
                      user_id:
                        type: integer
                        format: int32
                        description: "The ID of the user associated with the record\n        (e.g. who created the record, who the record was created for, etc.)."
                      external_reference:
                        type: object
                        description: 'Typically populated programmatically by a third party system via an integration, this is an optional

                          object that holds data from an external system. It connects objects in an external system with objects in

                          Kantata OX (for example, to connect a Jira issue to a Kantata OX Project).'
                        properties:
                          service_name:
                            type: string
                            description: The provider name of the integration. If you are adding multiple external references to the same object, the `service_name` must be unique.
                          service_model:
                            type: string
                            description: The object type of the external object this external reference belongs to.
                          service_model_ref:
                            type: string
                            description: The object ID of the external object this external reference belongs to.
                          status:
                            type: string
                            description: The status of the integration. Options are `successful`, `pending`,  or `failed`.
                          external_message:
                            type: string
                            description: The message on the external object.
                          external_link:
                            type: string
                            description: The link to the external object.
                          external_status:
                            type: string
                            description: The status of the external object in the external system.
                          locked:
                            type: boolean
                            description: Whether the subject is locked.
                        required:
                        - service_name
                        - service_model
                        - service_model_ref
                    required:
                    - workspace_id
                    - start_date
                    - end_date
                    - currency
        required: true
  /project_accounting_records/delete:
    put:
      summary: Soft Deleting a Project Accounting Record
      description: 'Soft deletes a specified project accounting record. View deleted records by

        Fetching a list of Project Accounting Records with the `show_deleted` filter set to `true`.


        This endpoint returns structured Project Accounting Records objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `project_accounting_records` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Soft Delete Project Accounting Record
      tags:
      - Project Accounting Records
      parameters:
      - in: query
        name: csv_file
        required: false
        description: "The ID(s) of record(s) to delete, in a\n            [.csv file](https://app.mavenlink.com/sample_remove_project_accounting_records.csv)\n            with rows/lines of ID numbers under a header of `ID`."
        style: form
        explode: false
        schema:
          type: string
      - in: query
        name: ids
        required: false
        description: The ID(s) of record(s) to delete, in an array.
        schema:
          type: array
          items:
            type: string
      - in: query
        name: include
        description: "Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.\n- `external_references` (ExternalReference) - Includes references to external integrations for this object.\n- `role` (Role) - Includes the ID of the role associated with the record.\n- `story` (Story) - Includes the ID of the task related to the record.\n- `user` (User) - Includes the ID(s) of user(s) associated with the record\n                    (e.g. who created the record, who the record was created for, etc.).\n- `workspace` (Workspace) - Includes the ID of the project the record belongs to."
        schema:
          type: string
      responses:
        '200':
          description: Project Accounting Records has been updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  project_accounting_records:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ProjectAccounting__Models__ProjectAccountingRecord'
                  external_references:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ExternalReference'
                  workspaces:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Workspace'
                  stories:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Story'
                  roles:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Role'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /project_accounting_records/export_to_csv:
    get:
      summary: Exporting Project Account Records in a CSV
      description: 'Downloads a .csv file of all project accounting records.


        This endpoint returns structured Project Accounting Records objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `project_accounting_records` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Export Project Accounting Record To Csv
      tags:
      - Project Accounting Records
      parameters:
      - in: query
        name: include
        description: "Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.\n- `external_references` (ExternalReference) - Includes references to external integrations for this object.\n- `role` (Role) - Includes the ID of the role associated with the record.\n- `story` (Story) - Includes the ID of the task related to the record.\n- `user` (User) - Includes the ID(s) of user(s) associated with the record\n                    (e.g. who created the record, who the record was created for, etc.).\n- `workspace` (Workspace) - Includes the ID of the project the record belongs to."
        schema:
          type: string
      responses:
        '200':
          description: A list of Project Accounting Records have been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  project_accounting_records:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ProjectAccounting__Models__ProjectAccountingRecord'
                  external_references:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ExternalReference'
                  workspaces:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Workspace'
                  stories:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Story'
                  roles:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Role'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /project_accounting_records/import_csv:
    post:
      summary: Importing Project Account Records in a CSV
      description: 'Imports up to 5000 project accounting records with a

        csv file

        with a .txt or .csv extension.


        Each row/line is a record, and each record has attributes. Headers

        indicate which attributes are being specified for imported records.

        Headers can include:


        * **Project ID** (required)

        * **Story ID**

        * **Role ID**

        * **User ID**

        * **Type** (recommended)

        * **Period Start Date** (required)

        * **Period End Date** (required)

        * **Contract Date**

        * **Currency** (required)

        * **Revenue Method**

        * **Amount**

        * **Amount To Date**

        * **Forecast**

        * **Budget**

        * **Cost**

        * **Cost to Date**

        * **Cost EAC**

        * **Fees**

        * **Labor Type**

        * **Hours**

        * **Hours EAC**

        * **Hours ETC**

        * **Total Estimated Hours**

        * **Total Hours to Date**

        * **Percent Complete**

        * **Status**

        * **Service Type**

        * **Description**

        * **Notes**


        Only **Project ID**, **Period Start Date**, **Period End Date**,

        and **Currency** are required for a csv import. But when it is not specified,

        **Type** defaults to `Recognition`. Other valid values for **Type** are

        `Baseline`, `Earned Value`, `Earned Value Forecasting`, and `Forecasting`.


        This endpoint returns structured Project Accounting Records objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `project_accounting_records` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Import Project Accounting Records
      tags:
      - Project Accounting Records
      parameters:
      - in: query
        name: include
        description: "Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.\n- `external_references` (ExternalReference) - Includes references to external integrations for this object.\n- `role` (Role) - Includes the ID of the role associated with the record.\n- `story` (Story) - Includes the ID of the task related to the record.\n- `user` (User) - Includes the ID(s) of user(s) associated with the record\n                    (e.g. who created the record, who the record was created for, etc.).\n- `workspace` (Workspace) - Includes the ID of the project the record belongs to."
        schema:
          type: string
      responses:
        '200':
          description: Project Accounting Records has been created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  project_accounting_records:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ProjectAccounting__Models__ProjectAccountingRecord'
                  external_references:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ExternalReference'
                  workspaces:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Workspace'
                  stories:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Story'
                  roles:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Role'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /project_accounting_records/{id}:
    get:
      summary: Fetching a single Project Accounting Records
      description: 'Returns a specified project accounting record.


        This endpoint returns structured Project Accounting Records objects.

        As with all Kantata OX API endpoints, the returned data will be referenced in sorted order in the `results` array

        and will be indexed by ID in the `project_accounting_records` top-level JSON key.

        Please see our Response Format section for more information.'
      operationId: Get Project Accounting Record
      tags:
      - Project Accounting Records
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      - in: query
        name: include
        description: "Any of the below associations can be included in your request by providing the `include` param, e.g. `include=association1,association2`.\n- `external_references` (ExternalReference) - Includes references to external integrations for this object.\n- `role` (Role) - Includes the ID of the role associated with the record.\n- `story` (Story) - Includes the ID of the task related to the record.\n- `user` (User) - Includes the ID(s) of user(s) associated with the record\n                    (e.g. who created the record, who the record was created for, etc.).\n- `workspace` (Workspace) - Includes the ID of the project the record belongs to."
        schema:
          type: string
      responses:
        '200':
          description: The Project Accounting Records has been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                      page_count:
                        type: integer
                        format: int32
                      page_number:
                        type: integer
                        format: int32
                      page_size:
                        type: integer
                        format: int32
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        id:
                          type: string
                  project_accounting_records:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ProjectAccounting__Models__ProjectAccountingRecord'
                  external_references:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/ExternalReference'
                  workspaces:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Workspace'
                  stories:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Story'
                  roles:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Role'
                  users:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/User'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
components:
  schemas:
    ExternalReference:
      title: External Reference
      description: 'External References allows users see which objects (one of `Assignment`, `BillingMilestone`, `CustomField`, `CustomFieldChoice`, `CustomFieldSet`, `CustomFieldValue`, `Estimate`, `EstimateScenario`, `EstimateScenarioResource`, `Expense`, `ExpenseBudget`, `Invoice`, `Participation`, `Post`, `RateCard`, `Role`, `Skill`, `StatusReport`, `Story`, `StoryAllocationDay`, `Submission`, `SurveyAnswer`, `SurveyQuestion`, `SurveyResponse`, `SurveyTemplate`, `TimeEntry`, `TimeOffEntry`, `User`, `Vendor`, `Workspace`, `WorkspaceAllocation`, `WorkspaceGroup`, or `WorkspaceResource`

        are synced with third party systems. This allows you to view the sync status of items in addition to the integration

        specifics for a synced object.


        Objects that are synced with a third party system have external integration

        attributes that include the corresponding ID of the third party object with

        which it is synced, a link that allows you to view the object in the third

        party system, the status of the external object in the external system,

        the status of the sync, and a link to exceptions.'
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          description: The date and time the reference was created.
        external_link:
          type: string
          description: A URL that links to either the external object or event.
        external_message:
          type: string
          description: An optional message about the external object.
        external_status:
          type: string
          description: The status of the external object in the external system.
        last_synced_at:
          type: string
          format: date-time
        locked:
          type: boolean
          description: 'An optional field, indicating whether the subject should be locked. To prevent changes to the

            object in Kantata OX, set this to true. This currently only applies to expense report rejections.'
        service_model:
          type: string
          description: The type of the external object to which this reference belongs.
        service_model_ref:
          type: string
          description: The ID of the external object to which this reference belongs.
        service_name:
          type: string
          description: The provider name of the integration.
        status:
          type: string
          description: The status of the integration. Options are 'pending', 'successful', or 'failed'.
        subject_id:
          type: integer
          format: int32
          description: The ID of the Kantata OX object to which this external reference belongs.
        subject_ref:
          type: object
          description: '`subject_ref` will only be included in the response if `subject` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
          properties:
            key:
              type: string
            id:
              type: string
        subject_type:
          type: string
          description: 'The type of Kantata OX object to which this external reference belongs.

            One of `Assignment`, `BillingMilestone`, `CustomField`, `CustomFieldChoice`, `CustomFieldSet`, `CustomFieldValue`, `Estimate`, `EstimateScenario`, `EstimateScenarioResource`, `Expense`, `ExpenseBudget`, `Invoice`, `Participation`, `Post`, `RateCard`, `Role`, `Skill`, `StatusReport`, `Story`, `StoryAllocationDay`, `Submission`, `SurveyAnswer`, `SurveyQuestion`, `SurveyResponse`, `SurveyTemplate`, `TimeEntry`, `TimeOffEntry`, `User`, `Vendor`, `Workspace`, `WorkspaceAllocation`, `WorkspaceGroup`, or `WorkspaceResource`.'
        updated_at:
          type: string
          format: date-time
          description: The date and time the reference was last updated.
    Story:
      title: Story
      description: 'Stories (known as [tasks](https://knowledge.kantata.com/hc/en-us/articles/202806550-Tasks-Overview) in the UI)

        are the tasks, deliverables, issues, and milestones required to complete a project.

        Stories belong to [Workspaces](/tag/Workspaces), appear in the

        [Local Task Tracker](https://knowledge.kantata.com/hc/en-us/articles/202490134-Project-Task-Tracker) and the

        [Global Tasks Tracker](https://knowledge.kantata.com/hc/en-us/articles/216424897-Global-Tasks-Tracker),

        can be linked to [Posts](/tag/Posts), can have substories (subtasks) and

        [Story Tasks](https://developer.kantata.com/tag/Story-Tasks) (checklists), and have many attributes for

        planning, organization, and financials.'
      type: object
      properties:
        ancestor_ids:
          type: array
          items:
            type: string
          description: The IDs of all the ancestor (i.e. parent) tasks of the task. This is empty for a top-level task.
        ancestry_depth:
          type: integer
          format: int32
          description: The number of levels a subtask is nested below the top-level task. Possible values are between `0` (i.e. a top-level task) and `4`.
        archived:
          type: boolean
          description: Whether the task is archived.
        archived_editable:
          type: boolean
          description: 'For archived tasks, whether the authenticated user can edit the task.

            Only returned when requested through the optional_fields param.'
        assigned_role_id:
          type: string
          description: '`assigned_role_id` will only be included in the response if `assigned_role` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        assignee_ids:
          type: array
          items:
            type: string
          description: '`assignee_ids` will only be included in the response if `assignees` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        assignment_timestamped_at:
          type: string
          format: date-time
        attachment_ids:
          type: array
          items:
            type: string
          description: '`attachment_ids` will only be included in the response if `attachments` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        billable:
          type: boolean
          description: Whether the task is billable.
        budget_estimate_in_cents:
          type: integer
          format: int32
          description: 'The task budget, in the subunits of the currency (e.g. cents for USD).

            Visible when the API user can view story budgets in the story''s workspace.'
        budget_used_in_cents:
          type: integer
          format: int32
          description: 'How much of the task budget has been used, in the subunits of the currency (e.g. cents for USD).

            Visible when the API user can view story budgets in the story''s workspace.'
        can_align_time:
          type: boolean
          description: 'Whether [Daily Scheduled Hours](/tag/Daily-Scheduled-Hours-(Story-Allocation-Days)) (i.e. Story Allocation Days) that are out of sync with the task start or due date can be realigned to the task start date.

            Only returned when requested through the optional_fields param.'
        can_edit:
          type: boolean
          description: 'Whether the authenticated user can edit the task. For archived tasks, refer to `archived_editable` instead.

            Only returned when requested through the optional_fields param.'
        can_post:
          type: boolean
          description: 'Whether the authenticated user can create posts in the project the task is in.

            Only returned when requested through the optional_fields param.'
        created_at:
          type: string
          format: date-time
        creator_id:
          type: string
          description: '`creator_id` will only be included in the response if `creator` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        current_assignment_ids:
          type: array
          items:
            type: string
          description: '`current_assignment_ids` will only be included in the response if `current_assignments` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        custom_field_value_ids:
          type: array
          items:
            type: string
          description: '`custom_field_value_ids` will only be included in the response if `custom_field_values` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        custom_task_status_id:
          type: integer
          format: int32
          description: 'The ID of the task''s custom status. If the workspace is not using a custom task status set, this is `null`.

            Only returned when requested through the optional_fields param.'
        deleted_at:
          type: string
          format: date-time
        descendant_ids:
          type: array
          items:
            type: string
          description: '`descendant_ids` will only be included in the response if `descendants` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        description:
          type: string
          description: The task description. Markdown syntax is included.
        due_date:
          type: string
          format: date
          description: When the task is due.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        fixed_fee:
          type: boolean
          description: Whether the task is fixed fee (`true`) or time and materials (`false`).
        follower_ids:
          type: array
          items:
            type: string
          description: '`follower_ids` will only be included in the response if `followers` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        formatted_description:
          type: string
          description: 'The task description with special formatting, like emoji and @-mentions.

            Only returned when requested through the optional_fields param.'
        google_document_ids:
          type: array
          items:
            type: string
          description: '`google_document_ids` will only be included in the response if `google_documents` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        has_out_of_bounds_sads:
          type: boolean
          description: 'Whether the task has any [Daily Scheduled Hours](/tag/Daily-Scheduled-Hours-(Story-Allocation-Days)) (i.e. Story Allocation Days) before its start date or after its due date.

            Only returned when requested through the optional_fields param.'
        invoiced_balance_in_cents:
          type: integer
          format: int32
          description: 'How much has been invoiced for the task, in the subunits of the currency (e.g. cents for USD).

            Visible when the API user can view story budgets in the story''s workspace.'
        is_time_trackable_type:
          type: boolean
          description: 'Whether the task can have time and expenses tracked against it, as set in account settings.

            Only returned when requested through the optional_fields param.'
        logged_billable_time_in_minutes:
          type: integer
          format: int32
          description: 'How much billable time has been tracked against the task, in minutes.

            Visible when the API user can view story time estimates in the story''s workspace.'
        logged_nonbillable_time_in_minutes:
          type: integer
          format: int32
          description: 'How much non-billable time has been tracked against the task, in minutes.

            Visible when the API user can view story time estimates in the story''s workspace.'
        parent_id:
          type: string
          description: '`parent_id` will only be included in the response if `parent` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        parsed_description:
          type: string
          description: 'The task description. Markdown syntax is not included.

            Only returned when requested through the optional_fields param.'
        percentage_complete:
          type: integer
          format: int32
          description: The percentage of work done on the task.
        position:
          type: integer
          format: int32
          description: Represents the task's position in the Task Tracker. This is not the same as the WBS (Work Breakdown Structure) number shown in the UI.
        potential_workspace_resource_ids:
          type: array
          items:
            type: string
          description: '`potential_workspace_resource_ids` will only be included in the response if `potential_workspace_resources` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        potential_workspace_resources_with_unnamed_ids:
          type: array
          items:
            type: string
          description: '`potential_workspace_resources_with_unnamed_ids` will only be included in the response if `potential_workspace_resources_with_unnamed` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        priority:
          type: integer
          format: int32
          description: The priority of the task. Possible values are `critical`, `high`, `normal`, `low`.
        project_plan:
          type: boolean
          description: Whether the story is a project task (`true`) or is a To Do (`false`).
        read_only:
          type: boolean
          description: 'Whether the authenticated user can only view the task and cannot edit it.

            Only returned when requested through the optional_fields param.'
        render_description_markdown:
          type: boolean
          description: 'Whether the account the task is in is set to render Markdown in task descriptions as formatted and styled text.

            Only returned when requested through the optional_fields param.'
        reply_ids:
          type: array
          items:
            type: string
          description: '`reply_ids` will only be included in the response if `replies` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        root_id:
          type: string
          description: '`root_id` will only be included in the response if `root` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        source_dependency_ids:
          type: array
          items:
            type: string
          description: '`source_dependency_ids` will only be included in the response if `source_dependencies` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        start_date:
          type: string
          format: date
          description: When the task starts.
        state:
          type: string
          description: 'The status type of the story. Possible values are `not started`, `started`, `needs info`, or `completed`. If task status sets are not activated on the account, the following values are also possible: `new`, `reopened`, `in progress`, `blocked`, `fixed`, `duplicate`, `can''t reproduce`, `resolved`, or `won''t fix`. The actual task status is returned in the `status` field.'
        status:
          type: string
          description: The status of the story.
        story_state_change_ids:
          type: array
          items:
            type: string
          description: '`story_state_change_ids` will only be included in the response if `story_state_changes` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        story_task_ids:
          type: array
          items:
            type: string
          description: '`story_task_ids` will only be included in the response if `story_tasks` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        story_type:
          type: string
          description: The task's type. Possible values are `task`, `deliverable `, `milestone`, and `issue`.
        sub_stories_billable_time_in_minutes:
          type: integer
          format: int32
          description: 'How much billable time has been tracked against the task''s descendants, in minutes.

            Visible when the API user can view story time estimates in the story''s workspace.'
        sub_stories_budget_estimate_in_cents:
          type: integer
          format: int32
          description: 'The budget of the task''s descendants, in the subunits of the currency (e.g. cents for USD).

            Visible when the API user can view story budgets in the story''s workspace.'
        sub_stories_budget_used_in_cents:
          type: integer
          format: int32
          description: 'How much of the budgets of the task''s descendants has been used, in the subunits of the currency (e.g. cents for USD).

            Visible when the API user can view story budgets in the story''s workspace.'
        sub_stories_time_estimate_in_minutes:
          type: integer
          format: int32
          description: 'The estimated time of the task''s descendants, in minutes.

            Visible when the API user can view story time estimates in the story''s workspace.'
        sub_story_count:
          type: integer
          format: int32
          description: How many descendant tasks the task has.
        sub_story_ids:
          type: array
          items:
            type: string
          description: '`sub_story_ids` will only be included in the response if `sub_stories` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        subtree_depth:
          type: integer
          format: int32
          description: How many ancestor tasks the task has.
        tag_ids:
          type: array
          items:
            type: string
          description: '`tag_ids` will only be included in the response if `tags` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        target_dependency_ids:
          type: array
          items:
            type: string
          description: '`target_dependency_ids` will only be included in the response if `target_dependencies` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        time_estimate_in_minutes:
          type: integer
          format: int32
          description: 'The estimated time for the task, in minutes.

            Visible when the API user can view story time estimates in the story''s workspace.'
        time_trackable:
          type: boolean
          description: Whether time can be tracked against the task.
        title:
          type: string
          description: The title of the task.
        uninvoiced_balance_in_cents:
          type: integer
          format: int32
          description: 'How much has not yet been invoiced for the task, in the subunits of the currency (e.g. cents for USD).

            Visible when the API user can view story budgets in the story''s workspace.'
        updated_at:
          type: string
          format: date-time
        weight:
          type: integer
          format: int32
          description: 'If the `story_type` is `milestone`, this is the [weight](https://knowledge.kantata.com/hc/en-us/articles/203499904-Milestone-Weighting) of the task.

            Visible when the API user can view story time estimates in the story''s workspace.'
        workspace_id:
          type: string
          description: '`workspace_id` will only be included in the response if `workspace` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        workspace_resource_ids:
          type: array
          items:
            type: string
          description: '`workspace_resource_ids` will only be included in the response if `workspace_resources` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        workspace_resources_with_unnamed_ids:
          type: array
          items:
            type: string
          description: '`workspace_resources_with_unnamed_ids` will only be included in the response if `workspace_resources_with_unnamed` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
    Role:
      title: Role
      description: 'A Role represents the main position or title assigned to members on an account. Roles may be associated with account memberships, account invitations,

        participation, project template assignments, rate card roles, rate card versions, resources, or time adjustments.'
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        deleted_at:
          type: string
          format: date-time
          description: The time the role was deleted.
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        name:
          type: string
          description: The name of the role.
        updated_at:
          type: string
          format: date-time
    Workspace:
      title: Workspace
      description: Workspaces (also called projects) represent the space in which Kantata OX users plan, communicate, and collaborate.
      type: object
      properties:
        access_level:
          type: string
          description: Whether the project is open, and who can join it. Possible values are `invitation`, `open`, and `admin`.
        account_color_id:
          type: string
          description: '`account_color_id` will only be included in the response if `account_color` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        account_id:
          type: integer
          format: int32
          description: The ID of the account which the project is in.
        account_insights_mapping_ids:
          type: array
          items:
            type: string
          description: '`account_insights_mapping_ids` will only be included in the response if `account_insights_mappings` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        actual_fees_includes_additional_line_items:
          type: boolean
          description: 'Whether invoice additional items are included in actual fees calculations for the project.

            Visible when the authenticated user is a project administrator and is on the account that the project is on.'
        actual_fees_includes_expenses:
          type: boolean
          description: 'Whether expenses are included in actual fees calculations for the project.

            Visible when the authenticated user is a project administrator and is on the account that the project is on.'
        approver_id:
          type: string
          description: '`approver_id` will only be included in the response if `approver` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        approver_ids:
          type: array
          items:
            type: string
          description: '`approver_ids` will only be included in the response if `approvers` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        archived:
          type: boolean
          description: Whether the project is archived.
        billable_minutes:
          type: integer
          format: int32
          description: 'The total amount of billable time entries, in minutes. Only visible if the authenticated user has financial access in the project and is on the provider team.

            Visible when the authenticated user can see total time approved in the project.


            Only returned when requested through the optional_fields param.'
        billing_milestone_ids:
          type: array
          items:
            type: string
          description: '`billing_milestone_ids` will only be included in the response if `billing_milestones` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        budget_remaining:
          type: string
          description: 'The amount of the project budget remaining.

            Visible when the authenticated user is on the provider team and can either see reports on the account or has financial access in the project.'
        budget_used:
          type: string
          description: 'The amount of the project budget that has been used.

            Visible when the authenticated user is on the provider team and can either see reports on the account or has financial access in the project.'
        budget_used_in_cents:
          type: integer
          format: int32
          description: 'The amount of the project budget that has been used, in the subunits of the currency (e.g. cents for USD).

            Visible when the authenticated user is on the provider team and can either see reports on the account or has financial access in the project.'
        budgeted:
          type: boolean
          description: Whether the project is budgeted.
        can_create_line_items:
          type: boolean
          description: Whether the authenticated user can create line items in the project (i.e. time entries, expenses, fixed fee items, or additional items).
        can_invite:
          type: boolean
          description: Whether the authenticated user can invite others to the project.
        change_orders_enabled:
          type: boolean
          description: Whether change orders are enabled in the project.
        client_lead_name:
          type: string
          description: 'The name of the team lead for the client side of the project.

            Only returned when requested through the optional_fields param.'
        client_role_name:
          type: string
          description: The client team name.
        consultant_role_name:
          type: string
          description: The provider team name.
        created_at:
          type: string
          format: date-time
          description: The date the project was created.
        creator_id:
          type: string
          description: '`creator_id` will only be included in the response if `creator` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        currency:
          type: string
          description: The currency of the project. Only visible if the authenticated user has financial access in the project.
        currency_base_unit:
          type: integer
          format: int32
          description: The base unit of the currency of the project. For example, the base unit for USD is 100.
        currency_symbol:
          type: string
          description: The [ISO symbol](https://knowledge.kantata.com/hc/en-us/articles/360041576473) for the currency of the project. For example, `USD`.
        current_status_report_id:
          type: string
          description: '`current_status_report_id` will only be included in the response if `current_status_report` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        current_user_participation_id:
          type: string
          description: '`current_user_participation_id` will only be included in the response if `current_user_participation` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        custom_field_value_ids:
          type: array
          items:
            type: string
          description: '`custom_field_value_ids` will only be included in the response if `custom_field_values` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        default_rate:
          type: string
          description: The default billing rate for the project.
        description:
          type: string
          description: The description of the project.
        due_date:
          type: string
          format: date
          description: The due date of the project.
        effective_due_date:
          type: string
          format: date
          description: The due date of the project (deprecated).
        estimated_minutes:
          type: integer
          format: int32
          description: 'The total task estimated minutes of the project.

            Visible when the authenticated user can see reports on the account or has financial access in the project.


            Only returned when requested through the optional_fields param.'
        exclude_archived_stories_percent_complete:
          type: boolean
          description: Whether archived tasks are excluded from the calculation of the project completion percentage.
        expenses_in_burn_rate:
          type: boolean
          description: 'Whether both expenses and invoice additional items are included in the actual fees calculation for the project. This field is the `AND` of `actual_fees_includes_expenses` and `actual_fees_includes_additional_line_items`.

            Visible when the authenticated user is a project administrator and is on the account that the project is on.'
        external_link:
          type: object
          description: 'A link that displays within the project workspace. Requires the Project Button facilitated feature.

            Visible when the workspace has the project button feature enabled.'
          properties:
            url:
              type: string
              description: 'The URL of the link.

                Visible when the workspace has the project button feature enabled.'
            text:
              type: string
              description: 'The button text.

                Visible when the workspace has the project button feature enabled.'
        external_reference_ids:
          type: array
          items:
            type: string
          description: '`external_reference_ids` will only be included in the response if `external_references` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        financial_viewer_ids:
          type: array
          items:
            type: string
          description: '`financial_viewer_ids` will only be included in the response if `financial_viewers` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        has_active_expense_report_submissions:
          type: boolean
          description: Whether the project has active expense report submissions.
        has_active_timesheet_submissions:
          type: boolean
          description: Whether the project has active timesheet submissions.
        has_budget_access:
          type: boolean
          description: Whether the authenticated user has budget access in the project.
        incoming_email_address:
          type: string
          description: 'The email address for the project—unique to the authenticated user—which can be used to post to the project''s Activity Feed via email.

            Visible when the authenticated user is a project administrator and is on the account that the project is on.


            Only returned when requested through the optional_fields param.'
        lock_date:
          type: string
          format: date
          description: 'The line item lock date for the account the project is on, if any.

            Only returned when requested through the optional_fields param.'
        minutes_logged:
          type: integer
          format: int32
          description: 'The total minutes logged on the project, including time adjustments. Only visible if the authenticated user has financial access in the project and is on the provider team.

            Visible when the authenticated user can see total time approved in the project.


            Only returned when requested through the optional_fields param.'
        next_uncompleted_milestone_id:
          type: string
          description: '`next_uncompleted_milestone_id` will only be included in the response if `next_uncompleted_milestone` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        non_billable_minutes:
          type: integer
          format: int32
          description: 'The total of all non-billable time entries in minutes, only included if the current user has financial access and is a maven in the project.

            Visible when the authenticated user can see total time approved in the project.


            Only returned when requested through the optional_fields param.'
        over_budget:
          type: boolean
          description: 'Whether the project is over budget. Only visible if the authenticated user has financial access in the project.

            Visible when the authenticated user is a project administrator and is on the account that the project is on.'
        participant_ids:
          type: array
          items:
            type: string
          description: '`participant_ids` will only be included in the response if `participants` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        participation_ids:
          type: array
          items:
            type: string
          description: '`participation_ids` will only be included in the response if `participations` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        percent_of_budget_used:
          type: integer
          format: int32
          description: 'The percent of the project budget used.

            Visible when the authenticated user is on the provider team and can either see reports on the account or has financial access in the project.'
        percentage_complete:
          type: integer
          format: int32
          description: The completion percentage of the project, calculated from the completion percentage of the stories (tasks), including archived stories.
        permissions:
          type: object
          description: Various project permissions for the authenticated user.
          properties:
            can_upload_files:
              type: boolean
              description: Whether the authenticated user can upload files to the project.
            can_private_message:
              type: boolean
              description: Whether the authenticated user can send private messages in the project.
            can_join:
              type: boolean
              description: Whether the authenticated user can join the project.
            is_participant:
              type: boolean
              description: Whether the authenticated user is participating in the project.
            access_level:
              type: string
              description: The authenticated user’s permission level in the project.
            team_lead:
              type: boolean
              description: Whether the authenticated user is a team lead in the project.
            user_is_client:
              type: boolean
              description: Whether the authenticated user is a client in the project.
            can_change_price:
              type: boolean
              description: Whether the authenticated user can change the price (budget) of the project.
            can_change_story_billable:
              type: boolean
              description: Whether the authenticated user can change the billable status of stories (tasks) in the project.
            can_post:
              type: boolean
              description: Whether the authenticated user has post permissions in the project.
            can_edit:
              type: boolean
              description: Whether the authenticated user has edit permissions in the project.
            restricted:
              type: boolean
              description: Whether the authenticated user is a restricted user in the project.
            can_see_financials:
              type: boolean
              description: Whether the authenticated user has financial access in the project.
            is_guest_on_project:
              type: boolean
              description: Returns true if the authenticated user can view projects without joining. Otherwise, returns false.
        possible_approver_ids:
          type: array
          items:
            type: string
          description: '`possible_approver_ids` will only be included in the response if `possible_approvers` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        posts_require_privacy_decision:
          type: boolean
          description: Whether posts are private (`true`) or shared with all project participants (`false`) by default.
        price:
          type: string
          description: 'The project budget.

            Visible when the authenticated user can see reports on the account or has financial access in the project.'
        price_in_cents:
          type: integer
          format: int32
          description: 'The project budget, in the subunits of the currency (e.g. cents for USD).

            Visible when the authenticated user can see reports on the account or has financial access in the project.'
        primary_counterpart_id:
          type: string
          description: '`primary_counterpart_id` will only be included in the response if `primary_counterpart` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        primary_maven_id:
          type: string
          description: '`primary_maven_id` will only be included in the response if `primary_maven` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        primary_workspace_group_id:
          type: string
          description: '`primary_workspace_group_id` will only be included in the response if `primary_workspace_group` is in the list of included associations. See <a href=''#section/Includes''>include</a> section for usage.'
        provider_lead_name:
          type: string
          description: 'The name of the team lead for the provider side of the project.

            Only returned when requested through the optional_fields param.'
        rate_card_id:
          type: integer
          format: int32
          description: The ID of the rate card for the project.
        require_expense_approvals:
          type: boolean
          description: Whether expense approvals are required in the project.
        require_notes_on_time_entries:
          type: boolean
          description: Whether notes are required on time entries logged against this project.
        require_time_approvals:
          type: boolean
          description: Whether time approvals are required in the project.
        revenue_recognition_method_id:
          type: string
          description: 'The ID of the project''s revenue recognition method, which determines how the project''s revenue is recognized and accounted for. The ID is a composite ID made up of a numerical ID (unique to each account), a colon, and the method type. For example `123:percent_complete`.

            Only returned when requested through the optional_fields param.'
        revenue_recognition_method_name:
          type: string
          description: 'The name of the project''s revenue recognition method, which determines how the project''s revenue is recognized and accounted for.

            Only returned when requested through the optional_fields param.'
        stage:
          type: string
          description: 'The stage of the project. Possible values are `estimate` or `project`.

            Only returned when requested through the optional_fields param.'
        start_date:
          type: string
          format: date
          description: The start date of the project.
        status:
          type: object
[...]
