openapi: 3.2.0
info:
  version: 1.0.0
  title: Kantata OX API Documentation Insights Report Exports API
  description: Kantata OX's API provides access to the majority of Kantata OX's data model.
  termsOfService: https://www.kantata.com/terms-of-use
  contact:
    name: Kantata OX Support
    url: https://knowledge.kantata.com/hc/en-us
  license:
    name: COPYRIGHT © 2026 Kantata, Inc.
    url: https://www.kantata.com/terms-of-use
  x-logo:
    url: https://theme.zdassets.com/theme_assets/56104/04e93064d309f75d054b8cee885d1ea51e9be8f7.png
    backgroundColor: '#FFFFFF'
    altText: Kantata OX API Documentation
    href: https://developer.kantata.com
servers:
- url: https://api.mavenlink.com/api/v1
tags:
- name: Insights Report Exports
  description: 'This object allows you to manage scheduled exports of classic Insights reports from Kantata OX. An export of a classic Insights report that is scheduled to recur is called a scheduled job. You can create, update, and delete scheduled jobs. You can also view details of all the exports for a scheduled job, view the details of each export individually, and download the most recently exported report.


    To use these endpoints, you need to be an account administrator.'
paths:
  /scheduled_jobs/insights_report_exports:
    get:
      summary: Get Scheduled Report Exports
      description: Returns a list of scheduled exports of classic Insights reports.
      operationId: Get Scheduled Report Exports
      tags:
      - Insights Report Exports
      responses:
        '200':
          description: A list of Insights Report Exports have been retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      format: int32
                      description: The ID of a scheduled report export.
                    title:
                      type: string
                      description: The name of a scheduled report export.
                    description:
                      type: string
                      description: The description of a scheduled report export, if provided.
                    external_report_object_identifier:
                      type: string
                      description: The unique identifier of the report you want to export on a schedule. Each report has one.
                    recurrence:
                      type: object
                      description: The schedule for when you would like the report export to repeat, defined by the `cadence` and `start_time`.
                      properties:
                        cadence:
                          type: string
                          description: How often a scheduled export runs, defined as either `hourly` or `daily`.
                        start_time:
                          type: string
                          format: date-time
                          description: The timestamp for when a schedule begins. Daily scheduled exports recur at this time everyday. This property is only applicable to non-hourly schedules.
                    created_at:
                      type: string
                      format: date-time
                      description: The timestamp for when an export of a report was completed.
                    latest_success:
                      type: object
                      description: Download the most recent successfully exported report.
                      properties:
                        url:
                          type: string
                          description: The URL to the most recent successful report export. Download the exported report within 60 seconds. The URL expiration period is subject to change. If you do not download the report within 60 seconds, you can send a new request to generate a new URL.
                        created_at:
                          type: string
                          format: date-time
                          description: Timestamp for when the most recent successful report export was completed.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    post:
      summary: Create a new Scheduled Report Export
      description: Create a new scheduled job. Set a schedule for a classic Insights report to be exported from Kantata OX to download later. You will need to write a script to download the report.
      operationId: Create Scheduled Report Export
      tags:
      - Insights Report Exports
      responses:
        '200':
          description: Insights Report Export has been created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: int32
                    description: The ID of a scheduled report export.
                  title:
                    type: string
                    description: The name of a scheduled report export.
                  description:
                    type: string
                    description: The description of a scheduled report export, if provided.
                  external_report_object_identifier:
                    type: string
                    description: The unique identifier of the report you want to export on a schedule. Each report has one.
                  recurrence:
                    type: object
                    description: The schedule for when you would like the report export to repeat, defined by the `cadence` and `start_time`.
                    properties:
                      cadence:
                        type: string
                        description: How often a scheduled export runs, defined as either `hourly` or `daily`.
                      start_time:
                        type: string
                        format: date-time
                        description: The timestamp for when a schedule begins. Daily scheduled exports recur at this time everyday. This property is only applicable to non-hourly schedules.
                  created_at:
                    type: string
                    format: date-time
                    description: The timestamp for when an export of a report was completed.
                  latest_success:
                    type: object
                    description: Download the most recent successfully exported report.
                    properties:
                      url:
                        type: string
                        description: The URL to the most recent successful report export. Download the exported report within 60 seconds. The URL expiration period is subject to change. If you do not download the report within 60 seconds, you can send a new request to generate a new URL.
                      created_at:
                        type: string
                        format: date-time
                        description: Timestamp for when the most recent successful report export was completed.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                insights_report_export:
                  type: object
                  properties:
                    title:
                      type: string
                      description: Give a name for the scheduled report export.
                    description:
                      type: string
                      description: Give a description for the scheduled report export.
                    external_report_object_identifier:
                      type: string
                      description: Enter the unique identifier of the classic Insights report you want to export on a schedule. Each report has one. Use the Insights Report endpoint to get the identifier for the report you want to export.
                    recurrence:
                      type: object
                      description: A schedule for when you would like the report export to repeat, consisting of the `cadence` and `start_time` that you define.
                      properties:
                        cadence:
                          type: string
                          description: 'Define how often a scheduled export runs. Valid values: `hourly`, `daily`.'
                        start_time:
                          type: string
                          format: date-time
                          description: Define the date and time a schedule begins in ISO 8601 format. Daily scheduled exports will recur at this time everyday. This parameter is required for all non-hourly schedules. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
                      required:
                      - cadence
                  required:
                  - external_report_object_identifier
                  - recurrence
        required: true
  /scheduled_jobs/insights_report_exports/{id}:
    get:
      summary: Get Scheduled Report Export
      description: Returns details for a single scheduled export of a classic Insights report.
      operationId: Get Scheduled Report Export
      tags:
      - Insights Report Exports
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      responses:
        '200':
          description: The Insights Report Export has been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: int32
                    description: The ID of a scheduled report export.
                  title:
                    type: string
                    description: The name of a scheduled report export.
                  description:
                    type: string
                    description: The description of a scheduled report export, if provided.
                  external_report_object_identifier:
                    type: string
                    description: The unique identifier of the report you want to export on a schedule. Each report has one.
                  recurrence:
                    type: object
                    description: The schedule for when you would like the report export to repeat, defined by the `cadence` and `start_time`.
                    properties:
                      cadence:
                        type: string
                        description: How often a scheduled export runs, defined as either `hourly` or `daily`.
                      start_time:
                        type: string
                        format: date-time
                        description: The timestamp for when a schedule begins. Daily scheduled exports recur at this time everyday. This property is only applicable to non-hourly schedules.
                  created_at:
                    type: string
                    format: date-time
                    description: The timestamp for when an export of a report was completed.
                  latest_success:
                    type: object
                    description: Download the most recent successfully exported report.
                    properties:
                      url:
                        type: string
                        description: The URL to the most recent successful report export. Download the exported report within 60 seconds. The URL expiration period is subject to change. If you do not download the report within 60 seconds, you can send a new request to generate a new URL.
                      created_at:
                        type: string
                        format: date-time
                        description: Timestamp for when the most recent successful report export was completed.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    put:
      summary: Update a Scheduled Report Export
      description: Make changes to an existing scheduled job.
      operationId: Update Scheduled Report Export
      tags:
      - Insights Report Exports
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                insights_report_export:
                  type: object
                  properties:
                    title:
                      type: string
                      description: Give a name for the scheduled report export.
                    description:
                      type: string
                      description: Give a description for the scheduled report export.
                    external_report_object_identifier:
                      type: string
                      description: Enter the unique identifier of the classic Insights report you want to export on a schedule. Each report has one. Use the Insights Report endpoint to get the identifier for the report you want to export.
                    recurrence:
                      type: object
                      description: A schedule for when you would like the report export to repeat, consisting of the `cadence` and `start_time` that you define.
                      properties:
                        cadence:
                          type: string
                          description: 'Define how often a scheduled export runs. Valid values: `hourly`, `daily`.'
                        start_time:
                          type: string
                          format: date-time
                          description: Define the date and time a schedule begins in ISO 8601 format. Daily scheduled exports will recur at this time everyday. This parameter is required for all non-hourly schedules. The datetime must be in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
                      required:
                      - cadence
        required: true
    delete:
      summary: Delete an existing Scheduled Report Export
      description: 'The response will contain no content and an HTTP 204 status code if the request was

        successful, or a standard Kantata OX error message explaining why the object could not be deleted.'
      operationId: Delete Scheduled Report Export
      tags:
      - Insights Report Exports
      parameters:
      - in: path
        name: id
        required: true
        description: The ID of the Model.
        schema:
          type: integer
      responses:
        '204':
          description: Insights Report Export has been deleted.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /scheduled_jobs/insights_report_exports/{insights_report_export_id}/results/latest:
    get:
      summary: Get Latest Export
      description: 'Returns the most recent classic Insights report that has been successfully and completely exported by a scheduled job. The response contains a URL to download the report, as well as a timestamp for when the data in the report was last updated, so you may determine if the report reflects current data.


        In order to keep exported data secure, the URL returned in the response expires in 60 seconds. The URL expiration period is subject to change. If you do not initiate a download of the report before the link expires, you can send a new request to generate a new URL.


        Exporting a report can take from seconds to 20 minutes, depending on the report size. Because export time varies, please send requests until the latest data is returned. If there are no previously exported reports yet, the response code and message will indicate this.


        Because exported reports can be up to 10 GB, reports are downloaded in a compressed format (.gz) and must be decompressed in order to access the CSV file.'
      operationId: Get Latest Scheduled Report Export
      tags:
      - Insights Report Exports
      parameters:
      - in: path
        name: insights_report_export_id
        required: true
        description: The ID of the Insights report export.
        schema:
          type: integer
      responses:
        '200':
          description: A list of Insights Report Exports have been retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  latest_success:
                    type: object
                    description: Download the most recent successfully exported report.
                    properties:
                      url:
                        type: string
                        description: The URL to the most recent successful report export. Download the exported report within 60 seconds. The URL expiration period is subject to change. If you do not download the report within 60 seconds, you can send a new request to generate a new URL.
                      created_at:
                        type: string
                        format: date-time
                        description: Timestamp for when the most recent successful report export was completed.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
components:
  schemas:
    Errors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    Error:
      type: object
      properties:
        type:
          type: string
        message:
          type: string
  securitySchemes:
    BearerToken:
      type: apiKey
      name: Bearer
      in: header
    OauthSecurity:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://app.mavenlink.com/oauth/authorize
          tokenUrl: https://app.mavenlink.com/oauth/token
x-tagGroups:
- name: '# Subscribed Events'
  tags:
  - Event Types
  - Events
- name: Account Locations
  tags:
  - Account Locations
- name: Account Settings & Members
  tags:
  - Access Group Memberships
  - Account Colors
  - Account Invitations
  - Account Memberships
  - Backup Approver Associations
  - Billable Utilizations
  - Cost Rates
  - Custom Branding
  - Organization Memberships
  - Organizations
  - Roles
  - Skill Categories
  - Skill Memberships
  - Skills
  - Task Status Sets
  - Task Statuses
  - User Group Memberships
  - Users
- name: Currencies
  tags:
  - Currencies
- name: Custom Fields
  tags:
  - Custom Field Choices
  - Custom Field Sets
  - Custom Field Values
  - Custom Fields
- name: Data Exporter
  tags:
  - Data Export Schema
  - Data Exports
- name: Estimates
  tags:
  - Estimate Scenario Resource Allocations
  - Estimate Scenario Resources
  - Estimate Scenarios
  - Estimates
- name: Expense Budgets
  tags:
  - Expense Budgets
- name: Expense Tracking
  tags:
  - Attachments
  - Expense Categories
  - Expense Report Submissions
  - Expenses
  - Vendors
- name: External References
  tags:
  - External References
- name: Financials
  tags:
  - Billing Milestones
  - Revenue Recognition Methods
- name: Foreign Exchange
  tags:
  - Exchange Tables
- name: Insights & Analytics
  tags:
  - Insights Access Group Memberships
  - Insights Dynamic Dashboards
  - Insights Report Exports
  - Insights Reports
- name: Invoices
  tags:
  - Client Invoice Defaults
  - External Payments
  - Invoices
  - Workspace Invoice Preferences
- name: Personal Settings
  tags:
  - Users
- name: Posts & Replies
  tags:
  - Attachments
  - Posts
  - User File Associations
- name: Project Snapshots
  tags:
  - Project Snapshots
- name: Project Templates
  tags:
  - Project Template Additional Tabs
  - Project Template Assignments
  - Project Template Expense Budgets
  - Project Templates
- name: Projects
  tags:
  - Participations
  - Project Accounting Records
  - Status Reports
  - Workspace Allocations
  - Workspace Baselines
  - Workspace Groups
  - Workspace Invoice Preferences
  - Workspace Resource Skills
  - Workspace Resources
  - Workspace Status Changes
  - Workspace Task Status Sets
  - Workspaces
- name: Rate Cards
  tags:
  - Activations
  - Rate Card Role (Rate for a Role)
  - Rate Card Set Version (Effective version by Date)
  - Rate Card Sets (Group of Rate Cards)
  - Rate Card Table Rows
  - Rate Card Versions
  - Rate Cards (Multiple Currencies)
- name: Recommendations
  tags:
  - Recommendations
- name: Resource Requests
  tags:
  - Resource Requests
- name: Scheduling
  tags:
  - Holiday Calendar Associations
  - Holiday Calendar Memberships
  - Holiday Calendars
  - Holidays
  - Time Off Entries
  - Workweek Memberships
  - Workweeks
- name: Surveys (Legacy)
  tags:
  - Survey Answers (Legacy)
  - Survey Questions (Legacy)
  - Survey Templates (Legacy)
  - Surveys Responses (Legacy)
- name: Tasks
  tags:
  - Assignments
  - Daily Scheduled Hours (Story Allocation Days)
  - Followers
  - Stories
  - Story Dependencies
  - Story State Changes
  - Story Tasks
- name: Time Tracking
  tags:
  - Line Item Locks
  - Time Entries
  - Timesheet Approvals
  - Timesheet Cancellations
  - Timesheet Rejections
  - Timesheet Submissions
