---
swagger: '2.0'
host: api.mavenlink.com
basePath: "/api/v1"
schemes:
- https
consumes:
- application/json
produces:
- application/json
info:
  version: 1.0.0
  title: Kantata OX API Documentation
  description: "Kantata OX's API provides access to the majority of Kantata OX's data
    model. The API authenticates requests using OAuth2 tokens and exists primarily
    to allow scripts and 3rd-party applications to access and manage Kantata OX data
    on behalf of Kantata OX users.\n\n## Schema\n\nRequests must be sent via HTTPS
    and can be in either JSON or [Rails structured x-www-form-urlencoded](http://stackoverflow.com/a/950198)
    format. Responses will always be returned in JSON format.  Dates and times are
    returned as [ISO 8601](http://www.w3.org/TR/NOTE-datetime) formatted strings.
    All requests to the API must have URLs relative to the base API URL:\n\n\n```\nhttps://api.mavenlink.com/api/v1/\n```\n\n##
    Authentication\n\nAll requests to the Kantata OX API must be authenticated with
    an OAuth bearer token. See the application workflow for details on how to register
    an application with Kantata OX and obtain OAuth bearer tokens.\n\nTo authenticate
    using the `Authorization` header, set the header's value to `Bearer <token>`.
    So, if your token was `abc123`, your HTTP request would include the header `Authorization:
    Bearer abc123`.\n\nFor example, authenticating a request using `curl` would mean
    running a command similar to this one:\n\n\n```curl\ncurl -H \"Authorization:
    Bearer abc123\" \"https://api.mavenlink.com/api/v1/workspaces.json\"\n```\n\nAll
    requests to the Kantata OX API require an Authorization header. For brevity, future
    API request examples in this documentation will not include the example Authorization
    header parameter.\n\n### OAuth 2.0\n\n[OAuth 2.0](http://oauth.net/2/) provides
    an evolving, standardized inter-application authentication workflow for the Web.
    \ To build an application that interacts with Kantata OX on behalf of your users,
    you will need to register your application, and then obtain an OAuth token for
    each of your users.\n\n#### Registering your application\n\nRegister and manage
    OAuth2 applications that can connect to Kantata OX at the [application management](https://app.mavenlink.com/oauth/applications)
    page as a Kantata OX account administrator. You'll need a paid Kantata OX account
    in order to register applications with us. Applications have a name and a callback
    URL for OAuth2.\n\nIf you only want to use the Kantata OX API for yourself, or
    as a backend connector, you must still register an Application, but then you can
    get an OAuth token for yourself on the Application's page. If you want your application
    to be able to use the Kantata OX API on behalf of other users, read the next section.\n\n####
    Obtaining tokens for users\n\nEvery request to the Kantata OX API must be accompanied
    by a valid OAuth token, indicating that your application has been authorized by
    the Kantata OX user in question. When you register an application with us, we'll
    provide you with a secret key. That key is unique to your application, and shouldn't
    be shared with anyone else. Treat it like a password.  You'll need it to request
    user tokens.\n\nTo authorize your application for Kantata OX API access and obtain
    a user token, follow the below steps for each Kantata OX user:\n\nNote: If you
    are using an OAuth2 library, many of these steps will be handled for you.\n\n
    \ 1. Request a short-term code, granted when the Kantata OX user agrees to allow
    your application access.\n\n      Send your user to `/oauth/authorize` with the
    REQUIRED parameters `client_id`, `response_type`, and `redirect_uri`.\n\n        *
    `client_id` is the ID assigned to your application by Kantata OX\n        * `response_type`
    must be set to \"code\"\n        * `redirect_uri` must be set to a URL where your
    application can accept codes and then exchange them for access tokens.  It should
    match the `redirect_uri` specified when you registered your application.\n\n      Here
    is an example URL that an application located at \"myapp.com\" might use. (Linebreaks
    are not included in the URL.)\n\n        ```curl\n          https://app.mavenlink.com/oauth/authorize?response_type=code&client_id=abc123&redirect_uri=http%3A%2F%2Fmyapp.com%2Foauth%2Fcallback\n
    \       ```\n\n  2. The user will be asked by Kantata OX if they want to authorize
    your application to interact with Kantata OX on their behalf.\n\n      If something
    goes wrong (like the user refused to authorize your application), Kantata OX will
    redirect to the `redirect_uri` with query parameters providing information about
    the error. For example, if authorization is denied, the user will be redirected
    to:\n\n        ```curl\n          $REDIRECT_URI?error=access_denied&error_description=The+resource+owner+or+authorization+server+denied+the+request.\n
    \       ```\n\n      If the user allows your application, then Kantata OX will
    redirect to the `redirect_uri` with query parameters providing your application
    with a time-limited code that your application can exchange for an access token
    within the next 5 minutes. Here is an example redirection with granted access:\n\n
    \       ```curl\n          $REDIRECT_URI?code=abc123\n        ```\n\n  3. Your
    application exchanges the code for an access token\n\n      Now that your application
    has a code, it should make a POST request directly to Kantata OX at `https://app.mavenlink.com/oauth/token`
    to exchange the code for an access token that will allow continued interaction
    with the Kantata OX API. The request must include the `client_id`, `client_secret`,
    `grant_type`, `code`, and `redirect_uri` parameters.\n\n      * `client_id` is
    the ID assigned to your application by Kantata OX\n      * `client_secret` is
    the secret token assigned to your application by Kantata OX\n      * `grant_type`
    must be set to \"authorization_code\" in order to exchange a code for an access
    token\n      * `code` is the value that was returned in the `code` query parameter
    when Kantata OX redirected back to your `redirect_uri`\n      * `redirect_uri`
    is the exact same value that you used in the original request to /oauth/authorize\n\n
    \     If the request is invalid for some reason, an error response like the one
    described above will be returned. However, the parameters will be returned in
    the response body, encoded as JSON, instead of in the URL encoded as query parameters.\n\n
    \     If the request is valid, Kantata OX will provide a response body, encoded
    in JSON, containing `access_token` and `token_type`.\n\n        * `access_token`
    is the token that your application will use to authenticate requests to the Kantata
    OX API as this user\n        * `token_type` will be \"bearer\"\n\n  4. Your application
    uses the access token to make authenticated requests to the Kantata OX API\n\n
    \     At this point, your application can use the access token to authenticate
    requests made to the Kantata OX API as described above in the [Authentication](#authentication)
    section.\n\n## Bearer Token\n**Security Scheme Type:** API Key\n\n**Header parameter
    name:** Bearer\n\n## OauthSecurity\n**Security Scheme Type:** OAuth2\n\n**Flow
    type:** `authorizationCode`\n\n**Authorization URL:** `https://app.mavenlink.com/oauth/authorize`\n\n**Token
    URL:** `https://app.mavenlink.com/oauth/token`\n\n### Security\n\nKantata OX OAuth
    access tokens do not expire and must be treated with the same security that you
    would treat client credentials such as passwords.  All requests must be made over
    SSL and all user security credentials must be stored using industry best practices.
    \ If a user revokes your application's access, usage of the token will result
    in an error.\n\n## Response Format\n\nKantata OX API responses come back as JSON.
    \ All GET responses will be of a format similar to the following:\n\n\n```json\n{\n
    \ \"count\": 2,\n  \"results\": [{ key: \"workspaces\", id: \"10\" }, { key: \"workspaces\",
    id: \"11\" }],\n  \"workspaces\": {\n    \"10\": {\n      id: \"10\",\n      title:
    \"some project\",\n      participant_ids: [\"2\", \"6\"],\n      primary_counterpart_id:
    \"6\"\n    },\n    \"11\": {\n      id: \"11\",\n      title: \"another project\",\n
    \     participant_ids: [\"2\", \"8\"],\n      primary_counterpart_id: \"8\"\n
    \   }\n  },\n  \"users\": {\n    \"2\": { id: \"2\", full_name: \"bob\" },\n    \"6\":
    { id: \"6\", full_name: \"chaz\" },\n    \"8\": { id: \"8\", full_name: \"jane\"
    }\n  }\n}\n```\n\nAs you can see, Kantata OX API responses can return multiple
    data types simultaneously, transferring objects and their associations in a single
    response.  In this example, the developer has likely requested the `/workspaces.json`
    endpoint, asking for inclusion of those workspaces' participants and primary counterparts.
    \ These associations have come back in the top-level object called `users`.  The
    developer should always use the returned `results` array to retrieve the canonical
    results from an API request.  This is because some objects may have associations
    of the same type and can thus be mixed together with their associations in the
    JSON.  For example, stories (tasks) have sub_stories which are the same type of
    object, so looking directly at the returned `stories` key when stories have been
    requested to include their sub_stories will be confusing and will include both.
    \ Instead, iterate the `results` key to determine exactly which top-level objects
    matched your query and in what order.\n\nThe follow sections explain how to customize
    further the Kantata OX API responses to your needs.\n\n## Pagination\n\nLarge
    lists of items may be returned in pages. The JSON response will contain a key
    named `count` with a value of the number of objects returned by the entire query.
    If that number is greater than the number of objects returned by the request,
    additional objects may be requested by setting the parameter `page`, the parameter
    `per_page`, or both.\n\nIf you would like to start at a specific offset you may
    alternatively use `limit` and `offset` parameters.  If both `limit` and `offset`
    are passed then `page` and `per_page` are ignored, otherwise behavior falls back
    to `page` and `per_page`.\n\n* `page`\n  * type: Integer\n  * default: 1\n* `per_page`\n
    \ * type: Integer\n  * default: 20\n  * maximum: 200\n* `usage`\n  * workspaces.json?page=2&per_page=15\n\n-or-\n\n*
    `limit`\n  * type: Integer\n  * minimum: 1\n* `offset`\n  * type: Integer\n  *
    minimum: 0\n* `usage`\n  * workspaces.json?limit=15&offset=10\n\n## Request by
    ID\n\nWhile each API endpoint returns a paginated listing of the data available,
    it is sometimes more useful to request only one (or only a few) items. The Kantata
    OX API provides two ways to do this.  The first, via the `only` parameter, allows
    you to request one or more resources directly by ID. To request the data for a
    single Workspace with an ID of 5, make an API request to the URL `GET /api/v1/workspaces.json?only=5`.
    Multiple IDs can be supplied in a comma separated list, like `GET /api/v1/workspaces.json?only=5,6,7`.
    The returned JSON will contain only the objects with those IDs.\n\n* `only`\n
    \ * type: Comma separated Integers\n  * default: not applicable\n* `usage`\n  *
    workspaces.json?only=5,6\n\nAdditionally, we support traditional RESTful routes,
    such as `GET /api/v1/workspaces/5.json`.  These routes also support our standard
    filters and includes, both detailed below.  Unlike `only` requests to our \"index\"
    routes, these \"show\" routes will generate a 404 response if the requested resource
    cannot be found.  Sometimes this is due to default filters being applied, so be
    sure to check the filter defaults applied in the specific documentation for the
    requested resource.  More on filters below.\n\n## Filters\n\nMany API endpoints
    also provide an optional set of filters that can be applied to the data that will
    be returned. Each filter, and the logic behind it, is documented on the individual
    endpoint pages, but the general form is a URL query parameter or request parameter
    like `filter1=arg1&filter2=arg2`, where `filter1` and `filter2` are the names
    of two different filters, and `arg1` and `arg2` are the arguments to each filter,
    respectively.  Additionally, some filters have default values, which indicates
    that they are automatically applied to your request with their default value.
    \ Default values are applied both on \"index\" (`GET /workspaces.json`) requests
    and \"show\" (`GET /workspaces/1.json`) requests.\n\n## Includes\n\nSome objects
    returned by the API may have associations that are not included in the JSON response
    by default. Those associated objects can be requested by adding an `include` parameter
    to the request. For example, to request both a list of posts, and the users that
    created those posts, you could request `/posts.json?include=user`. The response
    will consist of a JSON object with an array of result mappings under the `\"results\"`
    key, a `\"posts\"` key with a hash of post objects, keyed by id, and a `\"users\"`
    key with a hash of user objects, again keyed by id. To find the user that created
    a particular post, just use the post object's `\"user_id\"` key to find the user
    object keyed with the same id.\n\nMultiple associations may be fetched simultaneously
    by adding comma-separated values to the `include` parameter. For example, to fetch
    the user and replies associated with post 6, you might request `/posts.json?only=6&include=user,attachments`,
    which would supply both the users and the attachments that belong to the posts
    returned in the response.\n\n_Example_\n\n\n```curl\ncurl -H \"Authorization:
    Bearer abc123\" \"https://api.mavenlink.com/api/v1/posts.json?include=user,attachments\"\n```\n\n```json\n{\n
    \ \"count\": 1,\n  \"results\": [\n    { \"key\": \"posts\", \"id\": \"16270634\"
    }\n  ],\n  \"posts\": {\n    \"16270634\": {\n      \"id\": \"16270634\",\n      \"message\":
    \"Hello World\",\n      \"has_attachments\": true,\n      \"user_id\": \"2\",\n
    \     \"workspace_id\": \"2249167\",\n      \"attachment_ids\": [\"6700107\"]\n
    \   }\n  },\n  \"users\": {\n    \"2\": {\n      \"id\": \"2\",\n      \"full_name\":
    \"John Doe\",\n      \"email_address\": \"johnny_doe@example.com\"\n    }\n  },\n
    \ \"attachments\": {\n    \"6700107\": {\n      \"id\": \"6700107\",\n      \"created_at\":
    \"2013-04-15T16:48:48-07:00\",\n      \"filename\": \"turtle.jpg\",\n      \"filesize\":
    16225\n    }\n  }\n}\n```\n\n## Optional Fields\n\nSome objects returned by the
    API may have fields that are not included in the JSON response by default. Those
    optional fields can be requested by adding an `optional_fields` parameter to the
    request. For example, to request a list of stories and include the optional field
    `can_edit`, you could request `/stories.json?optional_fields=can_edit`. Each story
    in the response will include the requested optional field in their JSON.\n\nMultiple
    optional fields may be requested simultaneously by adding comma-separated values
    to the `optional_fields` parameter. For example, to fetch stories and include
    both `can_edit` and `can_post` fields in the response, you can request `/stories.json?optional_fields=can_edit,can_post`.\n\n_Example_\n\n\n```curl\ncurl
    -H \"Authorization: Bearer abc123\" \"https://api.mavenlink.com/api/v1/stories.json?optional_fields=can_edit,can_post\"\n```\n\n```json\n{\n
    \ \"count\": 1,\n  \"results\": [\n    {\n      \"key\": \"stories\",\n      \"id\":
    \"1941361\"\n    }\n  ],\n  \"stories\": {\n    \"1937928\": {\n      \"title\":
    \"Example Story\",\n      \"description\": \"example description\",\n      ...\n
    \     \"subtree_depth\": 0,\n      \"ancestry_depth\": 0,\n      \"can_edit\":
    true,\n      \"can_post\": true,\n      \"time_trackable\": true,\n      \"time_estimate_in_minutes\":
    null,\n      ...\n      \"parent_id\": null,\n      \"root_id\": null,\n      \"id\":
    \"1937928\"\n    }\n  },\n  \"meta\": {\n    \"count\": 1,\n    \"page_count\":
    1,\n    \"page_number\": 1,\n    \"page_size\": 20\n  }\n}\n```\n\n## Ordering\n\nEach
    endpoint in the Kantata OX API allows ordering by various fields.  If we're missing
    a sort field that you need, please ask!  See the specific endpoint documentation
    for endpoint-specific details.\n\nWhen ordering, supply `order` with the name
    of a valid sort field for the endpoint and a direction.  For example, `order=created_at:desc`.\n\n##
    Searching\n\nSome API endpoints support text search, however only some filters
    can be combined with search, and results will be returned ordered by relevancy
    to the search query.  Search does not apply to `only` requests.  If search is
    unavailable the response will contain a system error describing the problem.\n\nTo
    make a search request, simply add a `search` parameter to the request.  For example,
    to search for stories with \"estimates\" in the title, assignee names, or other
    fields, request `/stories.json?search=estimates`\n\n## Errors\n\nIf there is an
    error while processing your request, the response will include an HTTP status
    code indicating the error.  Errors are currently returned as a top-level `errors`
    key with an array of error objects.  For example, on OAuth failure you will receive
    a HTTP 401 with the following JSON body:\n  \n\n```json\n{\n  errors: [\n    {\n
    \     type: \"oauth\"\n      message: \"Invalid OAuth 2 Request\"\n    }\n  ]\n}\n```\n\nSystem
    errors will look like:\n\n\n```json\n{\n  errors: [\n    {\n      type: \"system\"\n
    \     message: \"Your account has been canceled\"\n    }\n  ]\n}\n```\n\nAnd model
    validation errors look like:\n\n\n```json\n{\n  errors: [\n    {\n      type:
    \"validation\",\n      message: \"Please give your project a title\",\n      field:
    \"title\"\n    },\n    {\n      type: \"validation\",\n      message: \"Please
    select a role for this project\",\n      field: \"creator_role\"\n    }\n  ]\n}\n```\n\n\n##
    Rate Limits\n\nWhen too many requests are made in a short amount of time, the
    API may reply with the HTTP code 429 Too Many Requests. In that case, simply retry
    your request after a small delay.\n\nThere are general rate limits applied to
    all requests. The following endpoints also have their own rate limits:\n\n* [Create
    a workspace](/tag/Workspaces#operation/create-workspace) - `POST /api/v1/workspaces`\n*
    [Get workspaces](/tag/Workspaces#operation/get-workspaces) - `GET /api/v1/workspaces`\n*
    [Create a workspace invitation](/tag/Workspaces#operation/create-workspace-invitation)
    - `POST /api/v1/workspaces/{id}/invite`\n* [Create an account invitation](/tag/Account-Invitations#operation/create-account-invitation)
    (i.e. Create a new user) - `POST /api/v1/account_invitations`\n* [Resend an account
    invitation](/tag/Account-Invitations#operation/resend-account-invitation) - `PUT
    /api/v1/account_invitations/{id}/resend`\n* [Create custom field value](/tag/Custom-Field-Values#operation/create-custom-field-value)
    - `POST /api/v1/custom_field_values`\n* [Get custom field values](/tag/Custom-Field-Values#operation/get-custom-field-values)
    - `GET /api/v1/custom_field_values`\n* [Create a project snapshot](/tag/Project-Snapshots#operation/create-project-snapshot)
    - `POST /api/v1/project_snapshots`\n\nPlease see the [Knowledge Base](https://knowledge.kantata.com/hc/en-us/articles/9698066628123)
    for the exact rate limits.\n\nPlease note that we reserve the right to change
    the limits at any time. In addition, if we determine that someone is using the
    API improperly, we may adjust the limits further.\n\n## Timeouts\n\nAll API requests
    will timeout after 3 minutes. Timeouts typically occur when there is a lot of
    data to return. You can use the following strategies to avoid your requests timing
    out:\n\n* Break up your request into smaller requests\n* Apply a date filter to
    your request\n* If you are polling multiple endpoints in order to export data
    or sync Kantata data to a third-party system, use the [Subscribed Events API](/tag/Events)
    instead. You can get recently updated objects in one request.\n"
  termsOfService: https://www.kantata.com/terms-of-use
  contact:
    name: Kantata OX Support
    url: https://knowledge.kantata.com/hc/en-us
  license:
    name: COPYRIGHT © 2026 Kantata, Inc.
    url: https://www.kantata.com/terms-of-use
  x-logo:
    url: https://theme.zdassets.com/theme_assets/56104/04e93064d309f75d054b8cee885d1ea51e9be8f7.png
    backgroundColor: "#FFFFFF"
    altText: Kantata OX API Documentation
    href: https://developer.kantata.com
definitions:
  AccessGroupMembership:
    title: Access Group Membership
    description: Access Groups allow you to manage product access for users. An Access
      Group Membership represents the connection of a user to an Access Group.
    type: object
    properties:
      access_group_id:
        type: integer
        format: int32
        description: The ID of the associated access group.
      access_group_name:
        type: string
        description: The name of the associated access group.
      created_at:
        type: string
        format: date
        description: When the access group membership was created (i.e. when the user
          was added to the access group).
      creator_id:
        type: integer
        format: int32
        description: The ID of the user that created the access group membership (i.e.
          the person that added the user to the access group).
      user_id:
        type: integer
        format: int32
        description: The ID of the associated user.
      user_name:
        type: string
        description: The name of the associated user.
  AccountColor:
    title: Account Color
    description: A color on the user's account that can be associated with a project.
    type: object
    properties:
      created_at:
        type: string
        format: date-time
      default_color:
        type: boolean
        description: Whether the color is the account default. Each account can only
          have one default color.
      enabled:
        type: boolean
        description: Whether the color is enabled on the account.
      hex:
        type: string
        description: 'The hex value of the color in the format #XXXXXX.'
      name:
        type: string
        description: The human readable color name.
      updated_at:
        type: string
        format: date-time
  AccountDataExportResult:
    title: Data Export
    description: Account data exports are used to download account data from Kantata
      OX.
    type: object
    properties:
      account_id:
        type: integer
        format: int32
        description: The account ID the export was generated for.
      created_at:
        type: string
        format: date-time
        description: The date and time the export was generated.
      export_definition:
        type: object
        description: The data set and columns that were exported.
        additionalProperties:
          type: object
          description: The `key` value for a data set.
          properties:
            display_name:
              type: string
              description: The name of the data set as it appears in the Data Exporter.
            key:
              type: string
              description: The `key` value for a data set.
            columns:
              type: array
              description: The columns included in the export.
              items:
                type: object
                properties:
                  key:
                    type: string
                    description: The `key` value for a column in a data set.
                  display_name:
                    type: string
                    description: The names of columns as they appear in the Data Exporter.
                  description:
                    type: string
                    description: The description of a column in an export.
                  type:
                    type: string
                    description: The data type of a column.
            filters:
              type: object
              description: The filters that were applied to the export.
              properties:
                start_date:
                  type: string
                  format: date
                  description: The start date the export was filtered by, which restricts
                    data to objects that were created on or after the given date.
                end_date:
                  type: string
                  format: date
                  description: The end date the export was filtered by, which restricts
                    data to objects that were created on or before the given date.
      status:
        type: string
        description: The status of an export.
      user_id:
        type: string
        description: "`user_id` will only be included in the response if `user` is
          in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
  AccountInsightsMapping:
    title: Account Insights Mapping
    description: Account Insights Mapping represent the Insights dashboards on your
      account.
    type: object
    properties:
      access_group_ids:
        type: array
        items:
          type: string
        description: "`access_group_ids` will only be included in the response if
          `access_groups` is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      creator:
        type: string
        description: The name of the person that created the dashboard.
      dynamic:
        type: boolean
        description: Whether the dashboard is a dynamic dashboard.
      is_custom_dashboard:
        type: boolean
        description: Whether the dashboard is a standard (`false`) or custom (`true`)
          dashboard.
      name:
        type: string
        description: The name of the dashboard.
  AccountInvitation:
    title: Account Invitation
    description: The Account Invitation represents an invitation to join an existing
      Kantata OX account as a user.
    type: object
    properties:
      bill_rate_in_cents:
        type: integer
        format: int32
        description: |-
          The default billing rate, in cents, for the user in a workspace on this account.
          Visible when the API user is on the invitation account. and the API user is an Account Project Lead..
      billability_target:
        type: integer
        format: int32
        description: |2-

          Visible when the API user is on the invitation account. and the API user is an Account Project Lead..
      cost_rate_in_cents:
        type: integer
        format: int32
        description: |-
          The default cost rate, in cents, for the user in a workspace on this account.
          Visible when the API user is on the invitation account. and the API user is an Account Administrator..
      default_role_id:
        type: string
        description: "`default_role_id` will only be included in the response if `default_role`
          is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      email_address:
        type: string
        description: The email address of the invited user. An email is sent to this
          address with a link to accept the invitation.
      expiration_date:
        type: string
        description: The invitation's expiration date.
      full_name:
        type: string
        description: The full name of the invited user.
      headline:
        type: string
      invitee_id:
        type: string
        description: "`invitee_id` will only be included in the response if `invitee`
          is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      inviter_id:
        type: string
        description: "`inviter_id` will only be included in the response if `inviter`
          is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      pending:
        type: boolean
        description: The status of the invitation.
      permission:
        type: string
        description: The access level that the invited user will have (one of administrator,
          reports_viewer_with_cost, reports_viewer, project_lead, project_creator,
          collaborator, and punch_clock).
  AccountLocation:
    title: Account Location
    description: Represents a location associated with an account.
    type: object
    properties:
      archived:
        type: boolean
        description: Whether the Account Location is archived.
      in_use:
        type: boolean
        description: Whether the Account Location is in use.
      name:
        type: string
        description: The location the Account Location represents.
  AccountMembership:
    title: Account Membership
    description: An Account Membership represents the relationship of a user to an
      account.
    type: object
    properties:
      backup_approver_association_ids:
        type: array
        items:
          type: string
        description: "`backup_approver_association_ids` will only be included in the
          response if `backup_approver_associations` is in the list of included associations.
          See <a href='#section/Includes'>include</a> section for usage."
      bill_rate_in_cents:
        type: integer
        format: int32
        description: |-
          The default billing rate, in cents, for the user in a workspace on this account when the workspace
          does not use rate card. This attribute is only accessible if the current user is a Project Lead.
          Visible when the account membership is on the same account as the API user. and the API user is an Account Project Lead..
      billability_target:
        type: integer
        format: int32
        description: |2-

          Visible when the account membership is on the same account as the API user. and the API user is an Account Project Lead..
      can_create_workspace:
        type: boolean
        description: Whether the user can create projects.
      can_log_in:
        type: boolean
        description: |-
          Whether the user can log in.
          Only returned when requested through the optional_fields param.
      can_view_reports:
        type: boolean
        description: Whether the user can view reports.
      collaborator_only_license:
        type: boolean
        description: |-
          Whether the user is always a Collaborator in projects.
          Visible when the account membership is on the same account as the API user..
      cost_rate_ids:
        type: array
        items:
          type: string
        description: "`cost_rate_ids` will only be included in the response if `cost_rates`
          is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      cost_rate_in_cents:
        type: integer
        format: int32
        description: |-
          The default cost rate, in cents, for the user in a workspace on this account. This attribute is only
          accessible if the current user is an Administrator on the account.
          Visible when the account membership is on the same account as the API user. and the API user is an Account Administrator..
      created_at:
        type: string
        format: date-time
      default_read_only:
        type: boolean
        description: Whether the user is always read-only in projects.
      default_role_id:
        type: string
        description: "`default_role_id` will only be included in the response if `default_role`
          is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      disabled_at:
        type: string
        format: date-time
        description: The date when the account membership was disabled.
      effective_workweek_id:
        type: string
        description: "`effective_workweek_id` will only be included in the response
          if `effective_workweek` is in the list of included associations. See <a
          href='#section/Includes'>include</a> section for usage."
      future_billable_utilization_ids:
        type: array
        items:
          type: string
        description: "`future_billable_utilization_ids` will only be included in the
          response if `future_billable_utilizations` is in the list of included associations.
          See <a href='#section/Includes'>include</a> section for usage."
      is_administrator:
        type: boolean
        description: Whether the user is an Administrator.
      is_backup_approver:
        type: boolean
        description: Whether the user is a backup approver for others users on the
          account.
      is_owner:
        type: boolean
        description: The owner of the account.
      is_project_lead:
        type: boolean
        description: Whether the user is a Project Lead.
      is_punch_clock_user:
        type: boolean
        description: Whether the user is a Punch Clock User.
      managee_ids:
        type: array
        items:
          type: string
        description: "`managee_ids` will only be included in the response if `managees`
          is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      manager_can_approve:
        type: boolean
        description: If present, the assigned manager can approve submitted time and
          expenses.
      manager_can_edit_skills:
        type: boolean
        description: If present, the assigned manager can edit the user's skills.
      manager_id:
        type: string
        description: "`manager_id` will only be included in the response if `manager`
          is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      non_participant:
        type: boolean
        description: |2-

          Visible when the account membership is on the same account as the API user..

          Only returned when requested through the optional_fields param.
      permission:
        type: string
        description: The user's access level. Options are administrator, reports_viewer_with_cost,
          reports_viewer, project_lead, project_creator, collaborator, external_collaborator,
          and punch_clock.
      possible_managee_ids:
        type: array
        items:
          type: string
        description: "`possible_managee_ids` will only be included in the response
          if `possible_managees` is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      possible_manager_ids:
        type: array
        items:
          type: string
        description: "`possible_manager_ids` will only be included in the response
          if `possible_managers` is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      should_show_alert_on_timesheet_submission:
        type: boolean
        description: Show an alert on a user's timesheet submission.
      skill_membership_ids:
        type: array
        items:
          type: string
        description: "`skill_membership_ids` will only be included in the response
          if `skill_memberships` is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      updated_at:
        type: string
        format: date-time
      user_id:
        type: string
        description: "`user_id` will only be included in the response if `user` is
          in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
  ActsAsTaggableOn::Tag:
    title: Acts As Taggable On/Tag
    type: object
    properties:
      name:
        type: string
      status:
        type: string
  AdditionalItem:
    title: Additional Item
    type: object
    properties:
      amount_in_cents:
        type: integer
        format: int32
      created_at:
        type: string
        format: date-time
      currency:
        type: string
      notes:
        type: string
      taxable:
        type: boolean
      workspace_id:
        type: integer
        format: int32
  Assignment:
    title: Assignment
    description: |-
      An Assignment represents the relationship of a resource to a task. It owns
      Story Allocation Days.
    type: object
    properties:
      allocated_minutes:
        type: integer
        format: int32
        description: The calculated sum of the assignment's Story Allocation Day minutes.
      assignee_id:
        type: string
        description: "`assignee_id` will only be included in the response if `assignee`
          is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      created_at:
        type: string
        format: date-time
      current:
        type: boolean
        description: Whether the assignment is active.
      estimated_minutes:
        type: integer
        format: int32
        description: The estimated number of minutes that the resource is expected
          to work on this task.
      external_reference_ids:
        type: array
        items:
          type: string
        description: "`external_reference_ids` will only be included in the response
          if `external_references` is in the list of included associations. See <a
          href='#section/Includes'>include</a> section for usage."
      resource_id:
        type: integer
        format: int32
        description: The ID of the resource who owns the assignment.
      story_allocation_day_ids:
        type: array
        items:
          type: string
        description: "`story_allocation_day_ids` will only be included in the response
          if `story_allocation_days` is in the list of included associations. See
          <a href='#section/Includes'>include</a> section for usage."
      story_id:
        type: string
        description: "`story_id` will only be included in the response if `story`
          is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      updated_at:
        type: string
        format: date-time
  Attachments::Base:
    title: Attachment
    description: |-
      Attachments are files that accompany other resources provided by the Kantata OX API.  Expenses can have an
      attachment (tracked as a receipt).  Posts can also have attachments, which are displayed along with the post
      in the activity feed or in task tracker.
    type: object
    properties:
      created_at:
        type: string
        format: date-time
      creator_name:
        type: string
        description: |-
          The user who originally uploaded the attachment.
          Visible when the attachment belongs to a post.
      deletable:
        type: boolean
        description: |-
          Whether the current user can delete the attachment.
          Visible when the attachment belongs to a post.
      deleted_at:
        type: string
        format: date-time
      filename:
        type: string
        description: The original filename of the attachment when it was uploaded.
      filesize:
        type: integer
        format: int32
        description: The size of the attachment, in bytes.
      previewable:
        type: boolean
        description: Whether the attachment is a previewable thumbnailed image.
      updated_at:
        type: string
        format: date-time
      url:
        type: string
        description: The url from which to download the attachment from the CDN.
      view_in_new_tab:
        type: boolean
        description: Whether the attachment is a filetype that should be viewed in
          a new tab; usually PDFs.
  Attachments::PostAttachment:
    title: Attachment
    description: |-
      Attachments are files that accompany other resources provided by the Kantata OX API.  Expenses can have an
      attachment (tracked as a receipt).  Posts can also have attachments, which are displayed along with the post
      in the activity feed or in task tracker.
    type: object
    properties:
      created_at:
        type: string
        format: date-time
      creator_name:
        type: string
        description: |-
          The user who originally uploaded the attachment.
          Visible when the attachment belongs to a post.
      deletable:
        type: boolean
        description: |-
          Whether the current user can delete the attachment.
          Visible when the attachment belongs to a post.
      deleted_at:
        type: string
        format: date-time
      filename:
        type: string
        description: The original filename of the attachment when it was uploaded.
      filesize:
        type: integer
        format: int32
        description: The size of the attachment, in bytes.
      previewable:
        type: boolean
        description: Whether the attachment is a previewable thumbnailed image.
      updated_at:
        type: string
        format: date-time
      url:
        type: string
        description: The url from which to download the attachment from the CDN.
      view_in_new_tab:
        type: boolean
        description: Whether the attachment is a filetype that should be viewed in
          a new tab; usually PDFs.
  Attachments::ProofAttachment:
    title: Attachment
    description: |-
      Attachments are files that accompany other resources provided by the Kantata OX API.  Expenses can have an
      attachment (tracked as a receipt).  Posts can also have attachments, which are displayed along with the post
      in the activity feed or in task tracker.
    type: object
    properties:
      created_at:
        type: string
        format: date-time
      creator_name:
        type: string
        description: |-
          The user who originally uploaded the attachment.
          Visible when the attachment belongs to a post.
      deletable:
        type: boolean
        description: |-
          Whether the current user can delete the attachment.
          Visible when the attachment belongs to a post.
      deleted_at:
        type: string
        format: date-time
      filename:
        type: string
        description: The original filename of the attachment when it was uploaded.
      filesize:
        type: integer
        format: int32
        description: The size of the attachment, in bytes.
      previewable:
        type: boolean
        description: Whether the attachment is a previewable thumbnailed image.
      updated_at:
        type: string
        format: date-time
      url:
        type: string
        description: The url from which to download the attachment from the CDN.
      view_in_new_tab:
        type: boolean
        description: Whether the attachment is a filetype that should be viewed in
          a new tab; usually PDFs.
  Attachments::ReceiptAttachment:
    title: Attachment
    description: |-
      Attachments are files that accompany other resources provided by the Kantata OX API.  Expenses can have an
      attachment (tracked as a receipt).  Posts can also have attachments, which are displayed along with the post
      in the activity feed or in task tracker.
    type: object
    properties:
      created_at:
        type: string
        format: date-time
      creator_name:
        type: string
        description: |-
          The user who originally uploaded the attachment.
          Visible when the attachment belongs to a post.
      deletable:
        type: boolean
        description: |-
          Whether the current user can delete the attachment.
          Visible when the attachment belongs to a post.
      deleted_at:
        type: string
        format: date-time
      filename:
        type: string
        description: The original filename of the attachment when it was uploaded.
      filesize:
        type: integer
        format: int32
        description: The size of the attachment, in bytes.
      previewable:
        type: boolean
        description: Whether the attachment is a previewable thumbnailed image.
      updated_at:
        type: string
        format: date-time
      url:
        type: string
        description: The url from which to download the attachment from the CDN.
      view_in_new_tab:
        type: boolean
        description: Whether the attachment is a filetype that should be viewed in
          a new tab; usually PDFs.
  BackupApproverAssociation:
    title: Backup Approver Association
    description: |-
      Backup Approver Associations describe when a backup approver will be active, or responsible
      for approving time.
    type: object
    properties:
      approver_id:
        type: string
        description: "`approver_id` will only be included in the response if `approver`
          is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      backup_approver_id:
        type: string
        description: "`backup_approver_id` will only be included in the response if
          `backup_approver` is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      end_date:
        type: string
        format: date-time
        description: The backup approver end date.
      start_date:
        type: string
        format: date-time
        description: The backup approver start date.
  BaselinePayload:
    title: Baseline Payload
    description: |-
      A Baseline Payload is associate with one Workspace Baseline.

      The `raw_data` attribute contains a snapshot of all the stories in the workspace. It tracks the following
      attributes for each Story:

      * Start Date
      * Due Date
      * Percentage Complete.
    type: object
    properties:
      raw_data:
        type: string
        description: A JSON blob for this Baseline Payload.
      workspace_baseline_id:
        type: integer
        format: int32
  BillableUtilization:
    title: Billable Utilization
    description: Represents the billable utilization target for an account member.
      Each record has an effective date; the active billable utilization is the one
      with the most recent effective date.
    type: object
    properties:
      account_membership_id:
        type: string
        description: "`account_membership_id` will only be included in the response
          if `account_membership` is in the list of included associations. See <a
          href='#section/Includes'>include</a> section for usage."
      created_at:
        type: string
        format: date-time
      creator_id:
        type: string
        description: "`creator_id` will only be included in the response if `creator`
          is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      effective_date:
        type: string
        format: date
        description: Date this billable utilization becomes active and the target
          goes into effect. Targets go into effect on midnight of the date selected
          (based on the Time Zone set in the Profile of the member).
      target:
        type: integer
        format: int32
        description: Percentage of logged hours that should be billable.
      updated_at:
        type: string
        format: date-time
  BillingMilestone:
    title: Billing Milestones
    description: |-
      Billing milestones allow you to set up billable items in a project that are separate from the Task Tracker work and have invoicing rules.
      A set of billing milestones in a project is known as the [Billing Schedule](https://knowledge.kantata.com/hc/en-us/articles/35123275585947).
    type: object
    properties:
      amount_in_cents:
        type: integer
        format: int32
        description: The billing milestone amount, in the subunits of the currency
          (e.g. cents for USD).
      billing_type:
        type: string
        description: Determines how and when we bill clients for a particular billing
          milestone. Possible values are `fixed_date` and `upon_completion`.
      created_at:
        type: string
        format: date-time
      currency:
        type: string
        description: The [ISO code](https://knowledge.kantata.com/hc/en-us/articles/360041576473-Supported-Currency-ISO-Codes-and-Formats)
          of the currency of the billing milestone.
      date_to_invoice:
        type: string
        format: date
        description: When the billing milestone becomes invoiceable.
      external_reference_ids:
        type: array
        items:
          type: string
        description: "`external_reference_ids` will only be included in the response
          if `external_references` is in the list of included associations. See <a
          href='#section/Includes'>include</a> section for usage."
      invoice_id:
        type: string
        description: The ID of the invoice associated with the billing milestone.
      invoice_ids:
        type: array
        items:
          type: string
        description: "`invoice_ids` will only be included in the response if `invoices`
          is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      story_id:
        type: string
        description: The ID of the story associated with the billing milestone. This
          field is required when the `billing_type` is set to `upon_completion`.
      title:
        type: string
        description: The title of the billing milestone.
      updated_at:
        type: string
        format: date-time
      workspace_id:
        type: string
        description: The ID of the workspace associated with the billing milestone.
  BuyerParticipation:
    title: Participation
    description: |-
      Participations in Kantata OX connect Users and Workspaces (projects). It includes
      permissions, cost rate, bill rate and role details for the participant in the workspace.
    type: object
    properties:
      access_level:
        type: string
        description: |-
          Access level for the user in the workspace. It must be one of "admin", "financial", "time_logging", "collaboration".
          Visible when the API user is an administrator on the project.

          Only returned when requested through the optional_fields param.
      active_role_ids:
        type: array
        items:
          type: string
        description: "`active_role_ids` will only be included in the response if `active_roles`
          is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      allocated_workspace_minutes:
        type: integer
        format: int32
        description: |-
          The allocated minutes for the participant scoped to this project.
          Visible when the API user is a reports viewer on the project's account..
      can_edit:
        type: boolean
        description: |-
          Whether the participant has edit permissions to the project.
          Visible when the API user is an administrator on the project.
      can_edit_expense:
        type: boolean
        description: |-
          Whether the participant can edit expenses in the project.
          Visible when the API user is an administrator on the project.
      can_edit_time:
        type: boolean
        description: |-
          Whether the participant can edit time in the project.
          Visible when the API user is an administrator on the project.
      can_invite:
        type: boolean
        description: Whether the participant can invite others to the project.
      can_post:
        type: boolean
        description: |-
          Whether the participant can post in the project.
          Visible when the API user is an administrator on the project.
      can_schedule_team_hours:
        type: boolean
        description: |-
          Whether the participant can schedule hours for team members.
          Only returned when requested through the optional_fields param.
      can_schedule_their_hours:
        type: boolean
        description: |-
          Whether the participant can schedule their hours.
          Only returned when requested through the optional_fields param.
      cost_in_cents:
        type: integer
        format: int32
        description: |-
          The cost (in cents) for the participant for this this project.
          Visible when the API user is an administrator and a consultant on the project..
      created_at:
        type: string
        format: date-time
      default_rate_in_cents:
        type: integer
        format: int32
        description: |-
          The default rate (in cents) for the participant for this project.
          Visible when the API user is a consultant on the project and has financial access on the project.
      estimated_workspace_minutes:
        type: integer
        format: int32
        description: |-
          The estimated minutes for the participant scoped to this project.
          Visible when the API user is a reports viewer on the project's account..
      external_reference_ids:
        type: array
        items:
          type: string
        description: "`external_reference_ids` will only be included in the response
          if `external_references` is in the list of included associations. See <a
          href='#section/Includes'>include</a> section for usage."
      is_foreign_participant:
        type: boolean
        description: |-
          Whether the participant is part of the project's account.
          Only returned when requested through the optional_fields param.
      is_team_lead:
        type: boolean
        description: Whether the participant is a team lead in the project.
      permissions_label:
        type: string
        description: |-
          Whether the user has an edit permission, a view only permission, or a view permission with additional access. Possible values are `edit`, `view_only`, or `view_with_custom`.
          Visible when the API user is an administrator on the project.

          Only returned when requested through the optional_fields param.
      primary_role_id:
        type: string
        description: "`primary_role_id` will only be included in the response if `primary_role`
          is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      rate_in_cents:
        type: integer
        format: int32
        description: |-
          The rate (in cents) for the participant for this project.
          Visible when the API user is a consultant on the project and has financial access on the project.
      role:
        type: string
        description: The role for the participant.
      show_as_read_only:
        type: boolean
        description: Whether the API user can only read the project.
      updated_at:
        type: string
        format: date-time
      user_id:
        type: string
        description: "`user_id` will only be included in the response if `user` is
          in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      workspace_id:
        type: string
        description: "`workspace_id` will only be included in the response if `workspace`
          is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      workspace_resource_ids:
        type: array
        items:
          type: string
        description: "`workspace_resource_ids` will only be included in the response
          if `workspace_resources` is in the list of included associations. See <a
          href='#section/Includes'>include</a> section for usage."
      workspace_role_id:
        type: string
        description: "`workspace_role_id` will only be included in the response if
          `workspace_role` is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
  ChangeOrder:
    title: Change Order
    type: object
  ClientInvoiceDefault:
    title: Client Invoice Defaults
    description: Represents the default configuration for presenting invoices to clients.
    type: object
    properties:
      created_at:
        type: string
        format: date-time
        description: The date and time that the invoice default was created.
      expense_rollup_type:
        type: integer
        format: int32
        description: Options for how expenses are formatted on an invoice. These options
          include 'Detailed' and 'Grouped'. They are represented by the numbers 0
          and 1, respectively.
      rich_text:
        type: string
        description: Default rich text shown as additional details on the invoice.
      show_creators:
        type: boolean
        description: Whether the name of the person who created the entry should be
          shown.
      show_dates:
        type: boolean
        description: Whether dates for items on the invoice should be shown.
      show_hours:
        type: boolean
        description: Whether hours logged on a time entry on the invoice should be
          shown.
      show_notes:
        type: boolean
        description: Whether notes for items on the invoice should be shown.
      show_project_names:
        type: boolean
        description: Whether project names should be shown on the invoice.
      show_rates:
        type: boolean
        description: Whether the rate for the item should be shown.
      show_roles:
        type: boolean
        description: Whether the role of the person who created the item should be
          shown.
      show_subtotals:
        type: boolean
        description: Whether subtotals should be shown for time entries on the invoice.
      show_task_names:
        type: boolean
        description: Whether task names should be shown for invoice items.
      show_tax:
        type: boolean
        description: Whether the item's taxable amount should be shown.
      time_rollup_type:
        type: integer
        format: int32
        description: Options for how time is formatted on an invoice. These options
          include 'Detailed', 'Grouped by task', and 'Grouped by person, then task'.
          They are represented by the numbers 0, 1, and 2, respectively.
      updated_at:
        type: string
        format: date-time
        description: The date and time that the invoice default was last updated.
  Column:
    title: Column
    type: object
    properties:
      filters:
        type: string
        description: The saved filters for the column.
      name:
        type: string
        description: The name of the column.
  CostRate:
    title: Cost Rate
    description: |-
      A Cost Rate represents the hourly cost of an account member, specified in a specific currency. A Cost Rate with the same currency
      as the account default currency is called the `default cost rate`. This data can only be accessed by including
      it when querying Account Membership.
    type: object
    properties:
      account_membership_id:
        type: integer
        format: int32
        description: The ID of the associated account membership.
      amount_in_subunits:
        type: integer
        format: int32
        description: The amount of the cost rate in the subunits of the currency (i.e.
          cents for US Dollars).
      created_at:
        type: string
        format: date-time
      currency:
        type: string
        description: The ISO code of the cost rate currency.
      in_use:
        type: boolean
        description: |-
          Indicates whether the account member associated with the cost rate is participating in a workspace
          on the account that uses the same currency as the cost rate.
      updated_at:
        type: string
        format: date-time
  CustomField:
    title: Custom Field
    description: |-
      The [Custom Fields](https://mavenlink.zendesk.com/hc/en-us/articles/202924760-Custom-Fields-Overview-#arrange) object allows you to
      view, create, update, and delete extra fields for additional Estimate, Project, Group, Resource, Task, and User information.
      If Custom Fields represent the fields themselves, [Custom Field Values](/tag/Custom-Field-Values)
      represent the values in/of those fields.
    type: object
    properties:
      choice_ids:
        type: array
        items:
          type: string
        description: "`choice_ids` will only be included in the response if `choices`
          is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      created_at:
        type: string
        format: date-time
      creator_id:
        type: string
        description: "`creator_id` will only be included in the response if `creator`
          is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      custom_field_set_id:
        type: string
        description: "`custom_field_set_id` will only be included in the response
          if `custom_field_set` is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      default_text:
        type: string
        description: |-
          The message in an empty custom field, before a `string`, `date`, `number`, or `currency`  value is entered in.
          This only appears in the UI.
          Visible when whether the custom field is an input field..
      external_reference_ids:
        type: array
        items:
          type: string
        description: "`external_reference_ids` will only be included in the response
          if `external_references` is in the list of included associations. See <a
          href='#section/Includes'>include</a> section for usage."
      name:
        type: string
        description: The name of the custom field.
      read_access:
        type: integer
        format: int32
        description: |-
          The `read_access` [permission setting on each custom field](https://mavenlink.zendesk.com/hc/en-us/articles/202924760#see)
          determines the minimum permission needed to view a custom field and its value.
          * `Workspace` (Project), `Resource`, and `Story` (Task) custom fields are project-specific objects,
          so their minimum permissions are set at the [project level](https://mavenlink.zendesk.com/hc/en-us/articles/115002779293-Project-Permissions):
            - `project_collaboration` (default)
            - `time_logging`
            - `financial`
            - `project_admin`

          Most account-level permissions supercede project-level permissions. Therefore, Account Administrators
          are able to view all Project, Resource, and Task custom fields and values across the account,
          regardless of project participation or `read_access` settings.
          * `Estimate`, `WorkspaceGroup` (Group), and `User` custom fields are account-wide objects,
          so their minimum permissions are set at the [account level](https://mavenlink.zendesk.com/hc/en-us/articles/203041364):
            - `account_collaboration`
            - `project_creator`
            - `project_lead`
            - `reports_viewer`
            - `reports_viewer_with_cost`
            - `account_admin` (default).
      unique_constraint:
        type: boolean
        description: |-
          Indicates whether a custom field value must be unique across Estimates, Projects, Groups, Resources, Tasks, or Users.
          This is set to `false` by default.

          Does not apply to Custom Fields with choices.
          Visible when whether the custom field is an input field..
      updated_at:
        type: string
        format: date-time
      value_type:
        type: string
        description: |-
          The format of the [custom field's value](/tag/Custom-Field-Values):
            | Value Type           | Format                                   | Sample         |
            | -------------------- |:----------------------------------------:| --------------:|
            | `string`             | `<text_string>`                          |        `"foo"` |
            | `date`               | `<ISO_8601 Date Format>`                 | `"2014-02-25"` |
            | `number`             | `<integer_value>`                        |           `13` |
            | `currency`           | `[<int_value_in_cents>, <currency_code>]`| `[998, "USD"]` |
            | `single` and `multi` | `[<choice_ids>]`                         |    `[1, 2, 4]` |

          This is set to `string`, by default.
      write_access:
        type: integer
        format: int32
        description: The permission level required for a user to create, update, or
          delete a custom field's value.
  CustomFieldChoice:
    title: Custom Field Choice
    description: Custom Field Choices are possible values for `single` and `multi`
      type custom fields.
    type: object
    properties:
      created_at:
        type: string
        format: date-time
      custom_field_id:
        type: string
        description: "`custom_field_id` will only be included in the response if `custom_field`
          is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      external_reference_ids:
        type: array
        items:
          type: string
        description: "`external_reference_ids` will only be included in the response
          if `external_references` is in the list of included associations. See <a
          href='#section/Includes'>include</a> section for usage."
      label:
        type: string
      position:
        type: integer
        format: int32
      updated_at:
        type: string
        format: date-time
  CustomFieldSet:
    title: Custom Field Set
    description: |-
      Custom Field Sets contain custom fields and definitions of each fields' subject type. The supported
      subjects are currently Estimate, Project, Project Group, Resource, Task, and User.
    type: object
    properties:
      created_at:
        type: string
        format: date-time
      custom_field_ids:
        type: array
        items:
          type: string
        description: "`custom_field_ids` will only be included in the response if
          `custom_fields` is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      external_reference_ids:
        type: array
        items:
          type: string
        description: "`external_reference_ids` will only be included in the response
          if `external_references` is in the list of included associations. See <a
          href='#section/Includes'>include</a> section for usage."
      name:
        type: string
      subject_type:
        type: string
        description: |-
          The type of objects contained in the custom field set. The supported subjects are currently
          *Workspace*, *Story*, *User*, and *WorkspaceGroup*.
      updated_at:
        type: string
        format: date-time
  CustomFieldValue:
    title: Custom Field Value
    description: |-
      If [Custom Fields](/tag/Custom-Fields) represent the fields themselves,
      Custom Field Values represent the values in/of those fields.
    type: object
    properties:
      account_id:
        type: integer
        format: int32
        description: The ID of the account the Custom Field Value is in.
      can_edit:
        type: boolean
        description: Whether the Custom Field Value can be edited by the requester.
      created_at:
        type: string
        format: date-time
      custom_field_id:
        type: string
        description: "`custom_field_id` will only be included in the response if `custom_field`
          is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      custom_field_name:
        type: string
        description: The name of the Custom Field.
      display_value:
        type: string
        description: |-
          The Custom Field Values, but in more understandable formats:
          * For Custom Fields with values that are selected choices, the labels on those choices are returned.
          * For Custom Fields with currency values, the amount with the currency symbol ($100) is returned.
          * All other values are converted into a string.
      external_reference_ids:
        type: array
        items:
          type: string
        description: "`external_reference_ids` will only be included in the response
          if `external_references` is in the list of included associations. See <a
          href='#section/Includes'>include</a> section for usage."
      selected_choice_ids:
        type: array
        items:
          type: string
        description: "`selected_choice_ids` will only be included in the response
          if `selected_choices` is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      setter_id:
        type: string
        description: "`setter_id` will only be included in the response if `setter`
          is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      subject_id:
        type: integer
        format: int32
        description: The ID of the Estimate, Project, Group, Resource, Task, or User
          the custom field is for.
      subject_ref:
        type: object
        description: "`subject_ref` will only be included in the response if `subject`
          is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
        properties:
          key:
            type: string
          id:
            type: string
      subject_type:
        type: string
        description: |-
          The set of Custom Fields that values are returned for:
          * `Estimate`
          * `Workspace` (Project)
          * `WorkspaceGroup` (Group)
          * `Resource`
          * `Story` (Task)
          * `User`.
      type:
        type: string
        description: |-
          Potential formats of values:

          | Value Type           | Format                                   | Sample         |
          | -------------------- |:----------------------------------------:| --------------:|
          | `string`             | `<text_string>`                          |        `"foo"` |
          | `date`               | `<ISO_8601 Date Format>`                 | `"2014-02-25"` |
          | `number`             | `<integer_value>`                        |           `13` |
          | `currency`           | `[<int_value_in_cents>, <currency_code>]`| `[998, "USD"]` |
          | `single` and `multi` | `[<choice_ids>]`                         |    `[1, 2, 4]` |.
      updated_at:
        type: string
        format: date-time
      value:
        type: string
        description: |-
          The value created or updated for the specified custom field.

          Values can be created or updated in these formats:

          | Value Type           | Format                                   | Sample         |
          | -------------------- |:----------------------------------------:| --------------:|
          | `string`             | `<text_string>`                          |        `"foo"` |
          | `date`               | `<ISO_8601 Date Format>`                 | `"2014-02-25"` |
          | `number`             | `<integer_value>`                        |           `13` |
          | `currency`           | `[<int_value_in_cents>, <currency_code>]`| `[998, "USD"]` |
          | `single` and `multi` | `[<choice_ids>]`                         |    `[1, 2, 4]` |

          ##### Note:
          The `read_access` [permission setting on each custom field](https://mavenlink.zendesk.com/hc/en-us/articles/202924760#see)
          determines the minimum permission needed to view a custom field and its value.
          * `Workspace` (Project), `Resource`, and `Story` (Task) custom fields are project-specific objects,
          so their minimum permissions are set at the [project level](https://mavenlink.zendesk.com/hc/en-us/articles/115002779293-Project-Permissions):
          - `project_collaboration` (default)
          - `time_logging`
          - `financial`
          - `project_admin`

          Most account-level permissions supercede project-level permissions. Therefore, Account Administrators
          are able to view all Project, Resource, and Task custom fields and values across the account,
          regardless of project participation or `read_access` settings.
          * `Estimate`, `WorkspaceGroup` (Group), and `User` custom fields are account-wide objects,
          so their minimum permissions are set at the [account level](https://mavenlink.zendesk.com/hc/en-us/articles/203041364):
          - `account_collaboration`
          - `project_creator`
          - `project_lead`
          - `reports_viewer`
          - `reports_viewer_with_cost`
          - `account_admin` (default).
  CustomFields::ChoiceField:
    title: Custom Field
    description: |-
      The [Custom Fields](https://mavenlink.zendesk.com/hc/en-us/articles/202924760-Custom-Fields-Overview-#arrange) object allows you to
      view, create, update, and delete extra fields for additional Estimate, Project, Group, Resource, Task, and User information.
      If Custom Fields represent the fields themselves, [Custom Field Values](/tag/Custom-Field-Values)
      represent the values in/of those fields.
    type: object
    properties:
      choice_ids:
        type: array
        items:
          type: string
        description: "`choice_ids` will only be included in the response if `choices`
          is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      created_at:
        type: string
        format: date-time
      creator_id:
        type: string
        description: "`creator_id` will only be included in the response if `creator`
          is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      custom_field_set_id:
        type: string
        description: "`custom_field_set_id` will only be included in the response
          if `custom_field_set` is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      default_text:
        type: string
        description: |-
          The message in an empty custom field, before a `string`, `date`, `number`, or `currency`  value is entered in.
          This only appears in the UI.
          Visible when whether the custom field is an input field..
      external_reference_ids:
        type: array
        items:
          type: string
        description: "`external_reference_ids` will only be included in the response
          if `external_references` is in the list of included associations. See <a
          href='#section/Includes'>include</a> section for usage."
      name:
        type: string
        description: The name of the custom field.
      read_access:
        type: integer
        format: int32
        description: |-
          The `read_access` [permission setting on each custom field](https://mavenlink.zendesk.com/hc/en-us/articles/202924760#see)
          determines the minimum permission needed to view a custom field and its value.
          * `Workspace` (Project), `Resource`, and `Story` (Task) custom fields are project-specific objects,
          so their minimum permissions are set at the [project level](https://mavenlink.zendesk.com/hc/en-us/articles/115002779293-Project-Permissions):
            - `project_collaboration` (default)
            - `time_logging`
            - `financial`
            - `project_admin`

          Most account-level permissions supercede project-level permissions. Therefore, Account Administrators
          are able to view all Project, Resource, and Task custom fields and values across the account,
          regardless of project participation or `read_access` settings.
          * `Estimate`, `WorkspaceGroup` (Group), and `User` custom fields are account-wide objects,
          so their minimum permissions are set at the [account level](https://mavenlink.zendesk.com/hc/en-us/articles/203041364):
            - `account_collaboration`
            - `project_creator`
            - `project_lead`
            - `reports_viewer`
            - `reports_viewer_with_cost`
            - `account_admin` (default).
      unique_constraint:
        type: boolean
        description: |-
          Indicates whether a custom field value must be unique across Estimates, Projects, Groups, Resources, Tasks, or Users.
          This is set to `false` by default.

          Does not apply to Custom Fields with choices.
          Visible when whether the custom field is an input field..
      updated_at:
        type: string
        format: date-time
      value_type:
        type: string
        description: |-
          The format of the [custom field's value](/tag/Custom-Field-Values):
            | Value Type           | Format                                   | Sample         |
            | -------------------- |:----------------------------------------:| --------------:|
            | `string`             | `<text_string>`                          |        `"foo"` |
            | `date`               | `<ISO_8601 Date Format>`                 | `"2014-02-25"` |
            | `number`             | `<integer_value>`                        |           `13` |
            | `currency`           | `[<int_value_in_cents>, <currency_code>]`| `[998, "USD"]` |
            | `single` and `multi` | `[<choice_ids>]`                         |    `[1, 2, 4]` |

          This is set to `string`, by default.
      write_access:
        type: integer
        format: int32
        description: The permission level required for a user to create, update, or
          delete a custom field's value.
  CustomFields::ChoiceValue:
    title: Custom Field Value
    description: |-
      If [Custom Fields](/tag/Custom-Fields) represent the fields themselves,
      Custom Field Values represent the values in/of those fields.
    type: object
    properties:
      account_id:
        type: integer
        format: int32
        description: The ID of the account the Custom Field Value is in.
      can_edit:
        type: boolean
        description: Whether the Custom Field Value can be edited by the requester.
      created_at:
        type: string
        format: date-time
      custom_field_id:
        type: string
        description: "`custom_field_id` will only be included in the response if `custom_field`
          is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      custom_field_name:
        type: string
        description: The name of the Custom Field.
      display_value:
        type: string
        description: |-
          The Custom Field Values, but in more understandable formats:
          * For Custom Fields with values that are selected choices, the labels on those choices are returned.
          * For Custom Fields with currency values, the amount with the currency symbol ($100) is returned.
          * All other values are converted into a string.
      external_reference_ids:
        type: array
        items:
          type: string
        description: "`external_reference_ids` will only be included in the response
          if `external_references` is in the list of included associations. See <a
          href='#section/Includes'>include</a> section for usage."
      selected_choice_ids:
        type: array
        items:
          type: string
        description: "`selected_choice_ids` will only be included in the response
          if `selected_choices` is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      setter_id:
        type: string
        description: "`setter_id` will only be included in the response if `setter`
          is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      subject_id:
        type: integer
        format: int32
        description: The ID of the Estimate, Project, Group, Resource, Task, or User
          the custom field is for.
      subject_ref:
        type: object
        description: "`subject_ref` will only be included in the response if `subject`
          is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
        properties:
          key:
            type: string
          id:
            type: string
      subject_type:
        type: string
        description: |-
          The set of Custom Fields that values are returned for:
          * `Estimate`
          * `Workspace` (Project)
          * `WorkspaceGroup` (Group)
          * `Resource`
          * `Story` (Task)
          * `User`.
      type:
        type: string
        description: |-
          Potential formats of values:

          | Value Type           | Format                                   | Sample         |
          | -------------------- |:----------------------------------------:| --------------:|
          | `string`             | `<text_string>`                          |        `"foo"` |
          | `date`               | `<ISO_8601 Date Format>`                 | `"2014-02-25"` |
          | `number`             | `<integer_value>`                        |           `13` |
          | `currency`           | `[<int_value_in_cents>, <currency_code>]`| `[998, "USD"]` |
          | `single` and `multi` | `[<choice_ids>]`                         |    `[1, 2, 4]` |.
      updated_at:
        type: string
        format: date-time
      value:
        type: string
        description: |-
          The value created or updated for the specified custom field.

          Values can be created or updated in these formats:

          | Value Type           | Format                                   | Sample         |
          | -------------------- |:----------------------------------------:| --------------:|
          | `string`             | `<text_string>`                          |        `"foo"` |
          | `date`               | `<ISO_8601 Date Format>`                 | `"2014-02-25"` |
          | `number`             | `<integer_value>`                        |           `13` |
          | `currency`           | `[<int_value_in_cents>, <currency_code>]`| `[998, "USD"]` |
          | `single` and `multi` | `[<choice_ids>]`                         |    `[1, 2, 4]` |

          ##### Note:
          The `read_access` [permission setting on each custom field](https://mavenlink.zendesk.com/hc/en-us/articles/202924760#see)
          determines the minimum permission needed to view a custom field and its value.
          * `Workspace` (Project), `Resource`, and `Story` (Task) custom fields are project-specific objects,
          so their minimum permissions are set at the [project level](https://mavenlink.zendesk.com/hc/en-us/articles/115002779293-Project-Permissions):
          - `project_collaboration` (default)
          - `time_logging`
          - `financial`
          - `project_admin`

          Most account-level permissions supercede project-level permissions. Therefore, Account Administrators
          are able to view all Project, Resource, and Task custom fields and values across the account,
          regardless of project participation or `read_access` settings.
          * `Estimate`, `WorkspaceGroup` (Group), and `User` custom fields are account-wide objects,
          so their minimum permissions are set at the [account level](https://mavenlink.zendesk.com/hc/en-us/articles/203041364):
          - `account_collaboration`
          - `project_creator`
          - `project_lead`
          - `reports_viewer`
          - `reports_viewer_with_cost`
          - `account_admin` (default).
  CustomFields::CurrencyValue:
    title: Custom Field Value
    description: |-
      If [Custom Fields](/tag/Custom-Fields) represent the fields themselves,
      Custom Field Values represent the values in/of those fields.
    type: object
    properties:
      account_id:
        type: integer
        format: int32
        description: The ID of the account the Custom Field Value is in.
      can_edit:
        type: boolean
        description: Whether the Custom Field Value can be edited by the requester.
      created_at:
        type: string
        format: date-time
      custom_field_id:
        type: string
        description: "`custom_field_id` will only be included in the response if `custom_field`
          is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      custom_field_name:
        type: string
        description: The name of the Custom Field.
      display_value:
        type: string
        description: |-
          The Custom Field Values, but in more understandable formats:
          * For Custom Fields with values that are selected choices, the labels on those choices are returned.
          * For Custom Fields with currency values, the amount with the currency symbol ($100) is returned.
          * All other values are converted into a string.
      external_reference_ids:
        type: array
        items:
          type: string
        description: "`external_reference_ids` will only be included in the response
          if `external_references` is in the list of included associations. See <a
          href='#section/Includes'>include</a> section for usage."
      selected_choice_ids:
        type: array
        items:
          type: string
        description: "`selected_choice_ids` will only be included in the response
          if `selected_choices` is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      setter_id:
        type: string
        description: "`setter_id` will only be included in the response if `setter`
          is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      subject_id:
        type: integer
        format: int32
        description: The ID of the Estimate, Project, Group, Resource, Task, or User
          the custom field is for.
      subject_ref:
        type: object
        description: "`subject_ref` will only be included in the response if `subject`
          is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
        properties:
          key:
            type: string
          id:
            type: string
      subject_type:
        type: string
        description: |-
          The set of Custom Fields that values are returned for:
          * `Estimate`
          * `Workspace` (Project)
          * `WorkspaceGroup` (Group)
          * `Resource`
          * `Story` (Task)
          * `User`.
      type:
        type: string
        description: |-
          Potential formats of values:

          | Value Type           | Format                                   | Sample         |
          | -------------------- |:----------------------------------------:| --------------:|
          | `string`             | `<text_string>`                          |        `"foo"` |
          | `date`               | `<ISO_8601 Date Format>`                 | `"2014-02-25"` |
          | `number`             | `<integer_value>`                        |           `13` |
          | `currency`           | `[<int_value_in_cents>, <currency_code>]`| `[998, "USD"]` |
          | `single` and `multi` | `[<choice_ids>]`                         |    `[1, 2, 4]` |.
      updated_at:
        type: string
        format: date-time
      value:
        type: string
        description: |-
          The value created or updated for the specified custom field.

          Values can be created or updated in these formats:

          | Value Type           | Format                                   | Sample         |
          | -------------------- |:----------------------------------------:| --------------:|
          | `string`             | `<text_string>`                          |        `"foo"` |
          | `date`               | `<ISO_8601 Date Format>`                 | `"2014-02-25"` |
          | `number`             | `<integer_value>`                        |           `13` |
          | `currency`           | `[<int_value_in_cents>, <currency_code>]`| `[998, "USD"]` |
          | `single` and `multi` | `[<choice_ids>]`                         |    `[1, 2, 4]` |

          ##### Note:
          The `read_access` [permission setting on each custom field](https://mavenlink.zendesk.com/hc/en-us/articles/202924760#see)
          determines the minimum permission needed to view a custom field and its value.
          * `Workspace` (Project), `Resource`, and `Story` (Task) custom fields are project-specific objects,
          so their minimum permissions are set at the [project level](https://mavenlink.zendesk.com/hc/en-us/articles/115002779293-Project-Permissions):
          - `project_collaboration` (default)
          - `time_logging`
          - `financial`
          - `project_admin`

          Most account-level permissions supercede project-level permissions. Therefore, Account Administrators
          are able to view all Project, Resource, and Task custom fields and values across the account,
          regardless of project participation or `read_access` settings.
          * `Estimate`, `WorkspaceGroup` (Group), and `User` custom fields are account-wide objects,
          so their minimum permissions are set at the [account level](https://mavenlink.zendesk.com/hc/en-us/articles/203041364):
          - `account_collaboration`
          - `project_creator`
          - `project_lead`
          - `reports_viewer`
          - `reports_viewer_with_cost`
          - `account_admin` (default).
  CustomFields::DateValue:
    title: Custom Field Value
    description: |-
      If [Custom Fields](/tag/Custom-Fields) represent the fields themselves,
      Custom Field Values represent the values in/of those fields.
    type: object
    properties:
      account_id:
        type: integer
        format: int32
        description: The ID of the account the Custom Field Value is in.
      can_edit:
        type: boolean
        description: Whether the Custom Field Value can be edited by the requester.
      created_at:
        type: string
        format: date-time
      custom_field_id:
        type: string
        description: "`custom_field_id` will only be included in the response if `custom_field`
          is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      custom_field_name:
        type: string
        description: The name of the Custom Field.
      display_value:
        type: string
        description: |-
          The Custom Field Values, but in more understandable formats:
          * For Custom Fields with values that are selected choices, the labels on those choices are returned.
          * For Custom Fields with currency values, the amount with the currency symbol ($100) is returned.
          * All other values are converted into a string.
      external_reference_ids:
        type: array
        items:
          type: string
        description: "`external_reference_ids` will only be included in the response
          if `external_references` is in the list of included associations. See <a
          href='#section/Includes'>include</a> section for usage."
      selected_choice_ids:
        type: array
        items:
          type: string
        description: "`selected_choice_ids` will only be included in the response
          if `selected_choices` is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      setter_id:
        type: string
        description: "`setter_id` will only be included in the response if `setter`
          is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      subject_id:
        type: integer
        format: int32
        description: The ID of the Estimate, Project, Group, Resource, Task, or User
          the custom field is for.
      subject_ref:
        type: object
        description: "`subject_ref` will only be included in the response if `subject`
          is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
        properties:
          key:
            type: string
          id:
            type: string
      subject_type:
        type: string
        description: |-
          The set of Custom Fields that values are returned for:
          * `Estimate`
          * `Workspace` (Project)
          * `WorkspaceGroup` (Group)
          * `Resource`
          * `Story` (Task)
          * `User`.
      type:
        type: string
        description: |-
          Potential formats of values:

          | Value Type           | Format                                   | Sample         |
          | -------------------- |:----------------------------------------:| --------------:|
          | `string`             | `<text_string>`                          |        `"foo"` |
          | `date`               | `<ISO_8601 Date Format>`                 | `"2014-02-25"` |
          | `number`             | `<integer_value>`                        |           `13` |
          | `currency`           | `[<int_value_in_cents>, <currency_code>]`| `[998, "USD"]` |
          | `single` and `multi` | `[<choice_ids>]`                         |    `[1, 2, 4]` |.
      updated_at:
        type: string
        format: date-time
      value:
        type: string
        description: |-
          The value created or updated for the specified custom field.

          Values can be created or updated in these formats:

          | Value Type           | Format                                   | Sample         |
          | -------------------- |:----------------------------------------:| --------------:|
          | `string`             | `<text_string>`                          |        `"foo"` |
          | `date`               | `<ISO_8601 Date Format>`                 | `"2014-02-25"` |
          | `number`             | `<integer_value>`                        |           `13` |
          | `currency`           | `[<int_value_in_cents>, <currency_code>]`| `[998, "USD"]` |
          | `single` and `multi` | `[<choice_ids>]`                         |    `[1, 2, 4]` |

          ##### Note:
          The `read_access` [permission setting on each custom field](https://mavenlink.zendesk.com/hc/en-us/articles/202924760#see)
          determines the minimum permission needed to view a custom field and its value.
          * `Workspace` (Project), `Resource`, and `Story` (Task) custom fields are project-specific objects,
          so their minimum permissions are set at the [project level](https://mavenlink.zendesk.com/hc/en-us/articles/115002779293-Project-Permissions):
          - `project_collaboration` (default)
          - `time_logging`
          - `financial`
          - `project_admin`

          Most account-level permissions supercede project-level permissions. Therefore, Account Administrators
          are able to view all Project, Resource, and Task custom fields and values across the account,
          regardless of project participation or `read_access` settings.
          * `Estimate`, `WorkspaceGroup` (Group), and `User` custom fields are account-wide objects,
          so their minimum permissions are set at the [account level](https://mavenlink.zendesk.com/hc/en-us/articles/203041364):
          - `account_collaboration`
          - `project_creator`
          - `project_lead`
          - `reports_viewer`
          - `reports_viewer_with_cost`
          - `account_admin` (default).
  CustomFields::InputField:
    title: Custom Field
    description: |-
      The [Custom Fields](https://mavenlink.zendesk.com/hc/en-us/articles/202924760-Custom-Fields-Overview-#arrange) object allows you to
      view, create, update, and delete extra fields for additional Estimate, Project, Group, Resource, Task, and User information.
      If Custom Fields represent the fields themselves, [Custom Field Values](/tag/Custom-Field-Values)
      represent the values in/of those fields.
    type: object
    properties:
      choice_ids:
        type: array
        items:
          type: string
        description: "`choice_ids` will only be included in the response if `choices`
          is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      created_at:
        type: string
        format: date-time
      creator_id:
        type: string
        description: "`creator_id` will only be included in the response if `creator`
          is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      custom_field_set_id:
        type: string
        description: "`custom_field_set_id` will only be included in the response
          if `custom_field_set` is in the list of included associations. See <a href='#section/Includes'>include</a>
          section for usage."
      default_text:
        type: string
        description: |-
          The message in an empty custom field, before a `string`, `date`, `number`, or `currency`  value is entered in.
          This only appears in the UI.
          Visible when whether the custom field is an input field..
      external_reference_ids:
        type: array
        items:
          type: string
        description: "`external_reference_ids` will only be included in the response
[...]
